<div class="support-page" ng-controller="SupportController as supportCtrl" layout-padding
     layout-wrap layout="column" layout-gt-lg="row" layout-align-md="start center" layout-align-lg="start center" layout-align-gt-lg="center start">

    <md-card flex="32">
        <md-card-content>
            <h3 class="md-headline blue-text">Поддержка mappino!</h3>

            <div layout="row">
                <p class="md-body-1 center-align">
                    В этом разделе Вы можете связаться с командой поддержки mappino и задать интересующие Вас вопросы.
                    Вы можете обращаться в службу поддержки если у Вас возникают проблемы с сервисом,
                    Вам нужна консультация касательно наших услуг, или если у Вас просто есть предложения или пожелания.
                </p>
            </div>
        </md-card-content>
    </md-card>



    <md-card flex="32">
        <md-card-content>
            <h3 class="md-headline blue-text">Диалоги</h3>

            <div layout="row" layout-align="center center" ng-show="loaders.tickets">
                <md-progress-circular md-mode="indeterminate" ng-show="loaders.tickets"></md-progress-circular>
            </div>

            <div layout="column" ng-hide="loaders.tickets">
                <div class="md-padding center-align" ng-hide="tickets.length">
                    Похоже, что вы еще не обращались в службу поддержки.
                </div>

                <div class="md-padding" layout="row" layout-align="center center">
                    <md-button hide-sm class="md-raised md-primary" ng-click="supportCtrl.createTicket()">
                        Написать в службу поддержки
                    </md-button>
                    <md-button hide-gt-sm class="md-raised md-primary" ng-click="supportCtrl.createTicket()">
                        Написать
                    </md-button>
                </div>

                <div layout="column" ng-show="tickets.length">
                    <md-list>
                        <div class="md-subhead">Последние диалоги</div>
                        <md-divider></md-divider>

                        <md-list-item ng-click="supportCtrl.goToTicket(ticket.id)" class="md-2-line" ng-repeat="ticket in tickets | orderBy: 'created': true">
                            <b-auth-user-avatar class="b-auth-user-avatar--mini md-avatar"></b-auth-user-avatar>

                            <div class="md-list-item-text">
                                <h3 class="truncate" ng-show="ticket.subject">
                                    [[ ::ticket.subject ]]
                                </h3>
                                <h3 class="grey-text text-darken-1" ng-hide="ticket.subject">
                                    Диалог без темы
                                </h3>
                                <p>
                                    <span>Создано: [[ ::ticket.created | date:'dd.MM.yyyy в HH:mm' ]]</span>
                                    <span>Посл. сообщ.: [[ ::ticket.last_message | date:'dd.MM.yyyy в HH:mm' ]]</span>
                                </p>
                            </div>
                            <md-icon>chat_bubble</md-icon>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>

