.card {

    .card-content {
        position: relative;
        padding-top: 50px;

        .card-label {
            position: absolute;
            top: 0;
            left: 0;

            line-height: 30px;
            padding: 0 10px;


            &.green {
                color: color('green', 'darken-2');
            }
            &.grey {
                color: color('grey', 'darken-1');
            }
        }
    }
}