.card {

    &.x-large {
        @extend .card.large;

        height: 600px;
        overflow: visible;

        .card-image {
            height: 380px;
        }
        .card-content {
            height: 220px;
        }
    }


    &.new-publication {
        color: color('grey', 'darken-1');

        .btn {
            //width: 100%;
            z-index: 0;
        }
    }


    .card-title {
        text-shadow: 0 0 1px #000000, 0 1px 10px #000000;
    }

    .card-content {
        position: relative;
        padding-top: 30px;

        .card-label {
            position: absolute;
            top: 7px;
            left: 0;

            line-height: 30px;
            padding: 0 10px;


            &.green {
                color: color('green', 'darken-2');
            }
            &.grey {
                color: color('grey', 'darken-1');
            }
        }
    }

    .card-action {
        a {
            color: color("light-blue", "base");
            margin-right: $card-padding;
            @include transition(color .3s ease);
            text-transform: uppercase;

            &:hover {
                color: lighten(color("light-blue", "base"), 20%);
            }
        }
    }


    .valign-wrapper {
        height: 100%;

        .valign {
            width: 100%;
        }
    }
}