.overlay-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 9999;

    background: rgba(0, 0, 0, .2);


    &.-animation {
        opacity: 1;
        @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s);

        &.ng-hide-add, .ng-hide-remove {
            display: block;
        }

        &.ng-hide {
            opacity: 0;
        }
    }
}