[publication-controls] {
    margin: 0 !important;
    background: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

    &.-fixed {
        border-radius: 0;
        border-top: 1px solid color('blue', 'base');
    }
}