
//
// Load core variables and mixins
// --------------------------------------------------

@import "../components/variables";
@import "../components/mixins";

.fe-video-block {
    .size(600px, 300px);

    position: absolute;
    top: 100px;
    left: calc(~"50% - 300px");

    background: url("../img/map.png") center center no-repeat;
}

.fe-search-block {
    .size(650px, auto);

    position: absolute;
    top: 450px;
    left: calc(~"50% - 325px");

    #fe-city-input {
        margin: 30px 0;

        font-size: @font-size-h3;

        border: none;
        .box-shadow(none);
    }
    .bootstrap-select {
        margin-top: 30px;
        margin-bottom: 30px !important;
    }

    .bwb-body {
        padding-bottom: 30px;
    }

    .cursor-icon {
        padding-left: 20px;

        background-image: url("../img/cursor.png");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 13px;
    }
}