.briefs-page {
    .brief-status {
        &.-published {
            span,
            md-icon {
                color: color('green', 'base') !important;
            }
        }

        &.-unpublished {
            span,
            md-icon {
                color: color('orange', 'base') !important;
            }
        }
    }

    md-card-content {
        position: relative;
    }
}
