.publication-view-content {
    @media screen and (max-width: 1735px) {
        width: 92% !important;
        margin-left: 4% !important;
    }

    @media screen and (max-width: 1570px) {
        width: 100% !important;
        margin-left: 0 !important;
    }

    @media screen and (max-width: 700px) {
        padding: 0 !important;
    }



    form {
        @media screen and (min-width: 1445px) {
            float: left;
        }
    }



    .publication-preview {
        position: fixed;
        right: calc(8.3% + 0.75rem);

        @media screen and (max-width: 1735px) {
            right: calc(4% + 0.75rem);
        }

        @media screen and (max-width: 1570px) {
            right: calc(0% + 0.75rem);
        }

        @media screen and (max-width: 1445px) {
            display: none;
        }
    }


    .publication-form {
        @media screen and (max-width: 1444px) {
            @extend .center-block;
        }
    }
}