
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins.less";

/**
* sidebar-item-detailed styles
**/
.sidebar-item-detailed {
    .size(calc(~"100% - 580px"), 100%);
    float: left;

    .sidebar-item-detailed-header {
        .size(100%, 65px);
        background: #ffffff;
        border-bottom: 1px solid @gray-lighter;

        .publication-controls {
            display: inline-block;
            position: relative;

            .btn:not(:first-child) {
                margin-left: -4px;
            }
            .btn-primary {
                border-right-color: darken(@nice-blue, 5%);
            }
            .btn-info {
                border-left-color: darken(@pink-10, 5%);
            }
        }

        .bootstrap-select {
            margin: 0;
        }
    }

    .sidebar-item-detailed-body {
        .size(100%, calc(~"100% - 65px"));
        position: relative;
        overflow: hidden;

        background: #ffffff;

        .detailed-container {
            .square(100%);
            position: relative;
            overflow: hidden;

            @media (min-width: 1920px) {
                padding: 0 100px;
            }
        }
    }

    h3 {
        padding: 10px 0;

        font-weight: bold;
        border-bottom: 1px solid @gray-lighter;

        &:not(:first-child) {
            margin-top: 40px;
        }

        @media (max-width: @screen-md-max) {
            padding-left: 15px;
        }
    }

    .input-has-error {
        display: inline-block;
        margin: 5px 0;
        color: #f3a047;
        font-size: 12px;
    }

    .dropdown-toggle.selectpicker {
        border: 1px solid #cccccc !important;
    }

    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }

    .load-detailed {
        .size(100%, 12px);
        display: block;
        margin-top: 35px;
        background: url("../../img/cabinet/sidebar-item-detailed/detailed-ajax-loader.gif") center center no-repeat;
    }

    .detailed-empty {
        .size(250px, 150px);
        position: relative;
        margin-top: 35px;

        text-align: center;
        font-size: @font-size-base;

        border: 2px dashed @gray-lighter;
        border-radius: 15px;
        .center-block();

        span {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            .translate(0, -50%);
        }
    }

    .required-star {
        color: @nice-red;
        margin-right: 5px;
    }

    .without-margin-bottom {
        margin-bottom: 0;
    }

    #publication-map {
        .size(100%, 400px);
        display: block;
        border: 1px solid @gray-lighter;
    }

    form > .row:last-child {
        margin-bottom: 50px;
    }


    .btn-icon-sections,
    .btn-icon-exit,
    .btn-icon-remove {
        width: 65px;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .btn-icon-sections {
        background-image:  url("../../img/cabinet/sidebar-item-detailed/sections.png");
    }
    .btn-icon-exit {
        background-image: url("../../img/cabinet/sidebar-item-detailed/exit.png");
    }
    .btn-icon-remove {
        background-image: url("../../img/cabinet/sidebar-item-detailed/del.png");
    }
}