
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins.less";

/**
* Sidebar-item-list styles
**/
.sidebar-item-list {
    .size(300px, 100%);

    float: left;

    .sidebar-item-list-header {
        .size(100%, 65px);

        padding: 15px;

        background: #f2f2f4;
    }

    .sidebar-item-list-body {
        .size(100%, calc(~"100% - 65px"));
        overflow: auto;

        background: #f8fafb;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #b7ae99;
        }
    }

}



/**
* sidebar-item-list-item styles
**/
.sidebar-item-list-item {
    .size(100%, 150px);
    padding: 15px 10px;
    cursor: pointer;

    &:hover,
    &:focus {
        background: @blue-40;
    }
    &:active,
    .active {
        background: #d8ddd4;
    }

    .sidebar-item-list-item-info {
        .square(100%);
        float: left;
    }

    .sidebar-item-list-item-type {
        display: block;
        .opacity(0.5);
    }

    .sidebar-item-list-item-title {
        display: block;
        padding: 0 0 5px;
        color: @gray;
        font-size: 16px;
        font-weight: bold;
    }

    .sidebar-item-list-item-date {
        display: block;
        padding-left: 15px;
        font-size: @font-size-small;
        .opacity(0.5);
    }

    .sidebar-item-list-item-labels {
        display: block;
        padding-left: 15px;
    }
}