
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins.less";

/**
* Sidebar-menu styles
**/
.sidebar-menu {
    .size(300px, 100%);

    float: left;


    .sidebar-menu-body {
        .size(100%, calc(~"100% - 65px"));
        overflow: auto;

        background: #11191f;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: lighten(#11191f, 15%);
        }
    }

}


/**
* Sidebar-menu-block styles
**/
.sidebar-menu-block {
    display: block;
    margin-top: 30px;

}

.sidebar-menu-block-header {
    display: block;

    padding: 0 0 10px 15px;

    color: #3c404d;
    font-weight: bold;
}

.sidebar-menu-block-list {
    display: block;

    margin: 0;
    padding: 0;

    list-style: none;

    .sidebar-menu-block-list-controls {
        position: absolute;
        top: calc(~"50% - (16px / 2)");
        right: 10px;
    }
    .sidebar-menu-block-list-controls .menu-icon {
        height: 16px;
        margin-right: 5px;
        cursor: pointer;
        .opacity(0);

        &:hover,
        &:focus {
            .opacity(1) !important;
        }
    }

    .add-tag-btn a {
        padding-left: 7px;
    }

    .add-tag-block {
        padding: 15px;
        background: #dddbcb;
    }

    .select-color-box {
        display: block;
        margin-bottom: 5px;
    }
    .select-color-box-item {
        .square(20px);
        margin-bottom: 10px;
        display: inline-block;

        text-align: center;
        cursor: pointer;

        color: #ffffff;
        background: #daad11;

        border: 1px solid #ccc;
        border-radius: @border-radius-small;
        .box-shadow(~"inset 0 0 0 1px #ffffff");

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    li {
        position: relative;

        &:hover,
        &:focus {
            background: #232b30;
            .sidebar-menu-block-list-controls .menu-icon {
                .opacity(0.7);
            }
        }
        &:active,
        &.active {
            background: #343b40;
        }
    }

    a {
        display: block;
        padding: 7px 7px 7px 30px;

        color: #ffffff;
        font-size: 16px;

        text-decoration: none;
    }

    .menu-icon {
        .square(16px);

        display: inline-block;
        margin-right: 10px;

        background-size: 16px;
        background-position: center center;
        background-repeat: no-repeat;

        &.icon-add {
            background-image: url("../../img/cabinet/sidebar-menu/add.png");
        }
        &.icon-all-pubs {
            background-image: url("../../img/cabinet/sidebar-menu/all-pubs.png");
        }
        &.icon-published-pubs {
            background-image: url("../../img/cabinet/sidebar-menu/published-pubs.png");
        }
        &.icon-unpublished-pubs {
            background-image: url("../../img/cabinet/sidebar-menu/unpublished-pubs.png");
        }


        &.icon-yellow-tag {
            background-image: url("../../img/cabinet/sidebar-menu/tag-yellow.png");
        }
        &.icon-green-tag {
            background-image: url("../../img/cabinet/sidebar-menu/tag-green.png");
        }
        &.icon-red-tag {
            background-image: url("../../img/cabinet/sidebar-menu/tag-red.png");
        }

        &.icon-support {
            background-image: url("../../img/cabinet/sidebar-menu/support.png");
        }
        &.icon-settings {
            background-image: url("../../img/cabinet/sidebar-menu/settings.png");
        }

        &.icon-edit {
            background-image: url("../../img/cabinet/sidebar-menu/edit.png");
        }
        &.icon-delete {
            background-image: url("../../img/cabinet/sidebar-menu/del.png");
        }
    }
}

