
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins.less";


@font-face {
    font-family: open-sans;
    src: url(../../fonts/ClearSans-Regular-webfont.ttf);
}

// блок меню
.sidebar-menu {
    .size(280px, 100%);
    float: left;

    font-family: open-sans;

    .sidebar-menu-body {
        .size(100%, calc(~"100% - 65px"));
        overflow: auto;

        background: #3a3f4f;

        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: @gray-lighter;
        }
    }
}


// блок меню з заголовком і списком пунктів
.menu-block {
    display: block;

    &:not(:first-child) {
        margin-top: 30px;
    }
}
// заголовок меню
.menu-block-header {
    display: block;
    position: relative;

    padding: 15px 35px 15px 80px;
    margin-bottom: 20px;

    color: rgba(255, 255, 255, 0.4);
    background: #4a5060;

    font-size: @font-size-large;

    &:after {
        content: " ";

        position: absolute;
        top: 100%;
        left: 35px;

        width: 0;
        height: 0;

        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #4a5060;
    }

    &.icon-pubs,
    &.icon-tags,
    &.icon-user {
        background-position: 28px center;
        background-repeat: no-repeat;
    }
    &.icon-pubs {

        background-image: url("../../img/cabinet/sidebar-menu/pubs.png");
    }
    &.icon-tags {
        background-image: url("../../img/cabinet/sidebar-menu/tags.png");
    }
    &.icon-user {
        background-image: url("../../img/cabinet/sidebar-menu/user.png");
    }
}

// список пунктів меню
.menu-block-list {
    display: block;

    margin: 0;
    padding: 0;

    list-style: none;

    .menu-block-list-controls {
        position: absolute;
        top: calc(~"50% - (16px / 2)");
        right: 10px;
    }
    .menu-block-list-controls .menu-icon {
        height: 16px;
        margin-right: 5px;
        cursor: pointer;
        .opacity(0);

        &:hover,
        &:focus {
            .opacity(1) !important;
        }
    }


    // кнопка додання тега
    .add-tag-btn a {
        padding-left: 7px;
    }

    li {
        position: relative;
        .opacity(0.5);

        &:hover,
        &:focus {
            .opacity(0.8);

            .menu-block-list-controls .menu-icon {
                .opacity(0.8);
            }
        }
        &.active {
            .opacity(1);
        }
    }

    a {
        display: block;
        padding: 7px 7px 7px 35px;

        color: #ffffff;
        font-size: 16px;

        text-decoration: none;
    }

    .menu-icon {
        .square(16px);

        display: inline-block;
        margin-bottom: -3px;
        margin-right: 10px;

        background-size: 16px;
        background-position: center center;
        background-repeat: no-repeat;

        &.icon-add {
            background-image: url("../../img/cabinet/sidebar-menu/add.png");
        }
        &.icon-all-pubs {
            background-image: url("../../img/cabinet/sidebar-menu/all-pubs.png");
        }
        &.icon-published-pubs {
            background-image: url("../../img/cabinet/sidebar-menu/published-pubs.png");
        }
        &.icon-unpublished-pubs {
            background-image: url("../../img/cabinet/sidebar-menu/unpublished-pubs.png");
        }


        &.icon-support {
            background-image: url("../../img/cabinet/sidebar-menu/support.png");
        }
        &.icon-settings {
            background-image: url("../../img/cabinet/sidebar-menu/settings.png");
        }

        &.icon-edit {
            background-image: url("../../img/cabinet/sidebar-menu/edit.png");
        }
        &.icon-delete {
            background-image: url("../../img/cabinet/sidebar-menu/del.png");
        }
    }

    .tag-icon {
        .square(16px);
        display: inline-block;

        margin-bottom: -3px;
        margin-right: 10px;

        border: 3px solid #4a5060;
        border-radius: 50%;
        background: transparent;
    }
}