
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins.less";

/**
* sidebar-item-detailed styles
**/
.sidebar-item-detailed {
    .size(calc(~"100% - 580px"), 100%);

    float: left;

    .sidebar-item-detailed-header {
        .size(100%, 65px);

        background: #b0d1cd;
    }

    .sidebar-item-detailed-body {
        .size(100%, calc(~"100% - 65px"));
        position: relative;
        padding-bottom: 50px;
        overflow: hidden;

        color: @gray;
        background: #ffffff;
    }

    h4 {
        padding: 10px 0;

        font-weight: bold;
        border-bottom: 1px solid @gray-lighter;

        &:not(:first-child) {
            margin-top: 40px;
        }
    }

    .selectpicker {
        padding: 7px 12px;
        border: 2px solid #cccccc;
    }

    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
}