<div class="b-navbar md-whiteframe-z1" layout="row" ng-controller="NavbarController as navCtrl">
    <div class="b-navbar-wrapper" ng-if="activeTabIndex !== null">
        <md-tabs md-selected="activeTabIndex" md-dynamic-height >


            <md-tab id="filters-tab-red" md-on-select="navCtrl.tabsHandler.open('filters_red');">
                <md-tab-label>
                    <md-icon md-svg-icon="{{ static }}build/icons/content/ic_filter_list_24px.svg"></md-icon>
                </md-tab-label>
                <md-tab-body>
                    <header layout="row" layout-align="start center" layout-padding toggle-tab-body>
                        <span class="md-body-1">Квартири 0 - 50 000 $</span>
                    </header>
                    <tab-body-collapsible>
                        <section class="-border-top" layout="column" layout-padding>
                            <div layout="row">
                                <md-select placeholder="Тип обєкта" ng-model="filters.red.r_t_sid" flex="65">
                                    <md-option ng-repeat="realtyType in navCtrl.realtyTypes" value="[[ realtyType.id ]]">[[ realtyType.title ]]</md-option>
                                </md-select>
                                <md-select placeholder="Операция" ng-model="filters.red.op_sid" flex="35">
                                    <md-option value="0">Продажа</md-option>
                                    <md-option value="1">Оренда</md-option>
                                </md-select>
                            </div>
                        </section>
                        <div ng-if="filters.red.r_t_sid != null" ng-include="'/ajax/template/map/filters/red/' + [[ filters.red.r_t_sid ]] + '/'"></div>
                    </tab-body-collapsible>
                </md-tab-body>
            </md-tab>



            <md-tab id="filters-tab-blue" md-on-select="navCtrl.tabsHandler.open('filters_blue');">
                <md-tab-label>
                    <md-icon md-svg-icon="{{ static }}build/icons/content/ic_filter_list_24px.svg"></md-icon>
                </md-tab-label>
                <md-tab-body>
                    <header layout="row" layout-align="start center" layout-padding toggle-tab-body>
                        <span class="md-body-1">Дома 0 - 90 000 $</span>
                    </header>
                    <tab-body-collapsible>
                        <section class="-border-top" layout="column" layout-padding>
                            <div layout="row">
                                <md-select placeholder="Тип обєкта" ng-model="filters.blue.b_t_sid" flex="65">
                                    <md-option ng-repeat="realtyType in navCtrl.realtyTypes" value="[[ realtyType.id ]]">[[ realtyType.title ]]</md-option>
                                </md-select>
                                <md-select placeholder="Операция" ng-model="filters.blue.b_op_sid" flex="35">
                                    <md-option value="0">Продажа</md-option>
                                    <md-option value="1">Оренда</md-option>
                                </md-select>
                            </div>
                        </section>
                        <div ng-if="filters.blue.b_t_sid != null" ng-include="'/ajax/template/main/filters/blue/' + [[ filters.blue.b_t_sid ]] + '/'"></div>
                    </tab-body-collapsible>
                </md-tab-body>
            </md-tab>



            <md-tab id="favorites-tab" class="favorites-tab" md-on-select="navCtrl.tabsHandler.open('favorites');">
                <md-tab-label>
                    <md-icon md-svg-icon="{{ static }}build/icons/toggle/ic_star_border_24px.svg"></md-icon>
                </md-tab-label>
                <md-tab-body>
                    <header layout="row" layout-align="start center" layout-padding toggle-tab-body>
                        <span class="md-body-1">Обрані оголошення - 5</span>
                    </header>
                    <tab-body-collapsible class="favorites-tab">
                        <section class="-border-top" layout-padding>
                            <div class="favorite-item">
                                <img src="http://www.hotelambrose.ca/files/rooms_bg.jpg" alt="" />
                                <div class="favorite-item-overlay">
                                    <md-button class="md-icon-button">
                                        <md-icon class="favorite-remove-btn" md-svg-icon="{{ static }}build/icons/action/ic_delete_24px.svg"></md-icon>
                                    </md-button>
                                    <div class="favorite-item-description" layout="column">
                                        <div class="favorite-item-title">
                                            Lorem ipsum dolor sit.
                                        </div>
                                        <div class="favorite-item-price">
                                            <b>50 000 грн.</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="favorite-item">
                                <img src="http://www.hotelambrose.ca/files/rooms_bg.jpg" alt="" />
                                <div class="favorite-item-overlay">
                                    <md-button class="md-icon-button">
                                        <md-icon class="favorite-remove-btn" md-svg-icon="{{ static }}build/icons/action/ic_delete_24px.svg"></md-icon>
                                    </md-button>
                                    <div class="favorite-item-description" layout="column">
                                        <div class="favorite-item-title">
                                            Lorem ipsum dolor sit.
                                        </div>
                                        <div class="favorite-item-price">
                                            <b>50 000 грн.</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </tab-body-collapsible>
                </md-tab-body>
            </md-tab>



            <md-tab id="account-tab" md-on-select="navCtrl.tabsHandler.open('account');">
                <md-tab-label>
                    <md-icon md-svg-icon="{{ static }}build/icons/action/ic_perm_identity_24px.svg"></md-icon>
                </md-tab-label>
                <md-tab-body>
                    <section class="md-padding">
                        тут вхід
                    </section>
                    <section class="md-padding">
                        тута реєстрація
                    </section>
                </md-tab-body>
            </md-tab>



            <md-tab id="search-tab" md-on-select="navCtrl.tabsHandler.open('search');">
                <md-tab-label>
                    <md-icon md-svg-icon="{{ static }}build/icons/action/ic_search_24px.svg"></md-icon>
                </md-tab-label>
                <md-tab-body>
                    <section class="md-padding">
                        тут вхід
                    </section>
                    <section class="md-padding">
                        тута реєстрація
                    </section>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</div>