.idea/*
.venv/*
.venv2/*

mappino/dev_settings.py
mappino/passwords.py
mappino/keys/*

static/CACHE
static/CACHE/*
static/js/_modules
static/js/_modules/*

static/escaped_fragments
static/escaped_fragments/*

.gitignore

*.pyc
*.log