.idea/*
venv/*
venv
venv2/*
venv2
venv-pypy/*
venv-pypy


mappino/dev_settings.py
mappino/passwords.py
mappino/keys/*
mappino/keys

node_modules

static/CACHE
static/CACHE/*

static/escaped_fragments
static/escaped_fragments/*

.gitignore

*.pyc
*.log
bower_components
