.idea/*
.venv/*
.venv2/*

mappino/dev_settings.py
mappino/passwords.py
mappino/keys/*
mappino/keys

node_modules

static/CACHE
static/CACHE/*

static/escaped_fragments
static/escaped_fragments/*

.gitignore

*.pyc
*.log
bower_components