Django
Jinja2
MySQL-python
Pillow
South
celery
hiredis
mandrill
mmh3
phonenumbers
psycopg2cffi
pysqlite
pytz
redis
httplib2
google-api-python-client
oauth2client
pyOpenSSL
billiard
python-redis-lock
kombu
django_compressor
django-redis-cache