# Packages that should be installed on ubuntu before requirements install
# libmysqlclient-dev
# libpq-dev
# libsqlite3-dev
# python-dev (for python environment) | pypy-dev (for pypy-environment)



Django==1.6
Jinja2
MySQL-python
Pillow
South
celery
hiredis
mandrill
mmh3
phonenumbers
psycopg2cffi
pysqlite
pytz
redis
httplib2
google-api-python-client
oauth2client
pyOpenSSL
billiard
python-redis-lock
kombu
django_compressor
django-redis-cache
djorm-pgarray