####
#
# System packages
#
####

# Packages that should be installed on ubuntu before requirements will be installed
# libmysqlclient-dev libpq-dev libsqlite3-dev libjpeg-dev libfreetype6 libfreetype6-dev zlib1g-dev

# for python environment
# python-dev

# for pypy environment
# pypy-dev





####
#
# Python packages
#
####

# for python environment
# psycopg2

# for pypy environment
# psycopg2cffi





####
#
# For deployment
#
####

# gunicorn





####
#
# Common
#
####

django==1.8
jinja2
redis
hiredis
pillow
mandrill                    # email subsystem
phonenumbers                # phone numbers parser from google

httplib2                    #
google-api-python-client    # google api
oauth2client                # client libraries
pyOpenSSL                   #

python-redis-lock           # for photo uploading synchronization
django-redis-cache          # sessions on redis
djorm-pgarray               # custom array field for indexes tables
                            #(was added to the project before django 1.8)

pytz                        # proper time zones for the python
django-appconf





####
#
# Deprecated
#
####

MySQL-python
celery
mmh3
pysqlite
billiard
kombu
django_compressor
amqp
anyjson
six
mock
nose
#rjsmin                     # js minifier
