
$search_panel_width:    600px;
$btn_menu_width:        50px;
$btn_search_width:      50px;


.search-panel {
    @include size($search_panel_width, 48px);

    position: absolute;
    top: 10px;
    left: 10px;

    background: #fff;

    @extend .z-depth-1;



    input {
        $offset: 1px;
        @include size($search_panel_width - ($btn_menu_width + $btn_search_width) - 10px, calc(100% - #{$offset}));
        padding: 0 $btn_menu_width 0 ($btn_menu_width + 10px);
        margin: 0;
        border-bottom: 0;
    }


    .btn-menu,
    .btn-search {
        @include size($btn_menu_width, 48px);
        position: absolute;
        top: 0;

        padding: 0;
        line-height: 48px;
        text-align: center;
        color: $primary-color;
    }

    .btn-menu {
        left: 0;
        border-right: 1px solid color("blue-grey", "lighten-4");
    }

    .btn-search {
        right: 0;
    }
}
