<!DOCTYPE html>
<html ng-app="mappino.map">
<head>
    <title>Mappino</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.min.css">

    {% compress css %}
        <link rel="stylesheet" href="{{ static }}build/styles/map/map.min.css"/>
    {% endcompress %}

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAXPqXPqCTwyFFs9KufrwZL5qtHCmQ_6zQ&sensor=true&language=ru&libraries=places"></script>

    {% include 'common/templates_head.html' %}
</head>
<body>
    <main ng-controller="AppController as appCtrl">
        <div id="map" ng-controller="MapController as mapCtrl"></div>

        <navbar-left></navbar-left>


        <navbar-right hide-sm hide-md></navbar-right>

        <div ui-view></div>


        <publication-sliding-panel class="-closed">
            <publication-preview ng-controller="PublicationController as pubCtrl" hidden-controls="full-slider"></publication-preview>
        </publication-sliding-panel>


        <div class="map-info-block md-padding md-whiteframe-z2" ng-show="loaders.infoBlock" ng-cloak>
            Сейчас вы находитесь на странице избранных объявлений
        </div>
    </main>



    {# Js libs #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ru.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-messages.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-touch.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.min.js"></script>


    {# Local js libs #}
    {% compress js %}
        <script src="{{ static }}build/libraries/markerwithlabel-1.1.9.min.js"></script>
        <script src="{{ static }}build/libraries/ng-file-upload.min.js"></script>
        <script src="{{ static }}build/libraries/angular-carousel.min.js"></script>

        <script src="{{ static }}build/scripts/map/map.min.js"></script>
    {% endcompress %}
</body>
</html>