//
// Materialize include
// --------------------------------------------------
@import "../_common/material/material";



// additions
@import "../_common/additions/md-select";
@import "additions/md-toolbar";
@import "additions/md-progress";
@import "additions/md-card";



// custom components
@import "components/navbar-user";
@import "components/publication-controls";
@import "components/overlay-loader";


// pages style
@import "pages/briefs";
@import "pages/publication";
@import "pages/settings";
@import "pages/support";
@import "pages/ticket";




// sets size to 100%
html,
body {
    @include square(100%);
    overflow: hidden;
    //background-color: color('blue-grey', 'lighten-4');
    background: url('../../images/cabinet/cabinet-bg.jpg') center center no-repeat fixed;
    //background-size: cover;
}


main {
    height: calc(100% - 56px);
    overflow: auto;
    
    md-content {
        background: transparent !important;
    }
}