<div class="navbar-right-container" ng-if="tabIndexes.navbarRight != undefined">

    <md-tabs md-selected="tabIndexes.navbarRight" md-no-pagination="true" md-center-tabs="true">

        <md-tab id="publication-list-tab" md-on-select="navCtrl.tabsHandler.open('publication_list');">
            <md-tab-label>
                <md-icon>list</md-icon>
            </md-tab-label>
            <md-tab-body>
                <section ng-controller="BriefsTabController as briefsCtrl" layout="row">
                    <!--<md-virtual-repeat-container class="publication-list" layout="column" layout-align="start start" ng-show="briefs.length">-->
                        <!--<div class="publication-list-item" md-virtual-repeat="brief in briefs" flex-->
                             <!--ng-class="{ '-hovered': brief.is_hovered }"-->
                             <!--ng-click="briefsCtrl.openPublication(brief)"-->
                             <!--ng-mouseenter="briefsCtrl.onBriefMouseOver(brief)"-->
                             <!--ng-mouseleave="briefsCtrl.onBriefMouseLeave()">-->

                            <!--<img ng-src="[[ brief.thumbnail_url ]]" alt="[[ brief.title ]]" />-->

                            <!--<div class="publication-list-item-overlay" layout="column">-->
                                <!--<div layout="row">-->
                                    <!--<md-button class="md-icon-button" ng-hide="brief.is_favorite"-->
                                               <!--ng-click="briefsCtrl.toggleFavorite(brief, $event)">-->
                                        <!--<md-icon class="material-icons md-light md-dark-shadow">favorite_border</md-icon>-->
                                        <!--<md-tooltip md-direction="right" md-delay="0">-->
                                            <!--Добавить в избранные-->
                                        <!--</md-tooltip>-->
                                    <!--</md-button>-->
                                    <!--<md-button class="md-icon-button" ng-show="brief.is_favorite"-->
                                               <!--ng-click="briefsCtrl.toggleFavorite(brief, $event)">-->
                                        <!--<md-icon class="material-icons md-light md-dark-shadow pink-text">favorite</md-icon>-->
                                        <!--<md-tooltip md-direction="right" md-delay="0">-->
                                            <!--Удалить из избранных-->
                                        <!--</md-tooltip>-->
                                    <!--</md-button>-->
                                <!--</div>-->
                                <!--<span flex></span>-->
                                <!--<div class="publication-list-item-description" layout="row">-->
                                    <!--<span>[[ brief.title ]]</span>-->
                                    <!--<span flex></span>-->
                                    <!--<span>[[ brief.price ]]</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</md-virtual-repeat-container>-->

                    <ul class="publication-list" layout="column" layout-align="start start" ng-show="briefs.length">
                        <li class="publication-list-item" ng-repeat="brief in briefs"
                            ng-class="{ '-hovered': brief.is_hovered }"
                            ng-click="briefsCtrl.openPublication(brief)"
                            ng-mouseenter="briefsCtrl.onBriefMouseOver(brief)"
                            ng-mouseleave="briefsCtrl.onBriefMouseLeave()">

                            <img ng-src="[[ brief.thumbnail_url ]]" alt="[[ brief.title ]]"/>

                            <div class="publication-list-item-overlay" layout="column">
                                <div layout="row">
                                    <md-button class="md-icon-button" ng-hide="brief.is_favorite"
                                               ng-click="briefsCtrl.toggleFavorite(brief, $event)">
                                        <md-icon class="material-icons md-light md-dark-shadow">favorite_border
                                        </md-icon>
                                        <md-tooltip md-direction="right" md-delay="0">
                                            Добавить в избранные
                                        </md-tooltip>
                                    </md-button>
                                    <md-button class="md-icon-button" ng-show="brief.is_favorite"
                                               ng-click="briefsCtrl.toggleFavorite(brief, $event)">
                                        <md-icon class="material-icons md-light md-dark-shadow pink-text">favorite
                                        </md-icon>
                                        <md-tooltip md-direction="right" md-delay="0">
                                            Удалить из избранных
                                        </md-tooltip>
                                    </md-button>
                                </div>
                                <span flex></span>

                                <div class="publication-list-item-description" layout="row">
                                    <span>[[ brief.title ]]</span>
                                    <span flex></span>
                                    <span>[[ brief.price ]]</span>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="md-padding center-align" layout="column" layout-align="center center" ng-show="mapZoom <= 14">
                        <div>
                            <img src="{{ static }}build/images/map/too-high.gif" alt="">
                            <div class="md-subhead">Слишком высоко!</div>
                            <span class="md-body-1">
                                Стоит немного уменьшить масштаб чтобы увидеть предложения
                            </span>
                        </div>
                    </div>
                    <div class="md-padding center-align" layout="column" layout-align="center center" ng-show="mapZoom >= 15 && !briefs.length">
                        <div>
                            <div class="md-subhead">Здесь объявлений нет</div>
                            <p class="md-body-1">
                                Перейдите на другую часть карты, где есть объявления
                            </p>
                        </div>
                    </div>
                </section>
            </md-tab-body>
        </md-tab>



        <md-tab id="favorites-tab" md-on-select="navCtrl.tabsHandler.open('favorite_list');">
            <md-tab-label>
                <md-icon>favorite</md-icon>
                <span>Избранные</span>
            </md-tab-label>
            <md-tab-body>
                <section ng-controller="FavoritesTabController as favCtrl" layout="row">
                    <ul class="favorite-list" layout="column" layout-align="start start" ng-show="favorites.length">
                        <li class="favorite-list-item" ng-repeat="favorite in favorites" ng-class="{ '-hovered': favorite.is_hovered }"
                            ng-click="favCtrl.openPublication(favorite)"
                            ng-mouseenter="favCtrl.onBriefMouseOver(favorite)"
                            ng-mouseleave="favCtrl.onBriefMouseLeave()">
                            <img ng-src="[[ favorite.thumbnail_url ]]" alt="" />

                            <div class="favorite-list-item-overlay" layout="column">
                                <div layout="row">
                                    <md-button class="md-icon-button" ng-click="favCtrl.removeFromFavorites(favorite, $event)">
                                        <md-icon class="material-icons md-light md-dark-shadow pink-text">favorite</md-icon>
                                        <md-tooltip md-direction="right" md-delay="0">
                                            Удалить из избранных
                                        </md-tooltip>
                                    </md-button>
                                </div>
                                <span flex></span>
                                <div class="favorite-list-item-description" layout="row">
                                    <span>[[ favorite.title ]]</span>
                                    <span flex></span>
                                    <span><b>[[ favorite.price ]]</b></span>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="center-align" layout="row" layout-align="center center" ng-hide="favorites.length">
                        <div>
                            <md-icon class="material-icons md-84 pink-text animated-heart">favorite</md-icon>
                            <div class="md-subhead inset">Похоже, здесь пусто</div>
                            <div class="md-body-1 inset">
                                Пожалуй, стоит добавить сюда несколько интересных обьявлений
                            </div>
                        </div>
                    </div>
                </section>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>