<div class="publication-page" ng-init="initLoadFormScripts()">
    <form name="form.publication" novalidate>
        <section class="medium publication-section">
            <ul class="tabs">
                <li class="tab col s3">
                    <a class="active" href="#publication-state-main">Основное</a>
                </li>
                <li class="tab col s3">
                    <a href="#publication-state-more-info">Подробнее</a>
                </li>
                <li class="tab col s3">
                    <a href="#test3">Фотографии</a>
                </li>
                <li class="tab col s3">
                    <a href="#test4">Местоположение</a>
                </li>
            </ul>
        </section>


        <div id="publication-state-main">
            <section class="medium publication-section">
                <h5 class="light-blue-text">Объявление</h5>

                <div class="row">
                    <div class="col s12">
                        <p>
                            <input id="p_for_sale" type="checkbox" name="for_sale" ng-model="publication.head.for_sale" ng-required="!publication.head.for_rent">
                            <label for="p_for_sale">О продаже</label>
                        </p>

                        <p>
                            <input id="p_for_rent" type="checkbox" name="for_rent" ng-model="publication.head.for_rent" ng-required="!publication.head.for_sale">
                            <label for="p_for_rent">Об аранде</label>
                        </p>

                    <span class="input-has-error checkbox-error" ng-show="(form.publication.for_sale.$invalid || form.publication.for_rent.$invalid)">
                        Укажите, пожалуйста, тип сделки.
                    </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <label for="publication-title">Заголовок обьявления</label>
                            <input id="publication-title" type="text" class="validate" name="title" ng-model="publication.body.title" required />

                            <span class="input-has-error" ng-show="form.publication.title.$error.required">Укажите, пожалуйста, заголовок.</span>
                            <span class="input-has-error" ng-show="form.publication.title.$error.incorrect">Заголовок указан неверно.</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <label for="publication-description">Рекламный текст</label>
                            <textarea id="publication-description" class="materialize-textarea validate" rows="3" name="description" ng-model="publication.body.description" required></textarea>

                            <span class="input-has-error" ng-show="form.publication.description.$error.required && showValidationMessages">Укажите, пожалуйста, рекламний текст.</span>
                            <span class="input-has-error" ng-show="form.publication.description.$error.incorrect">Рекламний текст указан неверно.</span>
                        </div>
                    </div>
                </div>
            </section>



            <section class="medium publication-section" ng-show="publication.head.for_sale">
                <h5 class="light-blue-text">Условия продажи</h5>

                <div class="row">
                    <div class="col s4">
                        <div class="input-field">
                            <label for="sale_price">Цена</label>
                            <input id="sale_price" type="text" class="validate" name="sale_price" ng-model="publication.sale_terms.price"
                                   ng-required="publication.head.for_sale" only-number />

                            <span class="input-has-error" ng-show="form.publication.sale_price.$error.required">Укажите, пожалуйста, цену.</span>
                            <span class="input-has-error" ng-show="form.publication.sale_price.$error.incorrect">Цена указана неверно.</span>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <select name="sale_currency_sid" ng-options="currencyType.id as currencyType.title for currencyType in currencyTypes"
                                    ng-model="publication.sale_terms.currency_sid">
                            </select>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <input id="sale_is_contract" type="checkbox" name="sale_is_contract" ng-model="publication.sale_terms.is_contract">
                            <label for="sale_is_contract">Договорная</label>
                        </div>
                    </div>
                </div>

                <div class="row" ng-show="publication.sale_terms.is_contract">
                    <div class="col s8">
                        <blockquote>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, perferendis.
                        </blockquote>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            removes за м2
                        </div>
                    </div>
                </div>
            </section>



            <section class="medium publication-section" ng-show="publication.head.for_rent">
                <h5 class="light-blue-text">Условия аренды</h5>

                <div class="row">
                    <div class="col s4">
                        <div class="input-field">
                            <select name="rent_period_sid" ng-options="periodType.id as periodType.title for periodType in periodTypes"
                                    ng-model="publication.rent_terms.period_sid">
                            </select>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <label for="rent_persons_count">Количество мест</label>
                            <input id="rent_persons_count" type="text" class="validate" name="rent_persons_count" ng-model="publication.rent_terms.persons_count"
                                   ng-required="publication.head.for_rent" only-number />

                            <span class="input-has-error" ng-show="form.publication.rent_persons_count.$error.required">Укажите, пожалуйста, количество мест.</span>
                            <span class="input-has-error" ng-show="form.publication.rent_persons_count.$error.incorrect">Количество мест указано неверно.</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s4">
                        <div class="input-field">
                            <label for="rent_price">Цена</label>
                            <input id="rent_price" type="text" class="validate" name="rent_price" ng-model="publication.rent_terms.price"
                                   ng-required="publication.head.for_rent" only-number />

                            <span class="input-has-error" ng-show="form.publication.rent_price.$error.required">Укажите, пожалуйста, цену.</span>
                            <span class="input-has-error" ng-show="form.publication.rent_price.$error.incorrect">Цена указана неверно.</span>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <select name="rent_currency_sid" ng-options="currencyType.id as currencyType.title for currencyType in currencyTypes"
                                    ng-model="publication.rent_terms.currency_sid">
                            </select>
                        </div>
                    </div>
                    <div class="col s4">
                        <div class="input-field">
                            <input id="rent_is_contract" type="checkbox" name="rent_is_contract" ng-model="publication.rent_terms.is_contract">
                            <label for="rent_is_contract">Договорная</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        <p>
                            <input id="rent_family" type="checkbox" name="rent_family" ng-model="publication.rent_terms.family">
                            <label for="rent_family">Подходит для семей с детьми</label>
                        </p>
                        <p>
                            <input id="rent_foreigners" type="checkbox" name="rent_foreigners" ng-model="publication.rent_terms.foreigners">
                            <label for="rent_foreigners">Размещение иностранцев</label>
                        </p>
                    </div>
                    <div class="col s6">
                        <p>
                            <input id="rent_smoking" type="checkbox" name="rent_smoking" ng-model="publication.rent_terms.smoking">
                            <label for="rent_smoking">Можно курить</label>
                        </p>
                        <p>
                            <input id="rent_pets" type="checkbox" name="rent_pets" ng-model="publication.rent_terms.pets">
                            <label for="rent_pets">Питомцы разрешены</label>
                        </p>
                    </div>
                </div>
            </section>
        </div>


        <div id="publication-state-more-info">
            <section class="medium publication-section">
                <h5 class="light-blue-text">Подробнее</h5>

                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <select name="market_type_sid" ng-model="publication.body.market_type_sid">
                                <option value="0">Новостройка</option>
                                <option value="1">Вторичный рынок</option>
                            </select>
                            <label>Тип рынка</label>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="input-field">
                            <select name="building_type_sid" ng-model="publication.body.building_type_sid">
                                <option value="1">Панель</option>
                                <option value="2">Кирпич</option>
                                <option value="3">Хрущевка</option>
                                <option value="4">Монолит</option>
                                <option value="5">Дореволюционний</option>
                                <option value="6">Малосемейка</option>
                                <option value="7">Индивидуальный проект</option>
                                <option value="0">Другой</option>
                                <option value="8">Неизвестно</option>
                            </select>
                            <label>Тип дома</label>
                        </div>
                    </div>
                </div>


                <div class="row" ng-show="publication.body.building_type_sid == 0">
                    <div class="col s12">
                        <div class="input-field">
                            <label for="publication-custom-building-type">Укажите другой тип дома</label>
                            <input id="publication-custom-building-type" type="text" class="validate" name="custom_building_type" ng-model="publication.body.custom_building_type">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <select name="flat_type_sid" ng-model="publication.body.flat_type_sid">
                                <option value="1">Малосемейка</option>
                                <option value="2">Отдельная</option>
                                <option value="3">Коммунальная</option>
                                <option value="4">Двухуровневая</option>
                                <option value="5">Студия</option>
                                <option value="0">Другой</option>
                            </select>
                            <label>Тип квартиры</label>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="input-field">
                            <select name="rooms_planning_sid" ng-model="publication.body.rooms_planning_sid">
                                <option value="0">Смежная</option>
                                <option value="1">Раздельная</option>
                                <option value="2">Раздельно-смежная</option>
                                <option value="3">Свободная планировка</option>
                            </select>
                            <label>Планировка комнат</label>
                        </div>
                    </div>
                </div>


                <div class="row" ng-show="publication.body.flat_type_sid == 5">
                    <div class="col s12">
                        <div class="input-field">
                            <label for="publication-custom-flat-type">Укажите другой тип квартиры</label>
                            <input id="publication-custom-flat-type" type="text" class="validate" name="custom_flat_type" ng-model="publication.body.custom_flat_type">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <label for="publication-build-year">Год постройки</label>
                            <input id="publication-build-year" type="text" class="validate" name="build_year" ng-model="publication.body.build_year" only-number>
                            <i class="prefix">г.</i>

                            <span class="input-has-error" ng-show="form.publication.build_year.$error.incorrect">Год постройки указан неверно</span>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="input-field">
                            <select name="condition_sid" ng-model="publication.body.condition_sid">
                                <option value="0">Косметический ремонт</option>
                                <option value="2">Евроремонт</option>
                                <option value="3">Дизайнерский ремонт</option>
                                <option value="4">Требуется косметический ремонт</option>
                                <option value="5">Неоконченный ремонт</option>
                                <option value="6">Под чистовую отделку</option>
                                <option value="1">Жилое</option>
                            </select>
                            <label>Общее состояние</label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s4">
                        <div class="input-field">
                            <select name="floor_type_sid" ng-model="publication.body.floor_type_sid">
                                <option value="0">Этаж</option>
                                <option value="1">Мансарда</option>
                                <option value="2">Цоколь</option>
                            </select>
                            <label>Этаж</label>
                        </div>
                    </div>

                    <div class="col s4">
                        <div class="input-field">
                            <label for="publication-floor">Этаж</label>
                            <input id="publication-floor" class="validate" type="text" name="floor" ng-model="publication.body.floor"
                                   ng-disabled="publication.body.floor_type_sid == 1 || publication.body.floor_type_sid == 2"
                                   ng-required="publication.body.floor_type_sid == 0" only-number />

                            <span class="input-has-error" ng-show="form.publication.floor.$error.required">Укажите, пожалуйста, этаж</span>
                            <span class="input-has-error" ng-show="form.publication.floor.$error.incorrect">Этаж указан неверно</span>
                        </div>
                    </div>

                    <div class="col s4">
                        <div class="input-field">
                            <label for="publication-floors-count">Этажность</label>
                            <input id="publication-floors-count" type="text" class="validate" name="floors_count" ng-model="publication.body.floors_count" only-number>

                            <span class="input-has-error" ng-show="form.publication.floors_count.$error.incorrect">Этажность указана неверно</span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <label for="publication-total-area">Общая площадь</label>
                            <input id="publication-total-area" type="text" class="validate" name="total_area" ng-model="publication.body.total_area" only-number required>
                            <i class="prefix">м<sup>2</sup></i>

                            <span class="input-has-error" ng-show="form.publication.total_area.$error.required">Укажите, пожалуйста, общую площадь</span>
                            <span class="input-has-error" ng-show="form.publication.total_area.$error.incorrect">Общая площадь указана неверно</span>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="input-field">
                            <label for="publication-living-area">Жилая площадь</label>
                            <input id="publication-living-area" type="text" class="validate" name="living_area" ng-model="publication.body.living_area" only-number required>
                            <i class="prefix">м<sup>2</sup></i>

                            <span class="input-has-error" ng-show="form.publication.living_area.$error.required">Укажите, пожалуйста, жилую площадь</span>
                            <span class="input-has-error" ng-show="form.publication.living_area.$error.incorrect">Жилая площадь указана неверно</span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <label for="publication-kitchen-area">Площадь кухни</label>
                            <input id="publication-kitchen-area" type="text" class="form-control" name="kitchen_area" ng-model="publication.body.kitchen_area" only-number>
                            <i class="prefix">м<sup>2</sup></i>

                            <span class="input-has-error" ng-show="form.publication.kitchen_area.$error.incorrect">Площадь кухни указана неверно</span>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="input-field">
                            <label for="publication-ceiling-height">Высота потолков</label>
                            <input id="publication-ceiling-height" type="text" class="form-control" name="validate" ng-model="publication.body.ceiling_height" only-number>
                            <i class="prefix">м</i>

                            <span class="input-has-error" ng-show="form.publication.ceiling_height.$error.incorrect">Высота потолков указана неверно</span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <select name="heating_type_sid" ng-model="publication.body.heating_type_sid">
                                <option value="1">Индивидуальное</option>
                                <option value="2">Центральное</option>
                                <option value="3">Не известно</option>
                                <option value="0">Другой</option>
                                <option value="4">Отсутсвует</option>
                            </select>
                            <label>Отопление</label>
                        </div>
                    </div>

                    <div class="col s6" ng-show="publication.body.heating_type_sid == 0">
                        <div class="input-field">
                            <label for="publication-custom-heating-type">Укажите, пожалуйста, отопления</label>
                            <input id="publication-custom-heating-type" type="text" class="validate" name="custom_heating_type" ng-model="publication.body.custom_heating_type">
                        </div>
                    </div>
                </div>


                <div class="row" >
                    <div class="col s6">
                        <div class="input-field">
                            <select name="ind_heating_type_sid" ng-model="publication.body.ind_heating_type_sid">
                                <option value="1">Электричество</option>
                                <option value="2">Газ</option>
                                <option value="3">Дрова</option>
                                <option value="0">Другой</option>
                            </select>
                            <label >Тип отопления</label>
                        </div>
                    </div>

                    <div class="col s6" ng-show="publication.body.ind_heating_type_sid == 0">
                        <div class="input-field">
                            <label for="publication-custom-ind-heating-type">Укажите, пожалуйста, тип отопления</label>
                            <input id="publication-custom-ind-heating-type" type="text" class="validate" name="custom_ind_heating_type" ng-model="publication.body.custom_ind_heating_type">
                        </div>
                    </div>
                </div>
            </section>



            <section class="medium publication-section">
                <h5 class="light-blue-text">Комнаты</h5>

                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <label for="publication-rooms-count">Кол-во комнат</label>
                            <input id="publication-rooms-count" type="text" class="validate" name="rooms_count" ng-model="publication.body.rooms_count" only-number required>

                            <span class="input-has-error" ng-show="form.publication.rooms_count.$error.required">Укажите, пожалуйста, количество комнат</span>
                            <span class="input-has-error" ng-show="form.publication.rooms_count.$error.incorrect">Количество комнат указано неверно</span>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="input-field">
                            <label for="publication-bedrooms-count">Кол-во спален</label>
                            <input id="publication-bedrooms-count" type="text" class="validate" name="bedrooms_count" ng-model="publication.body.bedrooms_count" only-number>

                            <span class="input-has-error" ng-show="form.publication.bedrooms_count.$error.incorrect">Количество спален указано неверно</span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <label for="publication-vcs-count">Кол-во сан. узлов</label>
                            <input id="publication-vcs-count" type="text" class="validate" name="vcs_count" ng-model="publication.body.vcs_count" only-number>

                            <span class="input-has-error" ng-show="form.publication.vcs_count.$error.incorrect">Количество сан. узлов указано неверно</span>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="input-field">
                            <label for="publication-balconies-count">Кол-во балконов</label>
                            <input id="publication-balconies-count" type="text" class="validate" name="balconies_count" ng-model="publication.body.balconies_count" only-number>

                            <span class="input-has-error" ng-show="form.publication.balconies_count.$error.incorrect">Количество балконов указано неверно</span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col s6">
                        <div class="input-field">
                            <label for="publication-loggias-count">Кол-во лоджий</label>
                            <input id="publication-loggias-count" type="text" class="validate" name="loggias_count" ng-model="publication.body.loggias_count" only-number>

                            <span class="input-has-error" ng-show="form.publication.loggias_count.$error.incorrect">Количество лоджий указано неверно</span>
                        </div>
                    </div>

                    <div class="col s6">
                        <div class="input-field">

                        </div>
                    </div>
                </div>
            </section>



            <section class="medium publication-section">
                <h5 class="light-blue-text">Удобства</h5>

                <div class="row">
                    <div class="col s6">
                        <p>
                            <input id="publication-electricity" type="checkbox" name="electricity" ng-model="publication.body.electricity">
                            <label for="publication-electricity">Электричество</label>
                        </p>
                        <p>
                            <input id="publication-gas" type="checkbox" name="gas" ng-model="publication.body.gas">
                            <label for="publication-gas">Газ</label>
                        </p>
                        <p>
                            <input id="publication-lift" type="checkbox" name="lift" ng-model="publication.body.lift">
                            <label for="publication-lift">Лифт</label>
                        </p>
                    </div>

                    <div class="col s6">
                        <p>
                            <input id="publication-hot-water" type="checkbox" name="hot_water" ng-model="publication.body.hot_water">
                            <label for="publication-hot-water">Горячая вода</label>
                        </p>
                        <p>
                            <input id="publication-cold-water" type="checkbox" name="cold_water" ng-model="publication.body.cold_water">
                            <label for="publication-cold-water">Холодная вода</label>
                        </p>
                        <p>
                            <input id="publication-security-alarm" type="checkbox" name="security_alarm" ng-model="publication.body.security_alarm">
                            <label for="publication-security-alarm">Охранная сигнализация</label>
                        </p>
                        <p>
                            <input id="publication-fire-alarm" type="checkbox" name="fire_alarm" ng-model="publication.body.fire_alarm">
                            <label for="publication-fire-alarm">Пожарная сигнализация</label>
                        </p>
                    </div>
                </div>


                <div class="row">
                    <h6 class="light-blue-text">Удобства, предоставляемые с орендой</h6>
                    <div class="divider"></div>
                </div>


                <div class="row">
                    <div class="col s6">
                        <p>
                            <input id="publication-furniture" type="checkbox" name="furniture" ng-model="publication.body.furniture">
                            <label for="publication-furniture">Мебель</label>
                        </p>
                        <p>
                            <input id="publication-refrigerator" type="checkbox" name="refrigerator" ng-model="publication.body.refrigerator">
                            <label for="publication-refrigerator">Холодильник</label>
                        </p>
                        <p>
                            <input id="publication-tv" type="checkbox" name="tv" ng-model="publication.body.tv">
                            <label for="publication-tv">Телевизор</label>
                        </p>
                    </div>

                    <div class="col s6">
                        <p>
                            <input id="publication-washing-machine" type="checkbox" name="washing_machine" ng-model="publication.body.washing_machine">
                            <label for="publication-washing-machine">Стиральная машина</label>
                        </p>
                        <p>
                            <input id="publication-conditioner" type="checkbox" name="conditioner" ng-model="publication.body.conditioner">
                            <label for="publication-conditioner">Кондиционер</label>
                        </p>
                        <p>
                            <input id="publication-home-theater" type="checkbox" name="home_theater" ng-model="publication.body.home_theater">
                            <label for="publication-home-theater">Дом. кинотеатр</label>
                        </p>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12">
                        <div class="input-field">
                            <label for="publication-add-facilities">Другие удобства, уточнения</label>
                            <input id="publication-add-facilities" type="text" class="validate" name="add_facilities" ng-model="publication.body.add_facilities">
                        </div>
                    </div>
                </div>
            </section>



            <section class="medium publication-section">
                <h5 class="light-blue-text">Коммуникации</h5>

                <div class="row">
                    <div class="col s4">
                        <p>
                            <input id="publication-phone" type="checkbox" name="phone" ng-model="publication.body.phone">
                            <label for="publication-phone">Телефон</label>
                        </p>
                        <p>
                            <input id="publication-internet" type="checkbox" name="internet" ng-model="publication.body.internet">
                            <label for="publication-internet">Интернет</label>
                        </p>
                    </div>

                    <div class="col s8">
                        <p>
                            <input id="publication-mobile-coverage" type="checkbox" name="mobile_coverage" ng-model="publication.body.mobile_coverage">
                            <label for="publication-mobile-coverage">Покрытие моб. операторов</label>
                        </p>
                        <p>
                            <input id="publication-cable-tv" type="checkbox" name="cable_tv" ng-model="publication.body.cable_tv">
                            <label for="publication-cable-tv">Кабельное / спутниковое телевидение</label>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </form>



    <section class="medium publication-preview right">
        publication preview here <br/>
        coming soon
    </section>
</div>

        <!--<div class="row">-->
            <!--<h3 id="pub-outb-section">Дополнительные постройки</h3>-->
            <!--<div class="col-sm-6 col-lg-4 form-group">-->
                <!--<div class="checkbox">-->
                    <!--<input id="garage" type="checkbox" name="garage" ng-model="publication.body.garage">-->
                    <!--<label for="garage">Гараж / паркместо</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-lg-4 form-group">-->
                <!--<div class="checkbox">-->
                    <!--<input id="playground" type="checkbox" name="playground" ng-model="publication.body.playground">-->
                    <!--<label for="playground">Детская площадка</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-12">-->
                <!--<div class="form-group">-->
                    <!--<label>Другие постройки, уточнения:</label>-->
                    <!--<input type="text" class="form-control" name="add_buildings" ng-model="publication.body.add_buildings">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->
            <!--<h3 id="pub-near-sections">Рядом находиться</h3>-->
            <!--<div class="col-lg-6 form-group">-->
                <!--<div class="checkbox">-->
                    <!--<input id="kindergarten" type="checkbox" name="kindergarten" ng-model="publication.body.kindergarten">-->
                    <!--<label for="kindergarten">Детсад</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                    <!--<input id="school" type="checkbox" name="school" ng-model="publication.body.school">-->
                    <!--<label for="school">Школа</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                    <!--<input id="market" type="checkbox" name="market" ng-model="publication.body.market">-->
                    <!--<label for="market">Рынок / супераркет</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                    <!--<input id="park" type="checkbox" name="park" ng-model="publication.body.park">-->
                    <!--<label for="park">Парк / сквер</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-lg-6 form-group">-->
                <!--<div class="checkbox">-->
                    <!--<input id="transport_stop" type="checkbox" name="transport_stop" ng-model="publication.body.transport_stop">-->
                    <!--<label for="transport_stop">Остановка общ. транспорта</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                    <!--<input id="entertainment" type="checkbox" name="entertainment" ng-model="publication.body.entertainment">-->
                    <!--<label for="entertainment">Развлекательные заведения</label>-->
                <!--</div>-->
                <!--<div class="checkbox">-->
                    <!--<input id="sport_center" type="checkbox" name="sport_center" ng-model="publication.body.sport_center">-->
                    <!--<label for="sport_center">Спортивно-оздоровительный центр</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-12">-->
                <!--<div class="form-group">-->
                    <!--<label>Другие достопримечательности, уточнения:</label>-->
                    <!--<input type="text" class="form-control" name="add_showplaces" ng-model="publication.body.add_showplaces">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->
            <!--<h3 id="pub-place-section">Местоположение</h3>-->
            <!--<div class="col-sm-12">-->
                <!--<ng-include src="'/ajax/template/cabinet/publications/unpublished/map/'"></ng-include>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->
            <!--<h3 id="pub-photo-section">Изображения</h3>-->
            <!--<div class="col-lg-12">-->
                <!--<ng-include src="'/ajax/template/cabinet/publications/unpublished/photos/'"></ng-include>-->
            <!--</div>-->
        <!--</div>-->


        <!--<div class="row" ng-show="tags.length">-->
            <!--<h3 id="pub-tags-section">Ярлыки</h3>-->
            <!--<div class="col-sm-6 col-lg-4 form-group">-->
                <!--<div class="checkbox" ng-repeat="tag in tags" ng-if="$even">-->
                    <!--<input id="[[ tag.id ]]" type="checkbox" name="tag" ng-model="publication.tags[tag.id]" ng-click="tagCheckboxChange($event)">-->
                    <!--<label for="[[ tag.id ]]">[[ tag.title ]]</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-sm-6 col-lg-4 form-group">-->
                <!--<div class="checkbox" ng-repeat="tag in tags" ng-if="$odd">-->
                    <!--<input id="[[ tag.id ]]" type="checkbox" name="tag" ng-model="publication.tags[tag.id]" ng-click="tagCheckboxChange($event)">-->
                    <!--<label for="[[ tag.id ]]">[[ tag.title ]]</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->