.favorites-tab {

    .favorite-item {
        height: 150px;
        position: relative;
        margin-bottom: 4px;

        cursor: pointer;

        img {
            @include square(100%)
        }
    }


    .favorite-item-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }


    .favorite-item-description {
        position: absolute;
        bottom: 0;

        padding: 10px 20px;

        color: #fff;
        font-size: 14px;
    }

    .favorite-remove-btn {
        color: #fff;
    }
}