tab-section-collapsible {
    display: block;
    max-height: 800px;
    @include transition(max-height .3s  ease);
}


[toggle-tab-section] {
    cursor: pointer;
    border-bottom: 1px solid color('grey', 'lighten-3');
    @include transition(border .3s ease);

    md-icon {
        @include transition(all .3s ease);
    }
}