<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Mappino
        {% endblock title %}
    </title>

    <!-- Styles include -->
    <link rel="stylesheet/less" href="{{ static }}less/main/base.less"/>
    <link rel="stylesheet" href="{{ static }}css/bootstrap-select.css"/>


    <!-- Map include -->
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?v=3.8&key=AIzaSyAXPqXPqCTwyFFs9KufrwZL5qtHCmQ_6zQ&sensor=false&language=ru&libraries=places">
    </script>
    <script type="text/javascript" src="{{ static }}js/libs/markerclusterer.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/markerwithlabel-1.1.9.min.js"></script>


    <!-- Libs include -->
    <script type="text/javascript" src="{{ static }}js/libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/underscore-1.6.0.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/less-1.7.0.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/bootstrap-select-1.5.4.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/perfect-scrollbar-0.4.10.min.js"></script>

    <script type="text/javascript" src="{{ static }}js/libs/angular-1.2.16.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/angular-route-1.2.16.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/angular-cookies-1.2.16.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/angular-ui-mask.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/angular-animate-1.2.16.min.js"></script>

    <script type="text/javascript" src="{{ static }}js/libs/angular-notifier.js"></script>


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-26396742-1', 'code-418.com');
        ga('send', 'pageview');

    </script>
</head>
<body ng-app="Mappino" ng-controller="AppCtrl" ng-init="firstEnterInit()">

    <div class="wrapper" ng-controller="MapCtrl" ng-init="parseSearchParametersFromUrl()">

        <div id="map"></div>

        <div ng-view="content-view"></div>

        <div ng-include="sidebarTemplateUrl"></div>

        <div lr-notification-stack-container="mainChannel">
            [[ notification.message ]]
        </div>

        <div class="map-loader" ng-show="loadings.markers">
            Загрузка обьектов
        </div>
    </div>



    <!-- Logic files include -->
    <script type="text/javascript" src="{{ static }}js/main/app.js"></script>

    <script type="text/javascript" src="{{ static }}js/main/services/router.js"></script>
    <script type="text/javascript" src="{{ static }}js/main/services/queries.js"></script>

    <script type="text/javascript" src="{{ static }}js/main/factories/markersFactory.js"></script>
    <script type="text/javascript" src="{{ static }}js/main/factories/accountFactory.js"></script>

    <script type="text/javascript" src="{{ static }}js/main/controllers/appCtrl.js"></script>
    <script type="text/javascript" src="{{ static }}js/main/controllers/mapCtrl.js"></script>
    <script type="text/javascript" src="{{ static }}js/main/controllers/sidebarCtrl.js"></script>
    <script type="text/javascript" src="{{ static }}js/main/controllers/loginCtrl.js"></script>
    <script type="text/javascript" src="{{ static }}js/main/controllers/registrationCtrl.js"></script>
    <script type="text/javascript" src="{{ static }}js/main/controllers/restoreAccessCtrl.js"></script>
    <script type="text/javascript" src="{{ static }}js/main/controllers/publicationViewCtrl.js"></script>

    <script type="text/javascript" src="{{ static }}js/main/directives/selectOnClick.js"></script>
    <script type="text/javascript" src="{{ static }}js/main/directives/focusOnLoad.js"></script>
    <script type="text/javascript" src="{{ static }}js/main/directives/allowOnlyNumber.js"></script>
    <script type="text/javascript" src="{{ static }}js/main/directives/allowOnlyNumberWithoutDot.js"></script>
</body>
</html>