<!DOCTYPE html>
<html ng-app="mappino.pages.map">
<head>
    <title>Mappino</title>
    <link rel="author" href="/humans.txt"/>

    {# перевірка для яндекс.вебмастер #}
    <meta name='yandex-verification' content='546bbc19b208a750'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">

    {% compress css %}
        <link rel="stylesheet" href="{{ static }}build/styles/map/base.min.css"/>
    {% endcompress %}

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAXPqXPqCTwyFFs9KufrwZL5qtHCmQ_6zQ&sensor=false&language=ru&libraries=places"></script>

    <script src="http://yandex.st/jquery/2.1.3/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-rc.2/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-rc.2/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-rc.2/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-rc.2/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-rc.2/angular-aria.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>


    {% compress js %}
        <!-- local libraries here -->
    {% endcompress %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-26396742-1', 'mappino.com.ua');
        ga('send', 'pageview');
    </script>
</head>
<body ng-controller="AppController as appCtrl">
    <md-content layout="row">
        <b-sidebar layout="column">
            <md-button class="b-sidebar-button" aria-label="Открыть меню">
                <md-icon md-svg-icon="{{ static }}build/icons/action/ic_search_24px.svg"></md-icon>
            </md-button>
            <md-button class="b-sidebar-button" aria-label="Открыть меню">
                <md-icon md-svg-icon="{{ static }}build/icons/action/ic_visibility_24px.svg"></md-icon>
            </md-button>
            <md-button class="b-sidebar-button" aria-label="Фільтри" ng-click="appCtrl.slidingPanelsHandler.open('filters')">
                <md-icon md-svg-icon="{{ static }}build/icons/action/ic_list_24px.svg"></md-icon>
            </md-button>
            <md-button class="b-sidebar-button" aria-label="Улюблені" ng-click="appCtrl.slidingPanelsHandler.open('favorites')">
                <md-icon md-svg-icon="{{ static }}build/icons/action/ic_favorite_border_24px.svg"></md-icon>
            </md-button>
            <span flex></span>
            <md-button class="b-sidebar-button" aria-label="Открыть меню">
                <md-icon md-svg-icon="{{ static }}build/icons/action/ic_perm_identity_24px.svg"></md-icon>
            </md-button>
        </b-sidebar>

        <div id="map" ng-controller="MapController as mapCtrl"></div>
        <div ui-view></div>
    </md-content>

    <!--<div class="wrapper">-->

        <!-- Fixed search panel panel -->
        <!--<div class="search-panel" ng-controller="PlaceAutocompleteController">-->
            <!--<a class="btn-flat btn-menu valign-wrapper"-->
                    <!--ng-click="appCtrl.dropPanelsHandler.open('menu')"-->
                    <!--ng-hide="appCtrl.dropPanelsHandler.isOpened('menu')">-->
                <!--<i class="mdi-navigation-menu valign"></i>-->
            <!--</a>-->
            <!--<a class="btn-flat btn-menu valign-wrapper"-->
                    <!--ng-click="appCtrl.dropPanelsHandler.close('menu')"-->
                    <!--ng-show="appCtrl.dropPanelsHandler.isOpened('menu')">-->
                <!--<i class="mdi-navigation-close valign"></i>-->
            <!--</a>-->
            <!--<input id="place-autocomplete" placeholder="Введите местоположение" type="text">-->
            <!--<a class="btn-flat btn-search valign-wrapper">-->
                <!--<i class="mdi-action-search valign"></i>-->
            <!--</a>-->
        <!--</div>-->

        <!-- Drop menu panel -->
        <!--<div class="menu-panel closed">-->

        <!--</div>-->



        <!-- Fixed tabs panel panel -->
        <!--<div class="tabs-panel" ng-controller="TabsNavigationController as tabsCtrl" ng-cloak>-->
            <!--<ul class="tabs"-->
                <!--ng-class="{ 'nothing-selected': !appCtrl.slidingPanelsHandler.isOpened('filters') && !appCtrl.slidingPanelsHandler.isOpened('favorites') }">-->

                <!--<li class="tab col s3" ng-click="appCtrl.slidingPanelsHandler.open('filters')">-->
                    <!--<a href="#" ng-class="{ active: appCtrl.slidingPanelsHandler.isOpened('filters') }">-->
                        <!--<i class="mdi-content-filter-list"></i>-->
                        <!--Фильтры-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="tab col s3" ng-click="appCtrl.slidingPanelsHandler.open('favorites')">-->
                    <!--<a href="#" ng-class="{ active: appCtrl.slidingPanelsHandler.isOpened('favorites') }">-->
                        <!--<i class="mdi-action-grade"></i>-->
                        <!--Избранние-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->

            <!--<div class="user-block valign-wrapper" ng-hide="appCtrl.dropPanelsHandler.isOpened('user')"-->
                    <!--ng-click="appCtrl.dropPanelsHandler.open('user')">-->
                <!--<span class="valign hide-on-small-only">Serhii</span>-->
                <!--<img class="valign" src="{{ static }}build/images/main/publication-view/no-user.png" alt=""/>-->
            <!--</div>-->
            <!--<div class="user-block valign-wrapper" ng-show="appCtrl.dropPanelsHandler.isOpened('user')"-->
                    <!--ng-click="appCtrl.dropPanelsHandler.close('user')">-->
                <!--<a class="btn-flat">-->
                    <!--<span class="hide-on-small-only">CLOSE</span>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->

        <!-- Drop user panel -->
        <!--<div class="user-panel closed">-->

        <!--</div>-->







        <!-- Sliding panels -->
        <!--<div class="publication-panel closed">-->
            <!--<div class="publication-panel-header">-->
                <!--<img src="{{ static }}build/images/home/home-bg-1.jpg" alt=""/>-->
                <!--<div class="over-photo-control" ng-click="appCtrl.slidingPanelsHandler.close('publication')">-->
                    <!--<i class="mdi-navigation-close"></i>-->
                <!--</div>-->
                <!--<div class="over-photo-block">-->
                    <!--<div class="title">Lorem ipsum dolor sit amet.</div>-->
                    <!--<div class="address">Lorem ipsum dolor sit amet, consectetur adipisicing.</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="publication-panel-body">-->
                <!--<div class="row">-->
                    <!--<div class="col s6">-->
                        <!--<table>-->
                            <!--<tr>-->
                                <!--<td>Тип рынка:</td>-->
                                <!--<td>Lorem ipsum.</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Тип здания:</td>-->
                                <!--<td>Lorem ipsum.</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Год постройки:</td>-->
                                <!--<td>1992</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Возраст бизнеса:</td>-->
                                <!--<td>Lorem.</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Тип квартиры:</td>-->
                                <!--<td>Lorem ipsum.</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Планировка:</td>-->
                                <!--<td>Lorem.</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Общая площадь:</td>-->
                                <!--<td>100 m</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Площадь:</td>-->
                                <!--<td>100 m</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                    <!--<div class="col s6">-->
                        <!--<table>-->
                            <!--<tr>-->
                                <!--<td>Тип рынка:</td>-->
                                <!--<td>Lorem ipsum.</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Тип здания:</td>-->
                                <!--<td>Lorem ipsum.</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Год постройки:</td>-->
                                <!--<td>1992</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Возраст бизнеса:</td>-->
                                <!--<td>Lorem.</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Тип квартиры:</td>-->
                                <!--<td>Lorem ipsum.</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Планировка:</td>-->
                                <!--<td>Lorem.</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Общая площадь:</td>-->
                                <!--<td>100 m</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Площадь:</td>-->
                                <!--<td>100 m</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col s12">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam architecto, atque blanditiis deleniti eos eveniet excepturi nulla perspiciatis tempore!-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<div class="col s12">-->
                        <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam architecto, atque blanditiis deleniti eos eveniet excepturi nulla perspiciatis tempore!-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->





        <div class="filters-panel -closed" layout="column" b-sidebar-panel>
            <section class="md-whiteframe-z1" layout="row" layout-align="start center">
                <md-icon class="red-text text-lighten-2" flex="15" md-svg-icon="{{ static }}build/icons/maps/ic_place_24px.svg"></md-icon>
                <b flex="65" offset="5">Квартиры 0 - 50 000 $</b>
                <md-button flex="15" class="md-icon-button md-primary" aria-label="Додати панель фільтрів">
                    <md-icon md-svg-icon="{{ static }}build/icons/content/ic_add_circle_outline_24px.svg"></md-icon>
                </md-button>
            </section>

            <section class="md-whiteframe-z1">
                тут тип обєкта
            </section>

            <section class="md-whiteframe-z1">
                тут основні фільтри
            </section>

            <section class="md-whiteframe-z1">
                тут розширені філтри
            </section>
        </div>

        <div class="favorites-panel -closed">
            <h1>Favorites</h1>
        </div>

        <div class="auth-panel -closed">
            <h1>Auth</h1>
        </div>



        <!--<div class="property-list-panel">-->
            <!--<div class="property-list-item -red">-->
                <!--<img src="http://lorempixel.com/96/81/" alt=""/>-->
            <!--</div>-->
            <!--<div class="property-list-item -red">-->
                <!--<img src="http://lorempixel.com/96/81/" alt=""/>-->
            <!--</div>-->
            <!--<div class="property-list-item -blue">-->
                <!--<img src="http://lorempixel.com/96/81/" alt=""/>-->
            <!--</div>-->
            <!--<div class="property-list-item -green">-->
                <!--<img src="http://lorempixel.com/96/81/" alt=""/>-->
            <!--</div>-->
            <!--<div class="property-list-item -red">-->
                <!--<img src="http://lorempixel.com/96/81/" alt=""/>-->
            <!--</div>-->
            <!--<div class="property-list-item -blue">-->
                <!--<img src="http://lorempixel.com/96/81/" alt=""/>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->



    {% compress js %}
        <!-- mappino.main.map -->
        <script type="text/javascript" src="{{ static }}build/scripts/map/map.js"></script>
    {% endcompress %}
</body>
</html>