<!DOCTYPE html>
<html ng-app="mappino.pages.map">
<head>
    <title>Mappino</title>
    <link rel="author" href="/humans.txt"/>

    {# перевірка для яндекс.вебмастер #}
    <meta name='yandex-verification' content='546bbc19b208a750'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">

    {% compress css %}
    <link rel="stylesheet" href="{{ static }}build/styles/map/base.min.css"/>
    {% endcompress %}

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAXPqXPqCTwyFFs9KufrwZL5qtHCmQ_6zQ&sensor=false&language=ru&libraries=places"></script>

    <script src="http://yandex.st/jquery/2.1.3/jquery.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-rc.2/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-rc.2/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-rc.2/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-rc.2/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0-rc.2/angular-aria.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>


    {% compress js %}
    <!-- local libraries here -->
    {% endcompress %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-26396742-1', 'mappino.com.ua');
        ga('send', 'pageview');
    </script>
</head>
<body ng-controller="AppController as appCtrl">
    <main>
        <div id="map" ng-controller="MapController as mapCtrl"></div>

        <div class="b-navbar md-whiteframe-z1" layout="row" ng-cloak>
            <div class="b-navbar-wrapper">
                <md-tabs md-selected="panelsIndex.leftPanelIndex" md-dynamic-height>
                    <md-tab id="filters_red" md-on-select="panelsIndex.leftPanelIndex = 0">
                        <md-tab-label>
                            <md-icon md-svg-icon="{{ static }}build/icons/content/ic_filter_list_24px.svg"></md-icon>
                        </md-tab-label>
                        <md-tab-body>
                            <header layout="row" layout-align="start center" layout-padding toggle-tab-body>
                                <span class="md-body-1">Квартири 0 - 50 000 $</span>
                                <span flex></span>
                                <md-icon md-svg-icon="{{ static }}build/icons/hardware/ic_keyboard_arrow_up_24px.svg"></md-icon>
                            </header>
                            <tab-body-collapsible>
                                <section layout="column">
                                    <div layout="row">
                                        <md-select placeholder="Тип обєкта" ng-model="filters.red.t_sid" flex="65">
                                            <md-option ng-repeat="realtyType in appCtrl.realtyTypes" value="[[ realtyType.id ]]">[[ realtyType.title ]]</md-option>
                                        </md-select>
                                        <md-select placeholder="Операция" ng-model="filters.red.op_sid" flex="35">
                                            <md-option value="0">Продажа</md-option>
                                            <md-option value="1">Оренда</md-option>
                                        </md-select>
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label>Ціна від</label>
                                            <input type="text" ng-model="filters.red.pr" only-number>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Ціна до</label>
                                            <input type="text">
                                        </md-input-container>
                                        <!--<md-select placeholder="Валюта">-->
                                        <!--<md-option value="0">пвіпвп</md-option>-->
                                        <!--</md-select>-->
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex>
                                            <label>Площа від</label>
                                            <input type="text">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Площа до</label>
                                            <input type="text">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Кімнат</label>
                                            <input type="text">
                                        </md-input-container>
                                    </div>
                                </section>
                                <header class="-tab-body-section-closed" layout="row" layout-align="start center" layout-padding toggle-tab-body-section>
                                    <span class="md-body-1">Розширений фільтер</span>
                                    <span flex></span>
                                    <md-icon md-svg-icon="{{ static }}build/icons/hardware/ic_keyboard_arrow_up_24px.svg"></md-icon>
                                </header>
                                <tab-body-section-collapsible class="-closed">
                                    <section layout-padding>
                                        тут трошки фільтрів
                                    </section>
                                </tab-body-section-collapsible>
                            </tab-body-collapsible>
                        </md-tab-body>
                    </md-tab>

                    <md-tab id="filters_blue" md-on-select="panelsIndex.leftPanelIndex = 1">
                        <md-tab-label>
                            <md-icon md-svg-icon="{{ static }}build/icons/content/ic_filter_list_24px.svg"></md-icon>
                            <!--<md-tooltip>-->
                            <!--Сині фільтри-->
                            <!--</md-tooltip>-->
                        </md-tab-label>
                        <md-tab-body>
                            <section class="md-padding">
                                і тут трошки фільтрів
                            </section>
                            <section class="-clickable md-padding" layout="row">
                                <span>Розширений фільтер</span>
                                <span flex></span>
                                <md-icon md-svg-icon="{{ static }}build/icons/hardware/ic_keyboard_arrow_down_24px.svg"></md-icon>
                            </section>
                        </md-tab-body>
                    </md-tab>

                    <md-tab id="favorites" md-on-select="panelsIndex.leftPanelIndex = 2">
                        <md-tab-label>
                            <md-icon md-svg-icon="{{ static }}build/icons/toggle/ic_star_border_24px.svg"></md-icon>
                            <!--<md-tooltip>-->
                            <!--Обрані оголошення-->
                            <!--</md-tooltip>-->
                        </md-tab-label>
                        <md-tab-body>
                            <section class="md-padding">
                                тут вибране оголошення
                            </section>
                            <section class="md-padding">
                                і тут вибране оголошення
                            </section>
                        </md-tab-body>
                    </md-tab>

                    <md-tab id="account" md-on-select="panelsIndex.leftPanelIndex = 3">
                        <md-tab-label>
                            <md-icon md-svg-icon="{{ static }}build/icons/action/ic_perm_identity_24px.svg"></md-icon>
                        </md-tab-label>
                        <md-tab-body>
                            <section class="md-padding">
                                тут вхід
                            </section>
                            <section class="md-padding">
                                тута реєстрація
                            </section>
                        </md-tab-body>
                    </md-tab>
                </md-tabs>
            </div>
        </div>

        <!--<div class="search-panel md-whiteframe-z1">-->
        <!--fff-->
        <!--</div>-->

        <div ui-view></div>
    </main>



    <div class="property-list-panel md-whiteframe-z1" layout="column" layout-align="start start">
        <header layout="row" layout-align="start center">
            <span flex></span>
            <md-button class="md-icon-button md-primary">
                <md-icon md-svg-icon="{{ static }}build/icons/hardware/ic_keyboard_arrow_right_24px.svg"></md-icon>
            </md-button>
        </header>
        <section class="-green">
            <img src="http://lorempixel.com/200/120/sports" alt="" />
            <div class="property-list-item-overlay">
                <md-button class="md-icon-button">
                    <md-icon class="-white-star" md-svg-icon="{{ static }}build/icons/toggle/ic_star_border_24px.svg"></md-icon>
                </md-button>
                <div class="property-list-item-description" layout="column">
                    <div class="property-list-item-title">
                        Lorem ipsum dolor sit.
                    </div>
                    <div class="property-list-item-price">
                        <b>50 000 грн.</b>
                    </div>
                </div>
            </div>
        </section>
        <section class="-blue">
            <img src="http://lorempixel.com/200/120/sports" alt="" />
        </section>
        <section class="-green">
            <img src="http://lorempixel.com/200/120/sports" alt="" />
        </section>
        <section class="-blue">
            <img src="http://lorempixel.com/200/120/sports" alt="" />
        </section>
        <section class="-blue">
            <img src="http://lorempixel.com/200/120/sports" alt="" />
        </section>
    </div>



    {% compress js %}
        <!-- mappino.main.map -->
        <script type="text/javascript" src="{{ static }}build/scripts/map/map.js"></script>
    {% endcompress %}
</body>
</html>