<!DOCTYPE html>
<html>
<head>
    <title>Promo - Mappino</title>

    <link rel="stylesheet/less" href="{{ static }}less/promo/promo.less"/>

    <!-- Libs include -->
    <script type="text/javascript" src="{{ static }}js/libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/less-1.7.0.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/jquery.imageScroll.min.js"></script>

    <script type="text/javascript" src="{{ static }}js/promo/promo.js"></script>
</head>
<body>

<div class="wrapper">

    <div class="header-links animated text-right">
        <div class="col-sm-12 col-lg-8 col-lg-offset-2">
            <a href="#">О сервисе</a>
            <a href="#">Риелторам</a>
            <a href="#">Помощь</a>
        </div>
    </div>


    <div class="img-holder" data-cover-ratio="1" data-image="{{ static }}img/promo/promo-bg-1920x1080.jpg">
        <div class="image-caption">
            <h1>
                mappino
            </h1>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, veritatis!
        </div>
    </div>
    <section>
        <div class="col-sm-12 col-lg-8 col-lg-offset-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa magnam minima nemo ratione? A accusantium aliquam aperiam consequuntur dolorem error eveniet expedita fugit minima modi molestias nostrum officia optio qui quidem quis, quod quos recusandae repellendus, repudiandae sapiente sit suscipit unde veritatis, vero voluptas voluptatibus voluptatum. Consequuntur cumque vel veritatis.</p>
        </div>
    </section>


    <div class="img-holder" data-cover-ratio="0.3" data-image="{{ static }}img/promo/promo-bg-1920x1080.jpg"></div>
    <section>
        <div class="col-sm-12 col-lg-8 col-lg-offset-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa magnam minima nemo ratione? A accusantium aliquam aperiam consequuntur dolorem error eveniet expedita fugit minima modi molestias nostrum officia optio qui quidem quis, quod quos recusandae repellendus, repudiandae sapiente sit suscipit unde veritatis, vero voluptas voluptatibus voluptatum. Consequuntur cumque vel veritatis.</p>
        </div>
    </section>


    <div class="img-holder" data-cover-ratio="0.3" data-image="{{ static }}img/promo/promo-bg-1920x1080.jpg"></div>
    <section>
        <div class="col-sm-12 col-lg-8 col-lg-offset-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa magnam minima nemo ratione? A accusantium aliquam aperiam consequuntur dolorem error eveniet expedita fugit minima modi molestias nostrum officia optio qui quidem quis, quod quos recusandae repellendus, repudiandae sapiente sit suscipit unde veritatis, vero voluptas voluptatibus voluptatum. Consequuntur cumque vel veritatis.</p>
        </div>
    </section>



</div>

</body>
</html>