<!DOCTYPE html>
<html>
<head>
    <title>Promo - Mappino</title>

    <link rel="stylesheet/less" href="{{ static }}less/promo/promo.less"/>

    <!-- Libs include -->
    <script type="text/javascript" src="{{ static }}js/libs/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/less-1.7.0.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/bootstrap-3.1.1.min.js"></script>

    <script type="text/javascript" src="{{ static }}js/promo/promo.js"></script>
</head>
<body>

<div class="wrapper">

    <div class="header-links">
        <a href="#">О сервисе</a>
        <a href="#">Риелторам</a>
        <a href="#">Помощь</a>
    </div>


    <div class="content-block">
        <img src="{{ static }}img/promo/promo-bg-1366x768.jpg" alt=""/>

        <div class="content-block-img-content">

        </div>
        <div class="content-block-body">
            <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aut consectetur, debitis eius eos esse eum illum iure iusto libero maxime molestias nulla obcaecati provident ratione, repellendus sed, suscipit totam. Aliquam animi commodi eaque est excepturi fugit incidunt inventore ipsam minima non nostrum, nulla quaerat quidem quod reprehenderit ut voluptatibus.
            </div>
        </div>
    </div>


</div>

</body>
</html>