<!DOCTYPE html>
<html>
<head>
    <title>Риелторам - mappino</title>

    {% compress css %}
        <link rel="stylesheet" href="{{ static }}css/offer/base.min.css"/>
    {% endcompress %}

    <script src="http://yandex.st/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://yandex.st/modernizr/2.7.1/modernizr.min.js"></script>
    <script src="http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="http://yandex.st/angularjs/1.3.8/angular.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/jquery.imageScroll.min.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-26396742-1', 'mappino.com.ua');
        ga('send', 'pageview');
    </script>
</head>
<body ng-app="mappino.offer" ng-controller="OfferController">

<div class="wrapper">

    <div class="header-links animated text-right">
        <div class="row">
            <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                <a class="btn btn-success btn-lg pull-left section-btn" href="/cabinet/">Перейти в кабинет</a>
                <a href="/">Главная</a>
                <a href="/offer/realtors/" class="active">Риелторам</a>
                <!--<a href="/offer/agencies/">Агенствам</a>-->
            </div>
        </div>
    </div>


    <div class="img-holder main" data-cover-ratio="1" data-image="{{ static }}img/offer/realtors/bg-1600x900.jpg">
        <div class="image-caption text-center">
            <img src="{{ static }}img/offer/logo.png" alt=""/>
            <div class="brand h1">mappino</div>
            <div class="slogan h4">Удобный сервис для продажи недвижимости</div>
        </div>
    </div>


    <section class="with-padding-bottom">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <div class="row">
                    <h1>Таргетированная аудитория</h1>
                    <p class="h3">
                        mappino показывает Ваши объявления прямо на карте города,
                        <br/>
                        благодаря чему их гораздо чаще будут просматривать люди с региона,
                        <br/>
                        в котором Вы работаете.
                        <br/><br/>
                        Таким образом, Вы сможете получать гораздо больше действительно <br/>
                        заинтересованных клиентов, а статистика по каждому из объявлений <br/>
                        будет гораздо ближе к действительности.
                    </p>
                </div>
            </div>
        </div>
        <br/><br/><br/>
        <div class="row text-left">
            <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                <div class="panel-group" id="auditory-accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default panel-red">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#auditory-accordion" href="#question_1" aria-expanded="false" aria-controls="question_1">
                                    Что значит термин “таргетированная аудитория”?
                                </a>
                            </h4>
                        </div>
                        <div id="question_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Таргетингом называют рекламный подход,
                                который позволяет нацелить рекламу на наиболее заинтересованную часть аудитории. <br/>
                                Эту аудиторию, также, принято называть "таргетированной". <br/><br/>

                                Преимущество таргетированной аудитории состоит в соотношение
                                количества просмотров объявлений к количеству обращений по ним.
                                Для данного типа аудитории этот показатель значительно выше,
                                чем аналогичный показатель для не таргетированной аудитории. <br/><br/>

                                Для рекламодателей это означает большее количество обращений клиентов
                                за меньшее количество просмотров объявлений.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-blue">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#auditory-accordion" href="#question_2" aria-expanded="false" aria-controls="question_2">
                                    Как происходит таргетирование аудитории?
                                </a>
                            </h4>
                        </div>
                        <div id="question_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                На mappino таргетинг в основном происходит по териториальному признаку,
                                но также учитываются и некоторые другие интересы пользователей:
                                все пользователи сервиса имеют возможность просматривать только те регионы,
                                в которых они действительно заинтересованы,
                                и только те предложения, которые подходят под их критерии поиска. <br/><br/>

                                Таким образом, пользователи быстро получают действительно интересные им предложения,
                                а рекламодатели - больше заинтересованных клиентов.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="img-holder" data-cover-ratio="0.5" data-height="600" data-image="{{ static }}img/offer/realtors/auditory-1600x600.jpg"></div>
    <section class="with-padding-bottom">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <div class="row">
                    <h1>Прозрачность условий</h1>
                    <p class="h3">
                        Привлекательность объявлений больше не зависит от рейтингов,
                        всевозможных топов, аукционов, или скрытых доплат.
                        Единственными критериями, которые влияют на привлекательность объявления,
                        являются его местоположение, качество описания и лояльность аудитории
                        того или иного региона.
                    </p>
                </div>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                <div class="panel-group" id="offers-accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default panel-red">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#offers-accordion" href="#question_1" aria-expanded="false" aria-controls="question_1">
                                    Ведете ли Вы учет рейтинга риелторов/рекламодателей?
                                </a>
                            </h4>
                        </div>
                        <div id="question_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <b>Нет.</b> <br/>
                                На mappino нет рейтингов для риелторов и рекламодателей,
                                и мы не собираемся вводить их в будущем.
                                Каждый наш клиент, не зависимо то того, сколько он уже на сервисе,
                                разделяет с другими одинаковые условия рынка,
                                а единственным способом улучшить свои шансы является подача объявлений
                                с как можно более лаконичным и привлекательным описанием. <br/><br/>

                                Мы преследуем цель создать максимально удобные и понятные условия как для риелторов/рекламодателей,
                                так и для их клиентов.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default panel-blue">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#offers-accordion" href="#question_2" aria-expanded="false" aria-controls="question_2">
                                    Ведете ли Вы учет качества объявлений?
                                </a>
                            </h4>
                        </div>
                        <div id="question_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Да. <br/>
                                Объявления на сервисе проверяются сразу по нескольким критериям,
                                начиная от общих норм допустимости контента и до правдивости описания.
                                Кроме того, каждый пользователь, который просмотрел объявление,
                                имеет возможность пожаловаться на него, указав причину жалобы.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {# todo: тут запис про особисту сторінку рієлтора #}


    <div class="img-holder" data-cover-ratio="0.5" data-height="600" data-image="{{ static }}img/offer/realtors/tilt-shift-1600x600.jpg"></div>
    <section class="with-padding">
        <div class="row">
            <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                <div class="row">
                    <div class="col-sm-8">
                        <h1>Всегда на связи</h1>
                        <p class="h3">
                            Получайте уведомления от заинтересованных клиентов на электронную почту,
                            или прямо на телефон с помощью SMS. <br/><br/>
                            Ведите переписку с помощью привычной и удобной для Вас почтовой службы. <br/><br/>
                            Функция обратной связи даст вашим клиентам возможность быстро с Вами связаться
                            и мгновенно сообщит Вам о запросе обратного звонка или о новом сообщении.
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <div class="section-image text-center">
                            <img src="{{ static }}img/offer/realtors/mail.jpg" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {# todo: тут запис про автоматичну публікацію в соц. мережі та сайти-партнери #}


    <div class="img-holder" data-cover-ratio="0.5" data-height="600" data-image="{{ static }}img/offer/realtors/kiev-1600x600.jpg"></div>
    <section>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-lg-10 col-lg-offset-1 text-center">
                <div class="row">
                    <h1>Интуитивный интерфейс</h1>
                    <p>
                        Простое меню и удобный поиск быстро сориентируют Вас среди Ваших объявлений.
                        Ярлыки помогут структурировать их, а функция автоматического сохранения
                        обезопасит от случайной потери нескольких часов работы.
                        Статистика подскажет платежеспособность аудитории того или иного региона,
                        а удобный профиль поможет настроить все по своему вкусу.
                    </p>
                </div>
                <div class="row">
                    <img src="{{ static }}img/offer/realtors/admin.png" alt=""/>
                </div>
            </div>
        </div>
    </section>



    <div class="img-holder" data-cover-ratio="0.5" data-height="600" data-image="{{ static }}img/offer/realtors/street-1600x600.jpg"></div>
    <section class="with-padding-bottom">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <div class="row">
                    <h1>Вопрос - Ответ</h1>
                    <p class="h3">
                        В случае возникновения каких-либо трудностей в работе с нашим сервисом —
                        Вы всегда сможете бесплатно воспользоваться службой поддержки клиентов.
                        Все ваши запросы будут рассмотрены как можно быстрее и в частном порядке.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                    <div class="panel-group" id="questions-accordion" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-default panel-red">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#questions-accordion" href="#question_1" aria-expanded="false" aria-controls="question_1">
                                        Collapsible Group Item #1
                                    </a>
                                </h4>
                            </div>
                            <div id="question_1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, culpa?
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-blue">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#questions-accordion" href="#question_2" aria-expanded="false" aria-controls="question_2">
                                        Collapsible Group Item #2
                                    </a>
                                </h4>
                            </div>
                            <div id="question_2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, repellat.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-green">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#questions-accordion" href="#question_3" aria-expanded="false" aria-controls="question_3">
                                        Collapsible Group Item #3
                                    </a>
                                </h4>
                            </div>
                            <div id="question_3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, fugit?
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default panel-yellow">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#questions-accordion" href="#question_4" aria-expanded="false" aria-controls="question_4">
                                        Collapsible Group Item #4
                                    </a>
                                </h4>
                            </div>
                            <div id="question_4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, fugit?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="img-holder" data-cover-ratio="0.5" data-height="600" data-image="{{ static }}img/offer/realtors/street-1600x600.jpg"></div>
    <section class="with-padding-bottom">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <div class="row">
                    <h1>Отзывчивая поддержка</h1>
                    <p class="h3">
                        В случае возникновения каких-либо трудностей в работе с нашим сервисом —
                        Вы всегда сможете бесплатно воспользоваться службой поддержки клиентов.
                        Все ваши запросы будут рассмотрены как можно быстрее и в частном порядке.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-10 col-lg-offset-1 text-center">
                    <h1>Попробуйте сейчас</h1>
                    <p>
                        <a class="btn btn-success btn-xlg section-btn" href="/cabinet/">Перейти в личный кабинет</a>
                    <div class="hint">
                        Регистрация займет меньше 3х минут, мы обещаем.
                    </div>
                    </p>
                    <br/>
                    <h3>Остались вопросы?</h3>
                    <h3>Пишите нам на <a href="mailto:info@mappino.com">info@mappino.com</a></h3>
                </div>
            </div>
        </div>
    </section>
</div>


{% compress js %}
    <script type="text/javascript" src="{{ static }}js/offer/app.js"></script>
    <script type="text/javascript" src="{{ static }}js/offer/controllers/offer-controller.js"></script>
{% endcompress %}
</body>
</html>