<div class="modal restore-access-modal fade" ng-controller="RestoreAccessController">
    <div class="modal-dialog -blue">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ static }}img/login/login-reg-logo.png" alt=""/>
                <img class="close" src="{{ static }}img/login/login-reg-close.png" alt="" data-dismiss="modal"/>
            </div>
            <div class="modal-body modal-body-wtp">
                <div class="row" ng-switch on="restoreAccessStatePart">

                    <div class="col-sm-12 text-center" ng-switch-when="sendEmail" ng-controller="RestoreAccessSendMailController">
                        <p class="col-sm-8 col-sm-offset-2 text-justify">
                            Пожалуйста, введите номер моб. телефона или адрес эл. почты,
                            которыми Вы ранее пользовались для входа в учетную запись. <br/><br/>
                            После нажатия на кнопку "Восстановить доступ" на эл. почту, указанную в Вашей учетной записи,
                            будет выслано письмо с инструкциями по сбросу пароля.
                        </p>

                        <form action="" name="restoreAccessForm" novalidate>
                            <div class="col-sm-6 col-sm-offset-3 top-margin">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="login" placeholder="Моб телефон или Email" ng-model="user.login" autofocus required>

                                    <span class="input-icon">
                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.login.$error.required"
                                              data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>

                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.login.$error.login"
                                              data-toggle="tooltip" data-placement="right" title="Пользователя с такими данными нету"></span>

                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.login.$error.token"
                                              data-toggle="tooltip" data-placement="right" title="Запрос уже в очереди. Сообщение на почту отправлено повторно."></span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn -green -block" data-loading-text="Отправка данных..." ng-click="submitSendEmail()">Восстановить доступ</button>
                                </div>
                            </div>
                        </form>

                    </div>


                    <div class="col-sm-12 text-center" ng-switch-when="emailSendMessage">
                        <img src="{{ static }}img/login/email-sent.png" alt=""/>
                        <p class="col-sm-8 col-sm-offset-2 top-margin">
                            Сообщение с дальнейшими инструкциями успешно отправлено. Через несколько мгновений оно должно оказаться в Вашем ящике.
                        </p>
                    </div>


                    <div class="col-sm-12 text-center" ng-switch-when="invalidTokenMessage">
                        <img src="{{ static }}img/login/no-data.png" alt=""/>
                        <p class="col-sm-8 col-sm-offset-2 top-margin">
                            Похоже, что запроса на восстановление пароля с такими данными не было или его срок уже истек.
                        </p>
                    </div>


                    <div class="col-sm-12 text-center" ng-switch-when="changePassword" ng-controller="RestoreAccessChangePasswordController">
                        <h2>Восстановление пароля</h2>

                        <form action="" name="restoreAccessForm" novalidate>
                            <div class="col-sm-6 col-sm-offset-3 top-margin">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Новый пароль" ng-model="user.password" autofocus required>

                                    <span class="input-icon">
                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.password.$error.required"
                                              data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="passwordRepeat" placeholder="Еще разочек пароль" ng-model="user.passwordRepeat" required>

                                    <span class="input-icon">
                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.passwordRepeat.$error.required"
                                              data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>

                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.passwordRepeat.$error.passwords"
                                              data-toggle="tooltip" data-placement="right" title="Пароли не совпадают"></span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn -green -block" data-loading-text="Отправка данных..." ng-click="submitChangePassword()">Подтвердить</button>
                                </div>
                                <p class="top-margin">
                                    * после смены пароля сразу будет произведен автоматический вход.
                                </p>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>