<div class="modal fade" ng-controller="RestoreAccessCtrl">
    <div class="modal-dialog restore-access-dialog">
        <div class="modal-content content-blue">
            <div class="modal-header header-blue">
                <img src="{{ static }}img/login/login-reg-logo.png" alt=""/>
                <img class="close" src="{{ static }}img/login/login-reg-close.png" alt="" data-dismiss="modal"/>
            </div>
            <div class="modal-body modal-body-wtp">
                <div class="row" ng-switch on="restoreAccessStatePart">

                    <div class="col-sm-12 text-center" ng-switch-when="sendEmail" ng-controller="RestoreAccessSendMailCtrl">
                        <p class="col-sm-8 col-sm-offset-2 text-justify">
                            Пожалуйста, введите номер моб. телефона или адрес эл. почты,
                            которыми Вы ранее пользовались для входа в учетную запись. <br/><br/>
                            После нажатия кнопки "Восстановить доступ" на эл. почту, указанную в Вашей учетной записи,
                            будет выслано письмо с инструкциями по сбросу пароля.
                        </p>

                        <form action="" name="restoreAccessForm" novalidate>
                            <div class="col-sm-6 col-sm-offset-3 top-margin">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="login" placeholder="Моб телефон или Email" ng-model="user.login" required>

                                    <span class="input-icon">
                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.login.$error.required"
                                              data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>

                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.login.$error.login"
                                              data-toggle="tooltip" data-placement="right" title="Пользователя с такими данными нету"></span>

                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.login.$error.token"
                                              data-toggle="tooltip" data-placement="right" title="Запрос уже в очереди. Сообщение на почту отправлено повторно."></span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <div class="btn btn-success btn-block" data-loading-text="Отправка данных..." ng-click="submitSendEmail()">Восстановить доступ</div>
                                </div>
                                <a ng-href="http://habrahabr.ru/posts/collective/">habrahabr</a>
                            </div>
                        </form>

                    </div>



                    <div class="col-sm-12 text-center" ng-switch-when="emailSendMessage">
                        <p class="col-sm-8 col-sm-offset-2 text-justify">
                            письмо отправлено
                        </p>

                    </div>


                    <div class="col-sm-12 text-center" ng-switch-when="invalidToken">
                        <p class="col-sm-8 col-sm-offset-2 text-justify">
                            інвалідний токен
                        </p>

                    </div>



                    <div class="col-sm-12 text-center" ng-switch-when="changePassword" ng-controller="RestoreAccessChangePasswordCtrl">
                        <h2>Восстановление пароля</h2>
                        <h5>Войдите используя аккаунт mappino.</h5>

                        <form action="" name="restoreAccessForm" novalidate>
                            <div class="col-sm-6 col-sm-offset-3 top-margin">
                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" placeholder="Пароль" ng-model="user.password" required>

                                    <span class="input-icon">
                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.password.$error.required"
                                              data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" name="passwordRepeat" placeholder="Еще разочек пароль" ng-model="user.passwordRepeat" required>

                                    <span class="input-icon">
                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.passwordRepeat.$error.required"
                                              data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>

                                        <span class="input-icon-error" ng-show="showValidationMessages && restoreAccessForm.passwordRepeat.$error.passwords"
                                              data-toggle="tooltip" data-placement="right" title="Пароли не совпадают"></span>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <div class="btn btn-success btn-block" data-loading-text="Отправка данных..." ng-click="submitChangePassword()">Подтвердить</div>
                                </div>
                                <a ng-href="#!/account/registration/[[ urlFiltersPart ]]">Создать аккаунт</a>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
            <div class="modal-footer footer-blue"></div>
        </div>
    </div>
</div>

<script>
    $(".modal").modal();
</script>