<div class="modal fade" ng-controller="RegistrationCtrl">
    <div class="modal-dialog registration-dialog">
        <div class="modal-content content-blue">
            <div class="modal-header header-blue">
                <img src="{{ static }}img/login/login-reg-logo.png" alt=""/>
                <img class="close" src="{{ static }}img/login/login-reg-close.png" alt="" data-dismiss="modal"/>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-7 text-center">
                        <h2>Регистрация</h2>

                        <form action="" name="registrationForm">
                            <div class="col-sm-10 col-sm-offset-1">

                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Имя" name="firstName" ng-model="user.firstName" required>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Фамилия" name="lastName" ng-model="user.lastName">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Эл. почта" name="email" ng-model="user.email" required>
                                    <span class="input-icon text-success" ng-show="registrationForm.email.$valid" data-toggle="tooltip" data-placement="left" title="">
                                        <span class="glyphicon glyphicon-ok-sign"></span>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" ui-mask="+38 (099) 99 - 99 - 999" ng-model="user.phoneNumber">
                                    <span class="input-icon text-success">
                                        <span class="glyphicon glyphicon-ok-sign"></span>
                                    </span>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Пароль" ng-model="user.firstPassword">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Еще разочек пароль" ng-model="user.lastPassword">
                                </div>

                                <div class="form-group">
                                    <div class="btn btn-success btn-block" ng-click="submitRegistration()">Зарегистрироватся</div>
                                </div>
                                <a ng-href="#!/account/login/[[ urlFiltersPart ]]">Уже есть аккаунт?</a>
                            </div>
                        </form>

                    </div>
                    <div class="col-sm-5 text-center">
                        <div class="login-picture">
                            <img src="{{ static }}img/login/promo/login-favorites.png" alt=""/>
                        </div>
                        <p class="text-with-picture">
                            После входа, избранные обьявления станут доступны на других устройствах.
                            Это также касается контактов риелторов.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer-blue"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(".modal").modal();
</script>