<div class="modal fade" ng-controller="RegistrationCtrl">
    <div class="modal-dialog registration-dialog">
        <div class="modal-content content-blue">
            <div class="modal-header header-blue">
                <img src="{{ static }}img/login/login-reg-logo.png" alt=""/>
                <img class="close" src="{{ static }}img/login/login-reg-close.png" alt="" data-dismiss="modal"/>
            </div>
            <div class="modal-body">
                <div class="row" ng-switch on="registrationStatePart">
                    <div class="col-sm-7 text-center" ng-switch-when="registration" ng-controller="RegistrationUserCtrl">
                        <h2>Регистрация</h2>

                        <form action="" name="registrationForm" novalidate>
                            <div class="col-sm-10 col-sm-offset-1">

                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Имя" name="name" ng-model="user.name" required>

                                        <span class="input-icon">
                                            <span class="input-icon-error" ng-show="showValidationMessages && registrationForm.name.$error.required"
                                                  data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Фамилия" name="surname" ng-model="user.surname" required>

                                        <span class="input-icon">
                                            <span class="input-icon-error" ng-show="showValidationMessages && registrationForm.surname.$error.required"
                                                  data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>
                                        </span>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Эл. почта" name="email" ng-model="user.email" required>

                                    <span class="input-icon">
                                        <span class="input-icon-error" ng-show="showValidationEmail && registrationForm.email.$error.required"
                                              data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>

                                        <span class="input-icon-error" ng-show="showValidationEmail && registrationForm.email.$error.email"
                                              data-toggle="tooltip" data-placement="right" title="Некоректная эл. почта"></span>

                                        <span class="input-icon-error" ng-show="showValidationEmail && registrationForm.email.$error.free"
                                              data-toggle="tooltip" data-placement="right" title="Указанная эл. почта уже используется"></span>

                                        <span class="input-icon-ok" ng-show="showValidationEmail && !registrationForm.email.$error.isOk"></span>
                                    </span>
                                </div>


                                <div class="form-group">
                                    <input type="text" class="form-control" ui-mask="+38 (099) 99 - 99 - 999" name="phoneNumber" ng-model="user.phoneNumber" required>

                                    <span class="input-icon">
                                        <span class="input-icon-error" ng-show="showValidationPhone && registrationForm.phoneNumber.$error.required"
                                              data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>

                                        <span class="input-icon-error" ng-show="showValidationPhone && registrationForm.phoneNumber.$error.phone"
                                              data-toggle="tooltip" data-placement="right" title="Некоректный номер"></span>

                                        <span class="input-icon-error" ng-show="showValidationPhone && registrationForm.phoneNumber.$error.free"
                                              data-toggle="tooltip" data-placement="right" title="Указанный номер уже используется"></span>

                                        <span class="input-icon-error" ng-show="showValidationPhone && registrationForm.phoneNumber.$error.code"
                                              data-toggle="tooltip" data-placement="right" title="Некоректный код"></span>

                                        <span class="input-icon-ok" ng-show="showValidationPhone && !registrationForm.phoneNumber.$error.isOk"></span>
                                    </span>
                                </div>


                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Пароль" name="password" ng-model="user.password" required>

                                    <span class="input-icon">
                                        <span class="input-icon-error" ng-show="showValidationMessages && registrationForm.password.$error.required"
                                              data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>
                                    </span>
                                </div>


                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Еще разочек пароль" name="passwordRepeat" ng-model="user.passwordRepeat" required>

                                    <span class="input-icon">
                                        <span class="input-icon-error" ng-show="showValidationMessages && registrationForm.passwordRepeat.$error.required"
                                              data-toggle="tooltip" data-placement="right" title="Обязательное поле"></span>

                                        <span class="input-icon-error" ng-show="showValidationMessages && registrationForm.passwordRepeat.$error.match"
                                              data-toggle="tooltip" data-placement="right" title="Пароли не совпадают"></span>

                                        <span class="input-icon-ok" ng-show="registrationForm.passwordRepeat.$valid"></span>
                                    </span>
                                </div>


                                <div class="form-group">
                                    <div class="btn btn-success btn-block" data-loading-text="Отправка данных..." ng-click="submitRegistration()">Зарегистрироватся</div>
                                </div>
                                <a ng-href="#!/account/login/[[ urlFiltersPart ]]">Уже есть аккаунт?</a>
                            </div>
                        </form>

                    </div>

                    <div class="col-sm-7 text-center" ng-switch-when="codeCheck" ng-controller="RegistrationUserCodeCheckCtrl">
                        <div class="code-check-picture">
                            <img src="{{ static }}img/login/phone-sms.png" alt=""/>
                        </div>
                        <p>
                            На указанный Вами номер телефона отправлено SMS с кодом
                            подтверждения. Пожалуйста, укажите его в поле ниже.
                        </p>
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="form-group">
                                <input type="text" class="form-control text-center" placeholder="Код подтверждения" name="codeCheck" ng-model="codeCheck" required>

                                <span class="input-icon">
                                    <span class="input-icon-error" ng-show="incorrectCode" data-toggle="tooltip" data-placement="right"></span>
                                </span>
                            </div>
                            <div class="form-group">
                                <div class="btn btn-success btn-block" data-loading-text="Отправка данных..." ng-click="checkPhoneCode()">Подтвердить</div>
                            </div>
                            <a ng-href="#!/account/login/[[ urlFiltersPart ]]">Не пришло SMS?</a>
                        </div>
                    </div>

                    <div class="col-sm-5 text-center">
                        <div class="login-picture">
                            <img src="{{ static }}img/login/promo/login-favorites.png" alt=""/>
                        </div>
                        <p class="text-with-picture">
                            После входа, избранные обьявления станут доступны на других устройствах.
                            Это также касается контактов риелторов.
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer-blue"></div>
        </div>
    </div>
</div>

<script>
    $(".modal").modal();
</script>