
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins.less";


.image-upload-block {
    display: block;
    position: relative;
    min-height: 200px;

    cursor: pointer;

    border: 2px dashed @gray-lighter;
    border-radius: 10px;
    .transition(~"border-color 0.2s ease");

    &:hover,
    &.hover {
        border-color: darken(@gray-lighter, 10%);
    }

    .drop-zone-title {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;

        font-size: 20px;
        .translate(0, -50%);
    }


}

.uploaded-photo {
    .size(100%, 200px);
    position: relative;
    margin-top: 15px;
    padding: 7px;

    background: #f5f3f4;
    border: 1px solid @gray-lighter;
    border-radius: @border-radius-small;

    .uploaded-photo-controls {
        .size(calc(~"100% - 14px"), calc(~"100% - 14px"));
        position: absolute;
        top: 7px;
        left: 7px;
        text-align: center;
        .opacity(0);
        .transition(~"background-color 0.2s ease, opacity 0.2s ease");

        &:hover {
            background-color: rgba(0,0,0,0.2);
            .opacity(1);
        }

        .set-main-photo,
        .remove-photo {
            .square(50px);
            position: absolute;
            top: 50%;

            background-color: #ffffff;
            border: 1px solid @gray-light;
            border-radius: 50%;
            .translate(0, -50%);

            &:hover {
                .icon-remove:after {
                    .opacity(1);
                }
            }
        }
        .set-main-photo {
            left: 20%;
        }
        .remove-photo {
            right: 20%;
        }

        .icon-remove,
        .icon-main {
            .square(16px);
            margin-top: 5px;
            position: relative;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center top;

            &:after {
                content: " ";
                .square(16px;);
                position: absolute;
                top: 0;
                left: 0;

                background-repeat: no-repeat;
                background-position: center -16px;

                .opacity(0);
                .transition(~"opacity 0.2s ease");
            }
        }

        .icon-remove {
            background-image: url("../../img/cabinet/sidebar-item-detailed/trash.png");
            &:after {
                background-image: url("../../img/cabinet/sidebar-item-detailed/trash.png");
            }
        }
        .icon-main {
            background-image: url("../../img/cabinet/sidebar-item-detailed/trash.png");
            &:after {
                background-image: url("../../img/cabinet/sidebar-item-detailed/trash.png");
            }
        }
    }

    img {
        .square(100%)
    }
}

input[type='file'] {
    display: none;
}