
//
// Load core variables and mixins
// --------------------------------------------------

@import "../components/variables";
@import "../components/mixins";


html, body {
    .square(100%);
    min-height: 100%;
    min-width: 1000px;
}

body {
    @media (min-width: 1600px) {
        background: url("../../img/cabinet/bg.jpg");
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.wrapper {
    .square(100%);
    .opacity(0);

    @media (min-width: 1600px) {
        width: 85%;
        height: 100%;
        background: #ffffff;
        .center-block();
    }
}

.view {
    height: 100%;
    .box-shadow(~"0 0 3px #326448");
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}




@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}