{#
    Даний шаблон відправляється рієлтору на пошту
    в разі надходження запиту на зворотній дзвінок від зацікавленого клієнта з сайту.
#}
<div>
    Здравствуйте.<br/>
    Вам оставлен запрос на обратный звонок по номеру {{ phone_number }}
    касательно объявления
    <a href="{{ domain }}/cabinet/#!/publications/published/{{ publication.tid }}:{{ publication.hid }}/">
        {{ publication.title }}
    </a>:
    {% if client_name %}
        <br/>
        Контактное лицо — {{ client_name }}.
    {% endif %}
    <br/><br/>
    С уважением и пожеланием успехов,<br>
    команда mappino.
</div>