
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins.less";


.sidebar {
    width: 370px;

    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;

    background: white;
    .box-shadow(~"0 0 15px rgba(0, 0, 0, 0.4)");
}

.sidebar-header {
    display: block;

    .bwb-header {
        padding: 5px 10px !important;
        font-size: @font-size-h6;
    }

    .sidebar-header-city-search {
        display: block;
        height: 80px;

        padding: 20px 10px;

        background: white;
        text-align: center;

        .sidebar-city-input {
            border: none;
            .box-shadow(none);
        }
    }
}

.sidebar-body {
    display: block;
    height: ~"calc(100% - 165px)";

    position: relative;

    padding: 0px !important;

    .red-markers-panel-icon,
    .blue-markers-panel-icon,
    .green-markers-panel-icon,
    .yellow-markers-panel-icon,
    .favorites-markers-panel-icon {
        background-size: 31px 34px;
        background-position: right bottom;
        background-repeat: no-repeat;

        position: relative;
        cursor: pointer;

        &:after {
            content: " ";

            position: absolute;
            bottom: -8px;
            right: 0;

            width: 0;
            height: 0;

            border-top-style: solid;
            border-top-width: 8px;

            border-right: 8px solid transparent;
        }
    }

    .red-markers-panel-icon {
        background-image: url("../../img/main/sidebar/red-panel-marker.png");

        &:after {
            border-top-color: darken(@panel-danger-heading-bg, 25%);
        }
    }
    .blue-markers-panel-icon {
        background-image: url("../../img/main/sidebar/blue-panel-marker.png");

        &:after {
            border-top-color: darken(@panel-primary-heading-bg, 25%);
        }
    }
    .green-markers-panel-icon {
        background-image: url("../../img/main/sidebar/green-panel-marker.png");

        &:after {
            border-top-color: darken(@panel-success-heading-bg, 25%);
        }
    }
    .yellow-markers-panel-icon {
        background-image: url("../../img/main/sidebar/yellow-panel-marker.png");

        &:after {
            border-top-color: darken(@panel-warning-heading-bg, 25%);
        }
    }
    .favorites-markers-panel-icon {
        background-image: url("../../img/main/sidebar/panel-star.png");
        background-size: 35px 31px;

        &:after {
            border-top-color: #857858;
        }
    }

    .panel {
        margin-right: -8px;

        .panel-body {
            padding-top: 0px;
            padding-bottom: 0px;
            position: relative;
            overflow-y: hidden;
            padding-right: 23px;

            @media (min-height: 500px) and (max-height: 550px) {
                max-height: 150px;
            }
            @media (min-height: 550px) and (max-height: 600px) {
                max-height: 200px;
            }
            @media (min-height: 600px) and (max-height: 650px) {
                max-height: 250px;
            }
            @media (min-height: 650px) and (max-height: 700px) {
                max-height: 300px;
            }
            @media (min-height: 700px) and (max-height: 750px) {
                max-height: 350px;
            }
            @media (min-height: 750px) and (max-height: 800px) {
                max-height: 400px;
            }
            @media (min-height: 800px) and (max-height: 850px) {
                max-height: 450;
            }
            @media (min-height: 850px) and (max-height: 900px) {
                max-height: 500px;
            }
            @media (min-height: 900px) and (max-height: 950px) {
                max-height: 550px;
            }
            @media (min-height: 950px) and (max-height: 1000px) {
                max-height: 600px;
            }
            @media (min-height: 1000px) and (max-height: 1050px) {
                max-height: 650px;
            }

            .ps-scrollbar-y-rail {
                right: 10px;
            }

            > div > .form-horizontal {
                padding-top: 20px;
            }
        }
    }

    .section-header {
        padding-bottom: 5px;
        border-bottom: 1px solid @gray-lighter;
    }

    .form-group {
        margin-left: -5px;
        margin-right: -5px;
    }

    .without-margin-bottom {
        margin-bottom: 0;
    }

    .sidebar-loader {
        .size(100%, 64px);
        display: block;

        background: url("../../img/main/sidebar/ajax-loader.gif") center center no-repeat;
    }

    [class*='col-sm-'] {
        padding-left: 5px;
        padding-right: 5px;
    }

    .dropdown-toggle.selectpicker {
        border: 1px solid #cccccc !important;
    }
}


.realtor-sidebar {
    .sidebar-body {
        height: ~"calc(100% - 105px)";
    }


    .realtor {
        > img.photo {
            .square(120px);
            margin-top: 20px;
            border-radius: 50%;
            border: 1px solid @gray-lighter;
            .center-block();
        }

        > .name {
            margin-top: 10px;
            font-size: @font-size-h3;
        }
    }
}