//
// Materialize include
// --------------------------------------------------
@import "../_common/material/material";


$scroll-down-btn-begin-border-color:    rgba(138, 138, 138, 0.46);
$scroll-down-btn-end-border-color:      rgba(255, 255, 255, 0.76);
$scroll-down-btn-begin-bottom-position: 20px;
$scroll-down-btn-end-bottom-position:   17px;



.parallax-container {
    height: 400px;


    .scroll-down-btn {
        @include square(25px);

        position: absolute;
        bottom: $scroll-down-btn-begin-bottom-position;
        left: 50%;

        cursor: pointer;

        border-left: 4px solid $scroll-down-btn-begin-border-color;
        border-bottom: 4px solid $scroll-down-btn-begin-border-color;

        @include rotate(-45deg);
        @include animation(scroll-down-btn-animation 4s infinite);
    }
}


.header-links {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 10;

    a:not(.btn) {
        padding: 7px 14px;
        margin: 0 -1px 0 0;
        float: left;
        //line-height: 14px;

        color: rgba(255, 255, 255, 0.85) !important;
        //font-size: $font-size-base;
        text-decoration: none;

        border: 1px solid rgba(41, 73, 110, 0.4);

        @include transition(all 0.4s ease);

        //&:first-child {
        //    border-left: none;
        //}

        &:hover,
        &.active {
            color: #ffffff !important;
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}




@keyframes scroll-down-btn-animation {
    65% {
        border-color: $scroll-down-btn-begin-border-color;
        bottom: $scroll-down-btn-begin-bottom-position;
    }
    69% {
        border-color: $scroll-down-btn-end-border-color;
        bottom: $scroll-down-btn-end-bottom-position;
    }
    73% {
        border-color: $scroll-down-btn-begin-border-color;
        bottom: $scroll-down-btn-begin-bottom-position;
    }
    74% {
        border-color: $scroll-down-btn-begin-border-color;
        bottom: $scroll-down-btn-begin-bottom-position;
    }
    80% {
        border-color: $scroll-down-btn-end-border-color;
        bottom: $scroll-down-btn-end-bottom-position;
    }
    84% {
        border-color: $scroll-down-btn-begin-border-color;
        bottom: $scroll-down-btn-begin-bottom-position;
    }
}
@-webkit-keyframes scroll-down-btn-animation {
    65% {
        border-color: $scroll-down-btn-begin-border-color;
        bottom: $scroll-down-btn-begin-bottom-position;
    }
    69% {
        border-color: $scroll-down-btn-end-border-color;
        bottom: $scroll-down-btn-end-bottom-position;
    }
    73% {
        border-color: $scroll-down-btn-begin-border-color;
        bottom: $scroll-down-btn-begin-bottom-position;
    }
    74% {
        border-color: $scroll-down-btn-begin-border-color;
        bottom: $scroll-down-btn-begin-bottom-position;
    }
    80% {
        border-color: $scroll-down-btn-end-border-color;
        bottom: $scroll-down-btn-end-bottom-position;
    }
    84% {
        border-color: $scroll-down-btn-begin-border-color;
        bottom: $scroll-down-btn-begin-bottom-position;
    }
}