//
// Materialize include
// --------------------------------------------------
@import "../_common/materialize";


html,
body,
.wrapper {
    @include square(100%);
}

.wrapper {
    background-color: color("blue-grey", "lighten-4");


    .login-panel {
        @include size(400px, auto);
        padding: 30px 50px;
        margin: 0 auto;
        background-color: #fff;

        @extend .z-depth-1;
    }
}