//
// Load core variables and mixins
// --------------------------------------------------
@import "../../../components/bootstrap/variables";
@import "../../../components/bootstrap/mixins.less";


._over-map-control {
    .square(38px);
    position: absolute;

    z-index: 1010;
    cursor: pointer;

    text-decoration: none;

    .user-select(none);
    .box-shadow(~"0 0 15px rgba(0, 0, 0, 0.4)");
    .transition(~"all 0.2s ease");


    &.-white {
        color: #b0b0b0;
        background-color: #fff;

        &:hover {
            background-color: #f9f9f9;
        }
    }


    &.-blue {
        color: #fff;
        background-color: @blue-30;

        &:hover {
            background-color: #3286DC;
        }
    }
}