<div class="drop-container" ngf-drop ng-model="files" ngf-drag-over-class="dragover" ngf-multiple="true"
     ngf-allow-dir="true" accept="image/*" ngf-change="u_pubCtrl.uploadPublicationPhotos($files)">

    <div class="md-padding">
        <div class="drop-box" layout="column" layout-align="center center">

            <p>Перенесите сюда фото или видео файл</p>

            <md-button class="md-primary" ngf-select ng-model="files" ngf-multiple="true" accept="image/*" ngf-change="u_pubCtrl.uploadPublicationPhotos($files)">
                Вибрать файл
            </md-button>
        </div>
    </div>


    <div class="publication-photos-list">
        <div layout="column">
            <div layout="row" layout-wrap layout-padding>
                <div flex-gt-sm="50" ng-repeat="photo in publication.photos">
                    <div class="publication-photo" layout="column" layout-align="center center" ng-class="{ '-main': photo.is_title }">
                        <img ng-src="[[ photo.thumbnail_url ]]" alt=""/>

                        <md-progress-circular md-mode="indeterminate" ng-show="publicationPhotoLoader[photo.hash_id]"></md-progress-circular>

                        <md-fab-speed-dial class="md-fling" md-direction="left" ng-hide="publicationPhotoLoader[photo.hash_id]">
                            <md-fab-trigger>
                                <md-button aria-label="menu" class="md-fab md-mini grey lighten-2">
                                    <md-icon class="grey-text">menu</md-icon>
                                </md-button>
                            </md-fab-trigger>
                            <md-fab-actions>
                                <md-button aria-label="twitter" class="md-fab md-raised md-mini md-warn"
                                           ng-click="u_pubCtrl.removePublicationPhoto(photo.hash_id)">
                                    <md-icon>delete</md-icon>
                                </md-button>
                                <md-button aria-label="facebook" class="md-fab md-raised md-mini md-primary" ng-hide="photo.is_title"
                                           ng-click="u_pubCtrl.setTitlePhoto(photo.hash_id)">
                                    <md-icon>check</md-icon>
                                </md-button>
                            </md-fab-actions>
                        </md-fab-speed-dial>
                    </div>
                </div>

                <div flex-gt-sm="50" ng-repeat="tempPhoto in tempPublicationPhotos">
                    <div class="publication-photo" layout="column" layout-align="center center">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>