publication-preview {
    publication-preview-header {
        height: auto;
        min-height: 300px;
        max-height: 400px;
        position: relative;

        .publication-preview-carousel {
            @include size(100%, 100%);
            height: auto;
            min-height: 300px;
            max-height: 400px;

            &_slide-photo {
                @include square(100%);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }

        .publication-header-description {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            color: #fff;
            background-color: rgba(0, 0, 0, .2);
            text-shadow: 0 0 5px color('grey', 'darken-2'), 0 0 1px color('grey', 'darken-4');


            .publication-menu {
                position: absolute !important;
                right: 0;
                bottom: -30px;
            }

            .favorite-button {
                min-width: 48px !important;
            }
        }


        .fullscreen-slider-button,
        .close-publication-button {
            position: absolute;
            top: 0;
        }

        .fullscreen-slider-button {
            left: 0;
        }

        .close-publication-button {
            right: 0;
        }


        .slide-prev-button,
        .slide-next-button {
            position: absolute;
            top: 50%;
            @include translate(0, -50%);
        }

        .slide-prev-button {
            left: 0;
        }

        .slide-next-button {
            right: 0;
        }
    }
}