publication-preview {
    .publication-contacts {
        .avatar img {
            @include square(140px);
            border-radius: 50%;
        }
    }

    .animated {
        @include transition(opacity .5s ease);

        &.ng-hide {
            opacity: 0;
        }

        &.ng-show {
            opacity: 1;
        }
    }
}