md-datepicker {
    background: transparent !important;
    color: #fff !important;
    md-icon.md-blue-theme {
        color: #fff !important;
    }
    .md-datepicker-expand-triangle {
        border-top-color: #fff !important;
    }


}
.md-datepicker-input-mask-opaque {
    background: #2196f3 !important;
}