//
// Materialize include
// --------------------------------------------------
@import "../_common/material/materialize";


//
// Components include
// --------------------------------------------------
// fixed panels
@import "components/fixed-panels/_fixed-panel";
@import "components/fixed-panels/search-panel";
@import "components/fixed-panels/tabs-panel";
@import "components/fixed-panels/property-list-panel";



// sliding panels
@import "components/sliding-panels/left/_left-sliding-panel";
@import "components/sliding-panels/left/publication-panel";

@import "components/sliding-panels/right/_right-sliding-panel";
@import "components/sliding-panels/right/filters-panel";
@import "components/sliding-panels/right/favorites-panel";
@import "components/sliding-panels/right/auth-panel";



// drop panels
@import "components/drop-panels/menu-panel";
@import "components/drop-panels/user-panel";



//
// our styles
// --------------------------------------------------


html,
body,
md-content,
#map {
    @include square(100%);
    overflow: hidden;
}


.btn-floating.btn-large {
    position: fixed;
    bottom: 30px;
    right: 200px;
}


.pac-container {
    border-top: none;
    border-radius: 0 !important;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);

    > .pac-item {
        line-height: 48px;

        > .pac-icon {
            margin: 14px;
        }

        > .pac-item-query {
            margin-left: 12px;
            padding-right: 5px;
        }
    }

    &:after {
        border-radius: 0 !important;
    }
}