//
// Materialize include
// --------------------------------------------------
@import "../_common/material/material";


//
// Components include
// --------------------------------------------------
@import "../_common/components/ng-tiny-scrollbar";
@import "../_common/components/custom-marker";



// fixed panels
@import "components/fixed-panels/_fixed-panel";
@import "components/fixed-panels/b-navbar";
@import "components/fixed-panels/search-panel";
@import "components/fixed-panels/publications-list-panel";



// tabs
@import "components/tabs/filters-tab";
@import "components/tabs/favorites-tab";
@import "components/tabs/auth-tab";

@import "components/tabs/tab-body-collapsible";




@import "components/sliding-panels/_right-sliding-panel";
@import "components/sliding-panels/publication-view-panel";





//
// our styles
// --------------------------------------------------


html,
body,
main,
#map {
    @include square(100%);
    overflow: hidden;
}


.btn-floating.btn-large {
    position: fixed;
    bottom: 30px;
    right: 200px;
}


.pac-container {
    border-top: none;
    border-radius: 0 !important;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);

    > .pac-item {
        line-height: 48px;

        > .pac-icon {
            margin: 14px;
        }

        > .pac-item-query {
            margin-left: 12px;
            padding-right: 5px;
        }
    }

    &:after {
        border-radius: 0 !important;
    }
}