._sliding-panel {
    @include size(400px, 600px);

    position: absolute;
    top: 58px;
    right: 10px;

    z-index: 10;

    background: #fff;

    @extend .z-depth-1;


    &.opened {
        @include animation(bounceInRight 1s both);
    }
    &.closing {
        @include animation(bounceOutRight 1s both);
    }
    &.closed {
        @include translate3d(3000px, 0, 0);
    }


    > ._sliding-panel-header {
        @include size(100%, 48px);

        > .header-btn {
            @include square(48px);
            line-height: 48px;
            padding: 0;
            text-align: center;
            color: $primary-color;

            &.right {
                border-left: 1px solid color("blue-grey", "lighten-4");
            }

            > i {
                @include square(48px);
            }
        }
    }
}



@keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% { @include transition-timing-function(cubic-bezier(0.215, 0.610, 0.355, 1.000)); }
    0% {    @include translate3d(3000px, 0, 0); }
    60% {   @include translate3d(-25px, 0, 0); }
    75% {   @include translate3d(10px, 0, 0); }
    90% {   @include translate3d(-5px, 0, 0); }
    100% {  @include translate3d(0, 0, 0); }
}
@keyframes bounceOutRight {
    20% {   @include translate3d(-20px, 0, 0); }
    100% {  @include translate3d(2000px, 0, 0); }
}
