publication-view {
    @extend %_right-sliding-panel;

    right: -1000px;
    width: 600px;
    overflow: auto;

    background: #fff;
    @include transition(right .5s ease);

    @media (max-width: 600px) {
        width: 100% !important;
    }


    &.-opened {
        right: 0;
    }
    &.-closed {
        right: -1000px !important;
    }
    &.-with-navbar-right {
        right: 220px;

        @media (max-width: 825px) {
            width: auto;
            left: 0;
        }
    }


    .publication-view-container {
        min-height: 100%;

        .publication-error {
            background-color: #94d6d6;
        }
    }


    header {
        max-height: 400px;
        max-width: 100%;
        height:auto
        position: relative;

        .publication-preview-carousel {
            @include size(100%, 100%);

            img {

            }
        }

        .publication-header-description {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            color: #fff;
            background-color: rgba(0, 0, 0, .2);
            text-shadow: 0 0 5px color('grey', 'darken-2'), 0 0 1px color('grey', 'darken-4');


            .publication-menu {
                position: absolute !important;
                right: 0;
                bottom: -30px;
            }
        }


        .fullscreen-slider-button,
        .close-publication-button {
            position: absolute;
            top: 0;
        }

        .fullscreen-slider-button {
            left: 0;
        }

        .close-publication-button {
            right: 0;
        }


        .slide-prev-button,
        .slide-next-button {
            position: absolute;
            top: 50%;
            @include translate(0, -50%);
        }

        .slide-prev-button {
            left: 0;
        }

        .slide-next-button {
            right: 0;
        }
    }

    section {
        width: 100%;
        display: block;

        p {
            margin-top: 0;
        }
    }


    .publication-contacts {
        .avatar img {
            @include square(140px);
            border-radius: 50%;
        }
    }

    .animated {
        @include transition(opacity .5s ease);

        &.ng-hide {
            opacity: 0;
        }

        &.ng-show {
            opacity: 1;
        }
    }
}