publication-view {
    @extend %_right-sliding-panel;

    right: -1000px;
    width: 600px;
    overflow: auto;

    background: #fff;
    @include transition(right .5s ease);


    &.-opened {
        right: 0;
    }
    &.-closed {
        right: -1000px !important;
    }
    &.-with-navbar-right {
        right: 220px;
    }


    .publication-view-container {
        min-height: 100%;
        //@include square(100%);
    }


    header {
        min-height: 330px;
        position: relative;

        .publication-preview-carousel {
            @include size(100%, 330px);
        }

        .publication-view-image-overlay {
            @include square(100%);
            position: absolute;
            top: 0;
        }

        .publication-view-overlay-description {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;

            color: #fff;
            text-shadow: 0 0 5px color('grey', 'darken-2'), 0 0 1px color('grey', 'darken-4');


            .publication-menu {
                position: absolute !important;
                right: 0;
                bottom: -30px;
            }
        }


        .slide-prev,
        .slide-next {
            position: absolute;
            top: 50%;
            @include translate(0, -50%);
        }

        .slide-prev {
            left: 0;
        }

        .slide-next {
            right: 0;
        }
    }

    section {
        width: 100%;
        display: block;

        p {
            margin-top: 0;
        }
    }


    .publication-contacts {
        .avatar img {
            @include square(140px);
            border-radius: 50%;
        }
    }
}