.publication-view-panel {
    @extend %_right-sliding-panel;

    width: 600px;

    overflow: auto;

    background: #fff;


    .publication-view-body {
        @include square(100%);
        position: relative;
        display: block;

        .scroll-viewport {
            @include square(100%);
        }
    }


    header {
        height: 400px;
        position: relative;

        img {
            @include size(100%, 400px);
        }
    }

    section {
        width: 100%;
        display: block;
    }

    .property-view-img-overlay {
        @include square(100%);
        position: absolute;
        top: 0;
    }


    .publication-view-overlay-description {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        color: #fff;


        .publication-menu {
            position: absolute !important;
            right: 0;
            bottom: -30px;
        }
    }


    .slide-prev,
    .slide-next {
        position: absolute;
        top: 50%;
        @include translate(0, -50%);

        md-icon {
            @include square(48px);
        }
    }

    .slide-prev {
        left: 0;
    }
    
    .slide-next {
        right: 0;
    }
}