<div class="col-sm-12 col-lg-10 col-lg-offset-1" ng-init="initLoadFormScripts()">
    <form class="form-horizontal" name="form.publication" novalidate>

        <div class="row">
            <h3 id="new-pub-section">Объявление</h3>
            <div class="col-lg-12">
                <div class="checkbox">
                    <input id="p_for_sale" type="checkbox" name="for_sale" ng-model="publication.head.for_sale" ng-required="!publication.head.for_rent">
                    <label for="p_for_sale">О продаже</label>
                </div>
                <div class="checkbox">
                    <input id="p_for_rent" type="checkbox" name="for_rent" ng-model="publication.head.for_rent" ng-required="!publication.head.for_sale">
                    <label for="p_for_rent">Об аранде</label>
                </div>
                <span class="input-has-error" ng-show="(form.publication.for_sale.$invalid || form.publication.for_rent.$invalid) && showValidationMessages">Укажите, пожалуйста, тип сделки.</span>
            </div>
        </div>


        <div class="row" ng-show="publication.head.for_sale">
            <h3 id="for-sale-section">Условия продажи</h3>
            <div class="col-lg-12">

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span class="required-star">*</span>Цена:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="sale_price" ng-model="publication.sale_terms.price" allow-only-number ng-required="publication.head.for_sale"/>
                            <span class="input-has-error" ng-show="form.publication.sale_price.$error.required && showValidationMessages">Укажите, пожалуйста, цену.</span>
                            <span class="input-has-error" ng-show="form.publication.sale_price.$error.incorrect">Цена указана неверно.</span>
                        </div>
                        <div class="col-sm-4 col-lg-4">
                            <select name="sale_currency_sid" data-width="100%" ng-model="publication.sale_terms.currency_sid">
                                <option value="2">Гривен (₴)</option>
                                <option value="0">Дол. ($)</option>
                                <option value="1">Евро (€)</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="checkbox">
                                <input id="sale_is_contract" type="checkbox" name="sale_is_contract" ng-model="publication.sale_terms.is_contract">
                                <label for="sale_is_contract">Договорная</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <select name="sale_transaction_sid" data-width="100%" ng-model="publication.sale_terms.transaction_sid">
                                <option value="1">За м²</option>
                                <option value="0">За все</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Дополнительные условия, уточнения:</label>
                            <input type="text" class="form-control" name="sale_add_terms" ng-model="publication.sale_terms.add_terms">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" ng-show="publication.head.for_rent">
            <h3 id="for-rent-section">Условия аренды</h3>
            <div class="col-sm-12">

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span class="required-star">*</span>Срок:</label>
                        <div class="col-sm-8">
                            <select name="rent_period_sid" data-width="100%" ng-model="publication.rent_terms.period_sid">
                                <option value="0">Посуточно</option>
                                <option value="1">Помесячно</option>
                                <option value="2">Долгосрочная оренда</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-4 control-label"><span class="required-star">*</span>Цена:</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="rent_price" ng-model="publication.rent_terms.price" allow-only-number ng-required="publication.head.for_rent"/>
                            <span class="input-has-error" ng-show="form.publication.rent_price.$error.required && showValidationMessages">Укажите, пожалуйста, цену.</span>
                            <span class="input-has-error" ng-show="form.publication.rent_price.$error.incorrect">Цена указана неверно.</span>
                        </div>
                        <div class="col-sm-4">
                            <select name="rent_currency_sid" data-width="100%" ng-model="publication.rent_terms.currency_sid">
                                <option value="2">Гривен (₴)</option>
                                <option value="0">Дол. ($)</option>
                                <option value="1">Евро (€)</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <div class="checkbox">
                                <input id="rent_is_contract" name="rent_is_contract" type="checkbox" ng-model="publication.rent_terms.is_contract">
                                <label for="rent_is_contract">Договорная</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Дополнительные условия, уточнения:</label>
                            <input type="text" class="form-control" name="rent_add_terms" ng-model="publication.rent_terms.add_terms">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <h3 id="pub-desc-section">Описание обьекта</h3>
            <div class="col-sm-12">
                <div class="form-group">
                    <label><span class="required-star">*</span>Заголовок обьявления:</label>
                    <input type="text" class="form-control" name="title" ng-model="publication.body.title" required>
                    <span class="input-has-error" ng-show="form.publication.title.$error.required && showValidationMessages">Укажите, пожалуйста, заголовок.</span>
                    <span class="input-has-error" ng-show="form.publication.title.$error.incorrect">Заголовок указан неверно.</span>
                </div>

                <div class="form-group">
                    <label><span class="required-star">*</span>Рекламний текст:</label>
                    <textarea class="form-control" rows="3" name="description" ng-model="publication.body.description" required></textarea>
                    <span class="input-has-error" ng-show="form.publication.description.$error.required && showValidationMessages">Укажите, пожалуйста, рекламний текст.</span>
                    <span class="input-has-error" ng-show="form.publication.description.$error.incorrect">Рекламний текст указан неверно.</span>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-6 col-lg-4 control-label"><span class="required-star">*</span>Тип рынка:</label>
                        <div class="col-sm-6">
                            <select name="market_type_sid" data-width="100%" ng-model="publication.body.market_type_sid">
                                <option value="0">Новостройка</option>
                                <option value="1">Вторичный рынок</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-6 col-lg-4 control-label"><span class="required-star">*</span>Площадь гаража:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" name="area" ng-model="publication.body.area" allow-only-number required>
                                <span class="input-group-addon">м<sup>2</sup></span>
                            </div>
                            <span class="input-has-error" ng-show="form.publication.area.$error.required && showValidationMessages">Укажите, пожалуйста, площадь гаража.</span>
                            <span class="input-has-error" ng-show="form.publication.area.$error.incorrect">Площадь гаража указана неверно.</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group without-margin-bottom">
                        <label class="col-sm-6 col-lg-4 control-label"><span class="required-star">*</span>Высота потолка:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="ceiling_height" ng-model="publication.body.ceiling_height" allow-only-number required>
                            <span class="input-has-error" ng-show="form.publication.ceiling_height.$error.incorrect">Высота потолка указана неверно.</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-6 col-lg-6 col-sm-offset-6 col-lg-offset-4">
                            <div class="checkbox">
                                <input id="pit" type="checkbox" name="pit" ng-model="publication.body.pit">
                                <label for="pit">Яма</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-6 col-lg-4 control-label"><span class="required-star">*</span>Подъездные пути:</label>
                        <div class="col-sm-6">
                            <select name="driveways_sid" data-width="100%" ng-model="publication.body.driveways_sid">
                                <option value="1">Грунт</option>
                                <option value="0">Асфальт</option>
                                <option value="2">Не известно</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <h3 id="pub-fac-section">Удобства</h3>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6 col-lg-4 form-group">
                        <div class="checkbox">
                            <input id="electricity" type="checkbox" name="electricity" ng-model="publication.body.electricity">
                            <label for="electricity">Электричество</label>
                        </div>
                        <div class="checkbox">
                            <input id="gas" type="checkbox" name="gas" ng-model="publication.body.gas">
                            <label for="gas">Газ</label>
                        </div>
                        <div class="checkbox">
                            <input id="ventilation" type="checkbox" name="ventilation" ng-model="publication.body.ventilation">
                            <label for="ventilation">Вентиляция</label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 form-group">
                        <div class="checkbox">
                            <input id="hot_water" type="checkbox" name="hot_water" ng-model="publication.body.hot_water">
                            <label for="hot_water">Горячая вода</label>
                        </div>
                        <div class="checkbox">
                            <input id="cold_water" type="checkbox" name="cold_water" ng-model="publication.body.cold_water">
                            <label for="cold_water">Холодная вода</label>
                        </div>
                        <div class="checkbox">
                            <input id="security" type="checkbox" name="security" ng-model="publication.body.security">
                            <label for="security">Охрана</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 form-group">
                        <div class="checkbox">
                            <input id="security_alarm" type="checkbox" name="security_alarm" ng-model="publication.body.security_alarm">
                            <label for="security_alarm">Охранная сигнализация</label>
                        </div>
                        <div class="checkbox">
                            <input id="fire_alarm" type="checkbox" name="fire_alarm" ng-model="publication.body.fire_alarm">
                            <label for="fire_alarm">Пожарная сигнализация</label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <label>Другие удобства, уточнения:</label>
                    <input type="text" class="form-control" name="add_facilities" ng-model="publication.body.add_facilities">
                </div>
            </div>
        </div>


        <div class="row">
            <h3 id="pub-place-section">Местоположение</h3>
            <div class="col-sm-12">
                <ng-include src="'/ajax/template/cabinet/publications/unpublished/map/'"></ng-include>
            </div>
        </div>


        <div class="row">
            <h3 id="pub-photo-section">Изображения</h3>
            <div class="col-lg-12">
                <ng-include src="'/ajax/template/cabinet/publications/unpublished/photos/'"></ng-include>
            </div>
        </div>


        <div class="row" ng-show="tags.length">
            <h3 id="pub-tags-section">Ярлыки</h3>
            <div class="col-sm-6 col-lg-4 form-group">
                <div class="checkbox" ng-repeat="tag in tags" ng-if="$even">
                    <input id="[[ tag.id ]]" type="checkbox" name="tag" ng-model="publication.tags[tag.id]" ng-click="tagCheckboxChange($event)">
                    <label for="[[ tag.id ]]">[[ tag.title ]]</label>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 form-group">
                <div class="checkbox" ng-repeat="tag in tags" ng-if="$odd">
                    <input id="[[ tag.id ]]" type="checkbox" name="tag" ng-model="publication.tags[tag.id]" ng-click="tagCheckboxChange($event)">
                    <label for="[[ tag.id ]]">[[ tag.title ]]</label>
                </div>
            </div>
        </div>
    </form>
</div>