<section class="md-padding">
    <div class="md-subhead blue-text">Характеристики</div>
    <md-divider></md-divider>
    <div layout="row" layout-padding>
        <div flex="45">
            <div layout="row">
                <div flex="40">
                    <div>Тип рынка:</div>
                </div>
                <div flex="60">
                    <div>[[ publication.market_type ]]</div>
                </div>
            </div>
            <div layout="row">
                <div flex="40">
                    <div>Тип дома:</div>
                </div>
                <div flex="60">
                    <div>[[ publication.building_type ]]</div>
                </div>
            </div>

            <div layout="row">
                <div flex="40">
                    <div>Этаж:</div>
                </div>
                <div flex="60">
                    <div>[[ publication.floor ]]</div>
                </div>
            </div>
            <div layout="row">
                <div flex="40">
                    <div>Этажей:</div>
                </div>
                <div flex="60">
                    <div>[[ publication.floors_count ]]</div>
                </div>
            </div>
            <div layout="row">
                <div flex="40">
                    <div>Состояние:</div>
                </div>
                <div flex="60">
                    <div>[[ publication.condition ]]</div>
                </div>
            </div>
        </div>
        <div flex="55">
            <div layout="row">
                <div flex="70">
                    <div>Общая площадь:</div>
                </div>
                <div flex="30">
                    <div>[[ publication.total_area ]]</div>
                </div>
            </div>
            <div layout="row">
                <div flex="70">
                    <div>Жилая площадь:</div>
                </div>
                <div flex="30">
                    <div>[[ publication.living_area ]]</div>
                </div>
            </div>
            <div layout="row">
                <div flex="70">
                    <div>Площадь кухни:</div>
                </div>
                <div flex="30">
                    <div>[[ publication.kitchen_area ]]</div>
                </div>
            </div>
            <div layout="row">
                <div flex="70">
                    <div>Количество комнат:</div>
                </div>
                <div flex="30">
                    <div>[[ publication.rooms_count ]]</div>
                </div>
            </div>
            <div layout="row">
                <div flex="70">
                    <div>Планировка комнат:</div>
                </div>
                <div flex="30">
                    <div>[[ publication.rooms_planning ]]</div>
                </div>
            </div>
        </div>
    </div>

    <div class="md-subhead blue-text">Описание</div>
    <md-divider></md-divider>
    <p layout-padding>
        [[ publication.description ]]
    </p>

    <div ng-show="publication.facilities">
        <div class="md-subhead blue-text">Удобства</div>
        <md-divider></md-divider>
        <p layout-padding>
            [[ publication.facilities ]]
        </p>
    </div>

    <div ng-show="publication.communications">
        <div class="md-subhead blue-text">Коммуникации</div>
        <md-divider></md-divider>
        <p layout-padding>
            [[ publication.communications ]]
        </p>
    </div>

    <div ng-show="publication.buildings">
        <div class="md-subhead blue-text">Дополнительные постройки</div>
        <md-divider></md-divider>
        <p layout-padding>
            [[ publication.buildings ]]
        </p>
    </div>



    <div class="md-subhead blue-text">Контакти</div>
    <md-divider></md-divider>
    <div layout="column" layout-padding ng-show="publication.contacts">
        <div class="publication-contacts" layout="row" layout-padding ng-hide="messageFormIsVisible || callRequestFormIsVisible">
            <div class="avatar" flex="45" layout="column" layout-align="center center">
                <img ng-src="[[ publication.contacts.avatar_url ]]" alt="" on-error-src="{{ static }}build/images/cabinet/user.png" ng-show="publication.contacts.avatar_url" />
                <img src="{{ static }}build/images/cabinet/user.png" ng-hide="publication.contacts.avatar_url" alt="" />
            </div>
            <div flex="55" layout="column">
                <div class="md-title grey-text text-darken-2" layout-padding ng-show="publication.contacts.first_name || publication.contacts.last_name">
                    [[ publication.contacts.first_name + '&nbsp;' ]][[ publication.contacts.last_name ]]
                </div>
                <div layout-padding>
                    <div ng-show="publication.contacts.mobile_phone">
                        <a ng-href="tel:[[ publication.contacts.mobile_phone ]]">[[ publication.contacts.mobile_phone ]]</a>
                    </div>
                    <div ng-show="publication.contacts.add_mobile_phone">
                        <a ng-href="tel:[[ publication.contacts.add_mobile_phone ]]">[[ publication.contacts.add_mobile_phone ]]</a>
                    </div>
                    <div ng-show="publication.contacts.landline_phone">[[ publication.contacts.landline_phone ]]</div>
                    <div ng-show="publication.contacts.add_landline_phone">[[ publication.contacts.add_landline_phone ]]</div>
                    <div ng-show="publication.contacts.email">
                        <a ng-href="mailto:[[ publication.contacts.email ]]">[[ publication.contacts.email ]]</a>
                    </div>
                    <div ng-show="publication.contacts.skype">
                        <a ng-href="skype:[[ publication.contacts.skype ]]?call">[[ publication.contacts.skype ]]</a>
                    </div>
                </div>
            </div>
        </div>

        <form name="forms.publicationMessage" novalidate layout="column" ng-show="messageFormIsVisible">
            <div layout="row">
                <md-input-container flex="40">
                    <label>Имя</label>
                    <input name="userName" type="text" ng-model="message.userName" required>
                    <div ng-messages="forms.publicationMessage.userName.$error" ng-show="forms.publicationMessage.userName.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <md-input-container flex="60">
                    <label>Эл. почта</label>
                    <input name="email" type="email" ng-model="message.email" required>
                    <div ng-messages="forms.publicationMessage.email.$error" ng-show="forms.publicationMessage.email.$touched">
                        <div ng-message="required">Обязательное поле</div>
                        <div ng-message="email">Некоректная эл. почта</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Текст сообщения</label>
                    <textarea name="text" columns="1" ng-model="message.text" required></textarea>
                    <div ng-messages="forms.publicationMessage.text.$error" ng-show="forms.publicationMessage.text.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-button class="md-primary" flex ng-click="pubCtrl.toggleMessageForm()">
                    Отмена
                </md-button>
                <md-button class="md-raised md-primary" flex ng-click="pubCtrl.sendMessage()">
                    Отправить
                </md-button>
            </div>
        </form>

        <form name="forms.publicationCallRequest" novalidate layout="column" ng-show="callRequestFormIsVisible">
            <div layout="row">
                <md-input-container flex="40">
                    <label>Имя</label>
                    <input name="userName" type="text" ng-model="callRequest.userName" required>
                    <div ng-messages="forms.publicationCallRequest.userName.$error" ng-show="forms.publicationCallRequest.userName.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <md-input-container flex="60">
                    <label>Моб. телефон</label>
                    <input name="phoneNumber" type="text" ng-model="callRequest.phoneNumber" only-number required>
                    <div ng-messages="forms.publicationCallRequest.phoneNumber.$error" ng-show="forms.publicationCallRequest.phoneNumber.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-button class="md-primary" flex ng-click="pubCtrl.toggleCallRequestForm()">
                    Отмена
                </md-button>
                <md-button class="md-raised md-primary" flex ng-click="pubCtrl.sendCallRequest()">
                    Отправить
                </md-button>
            </div>
        </form>

        <div layout="row" ng-hide="messageFormIsVisible || callRequestFormIsVisible">
            <md-button class="md-raised md-primary" flex ng-show="publication.contacts.allow_call_requests" ng-click="pubCtrl.toggleCallRequestForm()">
                Заказать обратный звонок
            </md-button>
            <md-button class="md-raised md-primary" flex ng-show="publication.contacts.allow_messaging" ng-click="pubCtrl.toggleMessageForm()">
                Оставить сообщение
            </md-button>
        </div>
    </div>
</section>