<!DOCTYPE html>
<html ng-app="Mappino.Home">
<head>
    <title>О сервисе - Mappino</title>
    <meta name="verify-reformal" content="a136a27e8d6dc3e9909629f0"/>

    {% compress css %}
        <link rel="stylesheet" href="{{ static }}css/home/home.min.css"/>
    {% endcompress %}


    <script src="http://yandex.st/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://yandex.st/modernizr/2.7.1/modernizr.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
    <script src="http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="http://yandex.st/angularjs/1.2.16/angular.min.js"></script>

    {% compress js %}
        <script type="text/javascript" src="{{ static }}js/libs/jquery.imageScroll.min.js"></script>
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{{ static }}js/libs/bootstrap-select-1.5.4.min.js"></script>
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{{ static }}js/home/home.js"></script>
    {% endcompress %}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-26396742-1', 'mappino.com.ua');
        ga('send', 'pageview');
    </script>
</head>
<body>

    <div class="wrapper">

        <div class="header-links">
            <div class="row">
                <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                    <a href="/home/realtors/" class="pull-right">Войти</a>
                    <a href="/home/" class="pull-right">Регистрация</a>
                </div>
            </div>
        </div>



        <div class="img-holder" data-cover-ratio="0.9" data-image="{{ static }}img/home/kiev-bg-medium.jpg">
            <div class="image-caption">
                <div class="brand">mappino</div>
                <div class="slogan">Возможно, самый удобный поисковик недвижимости</div>
            </div>
        </div>
        <section class="light-gray home-filters-pattern" ng-controller="FiltersCtrl">
            <div class="row">
                <div class="col-lg-12 col-lg-10 col-lg-offset-1">
                    <div class="home-filters">
                        <h3 class="text-center margin-md">Я ищу</h3>
                        <div class="text-center">
                            <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                                <select class="type-selectpicker" name="r_type_sid" data-width="100%">
                                    <option value="">Виберите тип</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 col-md-offset-3">
                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn btn-lg btn-success active">
                                        <input type="radio" name="operatio" id="for_sale" checked>На продажу
                                    </label>
                                    <label class="btn btn-lg btn-success">
                                        <input type="radio" name="operatio" id="for_rent">В аренду
                                    </label>
                                    <label class="btn btn-lg btn-success">
                                        <input type="radio" name="operatio" id="daily">Посуточно
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-md-offset-3">
                                <input class="form-control input-lg" type="text"/>
                                <div class="help-text text-center text-muted"><i>Например, <u>Черновцы</u> или <u>Черновицкая область</u></i></div>
                            </div>
                            <div ng-include="'ajax/template/main/home/types/'"></div>
                            <div ng-include="'ajax/template/main/home/suggests/'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="img-holder" data-cover-ratio="0.5" data-height="600" data-image="{{ static }}img/home/home-bg-2.jpg"></div>
        <section class="with-padding">
            <div class="row">
                <div class="col-sm-12 col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2 class="with-margin-bottom">Знакомый регион</h2>
                            <p>
                                Искать недвижимость на карте гораздо удобнее и быстрее.
                                Так у Вас появляеться возможность в первую очередь просматривать предложения из интересных Вам регионов.
                                Например:
                            </p>

                            <div class="row with-margin">
                                <div class="col-xs-1 text-right">
                                    <span class="icon-lightbulb x4 blue margin-left"></span>
                                </div>
                                <div class="col-xs-11">
                                    <p>
                                        Вы можете начать поиск новой квартиры в знакомом Вам регионе или вблизи от работы.
                                    </p>
                                </div>
                            </div>

                            <div class="row with-margin">
                                <div class="col-xs-1 text-right">
                                    <span class="icon-lightbulb x3 left-10 light-gray margin-left"></span>
                                </div>
                                <div class="col-xs-11">
                                    <p>
                                        Или подыскать новый офис вблизи от станции метро или остановки общественного транспорта.
                                    </p>
                                </div>
                            </div>

                            <div class="row with-margin">
                                <div class="col-xs-1 text-right">
                                    <span class="icon-lightbulb x5 right-10 yellow margin-left"></span>
                                </div>
                                <div class="col-xs-11">
                                    <p>
                                        Отправляясь в командировку в незнакомый город Вам будет намного легче найти жилье вблизи от
                                        предполагаемого места работы зная всего лишь название улицы.
                                    </p>
                                </div>
                            </div>

                            <div class="row with-margin">
                                <div class="col-xs-1 text-right">
                                    <span class="icon-lightbulb x4 left-20 light-gray margin-left"></span>
                                </div>
                                <div class="col-xs-11">
                                    <p>
                                        А отправляясь на экскурсию во Львов, Ужгород или любой другой турристический город или городок
                                        Вы сможете найти посутчное жилье вблизи от найболее интересных Вам объектов.
                                    </p>
                                    <div class="text-center with-padding-top">
                                        <a class="btn btn-success btn-lg section-btn" href="/search">Попробовать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="section-image">
                                <img src="{{ static }}img/home/tablet.jpg" alt=""/>

                                <div class="tablet-marker m-1 animated"></div>
                                <div class="tablet-marker m-2 animated"></div>
                                <div class="tablet-marker m-3 animated"></div>
                                <div class="tablet-marker m-4 animated"></div>
                                <div class="tablet-marker m-5 animated"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="img-holder" data-cover-ratio="0.5" data-height="600" data-image="{{ static }}img/home/home-bg-1.jpg"></div>
        <section>
            <div class="row">
                <div class="col-sm-12 col-lg-10 col-lg-offset-1 text-center">
                    <div class="row">
                        <h2 class="with-margin">Экономьте время</h2>

                        <div class="col-xs-1 col-xs-offset-1">
                            <div class="col-xs-2 text-right">
                                <span class="icon-lightbulb x8 left-10 orange margin-top-right"></span>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <p>
                                Чтобы просматривать объявления было немного удобнее мы придумали сопособ как
                                отделить разнотипные предложения между собой — маркеры разных цветов.
                                В Вашем распоряжении 4 цвета которыми Вы можете обозначить маркеры
                                самых разных критериев и скомбинировать самые разные условия. Например:
                            </p>
                            <p>
                                Вы можете одновременно просматривать предложения о квартирах, домах,
                                и комнатах, которые сдаються посуточно, назначив каждому типу свой цвет.
                            </p>
                            <p>
                                Или, если Вас интересует только  определенный тип недвижимости — Вы можете
                                разделить предлагаемые объявления по ценовому диапазону: до определенной
                                суммы — один цвет маркера, больше — другой.
                            </p>
                        </div>
                        <div class="col-xs-2">
                            <div class="col-xs-2 text-right">
                                <span class="icon-lightbulb x12 right-10 green margin-top-left"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <img src="{{ static }}img/home/browser.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </section>


        <div class="img-holder" data-cover-ratio="0.5" data-height="600" data-image="{{ static }}img/home/home-bg-3.jpg"></div>
        <section class="with-padding-bottom">
            <div class="row">
                <div class="col-sm-12 col-lg-10 col-lg-offset-1 text-center">
                    <h2 class="with-margin">Попробуйте сейчас</h2>
                    <p>
                        <a class="btn btn-success btn-lg section-btn" href="/search">Начать поиск</a>
                        <br/>
                        <a class="btn btn-primary btn-lg section-btn" href="/cabinet">Подать обьявление</a>
                    </p>

                    <div class="col-xs-6 col-xs-offset-3">
                        <p>
                            Любые два обьявления в месяц - бесплатно. Всегда. <br/>
                            <a href="/home/realtors">Больше информации для риелторов и рекламодателей.</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </div>


    {% compress js %}
        <script type="text/javascript" src="{{ static }}js/home/app.js"></script>

        <script type="text/javascript" src="{{ static }}js/home/directives/filtersDirective.js"></script>

        <script type="text/javascript" src="{{ static }}js/home/controllers/filtersCtrl.js"></script>
    {% endcompress %}

</body>
</html>