<div class="briefs-page" ng-controller="BriefsController as briefsCtrl">
    <div class="brief brief-new-publication medium center-block center-align">
        <div class="brief-content">
            <div class="row">
                <div class="col-s12 grey-text text-darken-2">
                    <h4>Добавить новое объявление</h4>
                </div>
            </div>

            <div class="row">
                <div class="col s6 offset-s3">
                    <select ng-model="new_publication.tid" ng-options="realtyType.id as realtyType.title for realtyType in realtyTypes">
                        <option value="" selected>Виберите тип объявления</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col s4 offset-s2">
                    <input type="checkbox" id="sale" ng-model="new_publication.for_sale" />
                    <label for="sale">Продажа</label>
                </div>
                <div class="col s4">
                    <input type="checkbox" id="rent" ng-model="new_publication.for_rent" />
                    <label for="rent">Аренда</label>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <a class="waves-effect waves-light btn teal lighten-1" ng-click="briefsCtrl.createPublication()">
                        <i class="mdi-content-add left"></i>Создать объявление
                    </a>
                </div>
            </div>
        </div>
    </div>



    <div class="brief medium center-block" ng-repeat="brief in briefs">
        <div class="brief-image">
            <img src="http://lorempixel.com/700/380/city" class="responsive-img">
            <span class="brief-title">Brief Title</span>
        </div>
        <div class="brief-content">
            <div class="brief-status published">
                <i class="mdi-action-done left"></i>Опубликовано
            </div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad aliquid aspernatur expedita quidem quis sed! Atque dolore nisi vitae.
        </div>
        <div class="brief-footer right-align">
            <a href ui-sref="publication_edit({ id: '2' })">Редактировать</a>
            <a href ui-sref="publication_view({ id: '2' })" >Просмотреть</a>
        </div>
    </div>
</div>

