<div ng-switch="publicationViewFooterState">
    <div ng-switch-when="contacts">
        <div class="md-subhead blue-text">Контакты</div>
        <md-divider></md-divider>
        <div layout="column" layout-padding>
            <div class="publication-contacts" layout-gt-sm="row" layout-sm="column" layout-padding>
                <div class="avatar" flex-sm="100" flex-gt-sm="45" layout="column" layout-align="center center">
                    <img ng-src="[[ publication.contacts.avatar_url ]]" alt="" on-error-src="{{ static }}build/images/common/no-user.png"
                         ng-if="publication.contacts.avatar_url" />
                    <img src="{{ static }}build/images/common/no-user.png" ng-if="!publication.contacts.avatar_url" alt="" />
                </div>
                <div flex-sm="100" flex-gt-sm="55" layout="column">
                    <div class="md-title grey-text text-darken-2" layout-padding ng-if="publication.contacts.first_name || publication.contacts.last_name">
                        [[ publication.contacts.first_name + '&nbsp;' ]][[ publication.contacts.last_name ]]
                    </div>
                    <div ng-if="!( publication.contacts.first_name || publication.contacts.last_name )" >Продавец не указал имени.</div>
                    <div layout-padding>

                        <div ng-if="publication.contacts.mobile_phone">
                         <div class="md-body-1">Моб. телефон:</div>
                            <a ng-href="tel:[[ publication.contacts.mobile_phone ]]">[[ publication.contacts.mobile_phone ]]</a>
                        </div>
                        <div ng-if="publication.contacts.add_mobile_phone">
                          <div class="md-body-1">Доп. моб. телефон:</div>
                            <a ng-href="tel:[[ publication.contacts.add_mobile_phone ]]">[[ publication.contacts.add_mobile_phone ]]</a>
                        </div>
                        <div ng-if="publication.contacts.landline_phone">
                           <div class="md-body-1">Раб. телефон:</div> [[ publication.contacts.landline_phone ]]</div>
                        <div ng-if="publication.contacts.add_landline_phone">
                           <div class="md-body-1">Доп. раб. телефон:</div> [[ publication.contacts.add_landline_phone ]]</div>
                        <div ng-if="publication.contacts.email">
                           <div class="md-body-1">E-mail:</div>
                            <a ng-href="mailto:[[ publication.contacts.email ]]">[[ publication.contacts.email ]]</a>
                        </div>
                        <div ng-if="publication.contacts.skype">
                           <div class="md-body-1">Skype:</div>
                            <a ng-href="skype:[[ publication.contacts.skype ]]?call">[[ publication.contacts.skype ]]</a>
                        </div>
                    </div>
                </div>
            </div>

            <div layout="row">
                <md-button class="md-raised md-primary" flex ng-if="publication.contacts.allow_call_requests" ng-click="pubCtrl.toggleCallRequestForm()">
                    Заказать обратный звонок
                </md-button>
                <md-button class="md-raised md-primary" flex ng-if="publication.contacts.allow_messaging" ng-click="pubCtrl.toggleMessageForm()">
                    Оставить сообщение
                </md-button>
            </div>
        </div>
    </div>

    <div ng-switch-when="sendMessage">
        <div class="md-subhead blue-text">Отправка сообщения</div>
        <md-divider></md-divider>
        <form novalidate class="animated" name="forms.publicationMessage" layout="column" layout-padding>
            <div layout="row">
                <md-input-container flex="40">
                    <label>Имя</label>
                    <input name="userName" type="text" ng-model="message.userName" required>
                    <div ng-messages="forms.publicationMessage.userName.$error" ng-show="forms.publicationMessage.userName.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <md-input-container flex="60">
                    <label>Эл. почта</label>
                    <input name="email" type="email" ng-model="message.email" required>
                    <div ng-messages="forms.publicationMessage.email.$error" ng-show="forms.publicationMessage.email.$touched">
                        <div ng-message="required">Обязательное поле</div>
                        <div ng-message="email">Некоректная эл. почта</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Текст сообщения</label>
                    <textarea name="text" columns="1" ng-model="message.text" required></textarea>
                    <div ng-messages="forms.publicationMessage.text.$error" ng-show="forms.publicationMessage.text.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-button class="md-primary" flex ng-click="pubCtrl.toggleMessageForm()">
                    Отмена
                </md-button>
                <md-button class="md-raised md-primary" flex ng-click="pubCtrl.sendMessage()">
                    Отправить
                </md-button>
            </div>
        </form>
    </div>

    <div ng-switch-when="sendCallRequest">
        <div class="md-subhead blue-text">Запрос обратного звонка</div>
        <md-divider></md-divider>
        <form novalidate class="animated" name="forms.publicationCallRequest" layout="column" layout-padding>
            <div layout="row">
                <md-input-container flex="40">
                    <label>Имя</label>
                    <input name="userName" type="text" ng-model="callRequest.userName" required>
                    <div ng-messages="forms.publicationCallRequest.userName.$error" ng-show="forms.publicationCallRequest.userName.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <md-input-container flex="60">
                    <label>Моб. телефон</label>
                    <input name="phoneNumber" type="text" ng-model="callRequest.phoneNumber" only-number required>
                    <div ng-messages="forms.publicationCallRequest.phoneNumber.$error" ng-show="forms.publicationCallRequest.phoneNumber.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-button class="md-primary" flex ng-click="pubCtrl.toggleCallRequestForm()">
                    Отмена
                </md-button>
                <md-button class="md-raised md-primary" flex ng-click="pubCtrl.sendCallRequest()">
                    Отправить
                </md-button>
            </div>
        </form>
    </div>

    <div ng-switch-when="sendClaim">
        <div class="md-subhead blue-text">Отправка жалобы</div>
        <md-divider></md-divider>
        <form novalidate class="animated" name="forms.publicationClaim" layout-padding>
            <div layout="column">
                <md-input-container flex>
                    <label>Эл. почта</label>
                    <input name="email" type="email" ng-model="claim.email" required>
                    <div ng-messages="forms.publicationClaim.email.$error" ng-show="forms.publicationClaim.email.$touched">
                        <div ng-message="required">Обязательное поле</div>
                        <div ng-message="email">Некоректная эл. почта</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Причина жалобы</label>
                    <md-select ng-model="claim.reason_sid">
                        <md-option ng-repeat="reason in CLAIM.REASONS" value="[[ reason.id ]]">[[ reason.title ]]</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex ng-show="claim.reason_sid == 0">
                    <label>Введите причину жалобы</label>
                    <input name="another_reason" type="text" ng-model="claim.another_reason" ng-required="claim.reason_sid == 0">
                    <div ng-messages="forms.publicationClaim.another_reason.$error" ng-show="forms.publicationClaim.another_reason.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row">
                <md-button class="md-primary" flex ng-click="pubCtrl.toggleClaimForm()">
                    Отмена
                </md-button>
                <md-button class="md-raised md-primary" flex ng-click="pubCtrl.sendClaim()">
                    Отправить
                </md-button>
            </div>
        </form>
    </div>

    <div ng-switch-when="sendSuccess">
        <div class="animated" layout-padding layout="column" layout-align="center center">
            <md-icon class="material-icons md-96 green-text">check</md-icon>
            <div class="md-headline">Отправлено успешно</div>
        </div>
    </div>
</div>