%_left-navbar-tab {
    padding-bottom: 10px;

    &.-has-scroll {
        overflow: auto;
    }

    section {
        position: relative;
        margin: 0 10px 10px 10px;
        overflow: hidden;
        border-radius: 2px;
        background: #fff;
        @include transition(margin .3s  ease);

        &.-border-bottom {
            border-bottom: 1px solid color('grey', 'lighten-3');
        }


        &:not(&.-closable) {
            box-shadow: 0 3px 5px -1px rgba(0,0,0,.14), 0 6px 10px 0 rgba(0,0,0,.098), 0 1px 18px 0 rgba(0,0,0,.084);
        }


        &.-closed {
            margin: 0 0 10px 0;

            tab-section-collapsible {
                max-height: 0;
            }

            [toggle-tab-section] {
                border-bottom-color: transparent;

                > md-icon:last-child {
                    @include rotate(180deg);
                }
            }

            &:not(:last-child) {
                border-radius: 0;
            }
        }
        
        &.-without-margin-bottom {
            margin-bottom: 0 !important;
        }
    }
}