.filters-tab {
    @extend %_left-navbar-tab;
    .-text-truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    section {
        md-icon:first-child {
            margin-right: 3px;
        }

        &.-filters-blue {
            header {
                md-icon:first-child {
                    color: color('blue', 'lighten-2');
                }
            }
        }

        &.-filters-green {
            header {
                md-icon:first-child {
                    color: color('green', 'lighten-2')
                }
            }
        }
    }
}
