.property-list-panel {
    @extend %_fixed-panel;

    @include size(auto, auto);
    top: 15px;
    right: 15px;
    bottom: 15px;

    background: #fff;


    header {
        @include size(100%, 48px);
        min-height: 48px;
        max-height: 48px;
        margin-bottom: 2px;
        background: #363636;
    }


    section {
        @include size(220px, 120px);
        min-height: 120px;
        max-height: 120px;

        padding: 2px 3px;

        cursor: pointer;

        &.-red {
            border-right-color: #fb6262;
        }
        &.-blue {
            border-right-color: #4996cc;
        }
        &.-green {
            border-right-color: #71c187;
        }


        > img {
            @include square(100%);
        }
    }
}