.property-list-panel {
    @extend %_fixed-panel;

    @include size(auto, auto);
    top: 0;
    right: 0;
    bottom: 0;

    background: #fff;//rgba(0, 0, 0, .1);


    > .property-list-header {
        @include size(100%, 50px);
        max-height: 50px;
        padding: 5px 0 5px 5px;
        background: #fff;
    }


    .property-list-item {
        @include size(220px, 120px);
        min-height: 120px;

        padding-right: 1px;
        margin-bottom: 3px;

        cursor: pointer;

        //border-right: 4px solid;
        background: #fff;

        @include transition(width .2s ease);


        &:first-child {
            margin-top: 5px;
        }


        &.-red {
            border-right-color: #fb6262;
        }
        &.-blue {
            border-right-color: #4996cc;
        }
        &.-green {
            border-right-color: #71c187;
        }


        > img {
            @include size(220px, 120px);
        }
    }
}