.property-list-panel {
    @include size(auto, auto);
    position: fixed;
    top: 58px;
    right: 10px;
    bottom: 15px;



    > .property-list-item {
        @include size(auto, 88px);
        padding: 4px 4px 0 4px;
        margin-bottom: 7px;

        cursor: pointer;

        border-bottom: 4px solid;
        background: #fff;

        @extend .z-depth-1;
        @include transition(width .2s ease);


        &:first-child {
            margin-top: 10px;
        }


        &.-red {
            border-bottom-color: #fb6262;
        }
        &.-blue {
            border-bottom-color: #4996cc;
        }
        &.-green {
            border-bottom-color: #71c187;
        }


        > img {
            @include size(100px, 80px);
        }
    }
}