$scrollbar-width:       5px;
$scrollbar-hover-width: 8px;
$scrollbar-color:       #fff;
$scroll-thumb-color:    color('blue', 'lighten-2');

.scroll-viewport {
    overflow: hidden;
    position: relative;
}

.scroll-overview {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}

.scroll-bar {
    @include size($scrollbar-width, 100%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    background-color: $scrollbar-color;
    @include transition("opacity .6s ease-in-out, width .3s ease");


    &.disable {
        display: none;
    }
    &.visible {
        opacity: 1 !important;
    }
    &:hover,
    &:active {
        opacity: 1 !important;
        width: $scrollbar-hover-width;

        .scroll-thumb {
            width: $scrollbar-hover-width - 2px;
        }
    }

    .scroll-thumb {
        @include size($scrollbar-width - 2px, 20px);
        position: absolute;
        top: 0;
        left: 1px;
        z-index: 102;
        overflow: hidden;
        cursor: pointer;
        background-color: $scroll-thumb-color;
        @include transition("width .3s ease");
    }
}


body.scroll-no-select {
    user-select: none;
}