<!DOCTYPE html>
<html>
<head>
    <title>Cabinet</title>

    <link rel="stylesheet/less" href="{{ static }}less/cabinet/base.less"/>
    <link rel="stylesheet" href="{{ static }}css/bootstrap-select.css"/>

    <!-- Libs include -->
    <script type="text/javascript" src="{{ static }}js/libs/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/less-1.6.0.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/bootstrap.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/bootstrap-select.js"></script>

    <script type="text/javascript" src="{{ static }}js/libs/angular-1.2.6.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/angular-route-1.2.6.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/angular-cookies-1.2.6.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/angular-ui-mask.js"></script>


    <!-- Logic files include -->
    <script type="text/javascript" src="{{ static }}js/cabinet/app.js"></script>

    <script type="text/javascript" src="{{ static }}js/cabinet/services/router.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/services/tagQueries.js"></script>

    <script type="text/javascript" src="{{ static }}js/cabinet/controllers/appCtrl.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/controllers/sidebarMenuCtrl.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/controllers/publicationsCtrl.js"></script>

    <script type="text/javascript" src="{{ static }}js/cabinet/directives/selectOnClick.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/directives/focusOnLoad.js"></script>
</head>
<body ng-app="MappinoCabinet">
    <div class="wrapper">

        <div class="sidebar-menu" ng-controller="SidebarMenuCtrl">
            <div class="btn btn-danger btn-xlg btn-block">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Добавить обьявление
            </div>

            <div class="sidebar-menu-body">
                <div class="sidebar-menu-block">
                    <div class="sidebar-menu-block-header">Обьявления</div>
                    <ul class="sidebar-menu-block-list">
                        <li ng-class="{ active: section == 'all' }">
                            <a href="#!/publications/all">
                                <span class="menu-icon icon-all-pubs"></span>
                                Все
                            </a>
                        </li>
                        <li ng-class="{ active: section == 'published' }">
                            <a href="#!/publications/published">
                                <span class="menu-icon icon-published-pubs"></span>
                                Опубликование
                            </a>
                        </li>
                        <li ng-class="{ active: section == 'unpublished' }">
                            <a href="#!/publications/unpublished">
                                <span class="menu-icon icon-unpublished-pubs"></span>
                                Не опубликование
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-menu-block">
                    <div class="sidebar-menu-block-header">Ярлыки</div>
                    <ul class="sidebar-menu-block-list">

                        <li ng-class="{ 'active': tag.id == tagId }" ng-repeat="tag in tags">
                            <a href="#!/tags/[[ tag.id ]]">
                                <span class="menu-icon icon-yellow-tag"></span>
                                [[ tag.title ]]
                            </a>
                            <div class="sidebar-menu-block-list-controls">
                                <span class="menu-icon icon-edit" ng-click="editTag(tag)"></span>
                                <span class="menu-icon icon-delete" ng-click="removeTag(tag)"></span>
                            </div>
                        </li>


                        <li class="add-tag-btn">
                            <a href class="text-center" ng-hide="creatingTag" ng-click="creatingTag = true">
                                <span class="menu-icon icon-add"></span>
                            </a>
                            <div class="add-tag-block" ng-show="creatingTag">
                                <div class="form-group">
                                    <span>Пример: </span>
                                    <span class="label" style="background-color: [[ newTag.selectedColor ]]">[[ newTag.title ]]</span>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="newTag.title" select-on-click required>
                                </div>

                                <div class="select-color-box text-center">
                                    <div class="select-color-box-item"
                                         ng-repeat="color in newTag.colors"
                                         ng-click="newTag.selectedColor = color"
                                         style="background-color: [[ color ]]"></div>
                                </div>

                                <div class="btn-group btn-group-justified">
                                    <div class="btn btn-cancel btn-block" ng-click="closeCreateTagDialog()">Отмена</div>
                                    <div class="btn btn-success btn-block btn-creating" data-loading-text="Создание..." ng-click="createTag()">Создать</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="sidebar-menu-block">
                    <div class="sidebar-menu-block-header">Учетная запись</div>
                    <ul class="sidebar-menu-block-list">
                        <li><a href="#"><span class="menu-icon icon-support"></span>Онлайн поддержка</a></li>
                        <li><a href="#"><span class="menu-icon icon-settings"></span>Параметры</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="view" ng-view="content-view"></div>

    </div>
</body>
</html>