<!DOCTYPE html>
<html>
<head>
    <title>Cabinet</title>

    <link rel="stylesheet/less" href="{{ static }}less/cabinet/base.less"/>
    <link rel="stylesheet" href="{{ static }}css/bootstrap-select.css"/>

    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAXPqXPqCTwyFFs9KufrwZL5qtHCmQ_6zQ&sensor=false&language=ru&libraries=places">
    </script>

    <!-- Libs include -->
    <script type="text/javascript" src="{{ static }}js/libs/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/less-1.6.2.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/bootstrap-select.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/scrollbar.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/angular-file-upload-shim.min.js"></script>

    <script type="text/javascript" src="{{ static }}js/libs/angular-1.2.11.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/angular-route-1.2.11.min.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/angular-cookies-1.2.11.min.js"></script>

    <script type="text/javascript" src="{{ static }}js/libs/angular-ui-mask.js"></script>
    <script type="text/javascript" src="{{ static }}js/libs/angular-file-upload.min.js"></script>


    <!-- Logic files include -->
    <script type="text/javascript" src="{{ static }}js/cabinet/app.js"></script>

    <script type="text/javascript" src="{{ static }}js/cabinet/services/router.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/services/tagQueries.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/services/briefQueries.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/services/publicationQueries.js"></script>

    <script type="text/javascript" src="{{ static }}js/cabinet/factories/tagsFactory.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/factories/briefsFactory.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/factories/publicationFactory.js"></script>


    <script type="text/javascript" src="{{ static }}js/cabinet/controllers/appCtrl.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/controllers/sidebarMenuCtrl.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/controllers/sidebarItemListCtrl.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/controllers/sidebarItemDetailedCtrl.js"></script>

    <script type="text/javascript" src="{{ static }}js/cabinet/directives/selectOnClick.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/directives/focusOnLoad.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/directives/allowOnlyNumber.js"></script>
    <script type="text/javascript" src="{{ static }}js/cabinet/directives/allowOnlyNumberWithoutDot.js"></script>
</head>
<body ng-app="MappinoCabinet" ng-controller="AppCtrl">
    <div class="wrapper">

        <div class="sidebar-menu" ng-controller="SidebarMenuCtrl">
            <div class="sidebar-menu-header">
                <div class="btn btn-primary btn-xlg logo-btn pull-left">m</div>
                <div class="btn btn-success btn-xlg pull-right" ng-click="creatingPublication = true">Новое обьявление</div>
            </div>

            <div class="sidebar-menu-body">

                <div class="new-pub-panel" ng-show="creatingPublication">
                    <div class="form-group">
                        <div class="row">
                            <div class="checkbox pull-left">
                                <input type="checkbox" id="for_sale" value="sale" ng-model="newPublication.for_sale">
                                <label for="for_sale">О продаже</label>
                            </div>

                            <div class="checkbox pull-left">
                                <input type="checkbox" id="for_rent" value="rent" ng-model="newPublication.for_rent">
                                <label for="for_rent">Об аренде</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select name="typeSelect" data-width="100%" ng-model="newPublication.tid">
                            <option value="[[ type.id ]]" ng-repeat="type in publicationTypes">[[ type.title ]]</option>
                        </select>
                    </div>
                    <div class='btn-group btn-group-justified'>
                        <div class='btn btn-cancel btn-block' ng-click='creatingPublication = false'>Отмена</div>
                        <div class='btn btn-success btn-block btn-creating'
                             ng-disabled="!newPublication.for_sale && !newPublication.for_rent"
                             data-loading-text='Создание...'
                             ng-click='createPublication()'>Создать</div>
                    </div>
                </div>

                <div class="menu-block">
                    <div class="menu-block-header icon-pubs">Обьявления</div>
                    <ul class="menu-block-list">
                        <li ng-class="{ active: routeSection == 'all' }">
                            <a href="#!/publications/all">
                                <span class="menu-icon icon-all-pubs"></span>
                                Все
                            </a>
                        </li>
                        <li ng-class="{ active: routeSection == 'published' }">
                            <a href="#!/publications/published">
                                <span class="menu-icon icon-published-pubs"></span>
                                Опубликование
                            </a>
                        </li>
                        <li ng-class="{ active: routeSection == 'unpublished' }">
                            <a href="#!/publications/unpublished">
                                <span class="menu-icon icon-unpublished-pubs"></span>
                                Не опубликование
                            </a>
                        </li>
                        <li ng-class="{ active: routeSection == 'trash' }">
                            <a href="#!/publications/trash">
                                <span class="menu-icon icon-deleted-pubs"></span>
                                Корзина
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="menu-block">
                    <div class="menu-block-header icon-tags">
                        Ярлыки
                        <div class="edit-tag-btn" ng-click="createEditTagDialog()">создать</div>
                    </div>

                    <div class='tag-edit-panel state-create' ng-show="creatingTag">
                        <div class='form-group'>
                            <input type='text' class='form-control' ng-model='newTag.title' select-on-click required>
                        </div>
                        <div class='pick-color-box text-center'>
                            <div class='color-item' ng-repeat='color in newTag.colors' ng-click='newTag.selectedColor = color' style='background-color: [[ color ]]'></div>
                        </div>
                        <span>Пример: </span>
                        <span class='label' style='background-color: [[ newTag.selectedColor ]]'>[[ newTag.title ]]</span>
                        <div class='btn-group btn-group-justified'>
                            <div class='btn btn-cancel btn-block' ng-click='closeTagDialog()'>Отмена</div>
                            <div class='btn btn-success btn-block btn-creating' data-loading-text='Создание...' ng-click='createTag()'>Создать</div>
                        </div>
                    </div>

                    <ul class="menu-block-list">
                        <li ng-class="{ 'active': routeSection == tag.id }" ng-repeat="tag in tags">
                            <a href="#!/publications/[[ tag.id ]]">
                                <span class="tag-icon" style="border-color: [[ tag.color ]]"></span>
                                [[ tag.title ]]
                            </a>
                            <div class="menu-block-list-controls">
                                <span class="menu-icon icon-edit" ng-click="createEditTagDialog(tag, $event)"></span>
                                <span class="menu-icon icon-delete" ng-click="removeTag(tag)"></span>
                            </div>
                        </li>
                    </ul>
                    <div class="tags-loader" ng-show="loadings.tags"></div>

                    <div class="tags-empty" ng-show="!tags.length && !loadings.tags && !creatingTag">
                        <span>У вас пока нет ярлыков</span>
                    </div>
                </div>

                <div class="menu-block">
                    <div class="menu-block-header icon-user">Учетная запись</div>
                    <ul class="menu-block-list">
                        <li ng-class="{ 'active': routeBase == 'help-me' }"><a href="#!/help-me"><span class="menu-icon icon-support"></span>Онлайн поддержка</a></li>
                        <li ng-class="{ 'active': routeBase == 'settings' }"><a href="#!/settings"><span class="menu-icon icon-settings"></span>Параметры</a></li>
                    </ul>
                </div>
            </div>

        </div>


        <div class="sidebar-item-list" ng-controller="SidebarItemListCtrl" ng-hide="routeBase == 'settings'">
            <div class="sidebar-item-list-header">
                <input type="text" class="form-control" placeholder="Поиск..." ng-model="searchItem">
            </div>

            <div class="sidebar-item-list-body">

                <!-- Item -->
                <div class="sidebar-item-list-item"
                     ng-class="{ active: publicationId == brief.tid + ':' + brief.id }"
                     ng-repeat="brief in briefs"
                     ng-click="selectBrief(brief.tid + ':' + brief.id)">

                    <div class="sidebar-item-list-item-img">
                        <img ng-src="[[ brief.photo_url ]]" ng-show="brief.photo_url"/>
                        <img src="{{ static }}img/cabinet/sidebar-item-list/no-brief-photo.png" ng-show="!brief.photo_url"/>
                    </div>
                    <div class="sidebar-item-list-item-detail">
                        <div class="sidebar-item-list-item-title">[[ brief.title ]]
                            <span class="text-muted" ng-show="!brief.title">Новое объявление</span>
                        </div>
                        <div class="sidebar-item-list-item-type">
                            <span ng-show="brief.for_sale && !brief.for_rent">Продажа</span>
                            <span ng-show="brief.for_rent && !brief.for_sale">Аренда</span>
                            <span ng-show="brief.for_sale && brief.for_rent">Продажа и аренда</span>
                            [[ brief.type ]]
                        </div>
                        <div class="sidebar-item-list-item-tags" ng-show="brief.tags.length">
                            <span class="label" style="background-color: [[ tag.color ]]" ng-repeat="tag in brief.tags">[[ tag.title ]]</span>
                        </div>
                    </div>
                </div>

                <div class="briefs-empty text-muted" ng-show="!loadings.briefs && !briefs.length">
                    <span>В данной категории нет обьявлений</span>
                </div>

                <div class="item-loader" ng-show="loadings.briefs"></div>
            </div>
        </div>


        <div class="view" ng-view></div>

    </div>
</body>
</html>