{% extends "cabinet/_common/base.html" %}


{% block navbar %}
{% endblock %}

{% block sidenav %}
{% endblock %}



{% block wrapper %}
<div layout="row" layout-align="center center">
    <div ng-controller="LoginController as loginCtrl" class="login-panel md-padding md-whiteframe-z1">
        <form name="loginForm" ng-submit="loginCtrl.login()"  novalidate>
            <div layout="column">
                <md-input-container flex>
                    <label>Телефон или Эл. почта</label>
                    <input type="text" name="phoneNumber" ng-model="user.phoneNumber" autofocus required>
                    <div ng-messages="loginForm.phoneNumber.$error"
                         ng-show="loginForm.$submitted || loginForm.phoneNumber.$touched">
                        <div ng-message="required">Обязательное поле</div>
                        <div ng-message="invalid">Неверная пара логин - пароль</div>  `
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary">
                    Войти
                </md-button>
            </div>
        </form>
    </div>
</div>
{% endblock %}