{% extends "cabinet/_common/base.html" %}


{% block navbar %}
{% endblock %}



{% block wrapper %}
    <div class="wrapper valign-wrapper">
        <div ng-controller="LoginController as loginCtrl" class="center-block valign">

            <div class="login-panel">
                <form name="loginForm" novalidate>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="text" name="username"
                                   ng-model="user.username"
                                   ng-class="{ invalid: loginForm.username.$dirty && !user.username, valid: user.username }"
                                   required>
                            <label for="username">Логин</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" name="password"
                                   ng-model="user.password"
                                   ng-class="{ invalid: loginForm.password.$dirty && !user.password, valid: user.password }"
                                   required>
                            <label for="password">Пароль</label>
                        </div>
                    </div>
                    <div class="row" ng-show="user.invalid">
                        <div class="col s12 center-align">
                            <span class="red-text">Попытка входа не удалась</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 right">
                            <button class="waves-effect waves-light btn right"
                               ng-disabled="!user.username || !user.password"
                               ng-class="{ 'blue lighten-1': user.username && user.password }"
                               ng-click="loginCtrl.login()">Войти</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}