<div class="sidebar-item-detailed" ng-controller="SettingsCtrl">
    <div class="sidebar-item-detailed-header without-sidebar-list">
        <div class="publication-controls">
            <div class="btn btn-xlg btn-link" ng-click="returnToSupport()">
                <span class="btn-icon-publish"></span>
                Вернуться
            </div>
            <div class="btn btn-xlg btn-link" ng-click="newMessage()">
                <span class="btn-icon-remove"></span>
                Новое сообщение
            </div>
        </div>

        <div class="btn btn-link btn-xlg pull-right">
            <span class="btn-icon-exit"></span>
        </div>
    </div>


    <div class="sidebar-item-detailed-body without-sidebar-list">
        <div class="col-sm-12 col-lg-8 col-lg-offset-1">
            <div class="row">
                <h3 id="support-messages">Сообщения</h3>
                <ul class="support-message-list">
                    <li>
                        <a href="#">Test message</a>
                        <div class="text-muted small pull-right">
                            <span>Создано 10.10.10</span>
                            &nbsp;&#8226;&nbsp;
                            <span>Последнее сообщение - 10.10.10</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div ng-if="showTicket">
            <div ng-include="ajax/template/cabinet/support/ticket/"></div>
        </div>

    </div>
</div>