<div class="col-sm-12 col-lg-8 col-lg-offset-2" ng-hide="loadings.ticketData">
    <div class="row">
        <div class="col-sm-12 support-message-form">
            <input class="form-control form-group" type="text" name="subject" placeholder="Тема" ng-hide="messages.length" ng-model="message.subject"/>
            <textarea class="form-control form-group" name="message" rows="3" placeholder="Текст сообщения" ng-model="message.message"></textarea>
            <div class="btn btn-primary pull-right ticket-send-btn" ng-disabled="!message.message" data-loading-text="Отправка данных..."  ng-click="sendMessage()">Отправить сообщение</div>
        </div>
    </div>

    <div class="row" ng-repeat="message in messages">
        <div class="col-sm-12 support-message-block" ng-class="{ 'user-message' : message.type_sid === 0, 'admin-message' : message.type_sid === 1 }">
            <div class="user-photo" ng-class="{ 'pull-left' : message.type_sid === 0, 'pull-right' : message.type_sid === 1 }">
                <img ng-src="[[ admin_avatar ]]" ng-show="message.type_sid === 1 && admin_avatar"/>
                <img ng-src="[[ user_avatar ]]" ng-show="message.type_sid === 0 && user_avatar"/>
                <img ng-src="{{ static }}img/cabinet/sidebar-item-detailed/no-user.png" ng-show="!admin_avatar && message.type_sid === 1"/>
                <img ng-src="{{ static }}img/cabinet/sidebar-item-detailed/no-user.png" ng-show="!user_avatar && message.type_sid === 0"/>
            </div>
            <div class="user-message">
                <div class="message" ng-bind-html-unsafe="message.text | newlines">
                    <!--[[ message.text | newlines ]]-->
                </div>
                <div class="message-info text-muted small" ng-class="{ 'pull-left' : message.type_sid === 1, 'pull-right' : message.type_sid === 0 }">
                    [[ message.created | date:'dd-MM-yyyy HH:mm' ]]
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="detailed-empty text-muted" ng-show="!messages.length">
            <span>У вас пока нет сообщений в даном диалоге</span>
        </div>
    </div>
</div>