<div class="col-sm-12 col-lg-8 col-lg-offset-2">
    <div class="row">
        <div class="col-sm-12 support-message-form">
            <input class="form-control form-group" type="text" name="sale_price" placeholder="Тема" ng-model="support.message_title"/>
            <textarea class="form-control form-group" name="message_text" rows="3" placeholder="Текст сообщения" ng-model="support.message_text"></textarea>
            <div class="btn btn-primary pull-right">Отправить сообщение</div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 support-message-block user-message">
            <div class="user-photo pull-left"></div>
            <div class="user-message">
                <div class="message">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolor necessitatibus quia rem veritatis vitae!
                </div>
                <div class="message-info text-muted small text-right">
                    Отправлено 10.10.10
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12 support-message-block admin-message">
            <div class="user-photo pull-right"></div>
            <div class="user-message">
                <div class="message">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolor necessitatibus quia rem veritatis vitae!
                </div>
                <div class="message-info text-muted small text-left">
                    Отправлено 10.10.10
                </div>
            </div>
        </div>
    </div>
</div>