<div class="sidebar-item-detailed" ng-controller="SettingsCtrl">
    <div class="sidebar-item-detailed-header without-sidebar-list">
        <div class="btn btn-link btn-xlg pull-right" ng-click="logoutFromCabinet()">
            <span class="btn-icon-exit"></span>
        </div>
    </div>

    <div class="sidebar-item-detailed-body without-sidebar-list">
        <div class="col-sm-12 col-lg-9 col-lg-offset-1">
            <form class="form-horizontal" name="form.user" ng-hide="loadings.settings" novalidate>

                <div class="row">
                    <h3 id="settings-main-info">Основная информация</h3>

                    <div class="col-sm-8 col-lg-5">

                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-5 control-label"><span class="required-star">*</span>Имя:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="first_name" ng-model="user.account.first_name" required/>
                                    <span class="input-has-error" ng-show="form.user.first_name.$error.required">Укажите, пожалуйста, имя.</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-5 control-label"><span class="required-star">*</span>Фамиллия:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="last_name" ng-model="user.account.last_name" required/>
                                    <span class="input-has-error" ng-show="form.user.last_name.$error.required">Укажите, пожалуйста, фамиллию.</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-5 control-label"><span class="required-star">*</span>Эл. адрес:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="email" ng-model="user.account.email" required/>
                                    <span class="input-has-error" ng-show="form.user.email.$error.required">Укажите, пожалуйста, эл. адрес.</span>
                                    <span class="input-has-error" ng-show="form.user.email.$error.incorrect">Эл. адрес указан неверно.</span>
                                    <span class="input-has-error" ng-show="form.user.email.$error.duplicated">Эл. адрес уже используеться.</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-5 control-label"><span class="required-star">*</span>Моб. телефон:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="mobile_phone" ui-mask="+38 (099) 99 - 99 - 999" ng-model="user.account.mobile_phone" required/>
                                    <span class="input-has-error" ng-show="form.user.mobile_phone.$error.required">Укажите, пожалуйста, моб. телефон.</span>
                                    <span class="input-has-error" ng-show="form.user.mobile_phone.$error.incorrect">Моб. телефон указан неверно.</span>
                                    <span class="input-has-error" ng-show="form.user.mobile_phone.$error.duplicated">Моб. телефон уже используеться.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-lg-4">
                        <div class="user-photo-block text-center">
                            <img class="photo" ng-src="[[ user.account.avatar_url ]]" ng-show="user.account.avatar_url"/>
                            <img class="photo" ng-src="{{ static }}build/images/cabinet/sidebar-item-detailed/no-user.png" ng-show="!user.account.avatar_url"/>

                            <a href="" ng-show="!uploadingAvatar" ng-click="openPhotoDialog()">Сменить</a>
                            <div class="avatar-loader" ng-show="uploadingAvatar"></div>
                            <input type="file" ng-file-select="onFileSelect($files)" accept="image/jpeg, image/png"/>
                        </div>
                        <span class="input-has-error text-center" ng-show="avatarErrorCode === 1">Слишком большое изображение (ограничение в 5 мб.)</span>
                        <span class="input-has-error text-center" ng-show="avatarErrorCode === 2">Слишком малое изображение <br/>(<200px по одной из сторон)</span>
                        <span class="input-has-error text-center" ng-show="avatarErrorCode === 3">Неподдерживаемый тип</span>
                    </div>
                </div>

                {#
                <!--<div class="row">-->
                    <!--<h3 id="settings-other-contacts">Личная страница</h3>-->

                    <!--<div class="col-sm-8 col-lg-5">-->
                        <!--<div class="row">-->
                            <!--<div class="form-group">-->
                                <!--<label class="col-sm-5 control-label">Никнейм:</label>-->
                                <!--<div class="col-sm-7">-->
                                    <!--<input type="text" class="form-control" name="nickname" ng-model="user.account.nickname"/>-->
                                    <!--<span class="input-has-error" ng-show="form.user.nickname.$error.duplicated">Никнейм уже используеться.</span>-->


                                <!--</div>-->
                                <!--<div class="small text-muted checkbox-hint">-->
                                    <!--[[ user.account.nickname ]].mappino.com-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                #}


                <div class="row">
                    <h3 id="settings-other-contacts">Контакты</h3>

                    <div class="col-sm-8 col-lg-5">

                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Раб. эл. почта:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="work_email" ng-model="user.account.work_email"/>
                                    <span class="input-has-error" ng-show="form.user.work_email.$error.incorrect">Эл. почта указана неверно.</span>
                                    <span class="input-has-error" ng-show="form.user.work_email.$error.duplicated">Эл. адрес уже используеться.</span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Доп. моб. телефон:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="add_mobile_phone" ui-mask="+38 (099) 99 - 99 - 999" ng-model="user.account.add_mobile_phone"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Раб. телефон:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="landline_phone" ng-model="user.account.landline_phone" allow-only-number-without-dot/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Доп. раб. телефон:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="add_landline_phone" ng-model="user.account.add_landline_phone" allow-only-number-without-dot/>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Skype:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" name="skype" ng-model="user.account.skype"/>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


                <div class="row">
                    <h3 id="publication-main-info">Настройки</h3>
                    <h4>Объявления</h4>
                    <div class="col-sm-12 form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12 col-lg-8 form-group">
                                    <div class="checkbox">
                                        <input id="allow_call_requests" type="checkbox" name="allow_call_requests" ng-model="user.preferences.allow_call_requests">
                                        <label for="allow_call_requests">Разрешать запрос обратного звонка</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 col-lg-6 control-label">Присылать уведомления на:</label>
                                        <div class="col-sm-6">
                                            <select name="send_call_request_notifications_to_sid" data-width="100%" ng-disabled="!user.preferences.allow_call_requests" ng-model="user.preferences.send_call_request_notifications_to_sid">
                                                <option value="0">телефон посредством sms</option>
                                                <option value="1">почту</option>
                                                <option value="2">телефон и почту</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="checkbox">
                                        <input id="allow_messaging" type="checkbox" name="allow_messaging" ng-model="user.preferences.allow_messaging">
                                        <label for="allow_messaging">Разрешать оставлять сообщения через форму обратной связи</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-6 col-md-4 col-lg-6 control-label">Присылать уведомления на:</label>
                                        <div class="col-sm-6">
                                            <select name="send_message_notifications_to_sid" data-width="100%" ng-disabled="!user.preferences.allow_messaging" ng-model="user.preferences.send_message_notifications_to_sid">
                                                <option value="1">почту</option>
                                                <option value="2">телефон и почту</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>Контакты</h4>
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="col-sm-12 col-lg-6 form-group">

                                    <span class="input-has-error"
                                          ng-show="user.preferences.hide_email &&
                                                   user.preferences.hide_mobile_phone_number &&
                                                   user.preferences.hide_add_mobile_phone_number &&
                                                   user.preferences.hide_landline_phone_number &&
                                                   user.preferences.hide_add_landline_phone_number &&
                                                   user.preferences.hide_skype">
                                          Обратите внимание, все Ваши контакты скрыты и все Ваши клиенты не смогут с Вами связаться.
                                    </span>

                                    <div class="checkbox">
                                        <input id="hide_email" type="checkbox" name="hide_email" ng-model="user.preferences.hide_email">
                                        <label for="hide_email">Скрывать почту</label>
                                    </div>
                                    <div class="small text-muted checkbox-hint">
                                        При запросе Ваших контактов адрес Вашей эл. почты будет скрыт, но клиенты смогут оставить Вам сообщение через форму обратной связи на нашем сайте, если она включена. Обратите внимание, ответив на сообщение клиента со своей почты Вы тем самым раскроете свой эл. адрес.
                                    </div>

                                    <div class="checkbox">
                                        <input id="hide_mobile_phone_number" type="checkbox" name="hide_mobile_phone_number" ng-model="user.preferences.hide_mobile_phone_number">
                                        <label for="hide_mobile_phone_number">Скрывать основной мобильный телефон</label>
                                    </div>

                                    <div class="checkbox">
                                        <input id="hide_add_mobile_phone_number" type="checkbox" name="hide_add_mobile_phone_number" ng-model="user.preferences.hide_add_mobile_phone_number">
                                        <label for="hide_add_mobile_phone_number">Скрывать дополнительный мобильный телефон</label>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-lg-6 form-group">
                                    <div class="checkbox">
                                        <input id="hide_landline_phone_number" type="checkbox" name="hide_landline_phone_number" ng-model="user.preferences.hide_landline_phone_number">
                                        <label for="hide_landline_phone_number">Скрывать рабочий телефон</label>
                                    </div>

                                    <div class="checkbox">
                                        <input id="hide_add_landline_phone_number" type="checkbox" name="hide_add_landline_phone_number" ng-model="user.preferences.hide_add_landline_phone_number">
                                        <label for="hide_add_landline_phone_number">Скрывать дополнительный рабочий телефон</label>
                                    </div>

                                    <div class="checkbox">
                                        <input id="hide_skype" type="checkbox" name="hide_skype" ng-model="user.preferences.hide_skype">
                                        <label for="hide_skype">Скрывать skype</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="load-detailed" ng-show="loadings.settings"></div>
    </div>
</div>