.user-photo-block {
    width: 180px;

    > .photo {
        .square(180px);
        background-color: #f5f3f4;
        border: 1px solid @gray-lighter;
        border-radius: 50%;
    }
}

.checkbox-hint {
    padding-left: 28px;
}

.avatar-loader {
    display: block;
    height: 12px;

    background: url("../../img/cabinet/sidebar-item-detailed/detailed-ajax-loader.gif") center center no-repeat;
}