<div class="sidebar-item-detailed" ng-controller="SidebarItemDetailedCtrl">
    <div class="sidebar-item-detailed-header">
        <div class="publication-controls" ng-show="showPublication">
            <div class="btn-group">
                <button type="button" class="btn btn-link btn-xlg dropdown-toggle" data-toggle="dropdown">
                    <span class="btn-icon-sections"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="section in publicationSections"><a href ng-click="scrollToHeader(section.href)">[[ section.title ]]</a></li>
                </ul>
            </div>
            <div class="btn btn-xlg btn-link publish-btn" data-loading-text="Отправка данных..." ng-show="routeSection === 'unpublished'" ng-click="publishPublication()">
                <span class="btn-icon-publish"></span>
                Опубликовать
            </div>
            <div class="btn btn-xlg btn-link publish-btn" data-loading-text="Отправка данных..." ng-show="routeSection === 'published'" ng-click="unpublishPublication()">
                Редактировать
            </div>
            <div class="btn btn-xlg btn-link publish-btn" data-loading-text="Отправка данных..." ng-show="routeSection === 'trash'" ng-click="toUnpublishedPublication()">
                В неопубликование
            </div>
            <div class="btn btn-xlg btn-link remove-btn" data-loading-text="Удаление..." ng-hide="routeSection === 'trash'" ng-click="removePublication()">
                <span class="btn-icon-remove"></span>
            </div>
        </div>

        <div class="btn btn-link btn-xlg pull-right">
            <span class="btn-icon-exit"></span>
        </div>
    </div>
    <div class="sidebar-item-detailed-body">
        <div ng-show="showPublication" class="detailed-container">
            <div ng-if='publicationLoaded'>
                <div ng-include="publicationTemplateUrl" ng-init="initLoadFormScripts()"></div>
            </div>
        </div>

        <div class="load-detailed" ng-show="loadings.detailed"></div>
        <div class="detailed-empty text-muted" ng-show="!publicationLoaded && !loadings.detailed">
            <span>Выберите объявление на панели слева</span>
        </div>
    </div>
</div>