<div layout="row" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid == 1">
    <md-input-container flex>
        <label>Период</label>
        <md-select ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_pr_sid">
            <md-option ng-repeat="periodType in TYPES.PERIOD" value="[[ periodType.id ]]">[[ periodType.title ]]</md-option>
        </md-select>
    </md-input-container>
</div>
<div layout="row">
    <md-input-container flex="33">
        <label>Ціна від</label>
        <input type="text" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_p_min" only-number>
    </md-input-container>
    <md-input-container flex="33">
        <label>Ціна до</label>
        <input type="text" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_p_max">
    </md-input-container>
    <md-input-container flex="33">
        <label>Валюта</label>
        <md-select ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_cu_sid">
            <md-option ng-repeat="currencyType in TYPES.CURRENCY" value="[[ currencyType.id ]]">[[ currencyType.title ]]</md-option>
        </md-select>
    </md-input-container>
</div>
<div layout="row">
    <md-input-container flex="33">
        <label>Площа від</label>
        <input type="text" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_t_a_min">
    </md-input-container>
    <md-input-container flex="33">
        <label>Площа до</label>
        <input type="text" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_t_a_max">
    </md-input-container>
    <md-input-container flex="33">
        <label>Кімнат</label>
        <input type="text">
    </md-input-container>
</div>