@import "../components/bootstrap";

body {
    position: relative;
}

.wrapper {
    position: relative;
    overflow-x: hidden;

    .header-links {
        height: 70px;
        padding: 26px 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;

        &.panel {
            background: #ffffff;
            border-bottom: 1px solid @gray-lighter;

            a {
                color: @gray-light !important;
                text-shadow: none;
            }
        }

        a {
            color: #ffffff !important;
            font-size: @font-size-h4;
            text-decoration: none;
            margin-left: 15px;
            text-shadow: ~"0px 0px 5px rgba(0, 0, 0, 0.4)";

            &.active {
                color: @nice-blue !important;
            }
        }
    }


    .image-caption {
        position: absolute;
        top: 50%;
        left: 50%;

        color: #ffffff;

        .translate(-50%, -50%);
        text-shadow: ~"0px 0px 5px rgba(0, 0, 0, 0.4)";
    }

    section {
        background: #ffffff;
        .box-shadow(~"0px 0px 15px rgba(0, 0, 0, .4)");
        .clearfix();

        h1 {
            margin-top: 100px;
            font-size: 45px;
            color: @gray-dark;
        }

        p {
            margin-top: 50px;
            line-height: @line-height-large + 0.1;
        }

        &.with-padding {
            padding: 60px 40px;
        }

        .section-image {
            position: relative;

            img {
                display: block;
            }
        }
    }

}


.tablet-marker {
    .size(36px, 49px);
    position: absolute;

    background: url("../../img/promo/red-marker.png") center center no-repeat;

    &[class*='m-'] {
        .translate(0, -2000px);
    }
    &.m-1 {
        top: 140px;
        left: 150px;
    }
    &.m-2 {
        top: 130px;
        left: 220px;
    }
    &.m-3 {
        top: 230px;
        left: 220px;
    }
    &.m-4 {
        top: 165px;
        left: 320px;
    }
    &.m-5 {
        top: 230px;
        left: 290px;
    }
}



.animated {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
    0% {
        .opacity(0);
        .translate(0, -300px);
    }
    100% {
        .opacity(100);
        .translate(0, 0);
    }
}
@keyframes slideInDown {
    0% {
        .opacity(0);
        .translate(0, -300px);
    }
    100% {
        .opacity(100);
        .translate(0, 0);
    }
}
.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}



@-webkit-keyframes slideOutUp {
    0% {
        .opacity(100);
        .translate(0, 0);
    }
    100% {
        .opacity(0);
        .translate(0, -300px);
    }
}
@keyframes slideOutUp {
    0% {
        .opacity(100);
        .translate(0, 0);
    }
    100% {
        .opacity(0);
        .translate(0, -300px);
    }
}
.slideOutUp {
    -webkit-animation-name: slideOutUp;
    animation-name: slideOutUp;
}



@-webkit-keyframes fadeInDown {
    0% {
        .opacity(0);
        .translate(0, -2000px);
    }
    100% {
        .opacity(100);
        .translate(0, 0);
    }
}

@keyframes fadeInDown {
    0% {
        .opacity(0);
        .translate(0, -2000px);
    }
    100% {
        .opacity(100);
        .translate(0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}