<div class="support-page" ng-controller="SupportController as supportCtrl">
    <section class="medium center-block">
        <h5 class="light-blue-text base">Поддержка mappino!</h5>

        <div class="row">
            <div class="col s12 center">
                В этом разделе Вы можете связаться с командой поддержки mappino и задать интересующие Вас вопросы.
                Вы можете обращаться в службу поддержки если у Вас возникают проблемы с сервисом,
                Вам нужна консультация касательно наших услуг, или если у Вас просто есть предложения или пожелания.
            </div>
        </div>
    </section>



    <section class="medium center-block" ng-hide="loaders.base">
        <h5 class="light-blue-text base">Диалоги</h5>

        <div class="row">
            <div class="col s12">
                <div class="row" ng-hide="tickets.length">
                    <div class="col s12 center">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Dicta ducimus esse facere fugit laborum officia veniam. Magnam molestiae officia sed!
                    </div>
                </div>

                <div class="row" ng-hide="tickets.length">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                </div>

                <div class="row" ng-hide="ticketFormIsVisible">
                    <div class="col s12 center">
                        <a class="waves-effect waves-light btn" ng-click="supportCtrl.createTicket()">Связаться со службой поддержки</a>
                    </div>
                </div>

                <div class="row" ng-show="ticketFormIsVisible">
                    <div class="col s12">
                        <form name="form.ticket" novalidate>
                            <div class="input-field">
                                <label for="ticket_subject">Тема обращения</label>
                                <input id="ticket_subject" type="text" name="subject" ng-model="ticket.subject" />
                            </div>
                            <div class="input-field">
                                <label for="ticket_message">Описание обращения</label>
                                <textarea id="ticket_message" class="materialize-textarea validate" rows="3" name="message" ng-model="ticket.message" required></textarea>
                                <span class="input-has-error" ng-show="form.ticket.message.$error.required">Укажите, пожалуйста, тему обращения.</span>
                            </div>
                            <button class="waves-effect waves-light btn right" ng-disabled="!ticket.message" ng-click="supportCtrl.sendMessage()">
                                <i class="mdi-content-send right"></i>Отправить
                            </button>
                            <a class="waves-effect waves-light btn-flat right" ng-click="ticketFormIsVisible = false;">Отмена</a>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <div class="divider"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s12">
                        <h6>Последнии диалоги</h6>
                        <div class="collection">
                            <a href ui-sref="ticket_view({ ticket_id: ticket.id })" class="collection-item avatar" ng-repeat="ticket in tickets | orderBy: 'created': true">
                                <img src="http://lorempixel.com/42/42/nature" alt="" class="circle">
                                <div class="title grey-text text-darken-3 truncate" ng-show="ticket.subject">
                                    [[ ticket.subject ]]
                                </div>
                                <div class="title grey-text text-darken-1" ng-hide="ticket.subject">
                                    Новый диалог
                                </div>
                                <p class="grey-text">
                                    <span>Создано: [[ ticket.created | date:'dd.MM.yyyy в HH:mm' ]]</span>
                                    <span>Посл. сообщ.: [[ ticket.last_message | date:'dd.MM.yyyy в HH:mm' ]]</span>
                                </p>
                                <!--<a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>-->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

