<div class="col-sm-12 col-lg-10 col-lg-offset-1" ng-init="initLoadFormScripts()">

    <div class="row">
        <h3 id="statistic-section">Статистика</h3>

        <div class="chart-block">
            <div google-chart chart="areaChart" ng-if="chartLoaded"/>
        </div>
    </div>


    <div class="row">
        <h3 id="info-section">Информация</h3>

        <div class="col-sm-12">
            <h5 class="section-header">[[ publication.data.title ]]</h5>
        </div>

        <div class="col-sm-12 text-justify">
            <p>[[ publication.data.description ]]</p>
        </div>

        <div class="col-sm-12 col-lg-6">
            <table>
                <tr ng-show="publication.data.market_type">
                    <td>Тип рынка:</td>
                    <td>[[ publication.data.market_type ]]</td>
                </tr>
                <tr ng-show="publication.data.building_type">
                    <td>Тип здания:</td>
                    <td>[[ publication.data.building_type ]]</td>
                </tr>
                <tr ng-show="publication.data.build_year">
                    <td>Год постройки:</td>
                    <td>[[ publication.data.build_year ]]</td>
                </tr>
                <tr ng-show="publication.data.age">
                    <td>Возраст бизнеса:</td>
                    <td>[[ publication.data.age ]]</td>
                </tr>
                <tr ng-show="publication.data.flat_type">
                    <td>Тип квартиры:</td>
                    <td>[[ publication.data.flat_type ]]</td>
                </tr>
                <tr ng-show="publication.data.rooms_planning">
                    <td>Планировка:</td>
                    <td>[[ publication.data.rooms_planning ]]</td>
                </tr>
                <tr ng-show="publication.data.total_area">
                    <td>Общая площадь:</td>
                    <td>[[ publication.data.total_area ]]</td>
                </tr>
                <tr ng-show="publication.data.area">
                    <td>Площадь:</td>
                    <td>[[ publication.data.area ]]</td>
                </tr>
                <tr ng-show="publication.data.living_area">
                    <td>Жилая площадь:</td>
                    <td>[[ publication.data.living_area ]]</td>
                </tr>
                <tr ng-show="publication.data.kitchen_area">
                    <td>Площадь кухни:</td>
                    <td>[[ publication.data.kitchen_area ]]</td>
                </tr>
                <tr ng-show="publication.data.halls_area">
                    <td>Площадь залов:</td>
                    <td>[[ publication.data.halls_area ]]</td>
                </tr>
                <tr ng-show="publication.data.plot_area">
                    <td>Площадь участка:</td>
                    <td>[[ publication.data.plot_area ]]</td>
                </tr>
                <tr ng-show="publication.data.driveways">
                    <td>Подъездные пути:</td>
                    <td>[[ publication.data.driveways ]]</td>
                </tr>
                <tr ng-show="publication.data.share">
                    <td>Долевое участие:</td>
                    <td>[[ publication.data.share ]]</td>
                </tr>
            </table>
        </div>

        <div class="col-sm-12 col-lg-6">
            <table>
                <tr ng-show="publication.data.floor">
                    <td>Этаж:</td>
                    <td>[[ publication.data.floor ]]</td>
                </tr>
                <tr ng-show="publication.data.floors_count">
                    <td>Этажей:</td>
                    <td>[[ publication.data.floors_count ]]</td>
                </tr>
                <tr ng-show="publication.data.condition">
                    <td>Состояние:</td>
                    <td>[[ publication.data.condition ]]</td>
                </tr>
                <tr ng-show="publication.data.monthly_cost">
                    <td>Расходы / мес.:</td>
                    <td>[[ publication.data.monthly_cost ]]</td>
                </tr>
                <tr ng-show="publication.data.annual_receipts">
                    <td>Год. выручка:</td>
                    <td>[[ publication.data.annual_receipts ]]</td>
                </tr>
                <tr ng-show="publication.data.rooms_count">
                    <td>Кол-во комнат:</td>
                    <td>[[ publication.data.rooms_count ]]</td>
                </tr>
                <tr ng-show="publication.data.bedrooms_count">
                    <td>Кол-во спален:</td>
                    <td>[[ publication.data.bedrooms_count ]]</td>
                </tr>
                <tr ng-show="publication.data.vcs_count">
                    <td>Кол-во сан. узлов:</td>
                    <td>[[ publication.data.vcs_count ]]</td>
                </tr>
                <tr ng-show="publication.data.balconies_count">
                    <td>Кол-во балконов:</td>
                    <td>[[ publication.data.balconies_count ]]</td>
                </tr>
                <tr ng-show="publication.data.loggias_count">
                    <td>Кол-во лоджий:</td>
                    <td>[[ publication.data.loggias_count ]]</td>
                </tr>
                <tr ng-show="publication.data.halls_count">
                    <td>Кол-во залов:</td>
                    <td>[[ publication.data.halls_count ]]</td>
                </tr>
                <tr ng-show="publication.data.cabinets_count">
                    <td>Кол-во кабинетов:</td>
                    <td>[[ publication.data.cabinets_count ]]</td>
                </tr>
                <tr ng-show="publication.data.ceiling_height">
                    <td>Высота потолков:</td>
                    <td>[[ publication.data.ceiling_height ]]</td>
                </tr>
                <tr ng-show="publication.data.workers_count">
                    <td>Работников:</td>
                    <td>[[ publication.data.workers_count ]]</td>
                </tr>
                <tr ng-show="publication.data.pit">
                    <td>Яма:</td>
                    <td>[[ publication.data.pit ]]</td>
                </tr>
            </table>
        </div>

        <div class="col-sm-12">
            <div class="other-properties" ng-show="publication.data.facilities">
                <span class="section-header">Удобства: </span>
                [[ publication.data.facilities ]]
            </div>
            <div class="property-price" ng-show="publication.data.sale_price_uah">
                Продажа: [[ publication.data.sale_price ]]
            </div>
            <div class="other-properties" ng-show="publication.data.sale_terms">
                [[ publication.data.sale_terms ]]
            </div>
            <div class="property-price" ng-show="publication.data.rent_price">
                Аренда: [[ publication.data.rent_price ]]
            </div>
            <div class="other-properties" ng-show="publication.data.rent_terms">
                [[ publication.data.rent_terms ]]
            </div>
            <div class="other-properties" ng-show="publication.data.rent_facilities">
                <span class="section-header">Удобства аренды: </span>
                [[ publication.data.rent_facilities ]]
            </div>
            <div class="other-properties" ng-show="publication.data.communications">
                <span class="section-header">Коммуникации: </span>
                [[ publication.data.communications ]]
            </div>
            <div class="other-properties" ng-show="publication.data.buildings">
                <span class="section-header">Дополнительные постройки: </span>
                [[ publication.data.buildings ]]
            </div>
            <div class="other-properties" ng-show="publication.data.showplaces">
                <span class="section-header">Рядом находиться: </span>
                [[ publication.data.showplaces ]]
            </div>
        </div>

        <div class="col-sm-6 col-lg-6" ng-repeat="photo in publication.head.photos | orderBy: 'is_title': true">
            <div class="uploaded-photo" ng-class="{ 'main-photo': photo.is_title }">
                <img ng-src="[[ photo.thumbnail ]]"/>
            </div>
        </div>

    </div>


    <div class="row" ng-show="tags.length">
        <h3 id="pub-tags-section">Ярлыки</h3>

        <div class="col-sm-6 col-lg-4 form-group">
            <div class="checkbox" ng-repeat="tag in tags" ng-if="$even">
                <input id="[[ tag.id ]]" type="checkbox" name="tag" ng-model="publication.head.tags[tag.id]" ng-click="tagCheckboxChange($event)">
                <label for="[[ tag.id ]]">[[ tag.title ]]</label>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4 form-group">
            <div class="checkbox" ng-repeat="tag in tags" ng-if="$odd">
                <input id="[[ tag.id ]]" type="checkbox" name="tag" ng-model="publication.head.tags[tag.id]" ng-click="tagCheckboxChange($event)">
                <label for="[[ tag.id ]]">[[ tag.title ]]</label>
            </div>
        </div>
    </div>
</div>