<div class="briefs-page" ng-controller="BriefsController as briefsCtrl" layout-wrap layout-padding layout-sm="column"
     layout-md="column" layout-lg="row" layout-gt-lg="row" layout-align-sm="start center" layout-align-md="start center"
     layout-align-lg="center start" layout-align-gt-lg="center start" >

    <md-card class="-brief">
        <md-card-content layout="column">
            <div layout="column" layout-align="center center">
                <img src="{{ static }}build/images/cabinet/brief-new-publication.gif" alt=""/>
                <h3 class="md-headline grey-text text-darken-2">Добавить новое объявление</h3>

                <div layout="row">
                    <md-checkbox class="md-primary" ng-model="newPublication.for_sale" aria-label="О продаже">
                        О продаже
                    </md-checkbox>
                    <md-checkbox class="md-primary" ng-model="newPublication.for_rent" aria-label="Аренда">
                        Об аренде
                    </md-checkbox>
                </div>

                <md-input-container>
                    <label>Тип недвижимости</label>
                    <md-select ng-model="newPublication.tid">
                        <md-option ng-repeat="type in ::TYPES.REALTY" value="[[ ::type.id ]]">[[ ::type.titles.genitive ]]</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <div class="md-actions" layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="briefsCtrl.createPublication()">
                Создать объявление
            </md-button>
        </div>
    </md-card>


    <md-card class="-brief" ng-repeat="brief in briefs | orderBy: 'state_sid'">
        <a ng-if="brief.state_sid == 0" href="/map/#!/3/0/0/[[ brief.tid ]]:[[ brief.hid ]]/">
            <img class="md-card-image" ng-src="[[ ::brief.photo_url ]]" alt="" on-error-src="{{ static }}build/images/cabinetno-publication-image.gif"/>
        </a>

        <a ng-if="brief.state_sid != 0" ui-sref="publication_edit({ id: brief.tid + ':' + brief.hid })">
            <img class="md-card-image" ng-src="[[ ::brief.photo_url ]]" alt="" on-error-src="{{ static }}build/images/cabinet/no-publication-image.gif"
                 ng-show="brief.photo_url"/>
            <img class="md-card-image" src="{{ static }}build/images/cabinet/no-publication-image.gif" ng-hide="brief.photo_url" alt="" />
        </a>

        <md-card-content>
            <div layout="row">
                <div class="brief-status -published" layout="row" layout-align="start center" ng-show="brief.state_sid == 0">
                    <md-icon>done</md-icon>
                    <span>Опубликовано</span>
                    <span flex></span>
                </div>
                <div class="brief-status -unpublished" layout="row" layout-align="start center" ng-show="brief.state_sid == 1">
                    <span>Не опубликовано</span>
                    <span flex></span>
                </div>
                <div class="brief-status -removed" layout="row" layout-align="start center" ng-show="brief.state_sid == 2">
                    <span>Удалено</span>
                    <span flex></span>
                </div>
                <div class="brief-status -unpublished" layout="row" layout-align="start center" ng-show="brief.state_sid == 3">
                    <span>Заблокировано модератором</span>
                    <span flex></span>
                </div>
                <span flex></span>
                <span class="blue-grey-text">[[ ::TYPES.REALTY[brief.tid].titles.singular ]]</span>
            </div>

            <div ng-show="brief.state_sid == 3 && brief.moderator_message">
                [[ ::brief.moderator_message ]]
                <md-divider></md-divider>
            </div>

            <h2 class="md-title" ng-show="brief.title">[[ ::brief.title ]]</h2>
            <h2 class="md-title grey-text text-lighten-1" ng-hide="brief.title">Заголовок не указан</h2>

            <p ng-show="brief.description">[[ ::brief.description ]]</p>
            <p class="grey-text text-lighten-1" ng-hide="brief.description">Описание не указано</p>
        </md-card-content>
        <md-divider></md-divider>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-warn md-hue-3" ng-hide="brief.state_sid == 2" ng-click="briefsCtrl.removeBrief($event, brief)">
                Удалить
            </md-button>
            <md-button class="md-warn md-hue-3" ng-show="brief.state_sid == 2" ng-click="briefsCtrl.removeBrief($event, brief)">
                Удалить навсегда
            </md-button>
            <span flex></span>
            <md-button class="md-primary md-hue-1" ng-hide="brief.state_sid == 2" ng-click="briefsCtrl.editPublication($event, brief)">
                Редактировать
            </md-button>
            <md-button class="md-primary md-hue-1" ng-show="brief.state_sid == 0" href="/map/#!/3/0/0/[[ brief.tid ]]:[[ brief.hid ]]/">
                Посмотреть
            </md-button>
            <md-button class="md-primary md-hue-1" ng-show="brief.state_sid == 2" ng-click="briefsCtrl.recoveryBrief($event, brief)">
                Восстановить
            </md-button>
        </div>
    </md-card>
</div>

