<input type="file" ng-file-select="onFileSelect($files)" multiple/>
<div class="row">
    <div class="col-lg-8">
        <div class="image-upload-block"
             ng-file-drop="onFileSelect($files)"
             ng-file-drag-over-class="hover"
             ng-file-drop-available="dropSupported=true"
             ng-show="dropSupported"
             ng-click="multipleSelect()">

            <span class="drop-zone-title text-muted text-center">Перетащите сюда файли</span>
        </div>
    </div>
    <!--<div class="col-lg-4" ng-repeat="photo in publication.head.photos">-->
        <!--<div class="uploaded-photo">[[ photo.name ]]</div>-->
    <!--</div>-->
</div>
<div class="row">
    <div class="col-sm-6 col-lg-4" ng-repeat="photo in publication.head.photos">
        <div class="uploaded-photo">[[ photo.name ]]</div>
    </div>
</div>

