<input type="file" ng-file-select="onFileSelect($files)" multiple/>
<div class="row">
    <div class="col-sm-12">
        <div class="image-upload-block"
             ng-file-drop="onFileSelect($files)"
             ng-file-drag-over-class="hover"
             ng-file-drop-available="dropSupported=true"
             ng-show="dropSupported"
             ng-click="multipleSelect()">

            <span class="drop-zone-title text-muted text-center">Перенесите сюда файлы или нажмите мышкой для выбора файлов</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-4" ng-repeat="photo in publication.photos">
        <div class="uploaded-photo">
            <img ng-src="[[ photo.thumbnail ]]"/>
            <div class="uploaded-photo-controls">
                <div class="btn btn-warning set-main-photo">m</div>
                <div class="btn btn-danger remove-photo">r</div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="btn btn-success" ng-click="publishPublication()">Опубликовать</div>
    </div>
</div>

