<div class="property-list-panel md-whiteframe-z1" layout="column" layout-align="start start">
    <header layout="row" layout-align="start center">
        <span flex></span>
        <md-button class="md-icon-button md-primary">
            <md-icon md-svg-icon="{{ static }}build/icons/hardware/ic_keyboard_arrow_right_24px.svg"></md-icon>
        </md-button>
    </header>
    <section class="-green">
        <img src="http://www.hotelambrose.ca/files/rooms_bg.jpg" alt="" />
        <div class="property-list-item-overlay">
            <md-button class="md-icon-button">
                <md-icon class="-white-star" md-svg-icon="{{ static }}build/icons/toggle/ic_star_border_24px.svg"></md-icon>
            </md-button>
            <div class="property-list-item-description" layout="column">
                <div class="property-list-item-title">
                    Lorem ipsum dolor sit.
                </div>
                <div class="property-list-item-price">
                    <b>50 000 грн.</b>
                </div>
            </div>
        </div>
    </section>
    <section class="-blue">
        <img src="http://hmsdemo.dhru.com/images/gallery/room/delux/SetHeight800-Deluxe-Room-Bedroom.jpg" alt="" />
        <div class="property-list-item-overlay">
            <md-button class="md-icon-button">
                <md-icon class="-white-star" md-svg-icon="{{ static }}build/icons/toggle/ic_star_border_24px.svg"></md-icon>
            </md-button>
            <div class="property-list-item-description" layout="column">
                <div class="property-list-item-title">
                    Lorem ipsum dolor sit.
                </div>
                <div class="property-list-item-price">
                    <b>50 000 грн.</b>
                </div>
            </div>
        </div>
    </section>
    <section class="-green">
        <img src="http://www.hotelambrose.ca/files/rooms_bg.jpg" alt="" />
        <div class="property-list-item-overlay">
            <md-button class="md-icon-button">
                <md-icon class="-white-star" md-svg-icon="{{ static }}build/icons/toggle/ic_star_border_24px.svg"></md-icon>
            </md-button>
            <div class="property-list-item-description" layout="column">
                <div class="property-list-item-title">
                    Lorem ipsum dolor sit.
                </div>
                <div class="property-list-item-price">
                    <b>50 000 грн.</b>
                </div>
            </div>
        </div>
    </section>
    <section class="-blue">
        <img src="http://hmsdemo.dhru.com/images/gallery/room/delux/SetHeight800-Deluxe-Room-Bedroom.jpg" alt="" />
        <div class="property-list-item-overlay">
            <md-button class="md-icon-button">
                <md-icon class="-white-star" md-svg-icon="{{ static }}build/icons/toggle/ic_star_border_24px.svg"></md-icon>
            </md-button>
            <div class="property-list-item-description" layout="column">
                <div class="property-list-item-title">
                    Lorem ipsum dolor sit.
                </div>
                <div class="property-list-item-price">
                    <b>50 000 грн.</b>
                </div>
            </div>
        </div>
    </section>
    <section class="-blue">
        <img src="http://www.hotelambrose.ca/files/rooms_bg.jpg" alt="" />
        <div class="property-list-item-overlay">
            <md-button class="md-icon-button">
                <md-icon class="-white-star" md-svg-icon="{{ static }}build/icons/toggle/ic_star_border_24px.svg"></md-icon>
            </md-button>
            <div class="property-list-item-description" layout="column">
                <div class="property-list-item-title">
                    Lorem ipsum dolor sit.
                </div>
                <div class="property-list-item-price">
                    <b>50 000 грн.</b>
                </div>
            </div>
        </div>
    </section>
</div>