<div class="publication-view-container" layout="column">
    <div layout="column" ng-show="publicationLoadedSuccess && !loaders.publication">
        <header>
            <ul rn-carousel rn-carousel-index="publicationPreviewSlideIndex" class="publication-preview-carousel">
                <li ng-repeat="photo in ::publication.photos">
                    <div class="layer">
                        <img ng-src="[[ ::photo ]]" alt=""/>
                    </div>
                </li>
            </ul>

            <div class="publication-view-image-overlay">
                <div layout="row">
                    <md-button class="md-icon-button">
                        <md-icon class="material-icons md-light md-36 md-dark-shadow">fullscreen</md-icon>
                        <md-tooltip md-direction="right" md-delay="0">
                            Посмотреть все фотографии
                        </md-tooltip>
                    </md-button>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="pubCtrl.closePublication()">
                        <md-icon class="material-icons md-light md-36 md-dark-shadow">close</md-icon>
                        <md-tooltip md-direction="left" md-delay="0">
                            Закрыть объявления
                        </md-tooltip>
                    </md-button>
                </div>


                <md-button class="md-icon-button slide-prev" ng-hide="publicationPreviewSlideIndex == 0"
                           ng-click="pubCtrl.prevSlide()">
                    <md-icon class="material-icons md-light md-48 md-dark-shadow">chevron_left</md-icon>
                </md-button>
                <md-button class="md-icon-button slide-next" ng-hide="publicationPreviewSlideIndex == publication.photos.length - 1"
                           ng-click="pubCtrl.nextSlide()">
                    <md-icon class="material-icons md-light md-48 md-dark-shadow">chevron_right</md-icon>
                </md-button>


                <div class="publication-view-overlay-description" layout="row" layout-align="start center" layout-padding>
                    <md-button class="md-icon-button" ng-hide="publication.is_favorite" ng-click="pubCtrl.toggleFavorite($event)">
                        <md-icon class="material-icons md-light md-48 md-dark-shadow">favorite_border</md-icon>
                        <md-tooltip md-direction="top" md-delay="0">
                            Добавить в избранные
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-icon-button" ng-show="publication.is_favorite" ng-click="pubCtrl.toggleFavorite($event)">
                        <md-icon class="material-icons md-light md-48 md-dark-shadow pink-text">favorite</md-icon>
                        <md-tooltip md-direction="top" md-delay="0">
                            Удалить из избранных
                        </md-tooltip>
                    </md-button>
                    <div layout="column" layout-padding>
                        <div class="md-headline">
                            [[ ::publication.title ]]
                        </div>
                        <div class="md-subhead">
                            [[ ::publication.address ]]
                        </div>
                    </div>
                    <md-fab-speed-dial class="md-fling publication-menu" md-direction="up">
                        <md-fab-trigger>
                            <md-button aria-label="publication menu" class="md-fab md-primary">
                                <md-icon>more_vert</md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button aria-label="Поделится" class="md-fab md-raised md-mini">
                                <md-icon class="material-icons blue-text">share</md-icon>
                            </md-button>
                            <md-button aria-label="Пожаловатся" class="md-fab md-raised md-mini" ng-click="pubCtrl.toggleClaimForm()">
                                <md-icon class="material-icons red-text">report</md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
            </div>
        </header>

        <div ng-include="publicationTemplateUrl"></div>
    </div>


    <div class="publication-error" layout="column" layout-align="center center" ng-hide="publicationLoadedSuccess || loaders.publication" flex>
        <div class="md-headline white-text">Случилось страшное...</div>
        <p class="md-padding white-text center-align">
            Похоже, что это объявление снято с публикации.
        </p>
        <img src="{{ static }}build/images/map/no-publication-image.gif">
        <md-button class="md-raised md-primary" ng-click="pubCtrl.closePublication()">
            Уйти
        </md-button>
    </div>


    <div layout="column" layout-align="center center" ng-show="loaders.publication" flex>
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>