<div class="publications-list-panel md-whiteframe-z1" layout="column" layout-align="start start">
    <header layout="row" layout-align="start center">
        <span flex></span>
        <md-button class="md-icon-button">
            <md-icon class="md-light">chevron_right</md-icon>
        </md-button>
    </header>
    <div class="property-list-body" layout="column" layout-align="start start" scrollbar>
        <section class="-green">
            <img src="http://www.hotelambrose.ca/files/rooms_bg.jpg" alt="" />
            <div class="property-list-item-overlay">
                <md-button class="md-icon-button">
                    <md-icon class="md-light">star_border</md-icon>
                </md-button>
                <div class="property-list-item-description" layout="column">
                    <div class="property-list-item-title">
                        Lorem ipsum dolor sit.
                    </div>
                    <div class="property-list-item-price">
                        <b>50 000 грн.</b>
                    </div>
                </div>
            </div>
        </section>
        <section class="-blue">
            <img src="http://hmsdemo.dhru.com/images/gallery/room/delux/SetHeight800-Deluxe-Room-Bedroom.jpg" alt="" />
            <div class="property-list-item-overlay">
                <md-button class="md-icon-button">
                    <md-icon class="md-light">star_border</md-icon>
                </md-button>
                <div class="property-list-item-description" layout="column">
                    <div class="property-list-item-title">
                        Lorem ipsum dolor sit.
                    </div>
                    <div class="property-list-item-price">
                        <b>50 000 грн.</b>
                    </div>
                </div>
            </div>
        </section>
        <section class="-green">
            <img src="http://www.hotelambrose.ca/files/rooms_bg.jpg" alt="" />
            <div class="property-list-item-overlay">
                <md-button class="md-icon-button">
                    <md-icon class="md-light">star_border</md-icon>
                </md-button>
                <div class="property-list-item-description" layout="column">
                    <div class="property-list-item-title">
                        Lorem ipsum dolor sit.
                    </div>
                    <div class="property-list-item-price">
                        <b>50 000 грн.</b>
                    </div>
                </div>
            </div>
        </section>
        <section class="-blue">
            <img src="http://hmsdemo.dhru.com/images/gallery/room/delux/SetHeight800-Deluxe-Room-Bedroom.jpg" alt="" />
            <div class="property-list-item-overlay">
                <md-button class="md-icon-button">
                    <md-icon class="md-light">star_border</md-icon>
                </md-button>
                <div class="property-list-item-description" layout="column">
                    <div class="property-list-item-title">
                        Lorem ipsum dolor sit.
                    </div>
                    <div class="property-list-item-price">
                        <b>50 000 грн.</b>
                    </div>
                </div>
            </div>
        </section>
        <section class="-blue">
            <img src="http://www.hotelambrose.ca/files/rooms_bg.jpg" alt="" />
            <div class="property-list-item-overlay">
                <md-button class="md-icon-button">
                    <md-icon class="md-light">star_border</md-icon>
                </md-button>
                <div class="property-list-item-description" layout="column">
                    <div class="property-list-item-title">
                        Lorem ipsum dolor sit.
                    </div>
                    <div class="property-list-item-price">
                        <b>50 000 грн.</b>
                    </div>
                </div>
            </div>
        </section>
        <section class="-blue">
            <img src="http://hmsdemo.dhru.com/images/gallery/room/delux/SetHeight800-Deluxe-Room-Bedroom.jpg" alt="" />
            <div class="property-list-item-overlay">
                <md-button class="md-icon-button">
                    <md-icon class="md-light">star_border</md-icon>
                </md-button>
                <div class="property-list-item-description" layout="column">
                    <div class="property-list-item-title">
                        Lorem ipsum dolor sit.
                    </div>
                    <div class="property-list-item-price">
                        <b>50 000 грн.</b>
                    </div>
                </div>
            </div>
        </section>
        <section class="-blue">
            <img src="http://www.hotelambrose.ca/files/rooms_bg.jpg" alt="" />
            <div class="property-list-item-overlay">
                <md-button class="md-icon-button">
                    <md-icon class="md-light">star_border</md-icon>
                </md-button>
                <div class="property-list-item-description" layout="column">
                    <div class="property-list-item-title">
                        Lorem ipsum dolor sit.
                    </div>
                    <div class="property-list-item-price">
                        <b>50 000 грн.</b>
                    </div>
                </div>
            </div>
        </section>
        <section class="-blue">
            <img src="http://hmsdemo.dhru.com/images/gallery/room/delux/SetHeight800-Deluxe-Room-Bedroom.jpg" alt="" />
            <div class="property-list-item-overlay">
                <md-button class="md-icon-button">
                    <md-icon class="md-light">star_border</md-icon>
                </md-button>
                <div class="property-list-item-description" layout="column">
                    <div class="property-list-item-title">
                        Lorem ipsum dolor sit.
                    </div>
                    <div class="property-list-item-price">
                        <b>50 000 грн.</b>
                    </div>
                </div>
            </div>
        </section>
        <section class="-blue">
            <img src="http://www.hotelambrose.ca/files/rooms_bg.jpg" alt="" />
            <div class="property-list-item-overlay">
                <md-button class="md-icon-button">
                    <md-icon class="md-light">star_border</md-icon>
                </md-button>
                <div class="property-list-item-description" layout="column">
                    <div class="property-list-item-title">
                        Lorem ipsum dolor sit.
                    </div>
                    <div class="property-list-item-price">
                        <b>50 000 грн.</b>
                    </div>
                </div>
            </div>
        </section>
        <section class="-blue">
            <img src="http://hmsdemo.dhru.com/images/gallery/room/delux/SetHeight800-Deluxe-Room-Bedroom.jpg" alt="" />
            <div class="property-list-item-overlay">
                <md-button class="md-icon-button">
                    <md-icon class="md-light">star_border</md-icon>
                </md-button>
                <div class="property-list-item-description" layout="column">
                    <div class="property-list-item-title">
                        Lorem ipsum dolor sit.
                    </div>
                    <div class="property-list-item-price">
                        <b>50 000 грн.</b>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>