<div layout="column" ng-show="publicationLoadedSuccess && !loaders.publication">
    <publication-preview-header></publication-preview-header>
    <publication-preview-body></publication-preview-body>
    <publication-preview-contacts></publication-preview-contacts>
</div>


<publication-preview-error></publication-preview-error>


<div layout="column" layout-align="center center" ng-show="loaders.publication" flex>
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>