.b-auth-user-avatar {
    border-radius: 50%;

    img {
        border-radius: 50%;
    }

    &--toolbar img {
        @include square(35px);
        margin-top: 10px;
        margin-right: 10px;
    }

    &--mini img {
        @include square(40px);
    }

    &--small img {
        @include square(60px);
    }

    &--medium img {
        @include square(100px);
    }

    &--large img {
        @include square(160px);
    }
}