//
// Load core variables and mixins
// --------------------------------------------------
@import "../components/variables";
@import "../components/mixins.less";


#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: @blue-30 !important;
    color: @blue-30 !important;
    height: 3px !important;
    opacity: 0;

    .box-shadow(~"0 0 15px rgba(0, 0, 0, 0.6)");
    .transition(~'all 0.5s ease-in-out');
}

#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}