.ps-container {
    &:hover,
    &.hover {
        .ps-scrollbar-y-rail {
            .opacity(0.6);
        }
    }

    &.ie6 {
        .ps-scrollbar-y {
            font-size: 0; /* fixed scrollbar height in xp sp3 ie6 */
        }
    }

    &.ie {
        .ps-scrollbar-y {
            visibility: hidden;
        }

        &:hover,
        &.hover {
            .ps-scrollbar-y {
                visibility: visible;
            }
        }
    }


    .ps-scrollbar-y-rail {
        position: absolute; /* please don't change 'position' */
        right: 0; /* there must be 'right' for ps-scrollbar-y-rail */
        width: 6px;
        .opacity(0);
        .transition(~"width 0.2s ease, margin 0.2s ease, opacity 0.2s ease");

        &:hover,
        &.hover,
        &.in-scrolling {
            .opacity(0.9);
            margin-right: -2px;
            width: 10px;

            .ps-scrollbar-y {
                width: 10px;
                background-color: @nice-blue;
            }
        }

        .ps-scrollbar-y {
            position: absolute; /* please don't change 'position' */
            right: 0; /* there must be 'right' for ps-scrollbar-y */
            width: 6px;
            background-color: @nice-blue;
            .transition(~"background-color 0.2s ease, width 0.2s ease");
        }
    }
}