//
// Load core variables and mixins
// --------------------------------------------------
@import "../../components/variables";
@import "../../components/mixins.less";

.map-home-btn {
    position: absolute;
    top: 30px;
    left: 13px;

    z-index: 9999;

    .square(38px);
    overflow: hidden;

    padding: 9px 0 9px 40px;
    background-color: @blue-30;
    color: #fff;

    text-decoration: none;

    font-size: 16px;

    .box-shadow(~"0 0 15px rgba(0, 0, 0, 0.4)");
    .transition(~"width 0.3s ease");

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        margin: 11px;

        content: "\e021";

        font-weight: normal;
        font-style: normal;
        font-size: 18px;
        font-family: 'Glyphicons Halflings';
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }

    &:hover, &:active, &:focus {
        color: #fff;
    }
    &:hover {
        width: 140px;
        background-color: #3286DC;
    }

    span {
        width: 100px;
        float: left;
    }
}