//
// Materialize include
// --------------------------------------------------
@import "../common/material/material";
@import "../common/components/mappino-logo/mappino-logo";

// additions
@import "additions/md-toolbar";


// custom components
// --------------------------------------------------
@import "components/header-media";

.sidenav-button {
    text-transform: none !important;
    text-align: left !important;

}

.items {
    md-icon {
        margin-top: 10px !important;
        margin-bottom: 5px !important;
    }

    md-list-item {
        min-height: 30px !important;
    }
}