//
// Materialize include
// --------------------------------------------------
@import "../common/material/material";
@import "../common/components/mappino-logo/mappino-logo";

// additions
@import "additions/md-toolbar";


// custom components
// --------------------------------------------------
@import "components/header-media";

.sidenav-button {
    text-transform: none !important;
    text-align: left !important;

}

.items {
    md-icon {
        margin-top: 10px !important;
        margin-bottom: 5px !important;
    }

    md-list-item {
        min-height: 30px !important;
    }
}

.description {
    .section-title{
        margin-top: 20px;
        margin-bottom: 15px;
        padding-bottom: 6px;
        border-bottom: 1px solid #eeeeee;
    }

    section{
        display: inline-block;
        margin-bottom: 30px;
        text-align: justify;

        .md-title{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

.fixed-panel {
    width: 300px;
    position: fixed;
    height: 100%;
}

.panel-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

@media  (min-width: 600px) {

    main {
        margin-left: 300px;
    }
}
