
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins";
@import "../../components/mappino-font/mappino";



.login-modal,
.registration-modal,
.restore-access-modal,
.first-enter-modal {

    .top-margin {
        margin-top: 35px;
    }

    .modal-body-wtp {
        padding-top: 35px;
    }

    a {
        color: #ffffff;
        display: inline-block;

        &:hover,
        &:focus {
            color: @gray-lighter;
        }
    }
    .modal-body a:first-of-type {
        margin-top: 20px;
    }

    .input-icon > .glyphicon {
        border-left-color: #98c6e0;
    }

    .btn-success {
        .button-variant(@btn-success-color; @green-30);
    }

    .form-control {
        border: 2px solid @blue-00;
        .placeholder(#9da9b4);

        &:focus,
        &:active {
            border-color: @nice-blue;
        }
    }

    .form-group {
        margin-bottom: 7px;
    }

    .text-with-picture {
        color: #d2e0e5;
    }

    .login-picture {
        .size(100%, 215px);
    }

    .row {
        .col-sm-6:first-child {
            padding-right: 3px;
        }
        .col-sm-6:last-child {
            padding-left: 4px;

            .input-icon {
                right: 17px;
            }
        }
    }
}

.registration-modal {
    h2 {
        margin-top: 0;
    }

    .code-check-picture {
        margin-bottom: 12px;
    }
}


.restore-access-modal {
    .row {
        .col-sm-6:first-child {
            padding-right: 3px;
        }
        .col-sm-6:last-child {
            padding-left: 4px;

            .input-icon {
                right: 0px;
            }
        }
    }
}


.first-enter-modal {
    .modal-dialog {
        position: relative;
        .size(100%, 100%);
        margin: 0;
    }

    .form-control {
        border: 1px solid @input-border;
    }

    .modal-content {
        position: relative;
        overflow-x: hidden;

        .header-links {
            position: absolute;
            top: 20px;
            left: 0;
            right: 0;
            z-index: 10;



            a:not(.btn) {
                padding: 7px 14px;
                margin: 0;
                line-height: 14px;

                color: rgba(255, 255, 255, 0.85) !important;
                font-size: @font-size-base;
                text-decoration: none;

                border: 1px solid rgba(41, 73, 110, 0.4);

                .transition(~"all 0.4s ease");

                &:first-child {
                    border-left: none;
                }

                &:hover,
                &.active {
                    color: #ffffff !important;
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }

        .img-holder {
            position: relative;
            background-size: cover;
            background-position: bottom center;
            background-repeat: no-repeat;

            &:not(.top) {
                .box-shadow(~"inset -2px 0px 15px -1px rgba(0,0,0,0.6)");
            }

            &.top {
                height: 900px;
                background-image: url("../../img/home/kiev-bg-medium.jpg");
            }

            &.middle {
                height: 300px;
                background-image: url("../../img/home/home-bg-1.jpg");
            }

            &.more-middle {
                height: 300px;
                background-image: url("../../img/home/home-bg-2.jpg");
            }

            &.bottom {
                height: 300px;
                background-image: url("../../img/home/home-bg-3.jpg");
            }
        }


        .image-caption {
            position: absolute;
            top: 18%;
            left: 20%;

            color: #ffffff;
            text-shadow: ~"0px 0px 15px rgba(0, 0, 0, 0.7)";

            .brand {
                font-size: 60px;
            }
            .slogan {
                font-size: 16px;
            }
        }

        section {
            background: #ffffff;
            .clearfix();

            h2 {
                color: @gray-dark;

                &.with-margin {
                    margin: 80px 0 60px;
                }

                &.with-margin-bottom {
                    margin-bottom: 60px;
                }
            }

            p {
                position: relative;
                font-size: 16px;
            }

            &.light-gray {
                background-color: @gray-lighter;
            }

            &.home-filters-pattern {
                background: url("../../img/home/home-filters-pattern.jpg");
            }

            .row {
                .col-xs-1,
                .col-xs-2 {
                    padding: 0px;
                }
                .col-xs-11,
                .col-xs-8 {
                    padding-left: 0px;
                }
            }
            .row.with-margin {
                margin: 25px 0;
            }

            &.with-padding {
                padding: 60px 40px 20px;
            }

            .with-padding-top {
                margin-top: 50px;
            }
            &.with-padding-bottom {
                padding-bottom: 60px;
            }

            .section-image {
                position: relative;

                img {
                    display: block;
                }
            }
        }

        .home-filters {
            .size(80%, 700px);

            margin-top: -190px;

            background: #fff;
            border-top: 15px solid rgba(105, 135, 170, 0.4);
            background-clip: padding-box;

            .box-shadow(~"0px 0px 15px 0px rgba(0, 0, 0, 0.15)");
            .center-block();

            .suggests-header {
                font-size: 16px;
                padding-top: 30px;

                hr {
                    margin: 20px 43%;
                }
            }
        }

    }


    .home-checkbox {
        font-size: 16px;

        &.red input[type="checkbox"]:checked + label:after {
            color: @red-10;
        }
        &.blue input[type="checkbox"]:checked + label:after {
            color: @nice-blue;
        }
        &.green input[type="checkbox"]:checked + label:after {
            color: @nice-green;
        }
        &.yellow input[type="checkbox"]:checked + label:after {
            color: @nice-yellow;
        }

        + .home-checkbox {
            margin-top: 0;
        }

        input[type="checkbox"] + label {
            line-height: 40px;
            padding: 10px 0 0 45px;

            &:before,
            &:after {
                font-family: mappino;
                font-size: 40px;
                background-image: none;

                //.transition(opacity 0.1s);
            }

            // unchecked
            &:before {
                content: '\e800';
                color: @gray-lighter;
            }

            // checked
            &:after {
                content: '\e800';
                opacity: 0;
            }
        }

        input[type="checkbox"]:checked + label {

            &:before {
                opacity: 0;
            }

            &:after {
                opacity: 1;
            }
        }
    }


    .bootstrap-select .btn {
        border: 1px solid #d2d2d2;
        border-radius: 0 !important;
    }


    .btn.section-btn {
        margin-bottom: 15px;

        color: #ffffff !important;
        text-decoration: none;
    }


    .tablet-marker {
        .size(36px, 49px);
        position: absolute;

        background: url("../../img/home/red-marker.png") center center no-repeat;

        &[class*='m-'] {
            .translate(0, -3000px);
        }
        &.m-1 {
            top: 140px;
            left: 150px;
        }
        &.m-2 {
            top: 130px;
            left: 220px;
        }
        &.m-3 {
            top: 230px;
            left: 220px;
        }
        &.m-4 {
            top: 165px;
            left: 320px;
        }
        &.m-5 {
            top: 230px;
            left: 290px;
        }
    }



    .animated {
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes slideInDown {
        0% {
            .opacity(0);
            .translate(0, -300px);
        }
        100% {
            .opacity(100);
            .translate(0, 0);
        }
    }
    @keyframes slideInDown {
        0% {
            .opacity(0);
            .translate(0, -300px);
        }
        100% {
            .opacity(100);
            .translate(0, 0);
        }
    }
    .slideInDown {
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
    }



    @-webkit-keyframes slideOutUp {
        0% {
            .opacity(100);
            .translate(0, 0);
        }
        100% {
            .opacity(0);
            .translate(0, -300px);
        }
    }
    @keyframes slideOutUp {
        0% {
            .opacity(100);
            .translate(0, 0);
        }
        100% {
            .opacity(0);
            .translate(0, -300px);
        }
    }
    .slideOutUp {
        -webkit-animation-name: slideOutUp;
        animation-name: slideOutUp;
    }



    @-webkit-keyframes fadeInDown {
        0% {
            .opacity(0);
            .translate(0, -2000px);
        }
        100% {
            .opacity(100);
            .translate(0, 0);
        }
    }

    @keyframes fadeInDown {
        0% {
            .opacity(0);
            .translate(0, -2000px);
        }
        100% {
            .opacity(100);
            .translate(0, 0);
        }
    }

    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

}

