
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins";



.login-modal,
.registration-modal,
.restore-access-modal {

    .top-margin {
        margin-top: 35px;
    }

    .modal-body-wtp {
        padding-top: 35px;
    }

    a {
        color: #ffffff;
        display: inline-block;

        &:hover,
        &:focus {
            color: @gray-lighter;
        }

        &:first-of-type {
            margin-top: 20px;
        }
    }

    .input-icon > .glyphicon {
        border-left-color: #98c6e0;
    }

    .btn-success {
        .button-variant(@btn-success-color; @green-30);
    }

    .form-control {
        border: 2px solid @blue-00;
        .placeholder(#9da9b4);

        &:focus,
        &:active {
            border-color: @nice-blue;
        }
    }

    .form-group {
        margin-bottom: 7px;
    }

    .text-with-picture {
        color: #d2e0e5;
    }

    .login-picture {
        .size(100%, 215px);
    }

    .row {
        .col-sm-6:first-child {
            padding-right: 3px;
        }
        .col-sm-6:last-child {
            padding-left: 4px;

            .input-icon {
                right: 17px;
            }
        }
    }
}

.registration-modal {
    h2 {
        margin-top: 0;
    }

    .code-check-picture {
        margin-bottom: 12px;
    }
}


.restore-access-modal {
    .row {
        .col-sm-6:first-child {
            padding-right: 3px;
        }
        .col-sm-6:last-child {
            padding-left: 4px;

            .input-icon {
                right: 0px;
            }
        }
    }
}

