//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins";

@modal-width: 1000px;

.publication-view-modal {
    .modal-dialog {
        width: @modal-width;
    }
}


.publication-view-header {
    position: relative;
    padding: 0;

    > .publication-close {
        .carousel-control;
        .carousel-control.right;

        top: 30px;
        text-align: center;
        text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);

        > .glyphicon {
            top: 50%;
            .translate(0, -50%);
        }
    }

    .title-photo {
        .size(@modal-width, 350px);
        max-height: 350px;
    }
    .photo-overlay {
        .square(100%);
        position: absolute;
        top: 0;
        #gradient .vertical-three-colors(rgba(19, 32, 46, 0.1), rgba(19, 32, 46, 0.2), 65%, rgba(19, 32, 46, 0.6));
    }

    > .over-photo-block {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 30px 50px 18px;

        > .title,
        > .address {
            text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
        }

        > .title {
            color: #fff;
            font-size: @font-size-h4;
        }

        > .address {
            color: #dadada;
            font-size: @font-size-h5;
        }
    }
}

.publication-view-body {
    > .tabs {
        .size(100%, 60px);
    }
}