//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins";

@modal-width: 1000px;

.publication-view-modal {
    .modal-dialog {
        width: @modal-width;
    }
}


.publication-view-header {
    position: relative;
    padding: 0;

    > .title-photo {
        .size(@modal-width, 350px);

        > .photo {
            .size(@modal-width, 350px);
        }

        > .photo-overlay {
            .square(100%);
            position: absolute;
            top: 0;
            //background: #323a47;
            //opacity: .4;
            //#gradient .vertical(rgba(67, 74, 84, 0), rgba(67, 74, 84, 0.9), 60%, 100%)
        }
    }

    > .over-photo-block {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 30px 100px 18px;
        background-color: rgba(16, 90, 186, 0.5);

        > .title {
            color: #fff;
            text-shadow: 0 0 18px #0a2311;
            font-size: @font-size-h4;
        }

        > .address {
            color: #dadada;
            font-size: @font-size-h5;
        }
    }
}

.publication-view-body {
    > .tabs {
        .size(100%, 60px);
    }
}