
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins";


.publication-view-modal {

    .modal-dialog {
        width: 1000px;
    }

    .content-white {
        .size(1000px, 600px);
    }

    .publication-photo {
        .size(300px, 600px);
        position: relative;
        cursor: pointer;


        .photo > .overlay {
            .size(300px, 600px);
            position: absolute;
            z-index: 100;
            background-color: transparent;
            background-image: url("../../img/main/publication-view/fool-size.png");
            background-repeat: no-repeat;
            background-position: center center;
            .opacity(0);
            .transition(~"all 0.2s linear");
        }
        .photo:hover {
            .overlay {
                background-color: rgba(0,0,0,0.5);
                .opacity(1);
            }
        }

        > .counter {
            .square(65px);
            padding: 10px;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 90;

            text-align: center;

            color: #ffffff;
            background-color: rgba(79, 170, 160, 0.9);

            &:before,
            &:after {
                content: " ";
                .square(32px);
                position: absolute;
            }
            &:before {
                top: -32px;
                left: 0;

                background-color: rgba(79, 170, 160, 0.4);
            }
            &:after {
                bottom: 0;
                right: -32px;

                background-color: rgba(79, 170, 160, 0.6);
            }
        }

        .no-photo {
            .square(100%);
            cursor: default;
            position: relative;
            background: #ededed url("../../img/main/publication-view/no-photo.png") center center no-repeat;

            > .text {
                position: absolute;
                top: 70%;
                left: 50%;

                .translate(-50%, 0);

                text-align: center;
                color: @gray-light;
            }
        }
    }

    .publication-content {
        .size(700px, 600px);

        .publication-content-header {
            .size(100%, 50px);
            padding: 10px 20px;

            span {
                font-size: @font-size-h3;
            }
        }

        .publication-content-body {
            .size(100%, calc(~"100% - 115px"));
            padding: 10px 0px 25px 20px;
            overflow-y: auto;
            line-height: 120%;

            .user-photo,
            .user-name,
            .user-phones {
                display: block;
                text-align: center;
            }

            .user-photo {
                img {
                    .square(120px);
                    border-radius: 50%;
                    border: 1px solid @gray-lighter;
                }
            }
            .user-name {
                margin-top: 20px;
                font-size: @font-size-h3;
            }
            .user-phones {
                padding: 10px 0;
                color: @gray-light;
                font-size: @font-size-h5;
            }
            .user-btns {
                width: 250px;
                .center-block();

                :last-child {
                    border-bottom: 2px dashed @nice-violet;
                }
            }
            .user-message,
            .user-call-request {
                width: 50%;
                margin-top: 10px;
                padding-top: 10px;
                border-top: 1px dashed @gray-lighter;
                .center-block();

                > .btn {
                    margin-top: 5px;
                }

                > textarea {
                    margin-top: 10px;
                }
            }
            .user-call-request {
                padding: 10px 50px 0 50px;
                text-align: center;

                .form-control {
                    margin-bottom: 10px;
                }
            }

            .section-header {
                font-weight: bold;
            }

            .description {
                padding-bottom: 20px;
                text-align: justify;
            }
            .properties {
                margin-bottom: 20px;
                .clearfix();

                .padding-top > td {
                    padding-top: 18px;
                }
                > .left {
                    width: 46%;
                    float: left;
                }
                > .right {
                    width: 54%;
                    float: right;
                }
            }
            .other-properties {
                display: block;
                margin-top: 10px;
            }
            .property-price {
                font-size: @font-size-h4;
                font-weight: bold;
                line-height: @line-height-computed;
                margin-top: 20px;
            }
            .publication-loading,
            .contacts-loading {
                display: block;
                height: 12px;
                background: url("../../img/main/publication-view/ajax-loader.gif") center center no-repeat;
            }
            tr {
                > td:first-child {
                    text-align: right;
                }
                > td:last-child {
                    padding-left: 10px;
                }
            }
        }

        .publication-content-footer {
            .size(100%, 65px);

            .btn {
                text-decoration: none !important;
                border-radius: 0;
            }

            .btn:nth-child(1) {
                width: 570px;
            }
            .btn:nth-child(2) {
                width: 65px;
            }
            .btn:nth-child(3) {
                width: 65px;
            }
        }
    }

    .photos-modal {
        height: auto;
        min-height: 500px;
        background: @gray-light;

        .close-photos-btn {
            position: absolute;
            bottom: 0px;
            left: 50%;
            .translate(-50%, 0);
            border-radius: 0px;
        }
    }

    .carousel {
        .square(100%);
        position: relative;
        padding: 40px 0 80px;

        .carousel-inner {
            .square(100%);
        }

        .item {
            .square(100%);
            > img {
                .center-block();
            }
        }
    }
}