<form name="publicationForm" ng-controller="UnpublishedPublicationController as u_pubCtrl" layout-wrap layout-gt-lg="row"
      layout-md="column" layout-lg="column" layout-gt-lg="row" layout-align-md="start center" layout-align-lg="start center" layout-align-gt-lg="end center" novalidate>

    <md-card>
        <md-card-content>
            <div layout="row">
                <div class="md-subhead blue-text">Объявление</div>
                <span flex></span>
                <span class="blue-grey-text">[[ CONSTANTS.REALTY_TYPES[pubCtrl.publicationIds.tid].singularTitle ]]</span>
            </div>
            <div class="md-padding">
                <div layout="row">
                    <md-checkbox class="md-primary" name="for_sale" ng-change="u_pubCtrl.checkField('for_sale')"
                                 ng-model="publication.head.for_sale">
                        О продаже
                    </md-checkbox>
                    <md-checkbox class="md-primary" name="for_rent" ng-change="u_pubCtrl.checkField('for_rent')"
                                 ng-model="publication.head.for_rent">
                        Об аранде
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card ng-show="publication.head.for_sale">
        <md-card-content>
            <div class="md-subhead blue-text">
                Условия продажы
            </div>
            <div class="md-padding" ng-show="publication.head.for_sale">
                <div layout="row" layout-align="start center">
                    <md-input-container flex="33">
                        <label>Цена</label>
                        <input name="sale_price" ng-model="publication.sale_terms.price"
                               ng-required="publication.head.for_sale" only-number>
                        <div ng-messages="publicationForm.sale_price.$error"
                             ng-show="publicationForm.$submitted || publicationForm.sale_price.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Цена указана неверно</div>
                        </div>
                    </md-input-container>
                    <md-select placeholder="Валюта" md-on-close="u_pubCtrl.checkField('sale_currency_sid')"
                               ng-model="publication.sale_terms.currency_sid" flex="33">
                        <md-option ng-repeat="currencyType in CONSTANTS.CURRENCY_TYPES" value="[[ currencyType.id ]]">[[ currencyType.title ]]</md-option>
                    </md-select>
                    <md-checkbox class="md-primary" name="sale_is_contract" ng-change="u_pubCtrl.checkField('sale_is_contract')"
                                 ng-model="publication.sale_terms.is_contract">
                        Договорная
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card ng-show="publication.head.for_rent">
        <md-card-content>
            <div class="md-subhead blue-text">
                Условия аренды
            </div>
            <div class="md-padding" ng-show="publication.head.for_rent">
                <div layout="row">
                    <md-select placeholder="Срок" md-on-close="u_pubCtrl.checkField('rent_period_sid')"
                               ng-model="publication.rent_terms.period_sid" flex="33">
                        <md-option ng-repeat="periodType in CONSTANTS.PERIOD_TYPES" value="[[ periodType.id ]]">[[ periodType.title ]]</md-option>
                    </md-select>
                </div>
                <div layout="row" layout-align="start center">
                    <md-input-container flex="33">
                        <label>Цена</label>
                        <input name="rent_price" ng-model="publication.rent_terms.price"
                               ng-required="publication.head.for_rent" only-number required>
                        <div ng-messages="publicationForm.rent_price.$error"
                             ng-show="publicationForm.$submitted || publicationForm.rent_price.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Цена указана неверно</div>
                        </div>
                    </md-input-container>
                    <md-select placeholder="Валюта" md-on-close="u_pubCtrl.checkField('rent_currency_sid')"
                               ng-model="publication.rent_terms.currency_sid" flex="33">
                        <md-option ng-repeat="currencyType in CONSTANTS.CURRENCY_TYPES" value="[[ currencyType.id ]]">[[ currencyType.title ]]</md-option>
                    </md-select>
                    <md-checkbox class="md-primary" name="rent_is_contract" ng-change="u_pubCtrl.checkField('rent_is_contract')"
                                 ng-model="publication.rent_terms.is_contract">
                        Договорная
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card>
        <md-card-content>
            <div class="md-subhead blue-text">
                Описание обьекта
            </div>
            <div class="md-padding" layout="column">
                <md-input-container>
                    <label>Заголовок обьявления</label>
                    <input name="title" ng-model="publication.body.title" required>
                    <div ng-messages="publicationForm.title.$error"
                         ng-show="publicationForm.$submitted || publicationForm.title.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Рекламный текст</label>
                    <textarea columns="1" name="description" ng-model="publication.body.description" required></textarea>
                    <div ng-messages="publicationForm.description.$error"
                         ng-show="publicationForm.$submitted || publicationForm.description.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-select placeholder="Тип рынка" md-on-close="u_pubCtrl.checkField('market_type_sid')"
                               ng-model="publication.body.market_type_sid" flex="33">
                        <md-option ng-repeat="marketType in CONSTANTS.MARKET_TYPES" value="[[ marketType.id ]]">[[ marketType.title ]]</md-option>
                    </md-select>
                    <md-input-container flex="33">
                        <label>Площадь</label>
                        <input name="area" ng-model="publication.body.area" only-number required>
                        <div ng-messages="publicationForm.area.$error"
                             ng-show="publicationForm.$submitted || publicationForm.area.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Площадь указана неверно</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="33">
                        <label>Высота потолков</label>
                        <input name="area" ng-model="publication.body.ceiling_height" only-number required>
                        <div ng-messages="publicationForm.ceiling_height.$error"
                             ng-show="publicationForm.$submitted || publicationForm.ceiling_height.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Высота потолков указана неверно</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-checkbox class="md-primary" name="pit" ng-change="u_pubCtrl.checkField('pit')"
                                 ng-model="publication.body.pit">
                        Яма
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card>
        <md-card-content>
            <div class="md-subhead blue-text">Удобства</div>
            <div class="md-padding" layout="column">
                <div layout-sm="column" layout-gt-sm="row">
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="electricity" ng-change="u_pubCtrl.checkField('electricity')"
                                     ng-model="publication.body.electricity">
                            Электричество
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="gas" ng-change="u_pubCtrl.checkField('gas')"
                                     ng-model="publication.body.gas">
                            Газ
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="ventilation" ng-change="u_pubCtrl.checkField('ventilation')"
                                     ng-model="publication.body.ventilation">
                            Вентиляция
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="security" ng-change="u_pubCtrl.checkField('security')"
                                     ng-model="publication.body.security">
                            Охрана
                        </md-checkbox>
                    </div>
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="hot_water" ng-change="u_pubCtrl.checkField('hot_water')"
                                     ng-model="publication.body.hot_water">
                            Горячая вода
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="cold_water" ng-change="u_pubCtrl.checkField('cold_water')"
                                     ng-model="publication.body.cold_water">
                            Холодная вода
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="security_alarm" ng-change="u_pubCtrl.checkField('security_alarm')"
                                     ng-model="publication.body.security_alarm">
                            Охранная сигнализация
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="fire_alarm" ng-change="u_pubCtrl.checkField('fire_alarm')"
                                     ng-model="publication.body.fire_alarm">
                            Пожарная сигнализация
                        </md-checkbox>
                    </div>
                </div>
                <md-input-container>
                    <label>Другие удобства, уточнения</label>
                    <input name="add_facilities" ng-model="publication.body.add_facilities">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>



    <md-card>
        <md-card-content>
            <div class="md-subhead blue-text">Местоположение</div>
            <div class="md-padding">
                <div ng-include="'/ajax/template/cabinet/publications/unpublished/map/'"></div>
            </div>
        </md-card-content>
    </md-card>



    <md-card>
        <md-card-content>
            <div class="md-subhead blue-text">Фото и видео</div>

            <div ng-include="'/ajax/template/cabinet/publications/unpublished/photos/'"></div>
        </md-card-content>
    </md-card>



    <div class="md-whiteframe-z2" layout="row" publication-controls>
        <md-button class="md-warn md-hue-3" hide-sm ng-click="pubCtrl.removePublication($event)">
            Удалить
        </md-button>
        <md-button class="md-icon-button md-warn md-hue-3" hide-gt-sm show-sm ng-click="pubCtrl.removePublication($event)">
            <md-icon>delete</md-icon>
        </md-button>

        <md-button class="md-primary md-hue-1" hide-sm>
            Заполнить позже
        </md-button>
        <md-button class="md-icon-button md-primary" hide-gt-sm show-sm >
            <md-icon>access_time</md-icon>
        </md-button>

        <span flex></span>

        <md-button class="md-raised md-primary" ng-click="u_pubCtrl.publish()">
            Опубликовать
        </md-button>
    </div>
</form>