<form  ng-controller="UnpublishedPublicationController as u_pubCtrl" name="forms.publicationForm" layout="column" layout-align="start center" layout-padding novalidate>

    <md-card>
        <md-card-content>
            <div layout="row">
                <div class="md-subhead blue-text">Объявление</div>
                <span flex></span>
                <span class="blue-grey-text">[[ TYPES.REALTY[u_pubCtrl.publicationIds.tid].titles.genitive ]]</span>
            </div>
            <div class="md-padding">
                <div layout="row">
                    <md-checkbox class="md-primary" name="for_sale" ng-change="u_pubCtrl.checkField('for_sale')"
                                 ng-model="publication.head.for_sale">
                        О продаже
                    </md-checkbox>
                    <md-checkbox class="md-primary" name="for_rent" ng-change="u_pubCtrl.checkField('for_rent')"
                                 ng-model="publication.head.for_rent">
                        Об аренде
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card ng-show="publication.head.for_sale">
        <md-card-content>
            <div class="md-subhead blue-text">Условия продажы</div>
            <div class="md-padding" ng-show="publication.head.for_sale">
                <div layout="row" layout-wrap layout-align="start center">
                    <md-input-container flex-gt-sm="33" flex-sm="50">
                        <label>Цена</label>
                        <input name="sale_price" ng-model="publication.sale_terms.price"
                               ng-required="publication.head.for_sale" only-number-with-dots>
                        <div ng-messages="forms.publicationForm.sale_price.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.sale_price.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Цена указана неверно</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex-gt-sm="33" flex-sm="50">
                        <label>Валюта</label>
                        <md-select md-on-close="u_pubCtrl.checkField('sale_currency_sid')" ng-model="publication.sale_terms.currency_sid">
                            <md-option ng-repeat="currencyType in ::TYPES.CURRENCY" value="[[ ::currencyType.id ]]">[[ ::currencyType.title ]]</md-option>
                        </md-select>
                    </md-input-container>
                    <md-checkbox class="md-primary" name="sale_is_contract" ng-change="u_pubCtrl.checkField('sale_is_contract')"
                                 ng-model="publication.sale_terms.is_contract">
                        Договорная
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card ng-show="publication.head.for_rent">
        <md-card-content>
            <div class="md-subhead blue-text">Условия аренды</div>
            <div class="md-padding" ng-show="publication.head.for_rent">
                <div layout="row">
                    <md-select placeholder="Срок" md-on-close="u_pubCtrl.checkField('rent_period_sid')"
                               ng-model="publication.rent_terms.period_sid" flex-gt-sm="33" flex-sm="99">
                        <md-option ng-repeat="periodType in ::TYPES.PERIOD" ng-if="$index > 0" value="[[ ::periodType.id ]]">[[ ::periodType.title ]]</md-option>
                    </md-select>
                </div>
                <div layout="row" layout-wrap layout-align="start center">
                    <md-input-container flex-gt-sm="33" flex-sm="50">
                        <label>Цена</label>
                        <input name="rent_price" ng-model="publication.rent_terms.price"
                               ng-required="publication.head.for_rent" only-number-with-dots required>
                        <div ng-messages="forms.publicationForm.rent_price.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.rent_price.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Цена указана неверно</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex-gt-sm="33" flex-sm="50">
                        <label>Валюта</label>
                        <md-select md-on-close="u_pubCtrl.checkField('rent_currency_sid')" ng-model="publication.rent_terms.currency_sid">
                            <md-option ng-repeat="currencyType in ::TYPES.CURRENCY" value="[[ ::currencyType.id ]]">[[ ::currencyType.title ]]</md-option>
                        </md-select>
                    </md-input-container>
                    <md-checkbox class="md-primary" name="rent_is_contract" ng-change="u_pubCtrl.checkField('rent_is_contract')"
                                 ng-model="publication.rent_terms.is_contract">
                        Договорная
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card>
        <md-card-content>
            <div class="md-subhead blue-text">Описание обьекта</div>
            <div class="md-padding" layout="column">
                <md-input-container>
                    <label>Заголовок обьявления</label>
                    <input name="title" ng-model="publication.body.title" required>
                    <div ng-messages="forms.publicationForm.title.$error"
                         ng-show="forms.publicationForm.$submitted || forms.publicationForm.title.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Рекламный текст</label>
                    <textarea columns="1" name="description" ng-model="publication.body.description" required></textarea>
                    <div ng-messages="forms.publicationForm.description.$error"
                         ng-show="forms.publicationForm.$submitted || forms.publicationForm.description.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <div layout="row" layout-sm="column">
                    <md-input-container flex-gt-sm="33" flex-sm="99">
                        <label>Тип рынка</label>
                        <md-select md-on-close="u_pubCtrl.checkField('market_type_sid')" ng-model="publication.body.market_type_sid">
                            <md-option ng-repeat="marketType in ::TYPES.MARKET" value="[[ ::marketType.id ]]">[[ ::marketType.title ]]</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex-gt-sm="33" flex-sm="99">
                        <label>Тип здания</label>
                        <md-select md-on-close="u_pubCtrl.checkField('building_type_sid')" ng-model="publication.body.building_type_sid">
                            <md-option ng-repeat="buildingType in ::TYPES.TRADE_BUILDING" value="[[ ::buildingType.id ]]">[[ ::buildingType.title ]]</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex-gt-sm="33" flex-sm="99">
                        <label>Общее состояние</label>
                        <md-select md-on-close="u_pubCtrl.checkField('condition_sid')" ng-model="publication.body.condition_sid">
                            <md-option ng-repeat="conditionType in ::TYPES.CONDITION" value="[[ ::conditionType.id ]]">[[ ::conditionType.title ]]</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container flex-gt-sm="33" flex-sm="99">
                        <label>Количество этажей</label>
                        <input name="floors_count" ng-model="publication.body.floors_count" only-number required>
                        <div ng-messages="forms.publicationForm.floors_count.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.floors_count.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Количество этажей указана неверно</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex-gt-sm="33" flex-sm="99">
                        <label>Тип этажа</label>
                        <md-select md-on-close="u_pubCtrl.checkField('floor_type_sid')" ng-model="publication.body.floor_type_sid">
                            <md-option ng-repeat="floorType in ::TYPES.FLOOR" value="[[ ::floorType.id ]]">[[ ::floorType.title ]]</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex-gt-sm="33" flex-sm="99">
                        <label>Этаж</label>
                        <input name="floor" ng-model="publication.body.floor" ng-disabled="publication.body.floor_type_sid != 0" ng-required="publication.body.floor_type_sid == 0" only-number>
                        <div ng-messages="forms.publicationForm.floor.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.floor.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Этаж указан неверно</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container flex-gt-sm="33" flex-sm="99">
                        <label>Общая площадь (м<sup>2</sup>)</label>
                        <input name="total_area" ng-model="publication.body.total_area" only-number-with-dots required>
                        <div ng-messages="forms.publicationForm.total_area.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.total_area.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Общая площадь указана неверно</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex-gt-sm="33" flex-sm="99">
                        <label>Количество кабинетов</label>
                        <input name="cabinets_count" ng-model="publication.body.cabinets_count" only-number required>
                        <div ng-messages="forms.publicationForm.cabinets_count.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.cabinets_count.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Количество кабинетов указано неверно</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex-gt-sm="33" flex-sm="99">
                        <label>Высота потолков (м)</label>
                        <input name="ceiling_height" ng-model="publication.body.ceiling_height" only-number-with-dots required>
                        <div ng-messages="forms.publicationForm.ceiling_height.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.ceiling_height.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Высота потолков указана неверно</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-sm="column">
                    <md-input-container flex-gt-sm="33" flex-sm="99">
                        <label>Отопление</label>
                        <md-select md-on-close="u_pubCtrl.checkField('heating_type_sid')" ng-model="publication.body.heating_type_sid">
                            <md-option ng-repeat="heatingType in ::TYPES.HEATING" value="[[ ::heatingType.id ]]">[[ ::heatingType.title ]]</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex-gt-sm="33" flex-sm="99" ng-show="publication.body.heating_type_sid == 0">
                        <label>Тип отопления</label>
                        <input name="custom_heating_type" ng-model="publication.body.custom_heating_type" ng-required="publication.body.heating_type_sid == '0'">
                        <div ng-messages="forms.publicationForm.custom_heating_type.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.custom_heating_type.$touched">
                            <div ng-message="required">Обязательное поле</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex-gt-sm="33" flex-sm="99" ng-show="publication.body.heating_type_sid == '1'">
                        <label>Индивидуальное отопление</label>
                        <md-select md-on-close="u_pubCtrl.checkField('ind_heating_type_sid')" ng-model="publication.body.ind_heating_type_sid">
                            <md-option ng-repeat="individualHeatingType in ::TYPES.INDIVIDUAL_HEATING" value="[[ ::individualHeatingType.id ]]">[[ ::individualHeatingType.title ]]</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex-gt-sm="33" flex-sm="99" ng-show="publication.body.ind_heating_type_sid == 0 && publication.body.heating_type_sid == 1">
                        <label>Тип индивидуального отопления</label>
                        <input name="custom_ind_heating_type" ng-model="publication.body.custom_ind_heating_type" ng-required="publication.body.ind_heating_type_sid == '0'">
                        <div ng-messages="forms.publicationForm.custom_ind_heating_type.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.custom_ind_heating_type.$touched">
                            <div ng-message="required">Обязательное поле</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-checkbox class="md-primary" name="closed_area" ng-change="u_pubCtrl.checkField('closed_area')"
                                 ng-model="publication.body.closed_area">
                        Закрытая територия
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card>
        <md-card-content>
            <div class="md-subhead blue-text">Удобства</div>
            <div class="md-padding" layout="column">
                <div layout-sm="column" layout-gt-sm="row">
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="kitchen" ng-change="u_pubCtrl.checkField('kitchen')"
                                     ng-model="publication.body.kitchen">
                            Кухня
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="hot_water" ng-change="u_pubCtrl.checkField('hot_water')"
                                     ng-model="publication.body.hot_water">
                            Горячая вода
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="cold_water" ng-change="u_pubCtrl.checkField('cold_water')"
                                     ng-model="publication.body.cold_water">
                            Холодная вода
                        </md-checkbox>
                    </div>
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="security_alarm" ng-change="u_pubCtrl.checkField('security_alarm')"
                                     ng-model="publication.body.security_alarm">
                            Охранная сигнализация
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="fire_alarm" ng-change="u_pubCtrl.checkField('fire_alarm')"
                                     ng-model="publication.body.fire_alarm">
                            Пожарная сигнализация
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="security" ng-change="u_pubCtrl.checkField('security')"
                                     ng-model="publication.body.security">
                            Охрана
                        </md-checkbox>
                    </div>
                </div>
            </div>

            <div class="md-subhead" ng-show="publication.head.for_rent">Удобства, предоставляемые с орендой</div>
            <div class="md-padding" layout="column" ng-show="publication.head.for_rent">
                <div layout-sm="column" layout-gt-sm="row">
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="furniture" ng-change="u_pubCtrl.checkField('furniture')"
                                     ng-model="publication.rent_terms.furniture">
                            Мебель
                        </md-checkbox>
                    </div>
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="conditioner" ng-change="u_pubCtrl.checkField('conditioner')"
                                     ng-model="publication.rent_terms.conditioner">
                            Кондиционер
                        </md-checkbox>
                    </div>
                </div>
            </div>

            <div class="md-padding">
                <md-input-container>
                    <label>Другие удобства, уточнения</label>
                    <input name="add_facilities" ng-model="publication.body.add_facilities">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>



    <md-card>
        <md-card-content>
            <div class="md-subhead blue-text">Коммуникации</div>
            <div class="md-padding" layout-sm="column" layout-gt-sm="row">
                <div layout="column" flex="50">
                    <md-checkbox class="md-primary" name="phone" ng-change="u_pubCtrl.checkField('phone')"
                                 ng-model="publication.body.phone">
                        Телефон
                    </md-checkbox>
                    <md-checkbox class="md-primary" name="internet" ng-change="u_pubCtrl.checkField('internet')"
                                 ng-model="publication.body.internet">
                        Интернет
                    </md-checkbox>
                    <md-checkbox class="md-primary" name="lan" ng-change="u_pubCtrl.checkField('lan')"
                                 ng-model="publication.body.lan">
                        Локальная сеть
                    </md-checkbox>
                </div>
                <div layout="column" flex="50">
                    <md-checkbox class="md-primary" name="mobile_coverage" ng-change="u_pubCtrl.checkField('mobile_coverage')"
                                 ng-model="publication.body.mobile_coverage">
                        Покрытие моб. операторов
                    </md-checkbox>
                    <md-checkbox class="md-primary" name="cable_tv" ng-change="u_pubCtrl.checkField('cable_tv')"
                                 ng-model="publication.body.cable_tv">
                        Кабельное / спутниковое ТВ
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card>
        <md-card-content>
            <div class="md-subhead blue-text">Дополнительные постройки</div>
            <div class="md-padding" layout="column">
                <div layout-sm="column" layout-gt-sm="row">
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="parking" ng-change="u_pubCtrl.checkField('parking')"
                                     ng-model="publication.body.parking">
                            Парковка
                        </md-checkbox>
                    </div>
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="open_air" ng-change="u_pubCtrl.checkField('open_air')"
                                     ng-model="publication.body.open_air">
                            Открытая площадка
                        </md-checkbox>
                    </div>
                </div>
                <md-input-container>
                    <label>Другие постройки, уточнения</label>
                    <input name="add_buildings" ng-model="publication.body.add_buildings">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>



    <ng-include src="'/ajax/template/cabinet/publications/unpublished/footer/'" include-replace></ng-include>
</form>