<form name="forms.publicationForm" layout-wrap layout="column" layout-align-md="start center"
      layout-align-lg="start center" layout-align-gt-lg="start end" novalidate>

    <md-card>
        <md-card-content>
            <div layout="row">
                <div class="md-subhead blue-text">Объявление</div>
                <span flex></span>
                <span class="blue-grey-text">[[ TYPES.REALTY[pubCtrl.publicationIds.tid].titles.genitive ]]</span>
            </div>
            <div class="md-padding">
                <div layout="row">
                    <md-checkbox class="md-primary" name="for_sale" ng-change="pubCtrl.checkField('for_sale')"
                                 ng-model="publication.head.for_sale">
                        О продаже
                    </md-checkbox>
                    <md-checkbox class="md-primary" name="for_rent" ng-change="pubCtrl.checkField('for_rent')"
                                 ng-model="publication.head.for_rent">
                        Об аранде
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card ng-show="publication.head.for_sale">
        <md-card-content>
            <div class="md-subhead blue-text">
                Условия продажы
            </div>
            <div class="md-padding" ng-show="publication.head.for_sale">
                <div layout="row" layout-align="start center">
                    <md-input-container flex="33">
                        <label>Цена</label>
                        <input name="sale_price" ng-model="publication.sale_terms.price"
                               ng-required="publication.head.for_sale" only-number-with-dots>
                        <div ng-messages="forms.publicationForm.sale_price.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.sale_price.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Цена указана неверно</div>
                        </div>
                    </md-input-container>
                    <md-select placeholder="Валюта" md-on-close="pubCtrl.checkField('sale_currency_sid')"
                               ng-model="publication.sale_terms.currency_sid" flex="33">
                        <md-option ng-repeat="currencyType in TYPES.CURRENCY" value="[[ currencyType.id ]]">[[ currencyType.title ]]</md-option>
                    </md-select>
                    <md-checkbox class="md-primary" name="sale_is_contract" ng-change="pubCtrl.checkField('sale_is_contract')"
                                 ng-model="publication.sale_terms.is_contract">
                        Договорная
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card ng-show="publication.head.for_rent">
        <md-card-content>
            <div class="md-subhead blue-text">
                Условия аренды
            </div>
            <div class="md-padding" ng-show="publication.head.for_rent">
                <div layout="row">
                    <md-select placeholder="Срок" md-on-close="pubCtrl.checkField('rent_period_sid')"
                               ng-model="publication.rent_terms.period_sid" flex="33">
                        <md-option ng-repeat="periodType in TYPES.PERIOD" value="[[ periodType.id ]]">[[ periodType.title ]]</md-option>
                    </md-select>
                    <md-input-container flex="33" flex-sm="66" ng-show="publication.rent_terms.period_sid == 0">
                        <label>Количество мест</label>
                        <input name="rent_persons_count" ng-model="publication.rent_terms.persons_count"
                               ng-required="publication.head.for_rent" only-number required>
                        <div ng-messages="forms.publicationForm.rent_persons_count.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.rent_persons_count.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Количество мест указано неверно</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="start center">
                    <md-input-container flex="33">
                        <label>Цена</label>
                        <input name="rent_price" ng-model="publication.rent_terms.price"
                               ng-required="publication.head.for_rent" only-number-with-dots required>
                        <div ng-messages="forms.publicationForm.rent_price.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.rent_price.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Цена указана неверно</div>
                        </div>
                    </md-input-container>
                    <md-select placeholder="Валюта" md-on-close="pubCtrl.checkField('rent_currency_sid')"
                               ng-model="publication.rent_terms.currency_sid" flex="33">
                        <md-option ng-repeat="currencyType in TYPES.CURRENCY" value="[[ currencyType.id ]]">[[ currencyType.title ]]</md-option>
                    </md-select>
                    <md-checkbox class="md-primary" name="rent_is_contract" ng-change="pubCtrl.checkField('rent_is_contract')"
                                 ng-model="publication.rent_terms.is_contract">
                        Договорная
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card>
        <md-card-content>
            <div class="md-subhead blue-text">
                Описание обьекта
            </div>
            <div class="md-padding" layout="column">
                <md-input-container>
                    <label>Заголовок обьявления</label>
                    <input name="title" ng-model="publication.body.title" required>
                    <div ng-messages="forms.publicationForm.title.$error"
                         ng-show="forms.publicationForm.$submitted || forms.publicationForm.title.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Рекламный текст</label>
                    <textarea columns="1" name="description" ng-model="publication.body.description" required></textarea>
                    <div ng-messages="forms.publicationForm.description.$error"
                         ng-show="forms.publicationForm.$submitted || forms.publicationForm.description.$touched">
                        <div ng-message="required">Обязательное поле</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-select placeholder="Тип рынка" md-on-close="pubCtrl.checkField('market_type_sid')"
                               ng-model="publication.body.market_type_sid" flex="33">
                        <md-option ng-repeat="marketType in TYPES.MARKET" value="[[ marketType.id ]]">[[ marketType.title ]]</md-option>
                    </md-select>
                    <md-select placeholder="Общее состояние" md-on-close="pubCtrl.checkField('condition_sid')"
                               ng-model="publication.body.condition_sid" flex="33">
                        <md-option ng-repeat="conditionType in TYPES.CONDITION" value="[[ conditionType.id ]]">[[ conditionType.title ]]</md-option>
                    </md-select>
                    <md-input-container flex="33">
                        <label>Площадь</label>
                        <input name="area" ng-model="publication.body.area" only-number-with-dots required>
                        <div ng-messages="forms.publicationForm.area.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.area.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Площадь указана неверно</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="33">
                        <label>Количество этажей</label>
                        <input name="floors_count" ng-model="publication.body.floors_count" only-number required>
                        <div ng-messages="forms.publicationForm.floors_count.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.floors_count.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Количество этажей указана неверно</div>
                        </div>
                    </md-input-container>
                    <md-select placeholder="Тип этажа" md-on-close="pubCtrl.checkField('floor_type_sid')"
                               ng-model="publication.body.floor_type_sid" flex="33">
                        <md-option ng-repeat="floorType in TYPES.FLOOR" value="[[ floorType.id ]]">[[ floorType.title ]]</md-option>
                    </md-select>
                    <md-input-container flex="33">
                        <label>Этаж</label>
                        <input name="floor" ng-model="publication.body.floor" ng-disabled="publication.body.floor_type_sid != 0" ng-required="publication.body.floor_type_sid == 0" only-number>
                        <div ng-messages="forms.publicationForm.floor.$error"
                             ng-show="forms.publicationForm.$submitted || forms.publicationForm.floor.$touched">
                            <div ng-message="required">Обязательное поле</div>
                            <div ng-message="invalid">Этаж указан неверно</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <md-card>
        <md-card-content>
            <div class="md-subhead blue-text">Удобства</div>
            <div class="md-padding" layout="column">
                <div layout-sm="column" layout-gt-sm="row">
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="electricity" ng-change="pubCtrl.checkField('electricity')"
                                     ng-model="publication.body.electricity">
                            Электричество
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="gas" ng-change="pubCtrl.checkField('gas')"
                                     ng-model="publication.body.gas">
                            Газ
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="lift" ng-change="pubCtrl.checkField('lift')"
                                     ng-model="publication.body.lift">
                            Лифт
                        </md-checkbox>
                    </div>
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="hot_water" ng-change="pubCtrl.checkField('hot_water')"
                                     ng-model="publication.body.hot_water">
                            Горячая вода
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="cold_water" ng-change="pubCtrl.checkField('cold_water')"
                                     ng-model="publication.body.cold_water">
                            Холодная вода
                        </md-checkbox>
                    </div>
                </div>
            </div>

            <div class="md-body-2" ng-show="publication.body.head.for_rent">Удобства, предоставляемые с орендой</div>
            <div class="md-padding" layout="column" ng-show="publication.body.head.for_rent">
                <div layout-sm="column" layout-gt-sm="row">
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="furniture" ng-change="u_pubCtrl.checkField('furniture')"
                                     ng-model="publication.body.furniture">
                            Мебель
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="refrigerator" ng-change="u_pubCtrl.checkField('refrigerator')"
                                     ng-model="publication.body.refrigerator">
                            Холодильник
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="tv" ng-change="u_pubCtrl.checkField('tv')"
                                     ng-model="publication.body.tv">
                            Телевизор
                        </md-checkbox>
                    </div>
                    <div layout="column" flex="50">
                        <md-checkbox class="md-primary" name="washing_machine" ng-change="u_pubCtrl.checkField('washing_machine')"
                                     ng-model="publication.body.washing_machine">
                            Стиральная машина
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="conditioner" ng-change="u_pubCtrl.checkField('conditioner')"
                                     ng-model="publication.body.conditioner">
                            Кондиционер
                        </md-checkbox>
                        <md-checkbox class="md-primary" name="home_theater" ng-change="u_pubCtrl.checkField('home_theater')"
                                     ng-model="publication.body.home_theater">
                            Дом. кинотеатр
                        </md-checkbox>
                    </div>
                </div>
            </div>

            <div class="md-padding">
                <md-input-container>
                    <label>Другие удобства, уточнения</label>
                    <input name="add_facilities" ng-model="publication.body.add_facilities">
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>



    <md-card>
        <md-card-content>
            <div class="md-subhead blue-text">Коммуникации</div>
            <div class="md-padding" layout-sm="column" layout-gt-sm="row">
                <div layout="column" flex="50">
                    <md-checkbox class="md-primary" name="phone" ng-change="pubCtrl.checkField('phone')"
                                 ng-model="publication.body.phone">
                        Телефон
                    </md-checkbox>
                    <md-checkbox class="md-primary" name="internet" ng-change="pubCtrl.checkField('internet')"
                                 ng-model="publication.body.internet">
                        Интернет
                    </md-checkbox>
                </div>
                <div layout="column" flex="50">
                    <md-checkbox class="md-primary" name="mobile_coverage" ng-change="pubCtrl.checkField('mobile_coverage')"
                                 ng-model="publication.body.mobile_coverage">
                        Покрытие моб. операторов
                    </md-checkbox>
                    <md-checkbox class="md-primary" name="cable_tv" ng-change="pubCtrl.checkField('cable_tv')"
                                 ng-model="publication.body.cable_tv">
                        Кабельное / спутниковое ТВ
                    </md-checkbox>
                </div>
            </div>
        </md-card-content>
    </md-card>



    <ng-include src="'/ajax/template/cabinet/publications/unpublished/footer/'" include-replace></ng-include>
</form>