<div class="navbar-left-container" ng-if="navbarLeftActiveTabIndex !== null">
    <md-tabs md-selected="navbarLeftActiveTabIndex" md-dynamic-height>

        <md-tab id="mappino-tab" md-on-select="navCtrl.tabsHandler.open('mappino');">
            <md-tab-label>
                mappino
            </md-tab-label>
            <md-tab-body>
                <div class="project-tab">
                    <section class="md-padding">
                        <div layout="column">
                            <div layout="row" layout-align="start center">
                                <md-button class="md-primary" href="/">
                                    <md-icon>home</md-icon>
                                    На главную
                                </md-button>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="start center">
                                <md-button class="md-primary" href="/">
                                    Частые воопросы
                                </md-button>
                            </div>
                            <div layout="row" layout-align="start-center">
                                <md-button class="md-primary" href="/">
                                    Контакты
                                </md-button>
                            </div>
                            <div layout="row" layout-align="start-center">
                                <md-button class="md-primary" href="/">
                                    О сервисе
                                </md-button>
                            </div>
                        </div>
                    </section>
                </div>
            </md-tab-body>
        </md-tab>

        <md-tab id="filters-tab" md-on-select="navCtrl.tabsHandler.open('filters');">
            <md-tab-label>
                <md-icon>filter_list</md-icon>
            </md-tab-label>
            <md-tab-body>
                <div class="filters-tab" ng-controller="FiltersTabController as filCtrl" navbar-left-section-scroll>
                    <section class="-closable -filters-blue">
                        <header layout="row" layout-align="start center" layout-padding toggle-tab-section>
                            <md-icon>place</md-icon>
                            <span class="md-body-1" ng-hide="filters.blue.b_t_sid">
                                Виберите тип
                            </span>
                            <span class="md-body-1" ng-show="filters.blue.b_t_sid">
                                [[ TYPES.REALTY[filters.blue.b_t_sid].titles.plural ]]&nbsp;
                            </span>
                            <span class="md-body-1" ng-show="filters.blue.b_p_min && filters.blue.b_p_max">
                                ([[ filters.blue.b_p_min ]] - [[ filters.blue.b_p_max ]] [[ TYPES.CURRENCY[filters.blue.b_cu_sid].title ]])
                            </span>
                            <span class="md-body-1" ng-show="filters.blue.b_p_min && !filters.blue.b_p_max">
                                (от [[ filters.blue.b_p_min ]] [[ TYPES.CURRENCY[filters.blue.b_cu_sid].title ]])
                            </span>
                            <span class="md-body-1" ng-show="!filters.blue.b_p_min && filters.blue.b_p_max">
                                (до [[ filters.blue.b_p_max ]] [[ TYPES.CURRENCY[filters.blue.b_cu_sid].title ]])
                            </span>
                        </header>
                        <tab-section-collapsible>
                            <div layout="column" layout-padding>
                                <div layout="row">
                                    <md-input-container flex="60">
                                        <label>Тип обєкта</label>
                                        <md-select ng-model="filters.blue.b_t_sid">
                                            <md-option value="null">Выбрать тип</md-option>
                                            <md-option ng-repeat="realtyType in ::TYPES.REALTY" value="[[ ::realtyType.id ]]">[[ ::realtyType.titles.singular ]]</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="40" ng-show="filters.blue.b_t_sid">
                                        <label>Операция</label>
                                        <md-select ng-model="filters.blue.b_op_sid">
                                            <md-option value="0">Продажа</md-option>
                                            <md-option value="1">Оренда</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div ng-if="filters.blue.b_t_sid && filters.blue.b_t_sid != 'null'" ng-include="'/ajax/template/map/filters/blue/' + [[ filters.blue.b_t_sid ]] + '/'"></div>
                                <md-button class="md-raised md-primary" ng-click="filCtrl.updateFilters('blue');">
                                    Обновить поиск
                                </md-button>
                            </div>
                        </tab-section-collapsible>
                    </section>
                    <section class="-closable -filters-green -closed">
                        <header layout="row" layout-align="start center" layout-padding toggle-tab-section>
                            <md-icon>place</md-icon>
                            <span class="md-body-1" ng-hide="filters.green.g_t_sid">
                                Виберите тип
                            </span>
                            <span class="md-body-1" ng-show="filters.green.g_t_sid">
                                [[ TYPES.REALTY[filters.green.g_t_sid].titles.plural ]]&nbsp;
                            </span>
                            <span class="md-body-1" ng-show="filters.green.g_p_min && filters.green.g_p_max">
                                ([[ filters.green.g_p_min ]] - [[ filters.green.g_p_max ]] [[ TYPES.CURRENCY[filters.green.g_cu_sid].title ]])
                            </span>
                            <span class="md-body-1" ng-show="filters.green.g_p_min && !filters.green.g_p_max">
                                (от [[ filters.green.g_p_min ]] [[ TYPES.CURRENCY[filters.green.g_cu_sid].title ]])
                            </span>
                            <span class="md-body-1" ng-show="!filters.green.g_p_min && filters.green.g_p_max">
                                (до [[ filters.green.g_p_max ]] [[ TYPES.CURRENCY[filters.green.g_cu_sid].title ]])
                            </span>
                        </header>
                        <tab-section-collapsible>
                            <div layout="column" layout-padding>
                                <div layout="row">
                                    <md-input-container flex="60">
                                        <label>Тип обєкта</label>
                                        <md-select ng-model="filters.green.g_t_sid">
                                            <md-option value="null">Выбрать тип</md-option>
                                            <md-option ng-repeat="realtyType in ::TYPES.REALTY" value="[[ ::realtyType.id ]]">[[ ::realtyType.titles.singular ]]</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="40" ng-show="filters.green.g_t_sid">
                                        <label>Операция</label>
                                        <md-select ng-model="filters.green.g_op_sid">
                                            <md-option value="0">Продажа</md-option>
                                            <md-option value="1">Оренда</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div ng-if="filters.green.g_t_sid != null" ng-include="'/ajax/template/map/filters/green/' + [[ filters.green.g_t_sid ]] + '/'"></div>
                                <md-button class="md-raised md-primary" ng-click="filCtrl.updateFilters('green');">
                                    Обновить поиск
                                </md-button>
                            </div>
                        </tab-section-collapsible>
                    </section>
                </div>
            </md-tab-body>
        </md-tab>



        <md-tab id="search-tab" md-on-select="navCtrl.tabsHandler.open('search');">
            <md-tab-label>
                <md-icon>place</md-icon>
            </md-tab-label>
            <md-tab-body>
                <div class="search-tab">
                    <section class="md-padding">
                        <md-input-container>
                            <input google-place-autocomplete type="text" ng-model="autocomplete">
                        </md-input-container>
                    </section>
                </div>
            </md-tab-body>
        </md-tab>


        <md-tab id="account-tab" md-on-select="navCtrl.tabsHandler.open('account');">
            <md-tab-label>
                <md-icon>perm_identity</md-icon>
            </md-tab-label>
            <md-tab-body>
                <div class="account-tab" ng-controller="AccountTabController as accCtrl">
                    <section class="md-padding">
                        <div ng-switch="authState">
                            <form name="loginForm" layout="column" ng-submit="accCtrl.login()" novalidate>
                                <div ng-switch-when="enterPhone">
                                    <div layout="column">
                                        <div ng-show="navbarLeftActiveTabIndexPart == 'favorites'">
                                            <div layout="row" layout-align="center center">
                                                <md-icon class="material-icons md-84 pink-text animated-heart">favorite</md-icon>
                                            </div>
                                            <div layout="row" layout-align="center center">
                                                <p class="center-align">
                                                    Чтобы добавить предложение в избранные, пожалуйста, введите <br>номер телефона
                                                </p>
                                            </div>
                                        </div>
                                        <div layout="row">
                                            <md-input-container flex="20">
                                                <label>Код</label>
                                                <input type="text" name="mobileCode" ng-model="account.mobileCode" disabled>
                                            </md-input-container>
                                            <md-input-container flex="80">
                                                <label>Номер телефона</label>
                                                <input type="text" name="mobilePhone" ng-model="account.mobilePhone" autofocus only-number required>
                                                <div ng-messages="loginForm.mobilePhone.$error"
                                                     ng-show="loginForm.$submitted || loginForm.mobilePhone.$touched">
                                                    <div ng-message="required">Обязательное поле</div>
                                                    <div ng-message="invalid">Номер телефона указан неверно</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div layout="row">
                                            <md-button class="md-raised md-primary" type="submit" flex>
                                                Войти
                                            </md-button>
                                        </div>
                                    </div>
                                </div>

                                <div ng-switch-when="enterSMSCode">
                                    <div layout="column">
                                        <div layout="row" layout-align="center center">
                                            <md-icon class="material-icons md-84 blue-grey-text text-lighten-3 animated-email">email</md-icon>
                                        </div>
                                        <div layout="row" layout-align="center center">
                                            Пожалуйста, введите код из SMS
                                        </div>
                                        <md-input-container flex="100">
                                            <label>Код подтверждения</label>
                                            <input type="text" name="smsCode" ng-model="account.smsCode" autofocus only-number required>
                                            <div ng-messages="loginForm.smsCode.$error"
                                                 ng-show="loginForm.smsCode.$touched">
                                                <div ng-message="required">Обязательное поле</div>
                                                <div ng-message="invalid">Неверный код подтверждения</div>
                                            </div>
                                        </md-input-container>
                                        <div layout="row">
                                            <md-button class="md-primary" ng-click="accCtrl.returnToEnterPhoneState()">
                                                Назад
                                            </md-button>
                                            <md-button class="md-raised md-primary" type="submit" flex>
                                                Войти
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div ng-switch-when="accountInformation">
                                <div class="account-info-state" layout="column">
                                    <div layout="row"layout-align="start start"  layout-padding>
                                        <div layout="column" flex="40">
                                            <img ng-src="[[ user.account.avatar_url ]]" alt="" on-error-src="{{ static }}build/images/common/no-user.png" ng-show="user.account.avatar_url" />
                                            <img src="{{ static }}build/images/common/no-user.png" ng-hide="user.account.avatar_url" alt="" />
                                        </div>

                                        <div layout="column" flex="60" layout-padding>
                                            <div class="md-title grey-text text-darken-2">[[ ::user.account.full_name ]]</div>
                                            <div>[[ ::user.account.mobile_code ]][[ ::user.account.mobile_phone ]]</div>
                                        </div>
                                    </div>
                                    <div layout="row">
                                        <md-button class="md-primary" ng-click="accCtrl.logout()">
                                            Выйти
                                        </md-button>
                                        <md-button class="md-raised md-primary" href="/cabinet/" flex>
                                            Перейти в кабинет
                                        </md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>