<div class="bwb sidebar" ng-show="sidebarIsVisible" ng-controller="SidebarCtrl" ng-cloak>
    <div class="sidebar-header">

        <div class="bwb-header text-right" ng-show="!userName || userName === ''">
            <a ng-href="/cabinet/#!/publications/all?cp">Подать обьявление</a>
            <span class="text-muted">&#8226;</span>
            <a ng-href="#!/account/registration[[ urlFiltersPart ]]">Регистрация</a>
            <span class="text-muted">&#8226;</span>
            <a ng-href="#!/account/login[[ urlFiltersPart ]]">Войти</a>
        </div>

        <div class="bwb-header text-right" ng-show="userName && userName !== ''">
            <a ng-href="/cabinet/#!/publications/all?cp">Подать обьявление</a>
            <span class="text-muted">&#8226;</span>
            <a ng-href="/cabinet/">[[ userName ]]</a>
            <span class="text-muted">&#8226;</span>
            <a href ng-click="logoutUser()">Выйти</a>
        </div>

        <div class="sidebar-header-city-search">
            <input id="sidebar-city-input" type="text" placeholder="Введите местоположение" class="form-control sidebar-city-input input-lg text-center" select-on-click ng-model="filters.map.city">
        </div>
    </div>
    <div class="bwb-body sidebar-body">
        <div class="panel-group" id="markers-accordion">
            <div class="panel panel-danger">
                <div class="panel-heading red-markers-panel-icon" data-toggle="collapse" data-parent="#markers-accordion" href="#redMarkersPanel">
                    <h4 class="panel-title" ng-hide="filters.red.r_type_sid == null">
                        <b>[[ publicationTypes[filters.red.r_type_sid].title ]] </b>
                        <small ng-show="filters.red.r_price_from && filters.red.r_price_to">([[ filters.red.r_price_from ]] - [[ filters.red.r_price_to ]] [[ currencyTypes[filters.red.r_currency_sid].title ]])</small>
                        <small ng-show="filters.red.r_price_from && !filters.red.r_price_to">(от [[ filters.red.r_price_from ]] [[ currencyTypes[filters.red.r_currency_sid].title ]])</small>
                        <small ng-show="!filters.red.r_price_from && filters.red.r_price_to">(до [[ filters.red.r_price_to ]] [[ currencyTypes[filters.red.r_currency_sid].title ]])</small>
                    </h4>
                    <h4 class="panel-title" ng-show="filters.red.r_type_sid == null">
                        <b>Виберите тип</b>
                    </h4>
                </div>
                <div id="redMarkersPanel" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div ng-if="filtersParsed">
                            <form class="form-horizontal" novalidate ng-show="templateLoaded">
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Тип:</label>
                                        <div class="col-sm-9">
                                            <select class="type-selectpicker" name="r_type_sid" data-width="100%" data-panel="red"
                                                    ng-model="filters.red.r_type_sid"
                                                    ng-options="type.id as type.title for type in publicationTypes">
                                                <option value="">Виберите тип</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div ng-include="'ajax/template/main/filters/red/' + [[ filters.red.r_type_sid ]] + '/'" ng-show="templateLoaded" ng-if="filters.red.r_type_sid != null"></div>
                            <div class="sidebar-loader" ng-hide="templateLoaded"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading blue-markers-panel-icon" data-toggle="collapse" data-parent="#markers-accordion" href="#blueMarkersPanel">
                    <h4 class="panel-title" ng-hide="filters.blue.b_type_sid == null">
                        <b>[[ publicationTypes[filters.blue.b_type_sid].title ]] </b>
                        <small ng-show="filters.blue.b_price_from && filters.blue.b_price_to">([[ filters.blue.b_price_from ]] - [[ filters.blue.b_price_to ]] [[ currencyTypes[filters.blue.b_currency_sid].title ]])</small>
                        <small ng-show="filters.blue.b_price_from && !filters.blue.b_price_to">(от [[ filters.blue.b_price_from ]] [[ currencyTypes[filters.blue.b_currency_sid].title ]])</small>
                        <small ng-show="!filters.blue.b_price_from && filters.blue.b_price_to">(до [[ filters.blue.b_price_to ]] [[ currencyTypes[filters.blue.b_currency_sid].title ]])</small>
                    </h4>
                    <h4 class="panel-title" ng-show="filters.blue.b_type_sid == null">
                        <b>Виберите тип</b>
                    </h4>
                </div>
                <div id="blueMarkersPanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-if="filtersParsed">
                            <form class="form-horizontal" novalidate ng-show="templateLoaded">
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Тип:</label>
                                        <div class="col-sm-9">
                                            <select class="type-selectpicker" name="b_type_sid" data-width="100%" data-panel="blue"
                                                    ng-model="filters.blue.b_type_sid"
                                                    ng-options="type.id as type.title for type in publicationTypes">
                                                <option value="">Виберите тип</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div ng-include="'ajax/template/main/filters/blue/' + [[ filters.blue.b_type_sid ]] + '/'" ng-show="templateLoaded" ng-if="filters.blue.b_type_sid != null"></div>
                            <div class="sidebar-loader" ng-hide="templateLoaded"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading green-markers-panel-icon" data-toggle="collapse" data-parent="#markers-accordion" href="#greenMarkersPanel">
                    <h4 class="panel-title" ng-hide="filters.green.g_type_sid == null">
                        <b>[[ publicationTypes[filters.green.g_type_sid].title ]] </b>
                        <small ng-show="filters.green.g_price_from && filters.green.g_price_to">([[ filters.green.g_price_from ]] - [[ filters.green.g_price_to ]] [[ currencyTypes[filters.green.g_currency_sid].title ]])</small>
                        <small ng-show="filters.green.g_price_from && !filters.green.g_price_to">(от [[ filters.green.g_price_from ]] [[ currencyTypes[filters.green.g_currency_sid].title ]])</small>
                        <small ng-show="!filters.green.g_price_from && filters.green.g_price_to">(до [[ filters.green.g_price_to ]] [[ currencyTypes[filters.green.g_currency_sid].title ]])</small>
                    </h4>
                    <h4 class="panel-title" ng-show="filters.green.g_type_sid == null">
                        <b>Виберите тип</b>
                    </h4>
                </div>
                <div id="greenMarkersPanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-if="filtersParsed">
                            <form class="form-horizontal" novalidate ng-show="templateLoaded">
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Тип:</label>
                                        <div class="col-sm-9">
                                            <select class="type-selectpicker" name="g_type_sid" data-width="100%" data-panel="green"
                                                    ng-model="filters.green.g_type_sid"
                                                    ng-options="type.id as type.title for type in publicationTypes">
                                                <option value="">Виберите тип</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div ng-include="'ajax/template/main/filters/green/' + [[ filters.green.g_type_sid ]] + '/'" ng-show="templateLoaded" ng-if="filters.green.g_type_sid != null"></div>
                            <div class="sidebar-loader" ng-hide="templateLoaded"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading yellow-markers-panel-icon" data-toggle="collapse" data-parent="#markers-accordion" href="#yellowMarkersPanel">
                    <h4 class="panel-title" ng-hide="filters.yellow.y_type_sid == null">
                        <b>[[ publicationTypes[filters.yellow.y_type_sid].title ]] </b>
                        <small ng-show="filters.yellow.y_price_from && filters.yellow.y_price_to">([[ filters.yellow.y_price_from ]] - [[ filters.yellow.y_price_to ]] [[ currencyTypes[filters.yellow.y_currency_sid].title ]])</small>
                        <small ng-show="filters.yellow.y_price_from && !filters.yellow.y_price_to">(от [[ filters.yellow.y_price_from ]] [[ currencyTypes[filters.yellow.y_currency_sid].title ]])</small>
                        <small ng-show="!filters.yellow.y_price_from && filters.yellow.y_price_to">(до [[ filters.yellow.y_price_to ]] [[ currencyTypes[filters.yellow.y_currency_sid].title ]])</small>
                    </h4>
                    <h4 class="panel-title" ng-show="filters.yellow.y_type_sid == null">
                        <b>Виберите тип</b>
                    </h4>
                </div>
                <div id="yellowMarkersPanel" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div ng-if="filtersParsed">
                            <form class="form-horizontal" novalidate ng-show="templateLoaded">
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <label class="col-sm-3 control-label">Тип:</label>
                                        <div class="col-sm-9">
                                            <select class="type-selectpicker" name="y_type_sid" data-width="100%" data-panel="yellow"
                                                    ng-model="filters.yellow.y_type_sid"
                                                    ng-options="type.id as type.title for type in publicationTypes">
                                                <option value="">Виберите тип</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div ng-include="'ajax/template/main/filters/yellow/' + [[ filters.yellow.y_type_sid ]] + '/'" ng-show="templateLoaded" ng-if="filters.yellow.y_type_sid != null"></div>
                            <div class="sidebar-loader" ng-hide="templateLoaded"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bwb-footer">
        <div class="bwb-footer-text">
            <a href="mailto:info@mappino.com">info@mappino.com</a> &copy; 2014.
        </div>
        <div class="bwb-si">
            <a href="http://vk.com"></a>
            <a href="http://facebook.com"></a>
            <a href="http://twitter.com"></a>
            <a href="http://plus.google.com"></a>
        </div>
    </div>
</div>