
//
// Load core variables and mixins
// --------------------------------------------------

@import "../components/variables";
@import "../components/mixins";


html, body, .wrapper, #map {
    .square(100%)
}

.marker-label {
    width: auto;
    min-width: 60px;
    padding: 5px 5px 5px 20px;

    font-size: 10px;
    font-weight: bold;
    text-align: center;

    word-break: keep-all;

    background: #ffffff;
    .box-shadow(~"0 0 5px @{gray-light}")
}