<div class="sidebar-item-detailed" ng-controller="SidebarItemDetailedCtrl">
    <div class="sidebar-item-detailed-header">
        <div class="publication-controls" ng-show="showPublication">
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-xlg dropdown-toggle btn-icon-sections" data-toggle="dropdown"></button>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="section in publicationSections"><a href ng-click="scrollToHeader(section.href)">[[ section.title ]]</a></li>
                </ul>
            </div>
            <div class="btn btn-xlg btn-success" data-loading-text="Отправка данных..." ng-click="publishPublication()">Опубликовать</div>
            <div class="btn btn-xlg btn-info btn-icon-remove"></div>
        </div>

        <div class="btn btn-info btn-xlg pull-right btn-icon-exit"></div>
    </div>
    <div class="sidebar-item-detailed-body">
        <div ng-show="showPublication" class="detailed-container">
            <div ng-if='publicationLoaded'>
                <div ng-include="publicationTemplateUrl"></div>
            </div>
        </div>

        <div class="load-detailed" ng-show="loadings.detailed"></div>
        <div class="detailed-empty text-muted" ng-show="!publicationLoaded && !loadings.detailed">
            <span>Выберите объявление на панели слева</span>
        </div>
    </div>
</div>