// Rules for sizing the icon.
.material-icons.md-18 {
    @include square(18px);
    font-size: 18px;
}
.material-icons.md-24 {
    @include square(24px);
    font-size: 24px;
}
.material-icons.md-36 {
    @include square(36px);
    font-size: 36px;
}
.material-icons.md-48 {
    @include square(48px);
    font-size: 48px;
}
.material-icons.md-60 {
    @include square(60px);
    font-size: 60px;
}
.material-icons.md-72 {
    @include square(72px);
    font-size: 72px;
}
.material-icons.md-84 {
    @include square(84px);
    font-size: 84px;
}
.material-icons.md-96 {
    @include square(96px);
    font-size: 96px;
}
.material-icons.md-dark-shadow {
    text-shadow: 0 0 5px color('grey', 'darken-2'), 0 0 1px color('grey', 'darken-4');
}

// Rules for using icons as black on a light background.
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

// Rules for using icons as white on a dark background.
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }