<div>
    <div layout="row">
        <div layout="column">
            <md-button type="button" class="md-icon-button" ng-click="calendarCtrl.move(-1)">
                <md-icon>chevron_left</md-icon>
            </md-button>
        </div>
        <div layout="column" flex layout-align="center center">
            [[ title | uppercase ]]
        </div>
        <div layout="column">
            <md-button type="button" class="md-icon-button" ng-click="calendarCtrl.move(1)">
                <md-icon>chevron_right</md-icon>
            </md-button>
        </div>
    </div>



    <table>
        <thead>
            <tr>
                <th ng-show="showWeeks">#</th>
                <th class="md-caption" ng-repeat="label in labels track by $index">
                    [[label]]
                </th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows track by $index">
            <td ng-show="showWeeks">
                <small><em>[[ weekNumbers[$index] ]]</em></small>
            </td>
            <td ng-repeat="dt in row track by dt.date">
                <md-button class="md-fab md-mini -transparent-bg"
                           ng-class="{
                               '-event-secondary': dt.secondary&&dt.hasEvent,
                               '-muted': dt.secondary,
                               '-selected': dt.selected,
                               '-has-event':!dt.secondary&&dt.hasEvent&&!dt.selected,
                               '-current': dt.current&&!dt.selected&&!dt.hasEvent,
                               '-event-on-current-date': dt.current&&dt.hasEvent
                            }"
                           ng-click="calendarCtrl.select(dt.date)">
                    [[dt.label]]
                    <md-tooltip ng-if="dt.current && !dt.hasEvent" md-direction="top" md-delay="0">
                        сегодня [[dt.label]]
                    </md-tooltip>
                    <md-tooltip ng-if="dt.hasEvent" md-direction="top" md-delay="0">
                        забронировано
                    </md-tooltip>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>