<div layout="column" layout-align="start center">
    <calendar ng-model="currentDate" calendar-mode="mode" event-source="reservations"
              range-changed="reloadSource(date_enter, date_leave)"
              event-selected="onEventSelected(event)">
    </calendar>


    <div layout="row" layout-align="start center" layout-fill layout-padding ng-repeat="event in reservations" ng-if="showRentCalendarEvents">
        <md-list flex>
            <div class="md-subhead">Забронированные даты</div>
            <md-divider></md-divider>

            <md-list-item class="md-2-line" layout="row" layout-align="start center" ng-repeat="reservation in reservations | orderBy: $index">
                <div class="md-list-item-text" layout="row" layout-align="start center">
                    <div flex>
                        <h3 class="truncate" ng-show="reservation.client_name">
                            [[ reservation.client_name ]]
                        </h3>
                        <h3 class="grey-text text-darken-1" ng-hide="reservation.client_name">
                            Имя клиента не указано
                        </h3>
                        <p>
                            <span>Дата въезда: [[ reservation.startTime | date:'dd.MM.yyyy' ]]</span>
                            <span>Дата выезда: [[ reservation.endTime | date:'dd.MM.yyyy' ]]</span>
                        </p>
                    </div>
                    <md-button class="md-icon-button md-primary" ng-click="rentCalendarCtrl.removeReservation(event.reservationId)">
                        <md-icon class="material-icons">delete</md-icon>
                    </md-button>
                </div>

            </md-list-item>
        </md-list>
    </div>


    <div layout="column" ng-if="showRentCalendarEvents">
        <md-divider></md-divider>
        <div layout="row" layout-align="center center">
            <md-button class="md-raised md-primary" ng-click="showRentDetails = true" ng-show="!showRentDetails">Добавить бронь</md-button>
        </div>

        <form novalidate class="md-padding" name="forms.reservationDetails" layout="column" ng-show="showRentDetails">
            <div layout="row" layout-align="center center">
                <div layout="row" layout-align="center center" flex-gt-md="70" layout-sm="column">
                    <md-datepicker name="dateEnter" ng-model="reservation.dateEnter" md-placeholder="Дата от" required></md-datepicker>
                    <span flex></span>
                    <md-datepicker name="dateLeave" ng-model="reservation.dateLeave" md-placeholder="Дата до" required></md-datepicker>
                </div>
            </div>
            <div layout="row" layout-align="center center">
                <md-input-container flex="90">
                    <label>Имя клиента</label>
                    <input name="clientName" type="text" ng-model="reservation.clientName">
                    <div ng-messages="forms.reservationDetails.dateEnter.$error"
                         ng-show="forms.reservationDetails.$submitted || forms.reservationDetails.dateEnter.$touched">
                        <div ng-message="required">Пожалуйста, укажите дату въезда</div>
                    </div>
                    <div ng-messages="forms.reservationDetails.dateLeave.$error"
                         ng-show="(forms.reservationDetails.$submitted || forms.reservationDetails.dateLeave.$touched) && forms.reservationDetails.dateEnter.$valid">
                        <div ng-message="required">Пожалуйста, укажите дату выезда</div>
                    </div>
                    <div ng-messages="forms.reservationDetails.clientName.$error"
                         ng-show="forms.reservationDetails.$submitted">
                        <div ng-message="booked">Даный период времени уже зарезервирован</div>
                    </div>
                    <div ng-messages="forms.reservationDetails.clientName.$error"
                         ng-show="forms.reservationDetails.$submitted">
                        <div ng-message="invalidPeriod">Дата въезда должна быть раньше чем дата выезда</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row" layout-align="center center">
                <md-button class="md-raised md-primary" ng-click="rentCalendarCtrl.reserveDailyRent()">
                    Забронировать
                </md-button>
                <md-button class="md-primary" ng-click="showRentDetails = false">
                    Отмена
                </md-button>
            </div>
        </form>
    </div>
</div>