<div ng-controller="rentCalendarController as rentCalendarCtrl">
    <section layout="column" layout-align="center center">
        <div>
            <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)">
            </calendar>
        </div>
        <div layout="row" layout-align="start center" layout-fill layout-padding ng-repeat="event in eventSource">
            <span>[[ event.startTime | date:'dd.MM.yyyy' ]]&nbsp;-&nbsp;</span>
            <span>[[ event.endTime | date:'dd.MM.yyyy' ]]</span>
            <span flex="1"></span>
            <span>[[ event.clientName ]]</span>
            <span flex></span>
            <md-button class="md-fab md-mini md-primary" ng-click="rentCalendarCtrl.removeReservation(event.id)">
                <md-icon class="white-text">delete</md-icon>
            </md-button>
        </div>
    </section>
</div>
