md-tabs {
    border-radius: 0 !important;

    md-tabs-wrapper {
        box-shadow: 0 3px 5px -1px rgba(0,0,0,.14), 0 6px 10px 0 rgba(0,0,0,.098), 0 1px 18px 0 rgba(0,0,0,.084);


        md-tabs-canvas {
            background-color: color('blue', 'base');
        }


        md-tab-item {
            &.md-active md-icon {
                color: #fff !important;
            }

            md-icon {
                color: color('blue', 'darken-4') !important;
            }
        }


        md-ink-bar {
            color: #fff !important;
            background: #fff !important;
        }
    }
}


navbar-left md-tabs {
    md-tabs-wrapper {
        margin-right: 10px;
    }

    md-tabs-content-wrapper {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}



