<div class="row">
    <div class="suggests-header text-muted">
        <hr/>
        Возможно вам будет интересно
    </div>
</div>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <div class="checkbox home-checkbox">
            <input id="1_floor" type="checkbox" name="1_floor" ng-model="suggestCheckboxes.1_floor">
            <label for="1_floor">Дом, 1 комн.</label>
        </div>
        <div class="checkbox home-checkbox">
            <input id="3_floor" type="checkbox" name="3_floor" ng-model="suggestCheckboxes.2_floor">
            <label for="3_floor">Дом, 2 комн.</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="checkbox home-checkbox">
            <input id="2_floor" type="checkbox" name="2_floor" ng-model="suggestCheckboxes.3_floor">
            <label for="2_floor">Дом, 3 комн.</label>
        </div>
        <div class="checkbox home-checkbox">
            <input id="4_floor" type="checkbox" name="4_floor" ng-model="suggestCheckboxes.4_floor">
            <label for="4_floor">Дом, 4 и больше</label>
        </div>
    </div>
</div>
