<div class="row" f-checkboxes>
    <div class="col-md-3 col-md-offset-3">
        <div class="checkbox home-checkbox">
            <input f-checkbox id="flat_1_floor" type="checkbox" name="room_from=1" ng-model="cb.flat.room_1">
            <label for="flat_1_floor">
                1-комнатную
            </label>
        </div>
        <div class="checkbox home-checkbox">
            <input f-checkbox id="flat_3_floor" type="checkbox" name="room_from=3" ng-model="cb.flat.2_room">
            <label for="flat_3_floor">3-комнатную</label>
        </div>
    </div>
    <div class="col-md-3">
        <div class="checkbox home-checkbox">
            <input f-checkbox id="flat_2_floor" type="checkbox" name="room_from=2" ng-model="cb.flat.3_room">
            <label for="flat_2_floor">2-комнатную</label>
        </div>
        <div class="checkbox home-checkbox">
            <input f-checkbox id="flat_4_floor" type="checkbox" name="room_from=4" ng-model="cb.flat.4_room">
            <label for="flat_4_floor">4 и больше&nbsp;&nbsp;</label>
        </div>
    </div>
</div>


<div ng-include="'ajax/template/main/home/suggests/'"></div>