<div ng-controller="PublishedPublicationController as publishedCtrl" class="publication-page" layout-padding layout-wrap layout="column" layout-gt-lg="row"
     layout-align-md="start center" layout-align-lg="start center" layout-align-gt-lg="center start">

    <md-card flex="32" ng-show="publication.daily_rent" ng-cloak>
        <md-card-content>
            <h3 class="md-headline blue-text">Календарь бронирований</h3>
            <rent-calendar-view show-rent-calendar-events="true" show-rent-calendar-edit-form="true"></rent-calendar-view>
        </md-card-content>
    </md-card>



    <md-card class="publication-preview-card" flex="32">
        <md-card-content>
            <publication-preview
                    hidden-controls="fullscreen-slider-button close-publication-button favorite-button publication-menu call-requests-button messaging-button rent-calendar">
            </publication-preview>
            <div layout="column" ng-show="publication.title">
                <md-divider></md-divider>
                <div layout="row">
                    <md-button class="md-warn md-hue-3" ng-click="publishedCtrl.removePublication($event)">
                        Удалить
                    </md-button>
                    <span flex></span>
                    <md-button class="md-primary md-hue-1" ng-click="publishedCtrl.editPublication($event)">
                        Редактировать
                    </md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>

</div>