<div class="settings-page" ng-controller="SettingsController as settingsCtrl">
    <form name="userProfileForm" ng-hide="loaders.base" layout-wrap layout-padding layout-sm="column" layout-md="column"
          layout-lg="column" layout-gt-lg="row" layout-align-md="start center" layout-align-lg="start center" layout-align-gt-lg="center start" novalidate>

        <md-card>
            <md-card-content>
                <h3 class="md-headline blue-text">Основная информация</h3>

                <div layout-sm="column" layout="row">
                    <div class="user-block" layout="column" layout-align="center center" flex-gt-sm="45">
                        <div class="user-photo" layout="column" layout-align="center center">
                            <img ng-src="[[ profile.account.avatar_url ]]" alt="" on-error-src="{{ static }}build/images/common/no-user.png" ng-show="profile.account.avatar_url && !loaders.avatar" />
                            <img src="{{ static }}build/images/common/no-user.png" ng-hide="profile.account.avatar_url || loaders.avatar" alt="" />

                            <md-progress-circular md-mode="indeterminate" ng-show="loaders.avatar"></md-progress-circular>
                        </div>

                        <div layout="row">
                            <md-button class="md-warn md-hue-1 md-icon-button" ng-show="profile.account.avatar_url" ng-disabled="loaders.avatar" ng-click="settingsCtrl.removeAvatar()">
                                <md-icon>remove_circle_outline</md-icon>
                                <md-tooltip md-direction="top" md-delay="0">
                                    Удалить фото
                                </md-tooltip>
                            </md-button>
                            <md-button class="md-primary md-hue-1" ng-disabled="loaders.avatar" ngf-select ngf-change="settingsCtrl.changeAvatar($files)">
                                Сменить фото
                            </md-button>
                        </div>

                        <!-- todo: need fixed -->
                        <div class="image-errors">
                            <span class="input-has-error text-center" ng-show="imageTooLarge">Слишком большое изображение <br/> (ограничение в 5 мб.)</span>
                            <span class="input-has-error text-center" ng-show="imageTooSmall">Слишком малое изображение <br/>(<200px по одной из сторон)</span>
                            <span class="input-has-error text-center" ng-show="imageUndefined">Неподдерживаемый тип</span>
                        </div>
                    </div>


                    <div layout="column" layout-align="start right" flex-gt-sm="50" offset-gt-sm="5">
                        <md-input-container flex>
                            <label>Имя</label>
                            <input type="text" name="first_name" ng-model="profile.account.first_name" required>
                            <div ng-messages="userProfileForm.first_name.$error">
                                <div ng-message="required">Обязательное поле</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>Фамилия</label>
                            <input type="text" name="last_name" ng-model="profile.account.last_name" required>
                            <div ng-messages="userProfileForm.last_name.$error">
                                <div ng-message="required">Обязательное поле</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>Эл. почта</label>
                            <input type="text" name="email" ng-model="profile.account.email" required>
                            <div ng-messages="userProfileForm.email.$error">
                                <div ng-message="required">Обязательное поле</div>
                                <div ng-message="invalid">Некоректная эл. почта</div>
                                <div ng-message="duplicated">Указанная эл. почта уже используется</div>
                            </div>
                        </md-input-container>

                        <div layout="row">
                            <md-input-container flex="20">
                                <label>Код</label>
                                <input type="text" name="mobile_code" ng-model="profile.account.mobile_code" disabled>
                            </md-input-container>
                            <md-input-container flex="80">
                                <label>Моб. телефон</label>
                                <input type="tel" name="mobile_phone" ng-model="profile.account.mobile_phone" minlength="9" maxlength="9" only-number required>
                                <div ng-messages="userProfileForm.mobile_phone.$error">
                                    <div ng-message="required">Обязательное поле</div>
                                    <div ng-message="minlength">Некоректный номер</div>
                                    <div ng-message="invalid">Некоректный номер</div>
                                    <div ng-message="duplicated">Указанный номер уже используется</div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>



        <md-card>
            <md-card-content>
                <h3 class="md-headline blue-text">Контакты</h3>

                <div layout="row" layout-sm="column">
                    <div layout="column" flex-gt-sm="50">
                        <div layout="row">
                            <md-input-container flex="20">
                                <label>Код</label>
                                <input type="text" name="add_mobile_code" ng-model="profile.account.add_mobile_code" disabled>
                            </md-input-container>
                            <md-input-container flex="80">
                                <label>Доп. моб. телефон</label>
                                <input type="tel" name="add_mobile_phone" ng-model="profile.account.add_mobile_phone" minlength="9" only-number maxlength="9">
                                <div ng-messages="userProfileForm.add_mobile_phone.$error">
                                    <div ng-message="required">Обязательное поле</div>
                                    <div ng-message="minlength">Некоректный номер</div>
                                    <div ng-message="invalid">Некоректный номер</div>
                                    <div ng-message="duplicated">Указанный номер уже используется</div>
                                </div>
                            </md-input-container>
                        </div>

                        <md-input-container>
                            <label>Раб. телефон</label>
                            <input type="text" name="landline_phone" ng-model="profile.account.landline_phone" only-number>
                            <div ng-messages="userProfileForm.landline_phone.$error">
                                <div ng-message="invalid">Некоректный номер</div>
                                <div ng-message="duplicated">Указанный номер уже используется</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>Доп. раб. телефон</label>
                            <input type="text" name="add_landline_phone" ng-model="profile.account.add_landline_phone" only-number>
                            <div ng-messages="userProfileForm.add_landline_phone.$error">
                                <div ng-message="invalid">Некоректный номер</div>
                                <div ng-message="duplicated">Указанный номер уже используется</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="column" flex-gt-sm="50">
                        <md-input-container>
                            <label>Рабочая эл. почта</label>
                            <input type="text" name="work_email" ng-model="profile.account.work_email">
                            <div ng-messages="userProfileForm.work_email.$error">
                                <div ng-message="invalid">Некоректная эл. почта</div>
                                <div ng-message="duplicated">Указанная эл. почта уже используется</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Skype</label>
                            <input type="text" name="skype" ng-model="profile.account.skype">
                        </md-input-container>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </form>
</div>