<div class="navbar-left-container" ng-if="navbarLeftActiveTabIndex !== null">
    <md-tabs md-selected="navbarLeftActiveTabIndex" md-dynamic-height>


        <md-tab id="filters-tab" md-on-select="navCtrl.tabsHandler.open('filters');">
            <md-tab-label>
                <md-icon>filter_list</md-icon>
            </md-tab-label>
            <md-tab-body>
                <div class="filters-tab" ng-controller="FiltersTabController as filCtrl">
                    <section class="-closable -filters-red">
                        <header layout="row" layout-align="start center" layout-padding toggle-tab-section>
                            <md-icon>place</md-icon>
                            <span class="md-body-1" ng-hide="filters.red.r_t_sid">
                                Виберите тип
                            </span>
                            <span class="md-body-1" ng-show="filters.red.r_t_sid">
                                [[ TYPES.REALTY[filters.red.r_t_sid].titles.plural ]]&nbsp;
                            </span>
                            <span class="md-body-1" ng-show="filters.red.r_p_min && filters.red.r_p_max">
                                ([[ filters.red.r_p_min ]] - [[ filters.red.r_p_max ]] [[ TYPES.CURRENCY[filters.red.r_cu_sid].title ]])
                            </span>
                            <span class="md-body-1" ng-show="filters.red.r_p_min && !filters.red.r_p_max">
                                (от [[ filters.red.r_p_min ]] [[ TYPES.CURRENCY[filters.red.r_cu_sid].title ]])
                            </span>
                            <span class="md-body-1" ng-show="!filters.red.r_p_min && filters.red.r_p_max">
                                (до [[ filters.red.r_p_max ]] [[ TYPES.CURRENCY[filters.red.r_cu_sid].title ]])
                            </span>
                        </header>
                        <tab-section-collapsible>
                            <div scrollbar>
                                <div layout="column" layout-padding>
                                    <div layout="row">
                                        <md-input-container flex="60">
                                            <label>Тип обєкта</label>
                                            <md-select ng-model="filters.red.r_t_sid">
                                                <md-option ng-repeat="realtyType in TYPES.REALTY" value="[[ realtyType.id ]]">[[ realtyType.titles.singular ]]</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex="40" ng-show="filters.red.r_t_sid">
                                            <label>Операция</label>
                                            <md-select ng-model="filters.red.r_op_sid">
                                                <md-option value="0">Продажа</md-option>
                                                <md-option value="1">Оренда</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </div>
                                    <div ng-if="filters.red.r_t_sid != null" ng-include="'/ajax/template/map/filters/red/' + [[ filters.red.r_t_sid ]] + '/'"></div>
                                    <md-button class="md-raised md-primary" ng-click="filCtrl.updateFilters('red');">Update</md-button>
                                </div>
                            </div>
                        </tab-section-collapsible>
                    </section>
                    <section class="-closable -filters-blue -closed">
                        <header layout="row" layout-align="start center" layout-padding toggle-tab-section>
                            <md-icon>place</md-icon>
                            <span class="md-body-1" ng-hide="filters.blue.b_t_sid">
                                Виберите тип
                            </span>
                            <span class="md-body-1" ng-show="filters.blue.b_t_sid">
                                [[ TYPES.REALTY[filters.blue.b_t_sid].titles.plural ]]&nbsp;
                            </span>
                            <span class="md-body-1" ng-show="filters.blue.b_p_min && filters.blue.b_p_max">
                                ([[ filters.blue.b_p_min ]] - [[ filters.blue.b_p_max ]] [[ TYPES.CURRENCY[filters.blue.b_cu_sid].title ]])
                            </span>
                            <span class="md-body-1" ng-show="filters.blue.b_p_min && !filters.blue.b_p_max">
                                (от [[ filters.blue.r_p_min ]] [[ TYPES.CURRENCY[filters.blue.b_cu_sid].title ]])
                            </span>
                            <span class="md-body-1" ng-show="!filters.blue.b_p_min && filters.blue.b_p_max">
                                (до [[ filters.blue.b_p_max ]] [[ TYPES.CURRENCY[filters.blue.b_cu_sid].title ]])
                            </span>
                        </header>
                        <tab-section-collapsible>
                            <div layout="column" layout-padding>
                                <div layout="row">
                                    <md-input-container flex="60">
                                        <label>Тип обєкта</label>
                                        <md-select ng-model="filters.blue.b_t_sid">
                                            <md-option ng-repeat="realtyType in TYPES.REALTY" value="[[ realtyType.id ]]">[[ realtyType.titles.singular ]]</md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container flex="40" ng-show="filters.blue.b_t_sid">
                                        <label>Операция</label>
                                        <md-select ng-model="filters.blue.b_op_sid">
                                            <md-option value="0">Продажа</md-option>
                                            <md-option value="1">Оренда</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div ng-if="filters.blue.b_t_sid != null" ng-include="'/ajax/template/map/filters/blue/' + [[ filters.blue.b_t_sid ]] + '/'"></div>
                                <md-button ng-click="filCtrl.updateFilters('blue');">Update</md-button>
                            </div>
                        </tab-section-collapsible>
                    </section>
                </div>
            </md-tab-body>
        </md-tab>



        <md-tab id="search-tab" md-on-select="navCtrl.tabsHandler.open('search');">
            <md-tab-label>
                <md-icon>search</md-icon>
            </md-tab-label>
            <md-tab-body>
                <div class="search-tab">
                    <section class="md-padding">
                        <md-input-container>
                            <label>Местоположение</label>
                            <input google-place-autocomplete type="text" ng-model="autocomplete">
                        </md-input-container>
                    </section>
                </div>
            </md-tab-body>
        </md-tab>


        <md-tab id="account-tab" md-on-select="navCtrl.tabsHandler.open('account');">
            <md-tab-label>
                <md-icon>perm_identity</md-icon>
            </md-tab-label>
            <md-tab-body>
                <div class="account-tab" ng-controller="AccountTabController as accCtrl">
                    <section class="md-padding">
                        <div ng-switch="authState">
                            <form name="loginForm" layout="column" ng-submit="accCtrl.login()" novalidate>
                                <div ng-switch-when="enterPhone">
                                    <div layout="column">
                                        <div layout="row">
                                            <md-input-container flex="20">
                                                <label>Код</label>
                                                <input type="text" name="phoneCode" ng-model="account.phoneCode" disabled>
                                            </md-input-container>
                                            <md-input-container flex="80">
                                                <label>Номер телефона</label>
                                                <input type="text" name="phoneNumber" ng-model="account.phoneNumber" autofocus only-number required>
                                                <div ng-messages="loginForm.phoneNumber.$error"
                                                     ng-show="loginForm.$submitted || loginForm.phoneNumber.$touched">
                                                    <div ng-message="required">Обязательное поле</div>
                                                    <div ng-message="invalid">Номер телефона указан неверно</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <md-button class="md-raised md-primary">
                                            Войти
                                        </md-button>
                                    </div>
                                </div>

                                <div ng-switch-when="enterSMSCode">
                                    <div layout="column">
                                        <md-input-container flex="100">
                                            <label>Код подтверждения</label>
                                            <input type="text" name="smsCode" ng-model="account.smsCode" autofocus only-number required>
                                            <div ng-messages="loginForm.smsCode.$error"
                                                 ng-show="loginForm.smsCode.$touched">
                                                <div ng-message="required">Обязательное поле</div>
                                                <div ng-message="invalid">Неверный код подтверждения</div>
                                            </div>
                                        </md-input-container>
                                        <md-button class="md-raised md-primary">
                                            Войти
                                        </md-button>
                                    </div>
                                </div>
                            </form>


                            <div ng-switch-when="accountInformation">
                                <div class="account-info-state" layout="column">
                                    <div layout="row"layout-align="start start">
                                        <img ng-src="[[ user.account.avatar_url ]]" alt="" on-error-src="{{ static }}build/images/cabinet/user.png" />

                                        <div layout="column" layout-align="start start" layout-padding>
                                            <div class="md-title">Сергій Мекетюк</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>