<div class="b-navbar-left md-whiteframe-z1" layout="row">
    <div class="b-navbar-left-wrapper" ng-if="navbarLeftActiveTabIndex !== null">
        <md-tabs md-selected="navbarLeftActiveTabIndex" md-dynamic-height>


            <md-tab id="filters-tab-red" md-on-select="navCtrl.tabsHandler.open('filters_red');">
                <md-tab-label>
                    <md-icon>filter_list</md-icon>
                </md-tab-label>
                <md-tab-body>
                    <div ng-controller="FiltersController as filCtrl">
                        <header layout="row" layout-align="start center" layout-padding toggle-tab-body>
                            <span class="md-body-1">
                                [[ navCtrl.realtyTypes[filters.red.r_t_sid].title ]]&nbsp;
                            </span>
                            <span class="md-body-1" ng-show="filters.red.r_p_min && filters.red.r_p_max">
                                ([[ filters.red.r_p_min ]] - [[ filters.red.r_p_max ]] [[ navCtrl.currencyTypes[filters.red.r_cu_sid].title ]])
                            </span>
                            <span class="md-body-1" ng-show="filters.red.r_p_min && !filters.red.r_p_max">
                                (от [[ filters.red.r_p_min ]] [[ navCtrl.currencyTypes[filters.red.r_cu_sid].title ]])
                            </span>
                            <span class="md-body-1" ng-show="!filters.red.r_p_min && filters.red.r_p_max">
                                (до [[ filters.red.r_p_max ]] [[ navCtrl.currencyTypes[filters.red.r_cu_sid].title ]])
                            </span>
                        </header>
                        <tab-body-collapsible>
                            <perfect-scrollbar class="scroller">
                                <section class="-border-top" layout="column" layout-padding>
                                    <div layout="row">
                                        <md-select placeholder="Тип обєкта" ng-model="filters.red.r_t_sid" flex="67">
                                            <md-option ng-repeat="realtyType in navCtrl.realtyTypes" value="[[ realtyType.id ]]">[[ realtyType.title ]]</md-option>
                                        </md-select>
                                        <md-select placeholder="Операция" ng-model="filters.red.r_op_sid" flex="33">
                                            <md-option value="0">Продажа</md-option>
                                            <md-option value="1">Оренда</md-option>
                                        </md-select>
                                    </div>
                                </section>
                                <div ng-if="filters.red.r_t_sid != null" ng-include="'/ajax/template/map/filters/red/' + [[ filters.red.r_t_sid ]] + '/'"></div>
                            </perfect-scrollbar>
                        </tab-body-collapsible>
                    </div>
                </md-tab-body>
            </md-tab>



            <md-tab id="filters-tab-blue" md-on-select="navCtrl.tabsHandler.open('filters_blue');">
                <md-tab-label>
                    <md-icon>filter_list</md-icon>
                </md-tab-label>
                <md-tab-body>
                    <header layout="row" layout-align="start center" layout-padding toggle-tab-body>
                        <span class="md-body-1">Дома 0 - 90 000 $</span>
                    </header>
                    <tab-body-collapsible>
                        <section class="-border-top" layout="column" layout-padding>
                            <div layout="row">
                                <md-select placeholder="Тип обєкта" ng-model="filters.blue.b_t_sid" flex="65">
                                    <md-option ng-repeat="realtyType in navCtrl.realtyTypes" value="[[ realtyType.id ]]">[[ realtyType.title ]]</md-option>
                                </md-select>
                                <md-select placeholder="Операция" ng-model="filters.blue.b_op_sid" flex="35">
                                    <md-option value="0">Продажа</md-option>
                                    <md-option value="1">Оренда</md-option>
                                </md-select>
                            </div>
                        </section>
                        <div ng-if="filters.blue.b_t_sid != null" ng-include="'/ajax/template/main/filters/blue/' + [[ filters.blue.b_t_sid ]] + '/'"></div>
                    </tab-body-collapsible>
                </md-tab-body>
            </md-tab>



            <md-tab id="search-tab" md-on-select="navCtrl.tabsHandler.open('search');">
                <md-tab-label>
                    <md-icon>search</md-icon>
                </md-tab-label>
                <md-tab-body>
                    <section class="md-padding">
                        <md-input-container>
                            <label>Местоположение</label>
                            <input type="text" ng-model="filters.map.c">
                        </md-input-container>
                    </section>
                </md-tab-body>
            </md-tab>


            <md-tab id="account-tab" md-on-select="navCtrl.tabsHandler.open('account');">
                <md-tab-label>
                    <md-icon>perm_identity</md-icon>
                </md-tab-label>
                <md-tab-body>
                    <section class="md-padding" ng-controller="AccountController as accCtrl">
                        <div ng-switch="accountState" ng-animate-children>
                            <div ng-switch-when="login">
                                <form name="loginForm" layout="column" novalidate>
                                    <md-input-container>
                                        <label>Телефон или эл. почта</label>
                                        <input type="text" name="userLogin" ng-model="login.user.login" required>
                                        <div ng-messages="loginForm.userLogin.$error"
                                             ng-show="loginForm.$submitted || loginForm.userLogin.$touched">
                                            <div ng-message="required">Обязательное поле</div>
                                            <div ng-message="invalid">Неверная пара логин - пароль</div>
                                        </div>
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Пароль</label>
                                        <input type="text" name="userPassword" ng-model="login.user.password" required>
                                        <div ng-messages="loginForm.userPassword.$error"
                                             ng-show="loginForm.$submitted || loginForm.userPassword.$touched">
                                            <div ng-message="required">Обязательное поле</div>
                                        </div>
                                    </md-input-container>
                                    <md-button class="md-raised md-primary" ng-click="accCtrl.login();">
                                        Войти
                                    </md-button>
                                </form>
                                <div layout="row">
                                    <md-button class="md-primary" ng-click="accCtrl.changeState('registration');">Регистрация</md-button>
                                    <span flex></span>
                                    <md-button class="md-primary">Напомнить пароль</md-button>
                                </div>
                            </div>
                            <!-- registration part -->
                            <div ng-switch-when="registration">
                                <form name="registrationForm" layout="column" novalidate>
                                    <div layout="row">
                                        <md-input-container>
                                            <label>Имя</label>
                                            <input type="text" name="userName" ng-model="registration.user.name" required>
                                            <div ng-messages="registrationForm.userName.$error"
                                                 ng-show="registrationForm.$submitted || registrationForm.userName.$touched">
                                                <div ng-message="required">Обязательное поле</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>Фамилия</label>
                                            <input type="text" name="userSurname" ng-model="registration.user.surname" required>
                                            <div ng-messages="registrationForm.userSurname.$error"
                                                 ng-show="registrationForm.$submitted || registrationForm.userSurname.$touched">
                                                <div ng-message="required">Обязательное поле</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="row">
                                        <md-input-container flex="100">
                                            <label>Эл. почта</label>
                                            <input type="email" name="userEmail" ng-model="registration.user.email" required>
                                            <div ng-messages="registrationForm.userEmail.$error"
                                                 ng-show="registrationForm.$submitted || registrationForm.userEmail.$touched">
                                                <div ng-message="required">Обязательное поле</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout="column">
                                        <md-input-container>
                                            <label>Моб. телефон</label>
                                            <input type="tel" name="userPhone" ng-model="registration.user.phone" required>
                                            <div ng-messages="registrationForm.userPhone.$error"
                                                 ng-show="registrationForm.$submitted || registrationForm.userPhone.$touched">
                                                <div ng-message="required">Обязательное поле</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>Пароль</label>
                                            <input type="text" name="userPassword" ng-model="registration.user.password" required>
                                            <div ng-messages="registrationForm.userPassword.$error"
                                                 ng-show="registrationForm.$submitted || registrationForm.userPassword.$touched">
                                                <div ng-message="required">Обязательное поле</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container>
                                            <label>Пароль еще разочек</label>
                                            <input type="text" name="userPasswordRepeat" ng-model="registration.user.passwordRepeat" required>
                                            <div ng-messages="registrationForm.userPasswordRepeat.$error"
                                                 ng-show="registrationForm.$submitted || registrationForm.userPasswordRepeat.$touched">
                                                <div ng-message="required">Обязательное поле</div>
                                            </div>
                                        </md-input-container>
                                        <md-button class="md-raised md-primary" ng-click="accCtrl.registration();">
                                            Регистрация
                                        </md-button>
                                    </div>
                                    <div layout="row">
                                        <md-button class="md-primary" ng-click="accCtrl.changeState('login');">Войти</md-button>
                                        <span flex></span>
                                        <md-button class="md-primary">Напомнить пароль</md-button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </div>
</div>