
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins.less";

/**
* Sidebar-item-list styles
**/
.sidebar-item-list {
    .size(300px, 100%);

    float: left;

    .sidebar-item-list-header {
        .size(100%, 65px);
        padding: 14px 15px;
        border-right: 1px solid @gray-lighter;
        border-bottom: 1px solid @gray-lighter;
        background: #ffffff;
    }

    .sidebar-item-list-body {
        .size(100%, ~"calc(100% - 65px)");
        position: relative;
        overflow: hidden;

        border-right: 1px solid @gray-lighter;
        background: #ffffff;

        .item-loader {
            .size(100%, 64px);
            display: block;

            background: url("../../img/cabinet/loaders/sidebar-list-and-detailed-loader.gif") center center no-repeat;
        }

        .briefs-empty {
            .size(~"calc(100% - 70px)", 150px);
            position: relative;

            margin: 35px;

            text-align: center;
            font-size: @font-size-base;

            border: 2px dashed @gray-lighter;
            border-radius: 15px;

            span {
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                .translate(0, -50%);
            }
        }
    }

}



//sidebar-item-list-item styles
.sidebar-item-list-item {
    .size(100%, auto);
    position: relative;
    padding: 15px;
    cursor: pointer;
    background: #ffffff;
    border-bottom: 1px dashed @gray-lighter;
    .transition(~"background 0.1s ease");
    .clearfix();

    &:hover,
    &:focus {
        background: #fafafa;
    }

    &.active {
        background: darken(#fafafa, 2%);
    }

    .sidebar-item-list-item-img {
        .square(50px);
        float: left;

        img {
            .square(100%);
            border-radius: 50%;
        }
    }

    .sidebar-item-list-item-detail {
        width: 219px;
        float: left;
        padding-left: 15px;
    }

    .sidebar-item-list-item-title {
        display: block;
        font-size: 16px;
        font-weight: bold;

        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .sidebar-item-list-item-type {
        display: block;
        padding-top: 8px;

        .opacity(0.5);
    }

    .sidebar-item-list-item-tags {
        display: block;
        margin-top: 5px;

        .label {
            display: inline-block;
            line-height: normal;
            margin: 2px 0;

            + .label,
            &:first-child {
                margin-right: 5px;
            }
        }
    }

}