%_base-list-item {
    @include size(220px, 120px);
    position: relative;

    min-height: 120px;
    max-height: 120px;

    padding: 1px 3px 1px 3px;

    cursor: pointer;
    background: #fff;

    @include transition(background-color .2s ease);

    &.-hovered {
        background-color: color('blue', 'base');
    }

    &:first-child {
        padding-top: 2px;
    }
    &:last-child {
        padding-bottom: 2px;
    }


    > img {
        @include square(100%);
    }
}

%_base-list-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

%_base-list-item-description {
    padding: 10px 20px;

    color: #fff;
    font-size: 13px;
    background-color: rgba(0, 0, 0, .2);
    text-shadow: 0 0 5px color('grey', 'darken-2'), 0 0 1px color('grey', 'darken-4');
}