<form class="form-horizontal" novalidate>
    <h4 class="section-header">Основное</h4>

    <div class="row form-group">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Операция:</label>
            <div class="col-sm-9">
                <select selectpicker name="{{ current_panel_prefix }}_op_sid" data-width="100%"
                        ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid"
                        ng-options="operation.id as operation.title for operation in operationTypes">
                </select>
            </div>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Цена:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_p_min" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_p_min" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_p_max" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_p_max" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <select selectpicker name="{{ current_panel_prefix }}_cu_sid" data-width="100%"
                        ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_cu_sid"
                        ng-options="currency.id as currency.title for currency in currencyTypes">
                </select>
            </div>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-sm-12">
            <label class="col-sm-6 control-label">Общая площадь:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_t_a_min" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_t_a_min" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_t_a_max" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_t_a_max" allow-only-number/>
            </div>
        </div>
    </div>


    <div class="row form-group without-margin-bottom">
        <div class="col-sm-12">
            <label class="col-sm-6 control-label">Высота потолков:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_c_h_min" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_c_h_min" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_c_h_max" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_c_h_max" allow-only-number/>
            </div>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-sm-9 col-sm-offset-3">
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_pit" type="checkbox" name="{{ current_panel_prefix }}_pit" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_pit">
                <label for="{{ current_panel_prefix }}_pit">Яма</label>
            </div>
        </div>
    </div>

</form>