<form class="form-horizontal" novalidate ng-init="initPlugins()">

    <div class="row form-group">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Операция:</label>
            <div class="col-sm-9">
                <select name="{{ current_panel_prefix }}_operation_sid" data-width="100%" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid">
                    <option value="0">Продажа</option>
                    <option value="1">Аренда</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid == 1">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Срок:</label>
            <div class="col-sm-9">
                <select name="{{ current_panel_prefix }}_period_sid" data-width="100%" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_period_sid">
                    <option value="0">Не учитывать</option>
                    <option value="1">Посуточно</option>
                    <option value="2">Помесячно</option>
                </select>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-class="{ 'without-margin-bottom': filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid == 0 }">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Цена:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_price_from" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_price_from" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_price_to" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_price_to" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <select name="{{ current_panel_prefix }}_currency_sid" data-width="100%" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_currency_sid">
                    <option value="2">Грн.</option>
                    <option value="0">Дол.</option>
                    <option value="1">Евро</option>
                </select>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid == 0">
        <div class="col-sm-9 col-sm-offset-3">
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_new_buildings" type="checkbox" name="{{ current_panel_prefix }}_new_buildings" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_new_buildings">
                <label for="{{ current_panel_prefix }}_new_buildings">Новостройки</label>
            </div>
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_secondary_market" type="checkbox" name="{{ current_panel_prefix }}_secondary_market" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_secondary_market">
                <label for="{{ current_panel_prefix }}_secondary_market">Вторичный рынок</label>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid == 0">
        <div class="col-sm-12">
            <label class="col-sm-6 control-label">Кол-во комнат:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_rooms_count_from" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_rooms_count_from" allow-only-number-without-dot/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_rooms_count_to" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_rooms_count_to" allow-only-number-without-dot/>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid == 0">
        <div class="col-sm-12">
            <label class="col-sm-6 control-label">Кол-во этажей:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_floors_count_from" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_floors_count_from" allow-only-number-without-dot/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_floors_count_to" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_floors_count_to" allow-only-number-without-dot/>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid == 1">
        <div class="col-sm-12">
            <label class="col-sm-6 control-label">Кол-во мест:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_persons_count_from" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_persons_count_from" allow-only-number-without-dot/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_persons_count_to" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_persons_count_to" allow-only-number-without-dot/>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid == 1">
        <div class="col-sm-9 col-sm-offset-3">
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_rent_family" type="checkbox" name="{{ current_panel_prefix }}_rent_family" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_rent_family">
                <label for="{{ current_panel_prefix }}_rent_family">Подходит для семей с детьми</label>
            </div>
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_rent_foreigners" type="checkbox" name="{{ current_panel_prefix }}_rent_foreigners" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_rent_foreigners">
                <label for="{{ current_panel_prefix }}_rent_foreigners">Размещение иностранцев</label>
            </div>
        </div>
    </div>


    <div class="row form-group">
        <h4 class="section-header">Удобства</h4>
        <div class="col-sm-6">
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_electricity" type="checkbox" name="{{ current_panel_prefix }}_electricity" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_electricity">
                <label for="{{ current_panel_prefix }}_electricity">Электричество</label>
            </div>
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_gas" type="checkbox" name="{{ current_panel_prefix }}_gas" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_gas">
                <label for="{{ current_panel_prefix }}_gas">Газ</label>
            </div>
            <div class="checkbox" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid == 0">
                <input id="{{ current_panel_prefix }}_sewerage" type="checkbox" name="{{ current_panel_prefix }}_sewerage" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_sewerage">
                <label for="{{ current_panel_prefix }}_sewerage">Канализация</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_hot_water" type="checkbox" name="{{ current_panel_prefix }}_hot_water" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_hot_water">
                <label for="{{ current_panel_prefix }}_hot_water">Гар. вода</label>
            </div>
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_cold_water" type="checkbox" name="{{ current_panel_prefix }}_cold_water" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_cold_water">
                <label for="{{ current_panel_prefix }}_cold_water">Хол. вода</label>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid == 0">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Отопление:</label>
            <div class="col-sm-9">
                <select name="{{ current_panel_prefix }}_heating_type_sid" data-width="100%" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_heating_type_sid">
                    <option value="0">Не учитывать</option>
                    <option value="1">Центральное</option>
                    <option value="2">Индивидуальное</option>
                    <option value="3">Нет</option>
                </select>
            </div>
        </div>
    </div>
</form>