<form class="form-horizontal" novalidate>
    <div class="row form-group">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Тип:</label>
            <div class="col-sm-9">
                <select name="{{ current_panel_prefix }}_type_sid" data-width="100%" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_type_sid">
                    <option value="0">Дом</option>
                    <option value="1">Квартира</option>
                    <option value="2">Аппартаменты</option>
                    <option value="3">Дача</option>
                    <option value="4">Коттедж</option>
                    <option value="5">Комната</option>
                    <option value="6">Торговое помещение</option>
                    <option value="7">Офис</option>
                    <option value="8">Склад</option>
                    <option value="9">Готовий бизнес</option>
                    <option value="10">Обьект общепита</option>
                    <option value="11">Гараж</option>
                    <option value="12">Земельный участок</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Операция:</label>
            <div class="col-sm-9">
                <select name="{{ current_panel_prefix }}_operation_sid" data-width="100%" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid">
                    <option value="0">Продаж</option>
                    <option value="1">Аренда</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid == 1">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Срок:</label>
            <div class="col-sm-9">
                <select name="{{ current_panel_prefix }}_period_sid" data-width="100%" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_period_sid">
                    <option value="0">Посуточно</option>
                    <option value="1">Помесячно</option>
                    <option value="2">Долгосрочная оренда</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row form-group without-margin-bottom">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Цена:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_price_min" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_price_min" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_price_max" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_price_max" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <select name="{{ current_panel_prefix }}_currency_sid" data-width="100%" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_currency_sid">
                    <option value="2">Грн.</option>
                    <option value="0">Дол.</option>
                    <option value="1">Евро</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_operation_sid == 1">
        <div class="col-sm-9 col-sm-offset-3">
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_rent_family" type="checkbox" name="{{ current_panel_prefix }}_rent_family" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_rent_family">
                <label for="{{ current_panel_prefix }}_rent_family">Подходит для семей с детьми</label>
            </div>
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_rent_foreigners" type="checkbox" name="{{ current_panel_prefix }}_rent_foreigners" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_rent_foreigners">
                <label for="{{ current_panel_prefix }}_rent_foreigners">Размещение иностранцев</label>
            </div>
        </div>
    </div>
</form>