<form class="form-horizontal" novalidate>
    <h5 class="section-header">Основные критерии поиска</h5>

    <div class="row form-group">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Операция:</label>
            <div class="col-sm-9">
                <select selectpicker name="{{ current_panel_prefix }}_op_sid" data-width="100%"
                        ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid"
                        ng-options="operation.id as operation.title for operation in operationTypes">
                </select>
            </div>
        </div>
    </div>

    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid == 1">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Срок:</label>
            <div class="col-sm-9">
                <select selectpicker name="{{ current_panel_prefix }}_op_sid" data-width="100%"
                        ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_pr_sid"
                        ng-options="rentType.id as rentType.title for rentType in rentTypes">
                </select>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-class="{ 'without-margin-bottom': filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid == 0 }">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Цена:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_p_min" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_p_min" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_p_max" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_p_max" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <select selectpicker name="{{ current_panel_prefix }}_cu_sid" data-width="100%"
                        ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_cu_sid"
                        ng-options="currency.id as currency.title for currency in currencyTypes">
                </select>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid == 0">
        <div class="col-sm-9 col-sm-offset-3">
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_n_b" type="checkbox" name="{{ current_panel_prefix }}_n_b" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_n_b">
                <label for="{{ current_panel_prefix }}_n_b">Новостройки</label>
            </div>
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_s_m" type="checkbox" name="{{ current_panel_prefix }}_s_m" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_s_m">
                <label for="{{ current_panel_prefix }}_s_m">Вторичный рынок</label>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid == 1">
        <div class="col-sm-12">
            <label class="col-sm-6 control-label">Количество мест:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_p_c_min" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_p_c_min" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_p_c_max" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_p_c_max" allow-only-number/>
            </div>
        </div>
    </div>


    <div class="row form-group">
        <div class="col-sm-12">
            <label class="col-sm-6 control-label">Общая площадь:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_t_a_min" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_t_a_min" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_t_a_max" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_t_a_max" allow-only-number/>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid == 0">
        <div class="col-sm-12">
            <label class="col-sm-6 control-label">Количество комнат:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_r_c_min" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_r_c_min" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_r_c_max" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_r_c_max" allow-only-number/>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid == 0">
        <div class="col-sm-12">
            <label class="col-sm-6 control-label">Количество этажей:</label>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_f_c_min" placeholder="От" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_f_c_min" allow-only-number/>
            </div>
            <div class="col-sm-3">
                <input class="form-control" type="text" name="{{ current_panel_prefix }}_f_c_max" placeholder="До" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_f_c_max" allow-only-number/>
            </div>
        </div>
    </div>



    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid == 1">
        <div class="col-sm-9 col-sm-offset-3">
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_fml" type="checkbox" name="{{ current_panel_prefix }}_fml" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_fml">
                <label for="{{ current_panel_prefix }}_fml">Подходит для семей с детьми</label>
            </div>
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_frg" type="checkbox" name="{{ current_panel_prefix }}_frg" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_frg">
                <label for="{{ current_panel_prefix }}_frg">Размещение иностранцев</label>
            </div>
        </div>
    </div>


    <div class="row form-group">
        <h5 class="section-header">Удобства</h5>
        <div class="col-sm-6">
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_gas" type="checkbox" name="{{ current_panel_prefix }}_gas" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_gas">
                <label for="{{ current_panel_prefix }}_gas">Газ</label>
            </div>
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_elt" type="checkbox" name="{{ current_panel_prefix }}_elt" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_elt">
                <label for="{{ current_panel_prefix }}_elt">Электричество</label>
            </div>
            <div class="checkbox" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid == 0">
                <input id="{{ current_panel_prefix }}_swg" type="checkbox" name="{{ current_panel_prefix }}_swg" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_swg">
                <label for="{{ current_panel_prefix }}_swg">Канализация</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_h_w" type="checkbox" name="{{ current_panel_prefix }}_h_w" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_h_w">
                <label for="{{ current_panel_prefix }}_h_w">Гар. вода</label>
            </div>
            <div class="checkbox">
                <input id="{{ current_panel_prefix }}_c_w" type="checkbox" name="{{ current_panel_prefix }}_c_w" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_c_w">
                <label for="{{ current_panel_prefix }}_c_w">Хол. вода</label>
            </div>
        </div>
    </div>


    <div class="row form-group" ng-show="filters.{{ current_panel }}.{{ current_panel_prefix }}_op_sid == 0">
        <div class="col-sm-12">
            <label class="col-sm-3 control-label">Отопление:</label>
            <div class="col-sm-9">
                <select selectpicker name="{{ current_panel_prefix }}_h_t_sid" data-width="100%" ng-model="filters.{{ current_panel }}.{{ current_panel_prefix }}_h_t_sid">
                    <option value="0">Не учитывать</option>
                    <option value="1">Есть</option>
                    <option value="2">Нет</option>
                </select>
            </div>
        </div>
    </div>
</form>