<input type="file" ng-file-select="onFileSelect($files)" accept="image/jpeg, image/png" multiple/>
<div class="row">
    <div class="col-sm-12">
        <div class="image-upload-block"
             ng-file-drop="onFileSelect($files)"
             ng-file-drag-over-class="hover"
             ng-file-drop-available="dropSupported=true"
             ng-show="dropSupported"
             ng-click="multipleSelect()">

            <span class="drop-zone-title text-muted text-center">Перенесите сюда файлы или нажмите мышкой для выбора файлов</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-lg-6" ng-repeat="photo in publication.photos">
        <div class="uploaded-photo">
            <img ng-src="[[ photo.thumbnail ]]"/>
            <div class="uploaded-photo-controls">
                <div class="btn set-main-photo">
                    <span class="icon-remove"></span>
                </div>
                <div class="btn remove-photo" ng-click="removePhoto(photo)">
                    <span class="icon-remove"></span>
                </div>
            </div>
        </div>
    </div>
</div>