<input type="file" ng-file-select="onFileSelect($files)" accept="image/jpeg, image/png" multiple/>
<div class="row">
    <div class="col-sm-12">
        <div class="image-upload-block"
             ng-file-drop="onFileSelect($files)"
             ng-file-drag-over-class="hover"
             ng-file-drop-available="dropSupported=true"
             ng-show="dropSupported"
             ng-click="multipleSelect()">

            <span class="drop-zone-title text-muted text-center">Перенесите сюда файлы или нажмите мышкой для выбора файлов</span>
        </div>
    </div>
</div>

<div class="load-detailed" ng-show="loadings.uploadPhotos"></div>

<div class="row">
    <div class="col-sm-6 col-lg-6" ng-repeat="photo in publication.photos | orderBy: 'is_title': true">
        <div class="uploaded-photo" ng-class="{ 'main-photo': photo.is_title }">
            <img ng-src="[[ photo.thumbnail ]]"/>
            <div class="uploaded-photo-controls">
                <div class="btn-preview" title="Просмотреть в полном размере" data-toggle="modal" data-target="#photosModal"></div>
                <div class="btns-block">
                    <div class="btn-main-photo" ng-click="setMainPhoto(photo)" title="Установить как главную фотографию"></div>
                    <div class="btn-remove-photo" ng-click="removePhoto(photo)" title="Удалить фотографию"></div>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="photosModal" class="modal fade" ng-init="moveToBody()">
    <div class="modal-dialog">

        <div class="modal-content content-white">
            <div id="photos-view-carousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li ng-repeat="photo in publication.photos" data-target="#photos-view-carousel" data-slide-to="[[ $index ]]" ng-class="{ active : $first }"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item" ng-repeat="photo in publication.photos" ng-class="{ active : $first }">
                        <img ng-src="[[ photo.image ]]">
                    </div>
                </div>

                <a class="left carousel-control" ng-href="#photos-view-carousel" data-slide="prev" ng-click="$event.preventDefault()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" ng-href="#photos-view-carousel" data-slide="next" ng-click="$event.preventDefault()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <!--<div class="btn btn-success close-photos-btn" data-toggle="modal" data-target="#photosModal">Вернуться к описанию</div>-->
            </div>
        </div>
    </div>
</div>