<div class="modal publication-view-modal fade" ng-controller="publicationViewCtrl">
    <div class="modal-dialog" ng-switch on="publicationViewPart">



        <div class="modal-content content-white photos-modal" ng-switch-when="Photos">
            <div id="publication-view-carousel" class="carousel slide" data-ride="carousel" ng-init="publication.head.photos.length">

                <ol class="carousel-indicators">
                    <li ng-repeat="photo in publication.photos" data-target="#publication-view-carousel" data-slide-to="[[ $index ]]" ng-class="{ active : $first }"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item" ng-repeat="photo in publication.head.photos" ng-class="{ active : $first }">
                        <img ng-src="[[ photo ]]">
                    </div>
                </div>

                <a class="left carousel-control" ng-href="#publication-view-carousel" data-slide="prev" ng-click="$event.preventDefault()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" ng-href="#publication-view-carousel" data-slide="next" ng-click="$event.preventDefault()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <div class="btn btn-success close-photos-btn" ng-click="changeBasePart()">Вернуться к описанию</div>
            </div>
        </div>




        <div class="modal-content content-white" ng-switch-when="Detailed">
            <div class="publication-photo pull-left">
                <div class="photo" ng-show="publication.photos.title_photo" ng-click="changeBasePart()">
                    <div class="overlay"></div>
                    <img ng-src="[[ publication.head.title_photo ]]" ng-click="changeBasePart()"/>
                </div>

                <div class="no-photo" ng-hide="publication.photos.title_photo">
                    <div class="text">
                        К сожалению, нет ни одной фотографии
                    </div>
                </div>
                <div class="counter" ng-hide="!publication.photos.title_photo">
                    Фото<br/> 1 / [[ publication.head.photos.length ]]
                </div>
            </div>

            <div class="publication-content pull-right">
                <div class="publication-content-header">
                    <span ng-show="publicationViewDetailedPart == 'Description'">[[ publication.data.title ]]</span>
                    <img class="close" src="{{ static }}img/main/publication-view/detailed-close.png" data-dismiss="modal"/>
                </div>

                <div class="publication-content-body" ng-switch on="publicationViewDetailedPart">

                    <div ng-switch-when="Contacts" ng-controller="PublicationViewContactsCtrl">
                        <div class="contacts-loading" ng-hide="contactsLoaded"></div>

                        <div ng-show="contactsLoaded">
                            <div class="user-photo">
                                <img ng-src="[[ user.contacts.avatar_url ]]" ng-show="user.contacts.avatar_url"/>
                                <img src="{{ static }}img/main/publication-view/no-user.png" ng-hide="user.contacts.avatar_url"/>
                            </div>
                            <div class="user-name">
                                [[ user.contacts.first_name ]] [[ user.contacts.last_name ]]
                            </div>
                            <div class="user-phones">
                                <div ng-show="user.contacts.mobile_phone || user.contacts.add_mobile_phone">
                                    <span ng-show="user.contacts.mobile_phone">
                                        Моб. телефон: [[ user.contacts.mobile_phone ]]
                                    </span>
                                    <span ng-show="user.contacts.mobile_phone && user.contacts.add_mobile_phone">,</span>
                                    <span ng-show="user.contacts.add_mobile_phone">
                                        <span ng-hide="user.contacts.mobile_phone">Моб. телефон:</span> [[ user.contacts.add_mobile_phone ]]
                                    </span>
                                </div>
                                <div ng-show="user.contacts.landline_phone || user.contacts.add_landline_phone">
                                    <span ng-show="user.contacts.landline_phone">
                                        Роб. телефон: [[ user.contacts.landline_phone ]]
                                    </span>
                                    <span ng-show="user.contacts.landline_phone && user.contacts.add_landline_phone">,</span>
                                    <span ng-show="user.contacts.add_landline_phone">
                                        <span ng-hide="user.contacts.landline_phone">Роб. телефон:</span> [[ user.contacts.add_landline_phone ]]
                                    </span>
                                </div>
                                <div ng-show="user.contacts.email">
                                    Эл. почта: [[ user.contacts.email ]]
                                </div>
                                <div ng-show="user.contacts.skype">
                                    Skype: [[ user.contacts.skype ]]
                                </div>
                            </div>
                            <div class="user-btns" ng-hide="sendingMessage || sendingCallRequest">
                                <div class="btn btn-primary btn-block" ng-show="user.preferences.allow_call_requests" ng-click="sendingCallRequest = true">Заказать обратный звонок</div>
                                <div class="btn btn-default btn-block" ng-show="user.preferences.allow_messaging" ng-click="sendingMessage = true">Оставить сообщение</div>
                            </div>

                            <div class="user-message" ng-show="sendingMessage">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control" placeholder="Имя"ng-model="message.name">
                                            </div>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control" placeholder="Эл. почта" ng-model="message.email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <textarea class="form-control" rows="2" placeholder="Введите текст сообщения" ng-model="message.text"></textarea>
                                <div class="btn btn-default" ng-click="cancelSendMessage()">Отмена</div>
                                <div class="btn btn-primary pull-right send-btn" ng-click="sendMessage()" data-loading-text="Отправка данных..." ng-disabled="!message.text || !message.email">Отправить сообщение</div>
                            </div>

                            <div class="user-call-request" ng-show="sendingCallRequest">
                                <input type="text" class="form-control" placeholder="Имя"ng-model="call_request.name">
                                <input type="text" class="form-control" placeholder="Телефон" ng-model="call_request.phone" allow-only-number>
                                <div class="btn btn-primary send-btn" ng-click="sendCallRequest()" data-loading-text="Отправка данных..." ng-disabled="!call_request.name || !call_request.phone">Заказать обратный звонок</div>
                                <div class="btn btn-default" ng-click="cancelSendCallRequest()">Отмена</div>
                            </div>
                        </div>
                    </div>



                    <div class="publication-loading" ng-hide="publicationLoaded"></div>

                    <div ng-switch-when="Description" ng-show="publicationLoaded">
                        <div class="description" ng-show="publication.data.description">
                            [[ publication.data.description ]]
                        </div>
                        <div class="properties">
                            <div class="left">
                                <table>
                                    <tr ng-show="publication.data.market_type">
                                        <td>Тип рынка:</td>
                                        <td>[[ publication.data.market_type ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.building_type">
                                        <td>Тип здания:</td>
                                        <td>[[ publication.data.building_type ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.build_year">
                                        <td>Год постройки:</td>
                                        <td>[[ publication.data.build_year ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.age">
                                        <td>Возраст бизнеса:</td>
                                        <td>[[ publication.data.age ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.flat_type">
                                        <td>Тип квартиры:</td>
                                        <td>[[ publication.data.flat_type ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.rooms_planning">
                                        <td>Планировка:</td>
                                        <td>[[ publication.data.rooms_planning ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.total_area">
                                        <td>Общая площадь:</td>
                                        <td>[[ publication.data.total_area ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.area">
                                        <td>Площадь:</td>
                                        <td>[[ publication.data.area ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.living_area">
                                        <td>Жилая площадь:</td>
                                        <td>[[ publication.data.living_area ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.kitchen_area">
                                        <td>Площадь кухни:</td>
                                        <td>[[ publication.data.kitchen_area ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.halls_area">
                                        <td>Площадь залов:</td>
                                        <td>[[ publication.data.halls_area ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.plot_area">
                                        <td>Площадь участка:</td>
                                        <td>[[ publication.data.plot_area ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.driveways">
                                        <td>Подъездные пути:</td>
                                        <td>[[ publication.data.driveways ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.share">
                                        <td>Долевое участие:</td>
                                        <td>[[ publication.data.share ]]</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="right">
                                <table>
                                    <tr ng-show="publication.data.floor">
                                        <td>Этаж:</td>
                                        <td>[[ publication.data.floor ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.floors_count">
                                        <td>Этажей:</td>
                                        <td>[[ publication.data.floors_count ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.condition">
                                        <td>Состояние:</td>
                                        <td>[[ publication.data.condition ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.monthly_cost">
                                        <td>Расходы / мес.:</td>
                                        <td>[[ publication.data.monthly_cost ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.annual_receipts">
                                        <td>Год. выручка:</td>
                                        <td>[[ publication.data.annual_receipts ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.rooms_count">
                                        <td>Кол-во комнат:</td>
                                        <td>[[ publication.data.rooms_count ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.bedrooms_count">
                                        <td>Кол-во спален:</td>
                                        <td>[[ publication.data.bedrooms_count ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.vcs_count">
                                        <td>Кол-во сан. узлов:</td>
                                        <td>[[ publication.data.vcs_count ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.balconies_count">
                                        <td>Кол-во балконов:</td>
                                        <td>[[ publication.data.balconies_count ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.loggias_count">
                                        <td>Кол-во лоджий:</td>
                                        <td>[[ publication.data.loggias_count ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.halls_count">
                                        <td>Кол-во залов:</td>
                                        <td>[[ publication.data.halls_count ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.cabinets_count">
                                        <td>Кол-во кабинетов:</td>
                                        <td>[[ publication.data.cabinets_count ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.ceiling_height">
                                        <td>Высота потолков:</td>
                                        <td>[[ publication.data.ceiling_height ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.workers_count">
                                        <td>Работников:</td>
                                        <td>[[ publication.data.workers_count ]]</td>
                                    </tr>
                                    <tr ng-show="publication.data.pit">
                                        <td>Яма:</td>
                                        <td>[[ publication.data.pit ]]</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="other-properties" ng-show="publication.data.facilities">
                            <span class="section-header">Удобства: </span>
                            [[ publication.data.facilities ]]
                        </div>
                        <div class="property-price" ng-show="publication.data.sale_price">
                            Продажа: [[ publication.data.sale_price ]]
                        </div>
                        <div class="other-properties" ng-show="publication.data.sale_terms">
                            [[ publication.data.sale_terms ]]
                        </div>
                        <div class="property-price" ng-show="publication.data.rent_price">
                            Аренда: [[ publication.data.rent_price ]]
                        </div>
                        <div class="other-properties" ng-show="publication.data.rent_terms">
                            [[ publication.data.rent_terms ]]
                        </div>
                        <div class="other-properties" ng-show="publication.data.rent_facilities">
                            <span class="section-header">Удобства аренды: </span>
                            [[ publication.data.rent_facilities ]]
                        </div>
                        <div class="other-properties" ng-show="publication.data.communications">
                            <span class="section-header">Коммуникации: </span>
                            [[ publication.data.communications ]]
                        </div>
                        <div class="other-properties" ng-show="publication.data.buildings">
                            <span class="section-header">Дополнительные постройки: </span>
                            [[ publication.data.buildings ]]
                        </div>
                        <div class="other-properties" ng-show="publication.data.showplaces">
                            <span class="section-header">Рядом находиться: </span>
                            [[ publication.data.showplaces ]]
                        </div>
                    </div>
                </div>
                <div class="publication-content-footer">
                    <div class="btn-group btn-group-justified">
                        <a type="button" class="btn btn-success btn-xlg" ng-click="changeDetailedPart()">
                            <span ng-show="publicationViewDetailedPart == 'Contacts'">< Вернуться к описанию</span>
                            <span ng-show="publicationViewDetailedPart == 'Description'">Связаться с продавцем</span>
                        </a>
                        <a type="button" class="btn btn-warning btn-xlg">2</a>
                        <a type="button" class="btn btn-primary btn-xlg">3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>