
//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/variables";
@import "../../components/mixins.less";


.image-upload-block {
    display: block;
    position: relative;
    min-height: 200px;

    cursor: pointer;

    border: 2px dashed @gray-lighter;
    border-radius: 10px;
    .transition(~"border-color 0.2s ease");

    &:hover,
    &.hover {
        border-color: darken(@gray-lighter, 10%);
    }

    .drop-zone-title {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;

        font-size: 20px;
        .translate(0, -50%);
    }


}

.uploaded-photo {
    .size(100%, 200px);
    position: relative;
    margin-top: 15px;
    padding: 7px;

    background: #f5f3f4;
    border: 1px solid @gray-lighter;
    border-radius: @border-radius-small;

    &.main-photo {
        background: @nice-orange;
        border-color: darken(@nice-orange, 10%);
    }

    .uploaded-photo-controls {
        .size(calc(~"100% - 14px"), calc(~"100% - 14px"));
        position: absolute;
        top: 7px;
        left: 7px;
        text-align: center;
        .opacity(0);
        .transition(~"background-color 0.2s ease, opacity 0.2s ease");

        &:hover {
            background-color: rgba(0,0,0,0.3);
            .opacity(1);
        }

        .btn-preview,
        .btns-block {
            position: absolute;
        }
        .btn-preview {
            .size(70%, 100%);
            left: 0;
            cursor: pointer;
            background: url("../../img/cabinet/sidebar-item-detailed/fullscreen-photo.png") center center no-repeat;
            .opacity(0.8);
            .transition(~"opacity 0.2s ease");

            &:hover {
                .opacity(1);
            }
        }
        .btns-block {
            .size(30%, 100%);
            right: -1px;
            border-left: 1px solid white;
        }

        .btn-main-photo,
        .btn-remove-photo {
            .size(100%, 50%);
            cursor: pointer;
            background: @nice-blue no-repeat center center;
            .opacity(0.9);
            .transition(~"opacity 0.2s ease");

            &:hover {
                .opacity(1);
            }
        }
        .btn-main-photo {
            border-bottom: 1px solid white;
            background-image: url("../../img/cabinet/sidebar-item-detailed/title-photo.png");
        }
        .btn-remove-photo {
            background-image: url("../../img/cabinet/sidebar-item-detailed/remove-photo.png");
        }
    }

    img {
        .square(100%);
    }
}

input[type='file'] {
    display: none;
}