//
// Load core variables and mixins
// --------------------------------------------------

@import "../../components/bootstrap/variables";
@import "../../components/bootstrap/mixins";

@modal-width: 1000px;

.publication-view-modal {
    .modal-dialog {
        width: @modal-width;
    }

    .publication-loading,
    .contacts-loading {
        display: block;
        height: 12px;
        background: url("../../images/main/publication-view/ajax-loader.gif") center center no-repeat;
    }

    .slider-opened {
        .publication-view-body {
            max-height: 0;
            padding: 0;
        }
        .item {
            .transition-delay(0.2s)
        }
        .slider-resize.to-full {
            right: -100px;
            .transition-delay(0ms)
        }
        .slider-resize.to-small {
            right: 30px;
            .transition-delay(0.2s)
        }
        .over-photo-block {
            bottom: -100px;
            .transition-delay(0ms)
        }
        .photo-overlay {
            .opacity(0)
        }
        .carousel-control[data-slide] {
            bottom: 20px;
            .transition-delay(0.2s)
        }
        .add-to-bookmark {
            left: -50px;
            .transition-delay(0ms)
        }
    }
}


.publication-view-header {
    position: relative;
    overflow: hidden;
    padding: 0;

    .carousel-control[data-slide] {
        bottom: -100px;
        .transition(~"bottom 0.2s ease");
    }

    .add-to-bookmark,
    .publication-close,
    .slider-resize {
        .carousel-control;
        .carousel-control.right;

        > .glyphicon {
            .carousel-control.glyphicon;
        }
    }

    .slider-resize.to-full {
        .transition(~"right 0.2s ease 0.2s");
    }
    .slider-resize.to-small {
        right: -100px;
        bottom: 80px;
        .transition(~"right 0.2s ease");
    }

    .add-to-bookmark {
        .square(50px);
        bottom: 20px;
        left: 50px;
        font-size: 50px;
        .transition(~"left 0.2s ease 0.2s");

        &.added {
            color: #ff9524;
        }
        &.added:hover {
            color: #ff9524;
        }
    }
    .publication-close {
        top: 20px;
    }

    .title-photo,
    .item {
        .size(@modal-width, 350px);
        .transition(~"height 0.2s ease");
    }
    .photo-overlay {
        .square(100%);
        position: absolute;
        top: 0;
        #gradient .vertical-three-colors(rgba(19, 32, 46, 0.1), rgba(19, 32, 46, 0.2), 65%, rgba(19, 32, 46, 0.6));
    }

    > .over-photo-block {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 30px 120px 20px;
        .transition(~"bottom 0.2s ease 0.2s");

        > .title,
        > .address {
            text-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
        }

        > .title {
            color: #fff;
            font-size: @font-size-h4;
        }

        > .address {
            color: #dadada;
            font-size: @font-size-h5;
        }
    }
}

.publication-view-body {
    padding: 0 0 20px;
    max-height: 1000px;
    overflow: hidden;
    .transition(~"max-height 0.3s ease");

    .claim-on-publication {
        .square(44px);
        position: relative;
        padding: 10px 0 10px 44px;
        float: right;
        color: @gray;
        text-decoration: none;
        overflow: hidden;
        .transition(~"width 0.2s ease");

        &.active {
            border-bottom: 4px solid @nice-red;
        }

        &:hover {
            width: 150px !important;
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            margin: 12px;
            content: "\e126";
            font-family: 'Glyphicons Halflings';
            font-size: 18px;
            line-height: 1;
        }
    }

    > .body-view {
        padding: 30px 50px;
    }


    /* Description view */
    .text-property {
        margin-bottom: 20px;

        &.price-property {
            margin-bottom: 0;
        }
        
        span {
            font-weight: bold;
        }

        > .price {
            color: #54cca4;
            font-size: @font-size-h4;
        }
    }
    .properties-list {
        list-style: none;

        li {
            padding: 10px 0;
            border-bottom: 1px solid @gray-lighter;

            &:first-child {
                padding-top: 0;
            }

            span {
                font-weight: bold;
            }
        }
    }



    /* Contacts view */
    .seller-photo {
        text-align: center;

        img {
            .square(120px);
            border-radius: 50%;
            border: 1px solid @gray-lighter;
        }
    }
    .seller-name {
        font-size: @font-size-h4;
        margin-bottom: 10px;
    }


    /* Similar view */
    .thumbnail {
        text-decoration: none;
    }


    /* Claim view */
    .bootstrap-select {
        margin: 0;
    }

}