<!DOCTYPE html>
<html ng-app="mappino.landing">
<head>
    <title>Mappino</title>
    <link rel="author" href="/humans.txt"/>

    {# перевірка для яндекс.вебмастер #}
    <meta name='yandex-verification' content='546bbc19b208a750'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.min.css">

    {% compress css %}
        <link rel="stylesheet" href="{{ static }}build/styles/landing/landing.min.css"/>
    {% endcompress %}


    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAXPqXPqCTwyFFs9KufrwZL5qtHCmQ_6zQ&sensor=true&language=ru&libraries=places"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-26396742-1', 'mappino.com.ua');
        ga('send', 'pageview');
    </script>
</head>
<body ng-controller="LandingController as landingCtrl"  md-swipe-right="landingCtrl.toggleSidenav()" ng-cloak>
    <div class="header-media" header-media>
        <div class="header-media-overlay" layout="column">
            <md-toolbar class="-transparent" layout="row">
                <span flex-gt-lg="10"></span>
                <nav class="md-toolbar-tools" layout="row" hide-sm>
                    <md-button md-no-ink href="/" aria-label="Mappino logo">
                        <mappino-logo class="mappino-logo--medium"></mappino-logo>
                    </md-button>
                    <span flex></span>
                    <md-button ng-href="/help#" class="header-button">
                        Покупателям
                    </md-button>
                    <md-button ng-href="/help#" class="header-button">
                        Продавцам
                    </md-button>
                    <md-button ng-href="/help#" class="header-button">
                        Арендодателям
                    </md-button>
                    <md-button  class="header-button">
                        Подать объявление
                    </md-button>
                </nav>
                <span flex-gt-lg="10"></span>


                <nav class="md-toolbar-tools" show-sm hide-gt-sm layout="row">
                    <md-button class="nav-button" aria-label="Открыть меню" ng-click="landingCtrl.toggleSidenav()">
                        <md-icon>menu</md-icon>
                    </md-button>
                    <span flex></span>
                    <md-button md-no-ink href="/" aria-label="Mappino logo">
                        <mappino-logo class="mappino-logo--medium"></mappino-logo>
                    </md-button>
                </nav>
            </md-toolbar>


            <div class="text-shadow white-text md-padding" layout="row" flex="100">
                <span flex-gt-lg="20"></span>
                <div layout="column" layout-align="center center">
                    <h1 class="md-display-3">Потому что жилье может быть доступнее</h1>
                </div>
                <span flex-gt-lg="20"></span>
            </div>

            <span flex></span>


            <div layout="column" layout-align="center center">
                <div class="header-search md-padding md-whiteframe-z1">
                    <div layout="row" layout-align="left center">
                        <md-input-container flex>
                            <label>Тип объекта</label>
                            <md-select ng-model="search.realty_type_sid">
                                <md-option ng-repeat="realtyType in ::TYPES.REALTY" value="[[ ::realtyType.id ]]">
                                    [[ ::realtyType.titles.singular ]]
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container flex>
                            <label>Операция</label>
                            <md-select ng-model="search.operation_sid">
                                <md-option value="0">Продажа</md-option>
                                <md-option value="1">Аренда</md-option>
                                <md-option value="2">Аренда посуточно</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column" ng-show="search.operation_sid == 2">
                        <md-datepicker ng-model="search.date_enter" md-placeholder="Дата въезда" flex="50"></md-datepicker>
                        <md-datepicker ng-model="search.date_leave" md-placeholder="Дата выезда" flex="50"></md-datepicker>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <input id="landing-autucomplete" type="text" ng-model="search.city" aria-label="Местоположение">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="center center">
                        <md-button class="md-primary md-raised">Найти</md-button>
                    </div>
                </div>
            </div>

            <span flex></span>
        </div>



        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left-sidenav">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content layout-padding>
                hdhfdh
            </md-content>
        </md-sidenav>
    </div>


    <main>

    </main>



    {# Js libs #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ru.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-touch.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.min.js"></script>

    {# Local js libs #}
    {% compress js %}
        <script src="{{ static }}build/scripts/landing/landing.min.js"></script>
    {% endcompress %}
</body>
</html>