<!DOCTYPE html>
<html ng-app="mappino.landing">
<head>
    <title>Mappino</title>

    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.min.css">

    {% compress css %}
        <link rel="stylesheet" href="{{ static }}build/styles/landing/landing.min.css"/>
    {% endcompress %}

    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAXPqXPqCTwyFFs9KufrwZL5qtHCmQ_6zQ&sensor=true&language=ru&libraries=places"></script>

    {% include 'common/templates_head.html' %}
</head>
<body ng-controller="LandingController as landingCtrl"  md-swipe-right="landingCtrl.toggleSidenav()" ng-cloak>
    <div class="header-media" header-media>
        <div layout="column">
            <md-toolbar class="md-toolbar md-toolbar--transparent" layout="row">
                <span flex-gt-lg="10"></span>
                <nav class="md-toolbar-tools" layout="row" hide-sm>
                    <md-button href="/" class="nav-button" md-no-ink aria-label="Перейти на главную страницу" layout="row" layout-align="center center">
                        <mappino-logo size="medium"></mappino-logo>
                    </md-button>
                    <span flex></span>
                    <md-button ng-href="/" class="nav-button">
                        Покупателям
                    </md-button>
                    <md-button ng-href="/" class="nav-button">
                        Продавцам
                    </md-button>
                    <md-button ng-href="/" class="nav-button">
                        Арендодателям
                    </md-button>
                    <md-button id="publication-button" class="nav-button" ng-click="landingCtrl.scrollToLoginForm()">
                        Подать объявление
                    </md-button>
                </nav>
                <span flex-gt-lg="10"></span>


                <nav class="md-toolbar-tools" show-sm hide-gt-sm layout="row">
                    <md-button class="nav-button" aria-label="Открыть меню" ng-click="landingCtrl.toggleSidenav()">
                        <md-icon>menu</md-icon>
                    </md-button>
                    <span flex></span>
                    <md-button href="/" class="nav-button" md-no-ink aria-label="Перейти на главную страницу">
                        <mappino-logo></mappino-logo>
                    </md-button>
                </nav>
            </md-toolbar>


            <div class="md-padding text-blur-shadow white-text" layout="row">
                <span flex-gt-lg="20"></span>
                <div layout="column" layout-align="center center">
                    <h1 class="big-text md-display-2 center-align">Потому, что жилье может быть доступнее</h1>
                </div>
                <span flex-gt-lg="20"></span>
            </div>

            <span flex-gt-lg></span>

            <div layout="column" layout-align="center center">
                <div class="header-search md-padding md-whiteframe-z1 blue">
                    <div layout="row" layout-align="left center">
                        <md-input-container class="white-text" flex>
                            <label class="white-text">Тип объекта</label>
                            <md-select ng-model="search.realty_type_sid">
                                <md-option ng-repeat="realtyType in ::TYPES.REALTY" value="[[ ::realtyType.id ]]">
                                    [[ ::realtyType.titles.singular ]]
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="white-text" flex>
                            <label class="white-text">Операция</label>
                            <md-select ng-model="search.operation_sid">
                                <md-option value="0">Продажа</md-option>
                                <md-option value="1">Аренда</md-option>
                                <md-option value="2" ng-if="search.realty_type_sid < 3">Аренда посуточно</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column" ng-show="search.operation_sid == 2 && search.realty_type_sid < 3">
                        <md-datepicker  ng-model="search.date_enter" md-placeholder="Дата въезда" flex="50"></md-datepicker>
                        <md-datepicker ng-model="search.date_leave" md-placeholder="Дата выезда" flex="50"></md-datepicker>
                    </div>
                    <div layout="row">
                        <md-input-container flex>
                            <input id="landing-autucomplete" class="white-text" type="text" ng-model="search.city" aria-label="Местоположение">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="center center" class="search">
                        <md-button ng-click="landingCtrl.search()" aria-label="Начать поиск" ng-href="map/#!/1/1/0/0/?c=[[ search.city ]][[ lat_lng ]][[ zoom ]]&b_t_sid=[[ search.realty_type_sid ]]&b_m_t_sid=0&b_cu_sid=2&b_op_sid=[[ operation_sid ]][[ url_date_enter ]][[ url_date_leave ]][[ url_pr_sid ]]" class="md-primary md-raised white blue-text">Найти</md-button>
                    </div>
                </div>
            </div>

            <span flex-gt-lg></span>
        </div>




        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left-sidenav" md-swipe-left="landingCtrl.toggleSidenav()">
            <md-toolbar class="md-theme-indigo">
                <div layout="row" layout-fill layout-padding>
                    <div layout="column" layout-align="center center">
                        <mappino-logo></mappino-logo>
                    </div>
                    <div layout="column" layout-align="end start" layout-fill>
                        <span>Mappino</span>
                    </div>
                </div>
            </md-toolbar>
            <md-content layout="column" layout-padding layout-align="center start">
                <md-button ng-click="landingCtrl.toggleSidenav()" ng-href="/" class="header-button">
                    Покупателям
                </md-button>
                <md-button ng-click="landingCtrl.toggleSidenav()" ng-href="/" class="header-button">
                    Продавцам
                </md-button>
                <md-button ng-click="landingCtrl.toggleSidenav()" ng-href="/" class="header-button">
                    Арендодателям
                </md-button>
                <md-button ng-click="landingCtrl.scrollToLoginForm(); landingCtrl.toggleSidenav()" class="header-button">
                    Подать объявление
                </md-button>
            </md-content>
        </md-sidenav>
    </div>


    <main>
        <div class="text-media" header-media>
        <div layout="column" layout-align="center center" class="logo">
            <md-button class="md-fab md-primary">
                <mappino-logo></mappino-logo>
            </md-button>
        </div>
        <div class="bottom-padding">
        <div layout="row" layout-align="center center" >
            <span flex="10"></span>
            <h1 class="big-text md-display-1 center-align" layout-align="center center">
                Недвижимость без посредников и коммисий. Бесплатно.
            </h1>
            <span flex="10"></span>
        </div>
            <div layout="row" layout-align="center center" class="layout-padding">
                <span flex="10"></span>
                <p class="center-align">
                    Все предложения на mappino размещены владельцами. <br>
                    Мы не работаем с риэлтерами и не представляем интересы риэлтерских агентств. <br>
                    А еще сервис работает бесплатно, как для покупателей, так и для продавцов.
                </p>
                <span flex="10"></span>
            </div>
            <div  layout="row" layout-align="center center" class="layout-padding">
                <md-button aria-label="Подать объявление" ng-hide="showLoginForm" ng-click="landingCtrl.toggleLoginForm()" class="md-raised md-primary">подать объявление</md-button>

                <form layout="column" flex-gt-lg="25" flex-sm="100" ng-switch="authState" ng-show="showLoginForm" name="loginForm" layout="column" ng-submit="landingCtrl.login()" novalidate>
                    <div ng-switch-when="enterPhone">
                        <div layout="column">

                            <div layout="row">
                                <md-input-container flex="30">
                                    <label>Код</label>
                                    <md-select ng-model="account.mobileCode" disabled class="select-number">
                                        <md-option class="black-text" ng-repeat="code in COUNTRY.CODES" selected>[[ code ]]</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="70">
                                    <label>Номер телефона</label>
                                    <input type="tel" name="mobilePhone" ng-model="account.mobilePhone" autofocus only-number required>
                                    <div ng-messages="loginForm.mobilePhone.$error"
                                         ng-show="loginForm.$submitted || loginForm.mobilePhone.$touched">
                                        <div ng-message="required">Обязательное поле</div>
                                        <div ng-message="invalid">Номер телефона указан неверно</div>
                                        <div ng-message="throttled">Достигнут лимит отправки sms</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row" class="md-padding">
                                <md-button class="md-raised md-primary" type="submit" flex>
                                    Войти
                                </md-button>
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="enterSMSCode">
                        <div layout="column">
                            <div layout="row" layout-align="center center">
                                <md-icon class="material-icons md-84 blue-grey-text text-lighten-3 animated-email">email</md-icon>
                            </div>
                            <div layout="row" layout-align="center center">
                                Пожалуйста, введите код из SMS
                            </div>
                            <md-input-container flex="100">
                                <label>Код подтверждения</label>
                                <input type="text" name="smsCode" ng-model="account.smsCode" autofocus only-number required>
                                <div ng-messages="loginForm.smsCode.$error"
                                     ng-show="loginForm.smsCode.$touched">
                                    <div ng-message="required">Обязательное поле</div>
                                    <div ng-message="invalid">Неверный код подтверждения</div>
                                </div>
                            </md-input-container>
                            <div layout="row">
                                <md-button class="md-primary" type="button" ng-click="landingCtrl.returnToEnterPhoneState()">
                                    Назад
                                </md-button>
                                <md-button class="md-raised md-primary" type="submit" flex>
                                    Войти
                                </md-button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div  layout="row" layout-align="center center" class="layout-padding">
                <span class="blue-text md-body-1 center-align">Займет не больше 5 минут, если у Вас уже есть фото</span>
            </div>
        </div>
        </div>
        <div class="blue white-text top-padding bottom-padding">
            <div layout="row" layout-sm="column">
                <div layout="column" flex="10"></div>
                <div layout="column" flex layout-align="start center">
                    <md-icon class="material-icons md-96 white-text">loyalty</md-icon>
                    <h1 class="md-headline center-align">БЕЗ <br> ПЕРЕПЛАТ</h1>
                    <div class="md-padding center-align" flex>
                        Mappino не является посредником.
                        Мы верим, что информация должна быть свободной,
                        а рынок недвижимости может быть улучшен за счет современных технологий.
                    </div>
                </div>
                <div show-sm class="md-padding"></div>
                <div layout="column" flex layout-align="start center">
                    <md-icon class="material-icons md-96 white-text">extension</md-icon>
                    <h1 class="md-headline center-align">СОЗДАЕТСЯ <br> СООБЩЕСТВОМ</h1>
                    <div class="md-padding center-align" flex>
                        Сервис наполняеться и развиваеться людьми и для людей.
                        Миссия mappino — предоставить сообществу удобную среду для работы, и следить за качеством.
                    </div>
                </div>
                <div show-sm class="md-padding"></div>
                <div layout="column" flex layout-align="start center">
                    <md-icon class="material-icons md-96 white-text">done_all</md-icon>
                    <h1 class="md-headline">КОЛЛЕКТИВНАЯ <br> ДОСТОВЕРНОСТЬ</h1>
                <div class="md-padding center-align" flex>
                    Благодаря учасникам сообщества,
                    большинство предложений проходит проверку касательно прав собственности,
                    достоверности, и качества информации.
                </div>
                </div>
                <div layout="column" flex="10"></div>
            </div>
        </div>
        <div layout="row" class="search-frame">
            <div layout="column" flex></div>
            <div layout="column" layout-align="center center" class="white blue-text md-padding md-whiteframe-z1">
                <md-button class="md-raised md-primary" aria-label="Перейти к форме поиска" ng-click="landingCtrl.scrollToTop()">Начать поиск</md-button>
                <span class="center-align md-subhead">Сервис сейчас находиться на стадии тестирования. Каждое мнение - важно!</span>
            </div>
            <div layout="column" flex></div>
        </div>
        <div class="support-text white-text" layout="column" layout-align="center center">
            <div layout="row" flex></div>
            <div layout="row" layout-align="start center">
            <div layout="column" layout-align="center center">
                <span class="center-align white-text big-text md-display-2">Поддерживаем владельцев</span>
            </div></div>
            <div layout="row" flex layout-align="start center" class="center-align">
                <div layout="column" flex layout-align="center center">
                    <md-icon class="material-icons md-96 white-text">camera_alt</md-icon>
                    Бесплатно предоставляем <br> фотографа
                </div>
                <div layout="column" flex="10"></div>
                <div layout="column" flex layout-align="center center">
                    <md-icon class="material-icons md-96 white-text">assignment</md-icon>
                    Бесплатно предоставляем образцы договоров
                </div>
            </div>

        </div>
        <div class="bottom-padding">
            <div layout="column"  layout-align="center center">
                <div layout="row" layout-align="center center">
                    <span class="md-display-1 big-text md-padding">Свяжитесь с нами!</span>
                </div>
                <div layout="row" layout-align="start start" layout-sm="column" layout-fill>
                    <span flex-gt-lg="10"></span>
                    <div layout="column" flex layout-fill layout-align="center center" class="md-subhead center-align md-padding">
                        <span class="contact-padding">
                            <md-icon class="material-icons md-36 blue-text">phone</md-icon>&nbsp;
                            <a ng-href="tel:+380996065588">+380 99 606 55 88</a>
                        </span>
                        <span class="contact-padding">
                            <md-icon class="material-icons md-36 blue-text">phone</md-icon>&nbsp;
                           <a href="tel:+380372909901">+380 372 909 901</a>
                        </span>
                    </div>
                    <div layout="column" flex layout-fill layout-align="center center" class="md-subhead center-align md-padding">

                        <span class="contact-padding">
                            <md-icon class="material-icons md-36 blue-text">mail</md-icon> &nbsp;
                            <a ng-href="mailto:hello@mappino.com">hello@mappino.com</a>
                        </span>
                    </div>
                    <div layout="column" flex layout-fill layout-align="center center" class="md-subhead center-align md-padding">
                        address goes here
                    </div>
                    <span flex-gt-lg="10"></span>
                </div>

            </div>
        </div>
    </main>
    <md-toolbar class="-bottom-toolbar" layout="row" layout-align="start center">
        <span flex="10"></span>
        <div layout="row" layout-align="start center" class="md-body-1">&copy; mappino, 2015</div>
        <span flex-gt-lg="10"></span>
    </md-toolbar>



    {# Js libs #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/locale/ru.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-aria.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-touch.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-messages.min.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/0.11.0/angular-material.min.js"></script>

    {# Local js libs #}
    {% compress js %}
    <script src="{{ static }}build/libraries/ng-file-upload.min.js"></script>

    <script src="{{ static }}build/scripts/landing/landing.min.js"></script>
    {% endcompress %}
</body>
</html>