.settings-page {

    .user-block {
        img {
            @include square(200px);
            border-radius: 50%;
        }

        .image-errors {
            margin-top: 20px;

            .input-has-error {
                position: relative;
                margin-top: 0;
            }
        }
    }
}

