.settings-page {

    .user-block {

        .image-errors {
            margin-top: 20px;

            .input-has-error {
                position: relative;
                margin-top: 0;
            }
        }
    }
}

