.users-page {
    md-card {
        max-width: 1200px !important;
        min-width: 1000px;
    }
    .publication-card md-card-content {
        padding: 0 !important;
    }

    .user-block {
        padding-bottom: 10px;
        padding-top: 10px;
        .avatar img {
            @include square(140px);
            border-radius: 50%;
        }
        .user-data {
            padding-bottom: 10px;
        }

    }

}
