.filters-panel {
    @extend %_right-sliding-panel;

    > .filters-panel-header {
        @extend %_sliding-panel-header;


        > .header-btn {
            &:hover {
                background-color: #fafafa;
            }
        }
    }

    .collapsible {
        height: calc(100% - 48px);

        margin: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        box-shadow: none;


        li.active {
            //min-height: calc(100% - 90px);
        }


        .collapsible-header {
            color: #fff;
            border-bottom: none;
        }
        .red-header {
            background: #fb6262;
        }
        .blue-header {
            background: #4996cc;
        }
        .green-header {
            background: #71c187;
        }
        .collapsible-body {
            height: calc(100% - 183px);
            border-bottom: none;
        }
    }

}
