<div class="moderating-page" layout="column" layout-align="start center" ng-controller="ModeratingController as modCtrl">
    <md-card ng-hide="loaders.overlay">
        <md-card-content>
            <div class="publication-view" layout="column">
                <div layout="column">
                    <header>
                        <ul rn-carousel rn-carousel-index="publicationPreviewSlideIndex" class="publication-preview-carousel">
                            <li ng-repeat="photo in publication.photos">
                                <div class="layer">
                                    <img ng-src="[[ photo ]]" alt=""/>
                                </div>
                            </li>
                        </ul>

                        <div class="publication-view-image-overlay">
                            <md-button class="md-icon-button slide-prev" ng-hide="publicationPreviewSlideIndex == 0"
                                       ng-click="pubCtrl.prevSlide()">
                                <md-icon class="material-icons md-light md-48 md-dark-shadow">chevron_left</md-icon>
                            </md-button>
                            <md-button class="md-icon-button slide-next" ng-hide="publicationPreviewSlideIndex == publication.photos.length - 1"
                                       ng-click="pubCtrl.nextSlide()">
                                <md-icon class="material-icons md-light md-48 md-dark-shadow">chevron_right</md-icon>
                            </md-button>


                            <div class="publication-view-overlay-description" layout="row" layout-align="start center" layout-padding>
                                <div layout="column" layout-padding>
                                    <div class="md-headline">
                                        [[ publication.title ]]
                                    </div>
                                    <div class="md-subhead">
                                        [[ publication.address ]]
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>

                    <div ng-include="publicationTemplateUrl"></div>
                </div>
            </div>
        </md-card-content>
        <md-divider></md-divider>
        <div class="md-actions" layout="row">
            <md-button class="md-warn md-hue-3">Отклонить</md-button>
            <span flex></span>
            <md-button class="md-primary md-hue-1" ng-click="modCtrl.acceptPublication()">
                Хорошо
            </md-button>
        </div>
    </md-card>
</div>