//
// Load core variables and mixins
// --------------------------------------------------
@import "../../../components/bootstrap/variables";
@import "../../../components/bootstrap/mixins.less";

@import "_over-map-control";


.show-sidebar-button {
    ._over-map-control;
    ._over-map-control.-white;

    top: 30px;
    right: 25px;

    padding: 10px;

    text-align: center;
    font-size: 15px;

    opacity: 0;
    z-index: 1000;


    &.animated {
        .animation(1s both);
    }
    @keyframes fadeIn {
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @-webkit-keyframes fadeIn {
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    &.fadeIn {
        animation-name: fadeIn;
        -webkit-animation-name: fadeIn;
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        70% {
            opacity: 0;
        }
    }
    @-webkit-keyframes fadeOut {
        0% {
            opacity: 1;
        }
        70% {
            opacity: 0;
        }
    }
    &.fadeOut {
        animation-name: fadeOut;
        -webkit-animation-name: fadeOut;
    }
}