//
// Load core variables and mixins
// --------------------------------------------------
@import "../../../components/variables";
@import "../../../components/mixins.less";

@import "_over-map-control";


.zoom-control-buttons {
    ._over-map-control;

    height: 76px;

    margin: 0 0 5px 15px;


    > .zoom-in-button,
    > .zoom-out-button {
        .size(100%, 50%);

        line-height: 38px;
        text-align: center;

        font-size: 12px;

        .transition(~"all 0.2s ease");
    }

    > .zoom-in-button {
        border-bottom: 1px solid #e5e1d9;
    }
}