<div class="sidebar-item-detailed" ng-controller="SupportCtrl">
    <div class="sidebar-item-detailed-header without-sidebar-list">
        <div class="publication-controls">
            <div class="btn btn-xlg btn-link" ng-show="showTicket" ng-click="returnToSupport()">
                Все диалоги
            </div>
            <div class="btn btn-xlg btn-link new-ticket-btn" data-loading-text="Создание диалога..." ng-hide="showTicket" ng-click="createTicket()">
                Новый диалог
            </div>
        </div>

        <div class="btn btn-link btn-xlg pull-right" ng-click="logoutFromCabinet()">
            <span class="btn-icon-exit"></span>
        </div>
    </div>


    <div class="sidebar-item-detailed-body without-sidebar-list">
        <div class="col-sm-12 col-lg-8 col-lg-offset-1" ng-hide="showTicket">
            <div class="row">
                <h3 id="support-messages" ng-hide="loadings.tickets || !tickets.length">Диалоги</h3>
                <ul class="support-message-list">
                    <li ng-repeat="ticket in tickets | orderBy: 'created': true">
                        <a href="#!/support/ticket/[[ ticket.id ]]" ng-show="ticket.subject">[[ ticket.subject ]]</a>
                        <a href="#!/support/ticket/[[ ticket.id ]]" class="text-muted" ng-show="!ticket.subject">Новый диалог</a>
                        <div class="text-muted small pull-right">
                            <span>Создано [[ ticket.created | date:'dd.MM.yyyy в HH:mm' ]]</span>
                            <span ng-show="ticket.last_message">
                                &nbsp;&#8226;&nbsp;
                                <span>Посл. сообщ. [[ ticket.last_message | date:'dd.MM.yyyy в HH:mm' ]]</span>
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


        <div ng-if="showTicket">
            <div ng-include="'/ajax/template/cabinet/support/ticket/'"></div>
        </div>

        <div class="load-detailed" ng-show="loadings.tickets || loadings.ticketData"></div>

        <div ng-include="'/ajax/template/cabinet/support/hints/no-tickets/'" ng-show="!tickets.length && !loadings.tickets && !showTicket"></div>
    </div>
</div>