.header-media {
    @include size(100%, 500px);
    min-height: 575px;
    max-height: 1080px;

    position: relative;
    overflow: hidden;

    background: url('../../images/landing/landing-bg.jpg') center center no-repeat;

    .text-shadow {
        text-shadow: 0 0 5px color('grey', 'darken-2'), 0 0 100px color('grey', 'darken-4');


    }

    .text-blur-shadow {
        background: rgba(84, 84, 84, 0.69); /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(64, 64, 64, 0.55) 0%, rgba(10, 255, 186, 0) 55%); /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(64, 64, 64, 0.55)), color-stop(55%,rgba(10, 255, 186, 0))); /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(64, 64, 64, 0.55) 0%,rgba(10, 255, 186, 0) 55%); /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover,  rgba(64, 64, 64, 0.55) 0%,rgba(10, 255, 186, 0) 55%); /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover,  rgba(64, 64, 64, 0.55) 0%,rgba(10, 255, 186, 0) 55%); /* IE10+ */
        background: radial-gradient(ellipse at center,  rgba(64, 64, 64, 0.55) 0%,rgba(10, 255, 186, 0) 55%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=rgba(64, 64, 64, 0.55), endColorstr=rgba(10, 255, 186, 0),GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    h1 {
        font-weight: bold;
    }

    .header-media-overlay {
        @include square(100%);
        position: relative;
        background-color: rgba(0, 0, 0, .2);
    }


    .header-search {
        min-width: 320px;
        max-width: 415px;
        border-radius: 3px;
    }

    .header-button {
        text-transform: none !important;
    }

    #publication-button {
        border: solid rgba(255, 255, 255, 0.30) !important;
    }

    //*:not(button span) {
    //    color: #fff !important;
    //}

    #landing-autucomplete {
        @include placeholder(#fff)
    }

    md-select {
        color: #ffffff !important;

        .md-select-value {
            color: #fff !important;
        }
    }
}

main {

    .logo {
        position: relative;
        top: -32px;
        overflow: visible !important;
    }

}