.header-media {
    @include size(100%, 500px);
    min-height: 575px;
    max-height: 1080px;

    position: relative;
    overflow: hidden;

    background: url('../../images/landing/landing-bg.jpg') center center no-repeat;

    .text-shadow {
        text-shadow: 0 0 5px color('grey', 'darken-2'), 0 0 1px color('grey', 'darken-4');
    }


    .header-media-overlay {
        @include square(100%);
        position: relative;
        background-color: rgba(0, 0, 0, .2);
    }


    .header-search {
        min-width: 340px;
        border-radius: 3px;
    }

    .header-button {
        text-transform: none !important;
    }

    #publication-button {
        border: solid rgba(158,158,158,0.2) !important;
    }

    //*:not(button span) {
    //    color: #fff !important;
    //}

    #landing-autucomplete {
        @include placeholder(#fff)
    }
}

main {

    .logo {
        position: relative;
        top: -32px;
        overflow: visible !important;
    }

}