.text-media {
    background-color: #f5f5f5 !important;
}
.bottom-padding {
    padding-bottom: 70px;
}

.top-padding {
    padding-top: 50px;
}

.search-frame {
    position: relative !important;
    top: -40px;
    overflow: visible !important;
    padding-bottom: 0;
    z-index: 2;
}

.select-number {
    .md-select-value {
        color: gray !important;
    }
}